<ng-template #agreementTemplate>
    Zaškrtnutím tohoto políčka
    <br >
    (a) souhlasíte se  <a target="_blank" [href]="routes.ROUTER_TERMS_OF_USE">Všeobecnými obchodními podmínkami účasti na Trhu „PARC 4 U“</a>, kterými
    se bude řídit Vaše užívání webové aplikace PARC 4 U a souvisejících služeb PXE ke
    sjednávání sdružených služeb dodávky elektřiny/plynu na trhu PXE,
    <br >
    (b) berete na vědomí <a target="_blank" [href]="routes.ROUTER_SECURING_YOUR_DATA">Informaci o zpracování osobních údajů</a>.
</ng-template>

<div class="container-fluid">
    <div class="container-content">
        <pxe-layout-container pageTitle="Registrace">
            <div class="row mb-6">
                <div class="col-12 col-md-8 offset-md-2 col-xl-5 offset-xl-0 col-lg-3 order-xl-last">
                    <div class="page-box">
                        <div class="row">
                            <div class="col-12">
                                <pxe-registration-form
                                    [agreementTemplate]="agreementTemplate"
                                    [formFields]="formFields"
                                    [formLoading]="formLoading"
                                    [formSent]="formSent"
                                    [globalError]="globalError"
                                    [fieldError]="fieldError"
                                    (submitAction)="submitForm($event)"
                                ></pxe-registration-form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-5 offset-xl-1 col-lg-3 offset-lg-3 order-xl-first">
                    <div class="check-list-wrapper">
                        <h2 class="h3--public">Nakupujte elektřinu a plyn přímo na burze</h2>
                        <ul class="check-list">
                            <li>Měňte dodavatele na jedno kliknutí</li>
                            <li>Neřešte papírování a chození na pobočky</li>
                            <li>Buďte chráněni před nekalostmi ve smlouvě</li>
                            <li>Dostávejte férové ceny bez skrytých poplatků</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-10 offset-xl-1 col-lg-8 offset-lg-2 text-center">
                    <pxe-supplier-container></pxe-supplier-container>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
