<ng-template #agreementTemplate>
    Souhlasím s <a target="_blank" [href]="routes.ROUTER_TERMS_OF_USE">Obchodními podmínkami PARC4U</a> a beru na vědomí informace o <a target="_blank" [href]="routes.ROUTER_SECURING_YOUR_DATA">Ochraně osobních údajů</a>.
</ng-template>

<div class="container-fluid container-fluid--max-width">
    <div class="container-content container-content--public">
        <pxe-layout-container [pageTitle]="signUp.title">
            <div class="row mb-6">
                <div class="col-12 col-md-8 offset-md-2 col-xl-5 offset-xl-0 order-xl-last">
                    <div class="page-box">
                        <div class="row">
                            <div class="col-12">
                                <pxe-registration-form
                                    [agreementTemplate]="agreementTemplate"
                                    [formFields]="formFields"
                                    [formLoading]="formLoading"
                                    [formSent]="formSent"
                                    [globalError]="globalError"
                                    [fieldError]="fieldError"
                                    (submitAction)="submitForm($event)"
                                ></pxe-registration-form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-5 offset-xl-1 order-xl-first" [innerHTML]="signUp.leftContent"></div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-10 offset-xl-1 col-lg-8 offset-lg-2 text-center">
                    <pxe-supplier-container></pxe-supplier-container>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
