/*
 -  Card variables
 -
 -
 */


$card-max-width:                    300px;
$card-bg:                           transparent;
$card-border-width:                 1px;
$card-border-color:                 rgba(#979797, .1);
$card-border:                       $card-border-width solid $card-border-color;
$card-border-radius:                0;
$card-spacer-x:                     0;
$card-spacer-y:                     $spacer;

$card-tile-item-spacer:             ( $spacer * 2.5  );
$card-tile-img-size:                80px;
$card-tile-img-box-shadow:          -30px 50px 80px 0 rgba(#000d16, .2);

$card-blog-item-spacer:             ( $spacer * 2  );
$card-tile-height-size:             220px;
