/*
 -  Card variables
 -
 -
 */


$card-bg:                           transparent;
$card-border-width:                 1px;
$card-border-color:                 rgba($border-color, .3);
$card-border:                       $card-border-width solid $card-border-color;
$card-border-radius:                0;
$card-spacer-x:                     0;
$card-spacer-y:                     $spacer;
$card-inner-border-radius:          0;
$card-img-size:                     80px;

$card-tile-item-spacer:             ( $spacer * 2.5 );
