/*
 -  Card variables
 -
 -
 */


$card-bg:                           $white;
$card-border-width:                 0;
$card-border-radius:                0;
$card-spacer-x:                     0;
$card-spacer-y:                     $spacer;
$card-inner-border-radius:          0;

$card-img-size:                     124px;
