/*
 -  Card
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

::ng-deep .card {
	position: relative;
	display: block;
	padding: $spacer ( $spacer / 2 );
	text-align: center;

	// Media queries
	@include media-breakpoint-up(md) {
		text-align: left;
		padding: $spacer;
	}

	img {
		width: auto;
		max-height: $card-img-max-height;
		height: 100%;
	}
}

.card-img-top {
	margin-bottom: $spacer;

	& + .card-body {
		margin-bottom: 0;
	}
}

.card-img {
	&--border {
		// Media queries
		@include media-breakpoint-up(md) {
			border: $card-img-border-width-md solid $card-img-border-color;
		}
		@include media-breakpoint-up(xl) {
			border-width: $card-img-border-width-xl;
		}
	}

	&--normal {
		max-width: $card-widget-img-max-width;
	}

	&--small {
		max-width: $card-widget-img-small-max-width;
	}
}

// ::ng-deep .card-tiles {
// 	display: block;
// }

.card-tile__item {
	min-height: $card-tile-height;
	padding: ( $spacer / 2 );
	font-family: $font-family-sans-serif-public;

	// Media queries
	@include media-breakpoint-up(md) {
		padding: ( $spacer * 3 ) ( $spacer * 3.5 );
		border-right: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}

	img {
		max-height: $card-tile-img-max-height;
		margin-bottom: ( $spacer * 1.75 );
	}

	.card-img-top {
		margin-bottom: $spacer;
	}

	.card-body {
		position: relative;
		height: 100%;

		// Media queries
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}

	.card-title {
		margin-bottom: ( $spacer / 2 );
	}

	.card-text {
		width: 100%;
		margin-bottom: 0;
	}

	&__item-status-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: $icon-size-px;
		height: $icon-size-px;
		line-height: $icon-size-px;
		text-align: center;
		border-radius: 100%;
	}

	&--status {
		.card-title {
			padding-right: ( $icon-size-px + ( $spacer / 2 ) );
		}
	}
}

