<ng-template #content>
   <div class="card__img-holder">
       <img
           loading="lazy"
           [src]="data.img"
           [attr.title]="data.imgTitle"
           [attr.alt]="data.imgAlt"
           class="card-img-top">
   </div>
   <div
       class="card-body w-100">
       <div
           *ngIf="data.title"
           class="card-text-prefix mb-1">
           {{ data.textPrefix }}
       </div>
       <h3 *ngIf="data.title"
           class="h3--public card__title mb-1">
           {{ data.title }}
       </h3>
       <p
           *ngIf="data.content"
           class="card-text"
           [innerHTML]="data.content">
       </p>
   </div>
</ng-template>

<div
    *ngIf="type === 'block'"
    class="card"
>
   <ng-container *ngTemplateOutlet="content"></ng-container>
</div>

<a *ngIf="type === 'link'"
   class="card"
   [routerLink]="linkUrl">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
