/*
 -  Card
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

::ng-deep .card {
	position: relative;
	display: block;
	margin-bottom: $spacer;
	padding: $spacer ( $spacer / 2 );
	background-color: $white;
	text-align: center;

	// Media queries
	@include media-breakpoint-up(md) {
		text-align: left;
		padding: $spacer;
	}

	img {
		width: auto;
		max-height: $card-img-max-height;
		height: 100%;
	}
}

.card-img-top {
	margin-bottom: $spacer;

	& + .card-body {
		margin-bottom: 0;
	}
}

.card-img--border {
	// Media queries
	@include media-breakpoint-up(md) {
		border: $card-img-border-width-md solid $card-img-border-color;
	}
	@include media-breakpoint-up(xl) {
		border-width: $card-img-border-width-xl;
	}
}

.card-img--normal {
	max-width: $card-widget-img-max-width;
}

.card-img--small {
	max-width: $card-widget-img-small-max-width;
}

::ng-deep .card-tiles {
	.card {
		height: calc(100% - 30px);
		min-height: $card-tile-height;
		padding: ( $spacer / 2 );

		.card-body {
			display: flex;
			flex-direction: column;
			min-height: inherit;

			.card-text {
				position: relative;
				margin-bottom: $spacer;
			}
		}

		lnd-button {
			margin-top: auto;
			align-self: center;
		}
	}
}

.card-tile__item {
	&,
	&:visited {
		min-height: $card-tile-height;
		padding: ( $spacer / 2 );
		text-decoration: none;

		// Media queries
		@include media-breakpoint-up(md) {
			text-align: center;
		}
	}

	&:focus,
	&:hover,
	&:active {
		cursor: pointer;

		.card-title {
			text-decoration: underline;
		}
	}

	img {
		max-height: $card-tile-img-max-height;
		margin-bottom: 0;
	}

	.card-body {
		position: relative;
		height: 100%;

		// Media queries
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}

	.card-text {
		width: 100%;
		margin-top: auto;
	}

	.card-img-top {
		& + .card-body {
			position: absolute;
			top: auto;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			padding: ( $spacer / 2 );

			.card-text {
				position: relative;
			}
		}
	}

	.card-title {
		margin-bottom: ( $spacer / 2 );
	}

	.card-text {
		margin-bottom: 0;
	}

	&--status {
		.card-title {
			padding-right: ( $icon-size-px + ( $spacer / 2 ) );
		}
	}
}

.card-tile__item-status-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: $icon-size-px;
	height: $icon-size-px;
	line-height: $icon-size-px;
	text-align: center;
	border-radius: 100%;
}

.card-list__item {
	padding: 0 0 0 $spacer;

	// Media queries
	@include media-breakpoint-up(md) {
		padding-left: 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 6px;
		left: 0;
		width: $card-list-item-dot-size;
		height: $card-list-item-dot-size;
		background-color: $blue-200;
		border-radius: 50%;

		// Media queries
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	img {
		max-height: 100%;
		height: auto;
	}

	.card-img-top {
		display: none;

		// Media queries
		@include media-breakpoint-up(md) {
			display: block;
			margin-bottom: ( $spacer / 2 );
		}
	}

	.card-text {
		text-align: left;
	}
}
