<div
     class="card"
     [ngClass]="[
        type && type !== 'card' ? 'card-' + type + '__item' : '',
        alignment === 'center' ? 'text-center' : ''
     ]">
    <img
        *ngIf="data.imgSrc && imgPosition === 'top'"
        [src]="domSanitizer.bypassSecurityTrustUrl(data.imgSrc)"
        [attr.title]="data.imgTitle"
        [attr.alt]="data.imgAlt"
        class="img-fluid card-img-top"
        [ngClass]="[
            type === 'list' ? 'card-img--border' : '',
            type === 'widget' ? 'card-img-widget' : '',
            imgSize ? 'card-img--' + imgSize : ''
        ]">
    <div
        class="card-body"
        [ngClass]="{ 'mb-4' : data.footerContent }">
        <h3 *ngIf="type !== 'list' && data.title "
            class="card-title">
            {{ data.title }}
        </h3>
        <p
            *ngIf="data.content"
            class="card-text"
            [innerHTML]="data.content">
        </p>
        <lnd-button
            *ngIf="hasButton"
            [label]="buttonLabel"
            [type]="buttonType"
            [hasOutline]="hasButtonOutline"
            (action)="action.emit($event)">
        </lnd-button>
    </div>
    <img
        *ngIf="data.imgSrc && imgPosition === 'bottom'"
        [src]="domSanitizer.bypassSecurityTrustUrl(data.imgSrc)"
        [attr.title]="data.imgTitle"
        [attr.alt]="data.imgAlt"
        class="img-fluid card-img-bottom"
        [ngClass]="[
            type === 'list' ? 'card-img--border' : '',
            type === 'widget' ? 'card-img-widget' : '',
            imgSize ? 'card-img--' + imgSize : ''
        ]">
    <div
        *ngIf="data.footerContent"
        class="card-footer"
        [innerHTML]="data.footerContent">
    </div>
</div>
