/*
 -  Card
 -
 -
 */

// Core component import
@use 'sass:math';

@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'card.component.variables.scss';

// Bootstrap button import
@import '~bootstrap/scss/card';

.card {
	align-items: center;
	text-align: center;
	border: none;

	// Media queries
	@include media-breakpoint-up(md) {
		align-items: flex-start;
		text-align: left;
	}
}

::ng-deep .card-tiles {
	&__inner {
		// Media queries
		@include media-breakpoint-up(xl) {
			margin-left: -$card-tile-item-spacer;
		}
	}

	.card-tile__item {
		margin-bottom: ( $spacer * 2 );

		// Media queries
		@include media-breakpoint-up(md) {
			padding: 0 ($card-tile-item-spacer * .2);
		}
		@include media-breakpoint-up(xl) {
			padding: $card-tile-item-spacer;
			margin-bottom: 0;
			border-right: $card-border;
			border-bottom: $card-border;
		}

		&:nth-child(-n + 3) {
			// Media queries
			@include media-breakpoint-up(xl) {
				padding-top: math.div($card-tile-item-spacer, 6);
			}
		}

		&:nth-child(3n + 3) {
			// Media queries
			@include media-breakpoint-up(xl) {
				border-right: none;
			}
		}

		&--last-item {
			padding-bottom: ( $spacer * .5 );
			border-bottom: none;
		}

		.card {
			// Media queries
			@include media-breakpoint-up(md) {
				align-items: flex-start;
				text-align: left;
			}
			@include media-breakpoint-up(md) {
				max-width: $card-max-width;
			}
		}

		.card-img-top {
			width: $card-tile-img-size;
			height: $card-tile-img-size;
			margin-bottom: $card-spacer-y;
			border-radius: $card-tile-img-size;
			box-shadow: $card-tile-img-box-shadow;
		}
	}
}

::ng-deep .card-blogs {
	.card-blog__item {
		margin-bottom: $spacer;
	}

	.card {
		@include link {
			height: 100%;
			color: $font-text;
			overflow: hidden;
			border-radius: $border-radius;
			box-shadow: $box-shadow;
		}

		@include link-interactive {
			color: $font-text;
			text-decoration: none;
			box-shadow: $box-shadow-interactive;

			.card__title {
				color: $primary;
			}
		}
	}

	.card__img-holder {
		position: relative;
		width: 100%;
		height: $card-tile-height-size;
		overflow: hidden;
	}

	.card-img-top {
		@include absolute-center(true, false);
		z-index: $zindex-card-blog-img;
	}

	.card-body {
		padding: $card-blog-item-spacer;
		background-color: $white;
	}
}
