<ng-template #reSendAuthSupplySms>
    Na číslo {{telephoneNumber}} jsme vám poslali čtyřmístný  autentizační kód.
    <br>
    <a (click)="handleCustomAction($event)">
        Poslat znovu
    </a>
</ng-template>

<form
    [formGroup]="form"
    class="form-container"
    autocomplete="off">
    <lnd-form-field
        [error]="form.controls.confirmationCode.errors"
        [formControl]="form.controls.confirmationCode"
        [id]="'confirmationCode'"
        label="Kód"
        [success]="form.controls.confirmationCode.valid && form.controls.confirmationCode.touched"
        [touched]="form.controls.confirmationCode.touched"
        [validationMessages]="formFields.validationMessages.confirmationCode"
        [subtextTemplate]="reSendAuthSupplySms"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="!!formLoading"
            label="Přihlásit se">
        </lnd-button>
    </div>
</form>
