<ng-template #reSendAuthSupplySms>
    Na číslo <span class="d-inline-block">{{telephoneNumber | phone}}</span> jsme vám poslali autentizační kód.
    <br>
    <a (click)="handleCustomAction($event)">
        Poslat znovu
    </a>
</ng-template>

<form
    [formGroup]="form"
    (keydown.enter)="submitForm($event);false"
    class="form-container"
    autocomplete="off">
    <lnd-form-field
        lndSFormDirective
        lndSBiometricsDirective
        customFormGroupClass="form-group--public"
        [lightField]="true"
        [error]="form.controls.confirmationCode.errors"
        [formControl]="form.controls.confirmationCode"
        [id]="'confirmationCode'"
        label="Kód"
        [success]="form.controls.confirmationCode.valid && form.controls.confirmationCode.touched"
        [touched]="form.controls.confirmationCode.touched"
        [validationMessages]="formFields.validationMessages.confirmationCode"
        [subtextTemplate]="reSendAuthSupplySms"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="gradient-primary"
            class="w-100"
            customClass="btn-public btn--icon-right w-100"
            [submit]="true"
            (action)="submitForm($event)"
            [isDisabled]="!!formLoading"
            label="Přihlásit se"
            icon="icon--arrow-right"
            iconPosition="right">
        </lnd-button>
    </div>
</form>
