/*
 -  Lading page variables
 -
 -
 */

$landing-page-picture-height-mobile:              320px;

$landing-page-process-arrow-width-mobile:         46px;
$landing-page-process-arrow-height-mobile:        18px;
$landing-page-process-arrow-width-desktop:        70px;
$landing-page-process-arrow-height-desktop:       24px;
