<ng-template #accordionTemplate let-data>
    <div [innerHTML]="data.shortContent"></div>
    <div *ngIf="data.fullContent">
        <a class="link"
           [routerLink]="['/', CONSTS.PATHS.FAQ, data.tag | getUrlFromTag:faqConfig, data.url]">
            Více info
        </a>
    </div>
</ng-template>

<ng-template #agreementTemplate>
    Souhlasím s <a target="_blank" [href]="routes.ROUTER_TERMS_OF_USE">Obchodními podmínkami PARC4U</a> a beru na vědomí informace o <a target="_blank" [href]="routes.ROUTER_SECURING_YOUR_DATA">Ochraně osobních údajů</a>.
</ng-template>

<div class="landing-page">
    <div class="section section--video">
        <div class="container-fluid">
            <div class="section-video-text">
                <div class="row w-100">
                    <div class="col-12 col-md-8 offset-md-2">
                        <h1 class="h1--public mb-4">
                            Získejte svobodu nad energií
                        </h1>
                        <lnd-button
                            *ngIf="!(authService.currentUserValue | isLogged)"
                            label="Chci platit chytře"
                            type="primary"
                            (action)="scrollToNewSubscription()">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-video-holder">
            <img
                *ngIf="!isMoreThanXlResolution"
                class="video-picture"
                src="/assets/images/landing-page/lp-picture.png"
                title="Plaťte za energie chytře díky burze"
                alt="Plaťte za energie chytře díky burze">
            <video
                *ngIf="isMoreThanXlResolution"
                poster="/assets/images/landing-page/picture-fallback.jpg"
                class="section-video"
                preload="auto"
                autoplay
                playsinline
                loop
                muted
                >
                <source src="/assets/images/landing-page/lp-video.webm" type="video/webm">
                <source src="/assets/images/landing-page/lp-video.mp4" type="video/mp4">
                <img src="/assets/images/landing-page/picture-fallback.jpg" alt="parc4u - obrázek laptopu s aplikací">
                Váš prohlížeč nepodporuje zobrazení videa
            </video>
        </div>
    </div>
    <div class="section what-you-can-get">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="px-3 px-md-0">
                        <h2 class="h2--public text-center mb-6 mb-lg-7">
                            Co můžete získat
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <ul class="check-list check-list--lp-section">
                        <li><span class="h3--public">Měníte dodavatele na jedno kliknutí</span></li>
                        <li><span class="h3--public">Neřešíte papírování a chození na pobočky</span></li>
                        <li><span class="h3--public">Jste chráněni před nekalostmi ve smlouvě</span></li>
                        <li><span class="h3--public">Dostáváte férové ceny bez skrytých poplatků</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div #supplierChange
         class="section shortcut section--picture-first section--arrow-overlap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 offset-md-7">
                    <div class="px-3 px-md-0">
                        <h3 class="h3--public">
                            Cesta k&nbsp;nejlepšímu dodavateli může být dlouhá. Zkraťte si ji přes PARC4U
                        </h3>
                        <ul class="check-list">
                            <li>
                                Nechte dodavatele ať&nbsp;se o&nbsp;vás poperou
                            </li>
                            <li>
                                Přestaňte se bát skrytých poplatků a&nbsp;jiných kliček
                            </li>
                            <li>
                                Neluštěte zbytečně z&nbsp;faktur nic, co jde zjistit i&nbsp;jinak
                            </li>
                            <li>
                                Vydejte se snadnou a&nbsp;bezpečnou cestou přes&nbsp;PARC4U
                            </li>
                        </ul>
                        <lnd-button
                            *ngIf="!(authService.currentUserValue | isLogged)"
                            label="Chci do PARC4U"
                            type="primary"
                            (action)="scrollToNewSubscription()">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-picture-holder">
            <img
                    class="section-picture"
                    src="/assets/images/landing-page/picture-shortcut.jpg"
                    title="Cesta k nejlepšímu dodavateli může být dlouhá. Zkraťte si ji přes PARC4U"
                    alt="Cesta k nejlepšímu dodavateli může být dlouhá. Zkraťte si ji přes PARC4U">
        </div>
    </div>
    <div class="section section--carousel section--arrow">
        <div class="row no-gutters">
            <div class="col-12">
                <pxe-carousel-container></pxe-carousel-container>
            </div>
        </div>
    </div>
    <div #mapCoverage>
        <pxe-map-coverage-container></pxe-map-coverage-container>
    </div>
    <div class="section section--light section-help">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-xl-8 offset-xl-2 mb-3">
                    <h2 class="h2--public">Často kladené dotazy</h2>
                </div>
                <div class="col-12 col-xl-8 offset-xl-2 mb-3">
                    <lnd-accordion *ngIf="frequentedQuestions.length"
                                   [accordionContentTemplate]="accordionTemplate"
                                   [accordionItems]="frequentedQuestions | questionsToAccordions: faqConfig"
                                   title="Často kladené dotazy">
                    </lnd-accordion>
                </div>
                <div class="col-12 text-center">
                    <lnd-button
                        (action)="routerToFaq($event)"
                        label="Další dotazy"
                        type="primary">
                    </lnd-button>
                </div>
            </div>
        </div>
    </div>
    <div
        #subscription
        *ngIf="!(authService.currentUserValue | isLogged)"
        class="section stay-in-touch">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3 col-lg-4 offset-lg-4">
                    <div class="px-3 px-md-0">
                        <h3 class="h3--public">
                            Chci mít také přístup k&nbsp;jiným cenám, možnost&nbsp;měnit dodavatele jen na&nbsp;jedno kliknutí a&nbsp;zbavit se starostí s&nbsp;převodem.
                        </h3>
                        <pxe-registration-form
                            [agreementTemplate]="agreementTemplate"
                            [formFields]="formFields"
                            [formLoading]="formLoading"
                            [formSent]="formSent"
                            [globalError]="globalError"
                            [fieldError]="fieldError"
                            (submitAction)="submitForm($event)"
                            [lightTheme]="false"
                        ></pxe-registration-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
