<ng-template #accordionTemplate let-data>
    <div [innerHTML]="data.shortContent"></div>
    <div *ngIf="data.fullContent">
        <a class="link"
           [routerLink]="['/', CONSTS.PATHS.FAQ, data.tag.type , data.url]">
            Více info
        </a>
    </div>
</ng-template>

<ng-template #agreementTemplate>
    Souhlasím s <a target="_blank" [href]="routes.ROUTER_TERMS_OF_USE">Obchodními podmínkami PARC4U</a> a beru na vědomí informace o <a target="_blank" [href]="routes.ROUTER_SECURING_YOUR_DATA">Ochraně osobních údajů</a>.
</ng-template>

<div class="landing-page">
    <div class="container-fluid container-fluid--max-width container-fluid--light">
        <div class="section section--picture-bg">
            <div class="section-picture-text">
                <div class="row px-3 px-md-0">
                    <div class="col-12 col-md-8 offset-md-2 col-xl-8 offset-xl-1">
                        <h1 class="h1--public mb-4" [innerHTML]="landingPageCmsData.introduction.title"></h1>
                    </div>
                    <div class="col-12 col-md-8 offset-md-2 col-xl-5 offset-xl-1">
                        <p [innerHTML]="landingPageCmsData.introduction.text"></p>
                        <p><small [innerHTML]="landingPageCmsData.introduction.appendix"></small></p>
                        <lnd-button
                            [label]="landingPageCmsData.introduction.buttonText"
                            type="primary"
                            *ngIf="!(authService.currentUserValue | isLogged)"
                            (action)="scrollToNewSubscription()">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fluid--max-width container-fluid--light">
        <div class="section how-it-work section--picture-bg-overlap">
            <div class="row px-3 px-md-0">
                <div class="col-12 col-md-8 offset-md-2 col-xl-10 offset-xl-1">
                    <h2 class="h2--public mb-5" [innerHTML]="landingPageCmsData.howItWorks.title"></h2>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-xl-10 offset-xl-1">
                    <ol class="numerical-list-lp">
                        <li *ngFor="let config of landingPageCmsData.howItWorks.columns">
                            <h3 class="h3--public mb-3" [innerHTML]="config.title"></h3>
                            <p [innerHTML]="config.description"></p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div #aboutService
        class="section section--picture-half pb-xl-0">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="col-12 col-xl-6">
                    <div class="section-picture-holder">
                        <img
                            class="section-picture"
                            src="/assets/images/landing-page/picture-dog.jpg"
                            srcset="
                                /assets/images/landing-page/picture-dog.jpg,
                                /assets/images/landing-page/picture-dog@2x.jpg 2x"
                            title="Účty za energii si prostě ochočíte"
                            alt="Účty za energii si prostě ochočíte">
                    </div>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-1">
                    <div class="section-picture-text px-3 px-md-0">
                        <h2 class="h2--public" [innerHTML]="landingPageCmsData.likeADog.title"></h2>
                        <p class="mb-4" [innerHTML]="landingPageCmsData.likeADog.description"></p>
                        <lnd-button
                            *ngIf="!(authService.currentUserValue | isLogged)"
                            (action)="scrollToNewSubscription()"
                            [label]="landingPageCmsData.likeADog.buttonText"
                            type="primary">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div lndFirstTimeInView
         (firstTimeInViewAction)="videoIsTouch()"
        class="container-fluid container-fluid--max-width">
        <div class="section section--video">
            <div class="section-video-holder"
                 [class.cursor-pointer]="isVideoPlaying">
                <video
                    #video
                    class="section-video"
                    poster="/assets/images/landing-page/picture-fallback.jpg"
                    loop
                    muted
                    (pause)="cd.detectChanges()"
                    (play)="cd.detectChanges()"
                    (click)="isVideoPlaying && pause($event)"
                    preload="none">
                    <source src="/assets/images/landing-page/lp-video.webm" type="video/webm">
                    <source src="/assets/images/landing-page/lp-video.mp4" type="video/mp4">
                    <img src="/assets/images/landing-page/picture-fallback.jpg" alt="parc4u - obrázek laptopu s aplikací">
                    Váš prohlížeč nepodporuje zobrazení videa
                </video>
                <div class="section-video-control d-md-none">
                    <lnd-button
                        *ngIf="!isVideoPlaying"
                        type="icon"
                        icon="icon--triangle-right"
                        variant="icon"
                        customClass="btn-video-play"
                        (action)="play()"
                    >
                    </lnd-button>
                </div>
            </div>
            <div class="section-video-text">
                <div class="row w-100 ml-0 text-center">
                    <div *ngIf="!isVideoPlaying"
                         class="col-12 col-md-6 offset-md-3">
                        <h2 class="h2--public mb-4">
                            PARC4U – snadná cesta<br class="d-none d-xl-block">
                            k&nbsp;novému dodavateli energií
                        </h2>
                        <div class="section-video-control d-none d-md-block">
                            <lnd-button
                                type="icon"
                                icon="icon--triangle-right"
                                variant="icon"
                                customClass="btn-video-play"
                                (action)="play()"
                            >
                            </lnd-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #aboutUs
         class="section section--picture-half shortcut">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="col-12 col-xl-6 offset-xl-1 order-xl-2">
                    <div class="section-picture-holder">
                        <img
                            class="section-picture"
                            src="/assets/images/landing-page/picture-man.jpg"
                            srcset="
                                /assets/images/landing-page/picture-man.jpg,
                                /assets/images/landing-page/picture-man@2x.jpg 2x"
                            title="Přečtěte si o naší filosofii"
                            alt="Přečtěte si o naší filosofii">
                            <span class="section-picture-overflow-text-holder">
                                <blockquote class="section-picture-overflow-text h3--public">
                                    &bdquo;Ochráníme vás&nbsp;<br>
                                    &nbsp;před energošmejdy&ldquo;
                                </blockquote>
                            </span>
                    </div>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-1 order-xl-1">
                    <div class="section-picture-text px-3 px-md-0">
                        <h2 class="h2--public" [innerHTML]="landingPageCmsData.filosofii.title"></h2>
                        <p [innerHTML]="landingPageCmsData.filosofii.description"></p>
                        <blockquote class="mb-1" [innerHTML]="landingPageCmsData.filosofii.description2"></blockquote>
                        <p [innerHTML]="landingPageCmsData.filosofii.signature"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #mapCoverage>
        <pxe-map-coverage-container [mapCoverage]="landingPageCmsData.mapCoverage"></pxe-map-coverage-container>
    </div>
    <div #faq
        class="container-fluid container-fluid--max-width container-fluid--light">
        <div class="section section-help">
            <div class="row px-3">
                <div class="col-12 col-xl-8 offset-xl-2 mb-3">
                    <h2 class="h2--public">Často kladené dotazy</h2>
                </div>
                <div class="col-12 col-xl-8 offset-xl-2 mb-3">
                    <lnd-accordion *ngIf="frequentedQuestions.length"
                                   [accordionContentTemplate]="accordionTemplate"
                                   [accordionItems]="frequentedQuestions | questionsToAccordions: faqConfig"
                                   title="Často kladené dotazy">
                    </lnd-accordion>
                </div>
                <div class="col-12 text-center">
                    <lnd-button
                        (action)="routerToFaq($event)"
                        label="Další dotazy"
                        type="secondary">
                    </lnd-button>
                </div>
            </div>
        </div>
    </div>
    <div
        #subscription
        *ngIf="!(authService.currentUserValue | isLogged)"
        class="section stay-in-touch pb-0">
        <div class="container-fluid">
            <div class="row px-3 px-md-0">
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <h3 class="h3--public">
                        Chci mít také přístup k&nbsp;jiným cenám, možnost&nbsp;měnit dodavatele jen na&nbsp;jedno kliknutí a&nbsp;zbavit se starostí s&nbsp;převodem.
                    </h3>
                    <pxe-registration-form
                        [agreementTemplate]="agreementTemplate"
                        [formFields]="formFields"
                        [formLoading]="formLoading"
                        [formSent]="formSent"
                        [globalError]="globalError"
                        [fieldError]="fieldError"
                        (submitAction)="submitForm($event)"
                        [lightTheme]="false"
                    ></pxe-registration-form>
                </div>
            </div>
        </div>
    </div>
</div>
