<lnd-button
    type="secondary"
    (action)="toggleLoginDialog()"
    label="Příhlásit se"
    [hasOutline]="false">
</lnd-button>

<div *ngIf="loading">
    Loading...
</div>
<div *ngIf="error">
    Error :(
</div>
{{rates | json}}
<!--<div *ngIf="rates">-->
    <!--<div *ngFor="let rate of rates">-->
        <!--<p>{{rate.currency}}: {{rate.rate}}</p>-->
    <!--</div>-->
<!--</div>-->

<hr>
<div>
    counter = {{counter | json}}
</div>

<div>
    <button (click)="incrementCounter()">+1</button>
    <button (click)="decrementCounter()">-1</button>
    <button (click)="resetCounter()">reset</button>
</div>

<hr>

visible: {{visible}}
<br>
<button (click)="toggleVisibility()">toggle</button>

<hr>

<a [routerLink]="['/logout']">next</a>

<lnd-modal title="Přihlášení"
           [isModalOpen]="showLogin"
           (close)="toggleLoginDialog()">
    <form [formGroup]="loginForm">
        <div class="modal-body">
            <lnd-alert
                [type]="'danger'"
                [isDismissible]="false"
                [hasIcon]="true"
                *ngIf="loginError">
                Při odeslání došlo k chybě.
            </lnd-alert>
            <div class="row">
                <div class="col-sm-12">
                    <lnd-form-field
                        [error]="loginForm.controls.username.errors"
                        formControlName="username"
                        id="username"
                        label="Přihlašovací jméno / email"
                        [success]="loginForm.controls.username.valid && loginForm.controls.username.touched"
                        [touched]="loginForm.controls.username.touched"
                    ></lnd-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <lnd-form-field
                        [error]="loginForm.controls.password.errors"
                        formControlName="password"
                        id="password"
                        label="Heslo"
                        [success]="loginForm.controls.password.valid && loginForm.controls.password.touched"
                        [touched]="loginForm.controls.password.touched"
                        type="password"
                    ></lnd-form-field>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <lnd-button
                type="secondary"
                (action)="submitForm()"
                [isDisabled]="loginLoading"
                label="Přihlásit se">
            </lnd-button>
            <lnd-button
                type="primary"
                (action)="toggleLoginDialog()"
                [isDisabled]="loginLoading"
                label="Zrušit"
                hasOutline="true">
            </lnd-button>
        </div>
    </form>
</lnd-modal>
