/*
 -  Carousel references variables
 -
 -
 */

$clickable-size:                           ( $spacer / 2.25 );
$indicator-size:                           6px;
$image-size:                               80px;
