<ng-template #slideTemplate let-item>
    <div class="carousel-references">
        <img
            class="carousel-references__image mb-3 mb-md-0"
            [src]="item.img"
            [alt]="item.iconAlt"
            title=""
        />
        <div class="carousel-references__text text-center text-md-left">
            <blockquote class="carousel-references__citation mb-2">
                “{{ item.reference }}“
            </blockquote>
            <p class="mb-0">{{ item.name }}, {{ item.city }}</p>
        </div>
    </div>
</ng-template>

<ng-template
    #customBeforeAppendTemplate
    let-activeSlide="activeSlide"
    let-setActiveSlide="setActiveSlide"
>
    <ul class="carousel-indicators" [ngStyle]="{ top: maxHeight + 10 + 'px' }">
        <li
            class="carousel-indicators__item"
            *ngFor="let item of carouselItems; let i = index"
            [attr.aria-pressed]="i === activeSlide"
            (click)="setActiveSlide(i)"
            [class.carousel-indicators__item--active]="i === activeSlide"
        >
            <span class="carousel-indicators__indicator"></span>
        </li>
    </ul>
</ng-template>

<div class="carousel-references-wrapper">
    <lnd-carousel
        [carouselItems]="carouselItems"
        [customBeforeAppendTemplate]="customBeforeAppendTemplate"
        [showIndicators]="false"
        [showLeftAndRightIndicators]="false"
        [slideTemplate]="slideTemplate"
        (maxHeightChangeAction)="maxHeightChangeAction($event)"
    >
    </lnd-carousel>
</div>
