<div class="row">
    <div class="col">
        <lnd-breadcrumb
            [breadcrumbItems]="breadcrumbItemsSimple"
        ></lnd-breadcrumb>
    </div>
</div>
<h3>Dropdown</h3>
<div class="static-pages">
    <div class="row pb-5">
        <!-- <div class="col-sm-4 col-xl-4 pb-5 pb-sm-0">
            <ng-template #dropdown1 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown1"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true">
                <a *ngFor="let item of dropdownItems"
                    (click)="item.action()"
                    class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div> -->
        <!-- <div class="col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown2 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with menu center"
                    size="long"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown2"
                (toggleOverlayerAction)="toggleOverlayer();"
                menuDirection="center"
                [overlayEnabled]="true">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div> -->
        <div class="col-sm-4 col-xl-4">
            <ng-template #dropdown3 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    type="dropdown"
                    icon="icon--triangle-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with menu right"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown3"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                menuDirection="center"
            >
                <a
                    *ngFor="let item of navigationItems"
                    [ngClass]="item.class"
                    class="dropdown-item"
                    [routerLink]="item.url"
                >
                    <span
                        [ngClass]="'dropdown-item-icon icon icon--' + item.icon"
                    ></span>
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div>
    <!-- <div class="row pb-5">
        <div class="col-sm-4 col-xl-4 pb-5 pb-sm-0">
            <ng-template #dropdown4 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with beak"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown4"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                    (click)="item.action()"
                    class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>

        <div class="col-sm-4 col-xl-4 pb-5 pb-sm-0">
            <ng-template #dropdown5 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with beak and menu center"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown5"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                menuDirection="center"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>

        <div class="col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown6 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with beak and menu right"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown6"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                menuDirection="right"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                    (click)="item.action()"
                    class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div> -->
    <!-- <div class="row pb-5">
        <div class="offset-lg-8 col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown7 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with beak and menu left (no space)"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown7"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                menuDirection="left"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div> -->
    <!-- <div class="row pb-5">
        <div class="col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown8 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with beak and menu right (no space)"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown8"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                menuDirection="right"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="offset-lg-8 col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown9 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with beak and menu center (no space)"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown9"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                menuDirection="center"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div> -->
</div>
<!-- <h3>Dropup</h3>
<div class="static-pages">
    <div class="row pb-5">
        <div class="col-sm-4 col-xl-4 pb-5 pb-sm-0">
            <ng-template #dropdown10 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-up"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropup"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown10"
                (toggleOverlayerAction)="toggleOverlayer();"
                direction="up"
                [overlayEnabled]="true">
                <a *ngFor="let item of dropdownItems"
                    (click)="item.action()"
                    class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
        <div class="col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown14 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-up"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropup with menu center"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown14"
                (toggleOverlayerAction)="toggleOverlayer();"
                direction="up"
                [overlayEnabled]="true"
                menuDirection="center">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
        <div class="col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown11 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-up"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropup with menu right"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown11"
                (toggleOverlayerAction)="toggleOverlayer();"
                direction="up"
                [overlayEnabled]="true"
                menuDirection="right">
                <a *ngFor="let item of dropdownItems"
                    (click)="item.action()"
                    class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xl-4 pb-5 pb-sm-0">
            <ng-template #dropdown12 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-up"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropup with beak"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown12"
                (toggleOverlayerAction)="toggleOverlayer();"
                direction="up"
                [overlayEnabled]="true"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                    (click)="item.action()"
                    class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
        <div class="col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown15 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-up"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropup with beak and menu center"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown15"
                (toggleOverlayerAction)="toggleOverlayer();"
                direction="up"
                [overlayEnabled]="true"
                [hasBeak]="true"
                menuDirection="center">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
        <div class="col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown13 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-up"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropup with beak and menu right"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown13"
                (toggleOverlayerAction)="toggleOverlayer();"
                direction="up"
                [overlayEnabled]="true"
                [hasBeak]="true"
                menuDirection="right">
                <a *ngFor="let item of dropdownItems"
                    (click)="item.action()"
                    class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div>
</div> -->
<!-- <h3>Dropdown (no space)</h3>
<div class="static-pages">
    <div class="row">
        <div class="offset-lg-8 col-sm-4 col-xl-4 text-right">
            <ng-template #dropdown15 let-toggle="toggle">
                <lnd-button
                    (click)="toggle()"
                    icon="icon--arrow-minimal-down"
                    customIconClass="icon--small"
                    iconPosition="right"
                    label="Dropdown with beak and menu center (no space)"
                    type="secondary"
                ></lnd-button>
            </ng-template>
            <lnd-dropdown
                [actionTemplate]="dropdown15"
                (toggleOverlayerAction)="toggleOverlayer();"
                [overlayEnabled]="true"
                menuDirection="center"
                [hasBeak]="true">
                <a *ngFor="let item of dropdownItems"
                   (click)="item.action()"
                   class="dropdown-item">
                    {{ item.label }}
                </a>
            </lnd-dropdown>
        </div>
    </div>
</div> -->
