<ng-template #forgottenPassword>
    <a href="javascript: void(0);">
        <span (click)="action($event)">
            Zapomněli jste heslo?
        </span>
    </a>
</ng-template>
<lnd-alert *ngIf="loginGlobalError.length"
           type="danger">
    <ng-container *ngFor="let globalError of loginGlobalError">
        {{globalError}}<br>
    </ng-container>
</lnd-alert>
<ng-container *ngIf="isFromSignUp">
    <lnd-alert type="info">
        Heslo jsme vám zaslali na {{email}}
    </lnd-alert>
    <a>Poslat e-mail znovu</a>
</ng-container>
<form [formGroup]="loginForm"
      autocomplete="off">
    <lnd-form-field
        [error]="loginForm.controls.username.errors"
        [formControl]="loginForm.controls.username"
        [id]="'username'"
        label="Email"
        [success]="loginForm.controls.username.valid && loginForm.controls.username.touched"
        [touched]="loginForm.controls.username.touched"
        [validationMessages]="loginFormFields.validationMessages.username"
    ></lnd-form-field>
    <lnd-form-field
        [error]="loginForm.controls.password.errors"
        [formControl]="loginForm.controls.password"
        [id]="'password'"
        label="Heslo"
        [success]="loginForm.controls.password.valid && loginForm.controls.password.touched"
        type="PASSWORD"
        [touched]="loginForm.controls.password.touched"
        [validationMessages]="loginFormFields.validationMessages.password"
        [subtextTemplate]="forgottenPassword"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="submitLoginFormLoading"
            label="Přihlásit se">
        </lnd-button>
    </div>
</form>
