/*
 -  Badge
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'badge.component.variables.scss';

// Bootstrap alert and close import
@import '~bootstrap/scss/badge';

.badge {
	@include link-without-href {
		display: inline-flex;
		align-items: center;
		min-height: $badge-min-height;
		margin-bottom: $spacer;
		color: $white;
		line-height: $line-height-sm;
		white-space: initial;
	}

	@include link-without-href-interactive {
		color: $white;
		text-decoration: none;
	}

	&-light,
	&-transparent {
		@include link-without-href {
			color: $font-text;
			pointer-events: none;
		}
	}

	&-white {
		@include link-without-href {
			background-color: $white;
			color: $font-text;
			pointer-events: none;
		}
	}

	&-transparent {
		background-color: transparent;
	}

	&--not-interactive {
		pointer-events: none;
	}

	&.badge--with-beak {
		@include link-without-href {
			position: relative;
			height: 24px;
			min-height: auto;
			margin-bottom: 0;
			margin-left: ( $spacer * .75 );
			vertical-align: middle;
			text-transform: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: -6px;
			width: $badge-beak-size;
			height: $badge-beak-size;
			background-color: $white;
			border-radius: 5px;
			transform: translateY(-50%) rotate(45deg);
		}
	}
}
