<pxe-layout-container pageTitle="Rekapitulace">
    <div class="row mb-6">
        <div *ngIf="supplyPoint && supplyPoint.name" class="col-12 text-center">
            <h2>Odběrné místo: {{ supplyPoint.name }}</h2>
        </div>
        <div class="col-12 col-xl-10 offset-xl-1">
            <pxe-progress-bar
                [config]="stepperProgressConfig"
            ></pxe-progress-bar>
        </div>
    </div>
    <div
        *ngIf="
            supplyPoint &&
            supplyPoint.contract &&
            !supplyPoint.contract.offerValidity
        "
        class="col-12 col-xl-10 offset-xl-1"
    >
        <lnd-banner-ui
            [data]="{
                text: 'Platnost nabídky vypršela.'
            }"
            buttonLabel="Vybrat novou nabídku"
            (customBannerAction)="chooseNewOfferAction($event)"
        >
        </lnd-banner-ui>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-alert *ngIf="globalError.length" type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br />
                </ng-container>
            </lnd-alert>
            <div *ngIf="supplyPoint" class="row align-items-center mb-3">
                <div
                    class="
                        col-12
                        mb-5
                        col-md-3
                        mb-md-0
                        text-center text-md-left
                    "
                >
                    <lnd-button
                        label="Krok zpět"
                        type="secondary"
                        (action)="
                            navigateConsumerService.backStepAction(
                                supplyPoint,
                                PREVIOUS_PROGRESS_STATUS
                            )
                        "
                    >
                    </lnd-button>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <h2 class="mb-0">Něco o vás</h2>
                </div>
            </div>
            <lnd-placeloader
                [loading]="!supplyPoint && !globalError.length"
            ></lnd-placeloader>
        </div>
        <div *ngIf="supplyPoint" class="col-12 col-xl-10 offset-xl-1">
            <div class="page-box">
                <pxe-personal-info-form
                    [supplyPoint]="supplyPoint"
                    [codeLists]="codeLists"
                    [isIndividual]="isIndividual"
                    [fieldError]="fieldError"
                    [formFields]="formFields"
                    [formLoading]="formLoading"
                    [formValues]="
                        supplyPoint.contract &&
                        supplyPoint.contract.personalData
                    "
                    [formSent]="formSent"
                    [globalError]="globalError"
                    (submitAction)="submitPersonalInfoForm($event)"
                >
                </pxe-personal-info-form>
            </div>
        </div>
    </div>
</pxe-layout-container>
