/*
 -  Accordion
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.accordion {
	margin-bottom: ($spacer * 0.5);

	&__item {
		margin-bottom: $spacer;
		border-radius: 4px;
		box-shadow: $box-shadow;
		overflow: hidden;

		&:focus,
		&:hover {
			box-shadow: $accordion-active-shadow;
		}

		&--active {
			.accordion {
				&__toggle-icon {
					transform: translateY(-50%) rotate(180deg);
				}

				&__content {
					display: block;
				}
			}
		}
	}

	&__toggle {
		&,
		&:visited {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: ($spacer * 1.5) $accordion-padding-right-xs ($spacer * 1.5)
				$spacer;
			background-color: $white;
			color: $font-text;
			letter-spacing: -0.6px;
			line-height: $line-height-sm;

			// Media queries
			@include media-breakpoint-up(md) {
				padding: $accordion-padding $accordion-padding-right
					$accordion-padding $accordion-padding;
				font-size: 1.125rem;
				letter-spacing: -0.75px;
			}
		}

		&:focus,
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}

	&__toggle-icon {
		@include absolute-center(true, false);
		display: flex;
		align-items: center;
		justify-content: center;
		right: $spacer;
		width: $accordion-toggle-icon-size;
		height: $accordion-toggle-icon-size;
		padding-top: ($spacer * 0.1);
		background-color: $primary;
		color: $white;
		font-size: $icon-size-small;
		letter-spacing: normal;
		border-radius: $accordion-toggle-icon-size;

		// Media queries
		@include media-breakpoint-up(md) {
			right: $accordion-padding;
		}
	}

	&__content {
		display: none;
		padding: $accordion-padding;
	}
}
