<ng-template #defaultTemplate let-data>
    <p [innerHTML]="data"></p>
</ng-template>

<div class="accordion" [ngClass]="{ 'accordion--more-open': isMoreOpen || showAll }">
    <div class="accordion__item"
            *ngFor="let item of accordionItems"
            [ngClass]="{ 'accordion__item--active': item.isActive }">
        <div class="accordion__toggle"
                (click)="item.isActive = !item.isActive">
            <span [innerHTML]="item.label"></span>
            <span class="
                            icon
                            icon--triangle-down
                            accordion__toggle-icon"></span>
        </div>
        <div class="accordion__content">
            <ng-container *ngTemplateOutlet="accordionContentTemplate || defaultTemplate; context: { $implicit: item.data }">
            </ng-container>
        </div>
    </div>
</div>
