/*
 -  Accordion
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.accordion {
	margin-bottom: ( $spacer / 2 );

	&__item {
		margin-bottom: $spacer;
		border-radius: 4px;
		box-shadow: $box-shadow;
		overflow: hidden;

		&:focus,
		&:hover {
			box-shadow: $accordion-active-shadow;
		}

		&--active {
			.accordion {
				&__toggle-icon {
					transform: translateY(-50%) rotate(180deg);
				}

				&__content {
					display: block;
				}
			}
		}
	}

	&__toggle {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $accordion-padding ( $accordion-padding + $accordion-toggle-icon-size + $accordion-padding ) $accordion-padding $accordion-padding;
		background-color: $white;
		font-size: 1.125rem;
		letter-spacing: -.75px;

		&:focus,
		&:hover {
			cursor: pointer;
		}
	}

	&__toggle-icon {
		@include absolute-center(true, false);
		display: flex;
		align-items: center;
		justify-content: center;
		right: $accordion-padding;
		width: $accordion-toggle-icon-size;
		height: $accordion-toggle-icon-size;
		padding-top: ( $spacer / 10 );
		background-color: $primary;
		color: $white;
		font-size: $icon-size-small;
		letter-spacing: normal;
		border-radius: $accordion-toggle-icon-size;
	}

	&__content {
		display: none;
		padding: $accordion-padding;
	}
}
