<pxe-notification-layout-container title="Ochrana osobních údajů" [breadcrumbItemsSimple]="breadcrumbItemsSimple">
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2">
            <div class="page-box">
                <div class="row">
                    <div class="col-12">
                        <p><strong>Chráníme vaše údaje</strong>. Ochranu soukromí a osobních údajů klienta považujeme za
                            prvořadou povinnost.
                        </p>
                        <p><strong>S osobními údaji nakládáme výhradně v souladu s platnými právními předpisy. Tímto
                            dokumentem vám
                            představujeme zásady, které objasňují, co děláme pro to, abychom zajistili důvěrnost a
                            bezpečnost zpracovávaných
                            osobních údajů a poskytujeme informace o vašich právech souvisejících se zpracováváním
                            vašich osobních údajů. Cílem
                            dokumentu je poskytnout Vám informace o tom, jaké osobní údaje shromažďujeme, jak s nimi
                            nakládáme, z jakých zdrojů
                            je získáváme, k jakým účelům je využíváme, komu je smíme poskytnout a kde můžete získat
                            informace o vašich osobních
                            údajích, které zpracováváme.</strong></p>
                        <h3>Správce osobních údajů</h3>
                        Společnost POWER EXCHANGE CENTRAL EUROPE, a. s., IČ: 27865444 (dále jen „PXE“), je správcem
                        osobních údajů, které jste jí poskytli nebo které o Vás získala (viz kapitola Zdroj osobních
                        údajů níže) k naplnění jednoho nebo více účelů. PXE vaše údaje shromažďuje, disponuje jimi a
                        nese odpovědnost za jejich řádné a zákonné zpracování. Vůči správci můžete uplatňovat svá práva
                        způsobem uvedeným dále.S dotazy souvisejícími se zpracováním osobních údajů je možné se obrátit
                        přímo na správce, kontaktní údaje jsou uvedeny na stránce
                        <a href="https://www.pxe.cz/" target="_blank">Kontakty</a>.
                        <h3>Základní zásady zpracování osobních údajů</h3>
                        <p>Při zpracování osobních údajů se řídíme zejména těmito zásadami:</p>
                        <ul class="check-list">
                            <li>provádíme zpracování osobních údajů při dodržení všech povinností, které nám ukládají
                                právní předpisy,
                            </li>
                            <li>v rámci zpracování osobních údajů postupujeme spravedlivě a transparentně při snaze
                                omezit účely a rozsah
                                zpracování osobních údajů na nezbytné minimum,
                            </li>
                            <li>dbáme na to, aby subjekt údajů neutrpěl újmu na svých právech a svobodách a byl chráněn
                                před neoprávněným
                                zasahováním do soukromého a osobního života klienta,
                            </li>
                            <li>informace o zpracování osobních údajů poskytneme před zahájením smluvního vztahu či
                                poskytnutí služby ze strany
                                naší společnosti,
                            </li>
                            <li>máme implementovaný systém pro řízení bezpečnosti informací podle normy ČSN ISO/IEC řady
                                27000 („Informační
                                technologie - Bezpečnostní techniky - Systémy řízení bezpečnosti informací“).
                            </li>
                        </ul>
                        <h3>Rozsah zpracovávání osobních údajů</h3>
                        <p><strong>Zpracováváme pouze takové údaje, abychom vám mohli poskytovat profesionální služby a
                            komfortní obsluhu a
                            abychom dodržovali naše zákonné povinnosti a smluvní závazky a chránili své oprávněné
                            zájmy</strong>.&nbsp;<br>
                            <br>
                            Údaje shromažďujeme především o zákaznících naší společnosti a společností, které náleží do
                            stejného holdingu jako
                            naše společnost (účastnících obchodování a dalších smluvních partnerech), resp. o jejich
                            zástupcích, členech
                            statutárního orgánu a zaměstnancích. Zpracováváme vaše základní údaje, údaje o produktech a
                            službách, které
                            využíváte, údaje z naší komunikace a interakce a další údaje tak, aby okruh těchto údajů byl
                            přiměřený, relevantní a
                            omezený na nezbytný rozsah ve vztahu k účelu, pro který je o vás shromažďujeme a
                            zpracováváme. Naším hlavním účelem
                            je vám poskytovat profesionální služby a komfortní obsluhu, zároveň ale musíme dodržovat
                            naše zákonné povinnosti a
                            chránit naše oprávněné zájmy; kompletní výčet účelů, pro který vaše data zpracováváme, jakož
                            i upřesnění konkrétních
                            zpracovávaných údajů pro daný účel, naleznete dále.&nbsp;Zpracováváme také údaje o
                            uchazečích o zaměstnání pro účely
                            posouzení vhodnosti uchazeče a porovnávání nabídek zájemců o práci (životopisy).
                            Zpracováváme údaje o osobách
                            vstupujících či vjíždějících do sídla společnosti za účelem provádění jejich identifikace a
                            evidence, dále pak při
                            monitorování určených prostor sídla prostřednictvím kamerových systémů, ať již se záznamem
                            nebo bez záznamu.<br>
                            <br>
                            Osobní údaje zpracováváme v tomto rozsahu:</p>
                        <ul class="check-list">
                            <li>identifikační údaje zákazníka či jeho zástupce, člena statutárního orgánu nebo
                                zaměstnance (zejména jméno,
                                příjmení, titul, kontaktní údaje),
                            </li>
                            <li>transakční údaje, které se týkají zejména obchodů s produkty obchodovanými na komoditním
                                trhu,
                            </li>
                            <li>další popisné údaje (bankovní spojení),</li>
                            <li>autentizační údaje pro používání našich aplikací a údaje o použití našich webových
                                stránek,
                            </li>
                            <li>informace z externích zdrojů, zejména veřejně dostupných registrů, například obchodní
                                rejstřík (zejména jméno,
                                příjmení, adresa),
                            </li>
                            <li>záznamy komunikace s klienty,</li>
                            <li>kontaktní údaje osob (zejména e-mailová adresa, telefonní číslo), které se zpracováním
                                vyslovili souhlas,
                            </li>
                            <li>identifikační údaje (zejména jméno, příjmení, titul, kontaktní údaje) a ostatní údaje ze
                                životopisu uchazečů o
                                zaměstnání,
                            </li>
                            <li>identifikační údaje osob vstupujících nebo vjíždějících do sídla PXE (návštěvy, obchodní
                                partneři, apod.) a
                                obrazové záznamy těchto osob z kamerových systémů sledujících nebytové prostory užívané
                                PXE
                            </li>
                            <li>záznamy hovorů telefonní linky pro podporu obchodování.</li>
                            <li></li>
                        </ul>
                        <p><strong>Účely a doba zpracování osobních údajů</strong>
                        </p>
                        <p><strong>Vaše údaje zpracováváme v nezbytném rozsahu pro splnění zákonné povinnosti nebo pro
                            plnění uzavřené smlouvy.
                            Některé údaje zpracováváme, neboť je to nezbytné pro ochranu práv a právem chráněných zájmů
                            jak naší společnosti,
                            tak i třetích osob.</strong><br>
                            <br>
                            V ostatních případech vaše údaje zpracováváme pouze s vaším souhlasem.<br>
                            <br>
                            Mezi účely zpracování patří následující kategorie:</p>
                        <ul class="check-list">
                            <li>Bez souhlasu klienta:
                                <ul>
                                    <li><strong>Splnění povinností stanovených právními předpisy</strong> – Zpracování
                                        osobních údajů je pro
                                        tento účel nezbytné z toho důvodu, že jejich zpracování ukládá zákon nebo jiný
                                        obecně závazný právní
                                        předpis (např. plnění oznamovací povinnosti vůči dohledovému orgánu a orgánům
                                        veřejné moci, plnění
                                        povinností týkajících se výkonu rozhodnutí, plnění povinnosti identifikace a
                                        kontroly klienta a dalších
                                        povinností v oblasti prevence praní špinavých peněz, plnění archivačních
                                        povinností). PXE zpracovává
                                        osobní údaje pro tento účel po dobu stanovenou jí příslušnými právními předpisy.
                                    </li>
                                    <li><strong>Realizace smluvního vztahu</strong> – Zpracování osobních údajů je
                                        nezbytné pro řádné plnění
                                        práv a povinností vyplývajících pro správce ze smluvního vztahu. Správce
                                        zpracovává osobní údaje pro
                                        tento účel po dobu trvání smluvního vztahu.
                                    </li>
                                    <li><strong>Oprávněný zájem správce</strong> – Zpracování osobních údajů je pro
                                        tento účel nezbytné
                                        (například fyzická ochrana prostor správce, řešení sporů a ochrana a domáhání se
                                        práv člena správce,
                                        správa a vymáhání pohledávek, provádění analýz a vyhodnocování možných rizik,
                                        testování softwaru), a to
                                        v rozsahu shodném jako pro účel realizace smluvního vztahu. Správce zpracovává
                                        osobní údaje pro tento
                                        účel po dobu trvání smluvního vztahu a do uplynutí promlčecích lhůt plynoucích z
                                        plnění práv a
                                        povinností na základě daného smluvního vztahu.&nbsp;Záznamy z kamerových
                                        systémů, identifikační údaje
                                        uchazečů a identifikační údaje osob vstupujících či vjíždějících do sídla PXE
                                        zpracovává správce jen po
                                        omezenou dobu nezbytnou k ochraně zájmů správce.
                                    </li>
                                </ul>
                            </li>
                            <li>Se souhlasem subjektu údajů:</li>
                            <li>pro další účely (např. pro marketingové činnosti apod.).</li>
                        </ul>
                        <p>Předání údajů, které nám předáváte se svým souhlasem, je dobrovolné. Předání ostatních údajů
                            vyžadujeme, jelikož
                            jejich zpracování je nezbytné pro splnění smlouvy, plnění našich právních povinností nebo
                            ochranu našich oprávněných
                            zájmů. Pokud nám takové údaje neposkytnete, nemůžeme vám příslušný produkt, službu nebo jiné
                            plnění, při kterém od
                            vás osobní údaj vyžadujeme, poskytnout.&nbsp;</p>
                        <p><strong>Zdroj osobních údajů</strong></p>
                        <p><strong>Podle situace zpracováváme údaje, které jsme obdrželi od účastníků obchodování,
                            event. od jiných subjektů, se
                            kterými máme smlouvu, údaje, které jsme obdrželi od vás při uzavření smluvního vztahu a jeho
                            následné realizaci,
                            dále pak údaje z veřejně dostupných zdrojů a rejstříků, seznamů a evidencí (například
                            obchodní rejstřík) a údaje od
                            třetích stran, pokud tak stanoví zvláštní předpis. Za účelem naplnění smluvního vztahu může
                            docházet k předávání
                            údajů spřízněným osobám v rámci naší holdingové skupiny EEX (European Energy Exchange AG a
                            Powernext
                            SAS).</strong><br>
                            <br>
                            Zpracováváme především údaje, které nám předávají naši obchodní partneři.<br>
                        </p>
                        <p><strong>Způsob zpracování osobních údajů</strong></p>
                        <p>PXE zpracovává osobní údaje automatizovanými prostředky a manuálně.</p>
                        <p><strong>Poskytování osobních údajů třetím stranám</strong>
                        </p>
                        <p><strong>Osobní údaje zásadně zpracováváme v rámci naší společnosti. Údaje předáváme třetím
                            stranám, pokud nám to
                            dovolíte nebo to zakotvuje právní předpis. Pokud je to nezbytné k dosažení některého z účelů
                            uvedených výše, vaše
                            údaje mohou být zpracovány spolupracujícími dodavateli.&nbsp;</strong></p>
                        <ul class="check-list">
                            <li>PXE předává osobní údaje osobám, kterým je povinen zpřístupnit osobní údaje na základě
                                právních předpisů – může
                                se jednat např. o orgány státní správy, soudy, orgány činné v trestním řízení, finanční
                                úřady a podobně. Vaše
                                data můžeme být povinni předávat různým státním i mezinárodním orgánům, vždy však za
                                podmínek stanových právními
                                předpisy.
                            </li>
                            <li>PXE zpracovává osobní údaje prostřednictvím vlastních zaměstnanců jako správce osobních
                                údajů nebo
                                prostřednictvím svých dodavatelů, za současného zajištění technických, organizačních a
                                personálních opatření,
                                které povedou k vysoké úrovni ochrany a zabezpečení osobních údajů. Pokud využíváme
                                cloudových uložišť, vždy je
                                zajištěn vysoký stupeň zabezpečení údajů.
                                <ul>
                                    <li>Dodavateli jsou zejména:
                                        <ul>
                                            <li>Burza cenných papírů Praha, a.s.</li>
                                            <li>poskytovatelé IT služeb, včetně cloudových uložišť,</li>
                                            <li>subjekty vymáhající naše pohledávky,</li>
                                            <li>advokáti,</li>
                                            <li>poskytovatelé tiskových a poštovních služeb,</li>
                                            <li>poskytovatelé služeb recepce a ostrahy.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p><strong>Práva subjektu údajů</strong></p>
                        <p><strong>Vaše osobní údaje zpracováváme transparentně, korektně a v souladu se zákonem. Máte
                            právo na přístup k vašim
                            údajům, na vysvětlení, jakož i další práva, pokud se domníváte, že zpracování není v
                            pořádku. Také můžete podat
                            stížnost u Úřadu pro ochranu osobních údajů. Vaše práva uplatníte v příslušné společnosti
                            naší skupiny, se kterou
                            máte vztah.</strong></p>
                        <p>Pokud máte otázky, související se zpracováním osobních údajů nebo chcete uplatnit svá práva,
                            můžete se obrátit na
                            správce, jehož kontaktní údaje jsou uvedeny na stránce Kontakty. Můžete se na správce
                            obrátit také písemně na jeho
                            adrese, která je rovněž uvedena na stránce <a href="https://www.pxe.cz/" target="_blank">Kontakty</a>.<br>
                            <br>
                            <strong>Právo přístupu k osobním údajům a právo být informován </strong>– Máte právo na
                            přístup ke svým osobním
                            údajům, zejména o informaci o zpracování svých osobních údajů. Práva třetích stran však
                            tímto nesmí být dotčena. Za
                            opakované žádosti můžeme požadovat přiměřenou úhradu nepřevyšující náklady nezbytné na
                            poskytnutí informace.<br>
                            <br>
                            <strong>Právo na opravu osobních údajů </strong>– V případě, že jsou vaše údaje nesprávné,
                            nepřesné, samozřejmě je
                            opravíme. S přihlédnutím k účelům, pro které jsou údaje zpracovávány, máte právo, abychom
                            také doplnili neúplné
                            údaje.<br>
                            <br>
                            <strong>Právo na výmaz</strong> – Máte právo na výmaz osobních údajů, pokud je naše
                            zpracování neoprávněné.<br>
                            <br>
                            <strong>Právo vznést námitku</strong> – V případě porušení povinností správce týkajících se
                            shromažďování nebo
                            zpracovávání osobních údajů jste oprávněn žádat správce, aby poskytl vysvětlení takového
                            jednání, se zdržel takového
                            jednání, odstranil takto vzniklý stav. Dále jste oprávněn obrátit se se svými podněty i na
                            Úřad pro ochranu osobních
                            údajů.<br>
                            <br>
                            <strong>Další práva</strong> – Za podmínek stanovených v zákoně máte právo na omezení
                            zpracování a právo na
                            přenositelnost údajů.<br>
                            <br>
                            <strong>Chcete odvolat svůj souhlas?</strong> – V případech, kdy ke zpracování vašich údajů
                            vyžadujeme váš souhlas,
                            jste oprávněni tento souhlas kdykoliv odvolat. Odvolání souhlasu nemá vliv na zpracování
                            vašich údajů po dobu, co
                            byl tento souhlas vámi platně udělen, ani na zpracování vašich údajů z jiných právních
                            důvodů, pokud se aplikují
                            (např. dodržování právních povinností nebo pro účely našich oprávněných zájmů).<br>
                            <br>
                            <strong>Chcete omezit marketing?</strong><br>
                            <br>
                            Pokud jste nám udělil souhlas pro marketing nebo vám z jiného oprávněného titulu od nás
                            chodí obchodní nabídky nebo
                            jiné informační zprávy, můžete svůj souhlas kdykoliv odvolat nebo se ze zasílání nabídek či
                            zpráv odhlásit
                            následujícími způsoby:&nbsp;<br>
                            <br>
                            přímo v našich obchodních sděleních je včleněna možnost zastavení jejich zasílání;<br>
                            pokud již nechcete, abychom vám telefonovali, v rámci hovoru nám to řekněte;<br>
                            můžete nám také v místě našeho sídla nebo písemně sdělit, že si již nepřejete dostávat
                            nabídky.<br>
                            <br>
                            Pokud si přejete omezit nebo odvolat souhlas se zpracováním údajů pro marketingové účely
                            a/nebo pro účely zasílání
                            informačních zpráv, lze rovněž vyplnit&nbsp;<a
                                    href="https://www.pxe.cz/" target="_blank">tento
                                dokument</a> a poslat nám ho na <a href="mailto:info@pxe.cz">info@pxe.cz</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</pxe-notification-layout-container>
