<div *ngIf="withHeader" class="row text-center mb-md-1">
    <div class="col-12 col-xl-6 offset-xl-3">
        <h1 [innerHTML]="pageTitle"></h1>
    </div>
</div>
<div *ngIf="breadcrumbItemsSimple"
        class="row">
    <div class="col mb-3">
        <lnd-breadcrumb [breadcrumbItems]="breadcrumbItemsSimple"></lnd-breadcrumb>
    </div>
</div>
<lnd-banner-ui
    *ngIf="showBanner"
    [data]="{
        linkValue: '#',
        text: 'Vaše heslo bylo úspěšně změněno.',
        linkType: '',
        title: ''
    }"
    buttonLabel=""
    [showButtonLabel]="false"
></lnd-banner-ui>
<lnd-banner-ui
    *ngIf="logoutRequired"
    [data]="{
        text: 'Jste přihlášen jako '  + authService.currentUserValue.username + (logoutRequired === LogoutRequired.LOGIN ?
        ', pro přihlášení pod jiným uživatelem se prosím odhlašte.' : ', pro registraci se prosím odhlašte.')
    }"
    [showButtonLabel]="false"
></lnd-banner-ui>
<pxe-logout-information></pxe-logout-information>
<ng-content></ng-content>
