<div class="row text-center mb-md-6">
    <div class="col-12 col-xl-6 offset-xl-3">
        <h1>{{pageTitle}}</h1>
    </div>
</div>
<div *ngIf="breadcrumbItemsSimple"
        class="row">
    <div class="col">
        <lnd-breadcrumb [breadcrumbItems]="breadcrumbItemsSimple"></lnd-breadcrumb>
    </div>
</div>
<lnd-banner-ui
    *ngIf="showBanner"
    [data]="bannerObjChangedPassword"
    buttonLabel=""
    [showButtonLabel]="false"
></lnd-banner-ui>
<lnd-banner-ui
    *ngIf="tokenWillExpireInSeconds < SHOW_USER_WILL_BE_LOGOUT_INTERVAL_IN_SECONDS && tokenWillExpireInSeconds > 0 && authService.isLastRefreshToken"
    [data]="bannerObjTokenWillExpire"
    buttonLabel=""
    [showButtonLabel]="false"
></lnd-banner-ui>
<ng-content></ng-content>
