<div
    id="top"
    class="body-inner full-layout">
    <lnd-header
        [settings]="settings"
        (homeRedirect)="homeRedirect()">
    </lnd-header>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <lnd-footer
        [isSimpleFooter]="settings.isSimpleFooter">
        <ul class="footer-navigation__list">
            <li class="footer-navigation__item">
                <a routerLink="/secured/dashboard" class="footer-navigation__link">Podmínky užívání</a>
            </li>
            <li class="footer-navigation__item">
                <a routerLink="/secured/dashboard" class="footer-navigation__link">Zabezpeční vašich dat</a>
            </li>
            <li class="footer-navigation__item">
                <a routerLink="/secured/dashboard" class="footer-navigation__link">Pražská burza</a>
            </li>
        </ul>
    </lnd-footer>
</div>
