/*
 -  Front
 -
 -  This file includes and describes all used CSS written in SCSS preprocesor.
 */


/* -------------------------- */
/*   1. CORE - CONFIG,        */
/*             BASE           */
/*             VENDORS        */
/* -------------------------- */

@import '01_base/core';                                                       // Core CSS
@import '~@ng-select/ng-select/themes/material.theme'; /* stylelint-disable-line scss/at-import-partial-extension-whitelist */

/* ------------------------- */
/*   2. LAYOUT               */
/* ------------------------- */

@import '02_layout/body';                                                     // Container body
@import '02_layout/container-content';                                        // Container content
@import '02_layout/main';                                                     // Main
@import '02_layout/static-pages';                                             // Static pages

/* ------------------------- */
/*   3. COMPONENTS           */
/* ------------------------- */

@import '03_components/loader';                                               // Loader
@import '03_components/page-box';                                             // Page box
@import '03_components/pdf';                                                  // Pdf

/* ------------------------- */
/*   4. MODULES              */
/* ------------------------- */



/* ------------------------- */
/*   5. TEMPLATES & PAGES    */
/* ------------------------- */

@import '05_pages/landing-page';                                             // Landind page(s)
@import '05_pages/login-registration-pages';                                 // Login & registration page
@import '05_pages/public-pages';                                             // Public pages
