/*
 -  Pdf viewer custom
 -
 -
 */


// Core component import
@import 'src/assets/scss/01_base/base';

body {
	background-color: $white;
	background-image: none;
}

.toolbar {
	display: none;
}

.pdfViewer {
	.page {
		position: relative;
		padding-bottom: $spacer;
		margin-bottom: 0;
		background-color: transparent;
		border: none;
		border-image: none;

		&::after {
			content: '';
			@include absolute-center(false, true);
			bottom: 0;
			width: calc(100% + 40px);
			height: 20px;
			background-color: lighten($body-bg, 2%);
		}
	}
}

#sidebarContainer {
	display: none;
}

#viewerContainer {
	top: 0;
	/* stylelint-disable */
	left: 0 !important;
	/* stylelint-enable */
}
