<div class="container-fluid container-fluid--max-width">
    <div class="container-content container-content--public">
        <pxe-layout-container
            [pageTitle]="securingYourData.title"
            [breadcrumbItemsSimple]="breadcrumbItemsSimple"
        >
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div
                        class="page-box text-justify"
                        [innerHTML]="securingYourData.htmlContent"
                    ></div>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
