<div class="container-fluid container-fluid--max-width">
    <div class="container-content container-content--public">
        <pxe-layout-container pageTitle="Ochrana osobních údajů" [breadcrumbItemsSimple]="breadcrumbItemsSimple">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="page-box text-justify">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="h1">INFORMACE O ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ</h2>
                                <p>
                                    <strong>Chráníme vaše údaje</strong>.
                                    Ochranu soukromí a osobních údajů klienta považujeme za prvořadou povinnost.
                                </p>
                                <p>
                                    <strong>
                                    S osobními údaji nakládáme výhradně v souladu s platnými právními předpisy.
                                    Tímto dokumentem vám představujeme zásady, které objasňují, co děláme pro to, abychom zajistili
                                    důvěrnost a bezpečnost zpracovávaných osobních údajů a poskytujeme informace o vašich právech souvisejících
                                    se zpracováváním vašich osobních údajů. Cílem dokumentu je poskytnout vám informace o tom,
                                    jaké osobní údaje shromažďujeme, jak s nimi nakládáme, z jakých zdrojů je získáváme,
                                    k jakým účelům je využíváme, komu je smíme poskytnout a kde můžete získat informace o
                                    vašich osobních údajích, které zpracováváme.
                                    </strong>
                                </p>
                                <ol class="decimal-list upper-roman">
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Správce osobních údajů</h3>
                                        <ol>
                                            <li>
                                                Společnost POWER EXCHANGE CENTRAL EUROPE, a. s., IČ: 27865444 (dále jen „PXE“), je
                                                správcem osobních údajů, které jste jí poskytli nebo které o vás získala (viz kapitola
                                                Zdroj osobních údajů níže) k naplnění jednoho nebo více účelů. PXE vaše údaje shromažďuje,
                                                disponuje jimi a nese odpovědnost za jejich řádné a zákonné zpracování. Vůči správci
                                                můžete uplatňovat svá práva způsobem uvedeným dále.
                                            </li>
                                            <li>
                                                S dotazy souvisejícími se zpracováním osobních údajů je možné se obrátit přímo na správce,
                                                kontaktní údaje jsou uvedeny na stránce
                                                <a href="https://www.pxe.cz/dokument.aspx?k=Kontakty" target="_blank">Kontakty</a>.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Základní zásady zpracování osobních údajů</h3>
                                        <ol>
                                            <li>Při zpracování osobních údajů se řídíme zejména těmito zásadami:
                                                <ol class="lower-alpha">
                                                    <li>
                                                        provádíme zpracování osobních údajů při dodržení všech povinností, které nám ukládají právní předpisy,
                                                    </li>
                                                    <li>
                                                        v rámci zpracování osobních údajů postupujeme spravedlivě a transparentně při snaze omezit účely a rozsah zpracování osobních údajů na nezbytné minimum,
                                                    </li>
                                                    <li>
                                                        dbáme na to, aby subjekt údajů neutrpěl újmu na svých právech a svobodách a byl chráněn před neoprávněným zasahováním do soukromého a osobního života klienta,
                                                    </li>
                                                    <li>
                                                        informace o zpracování osobních údajů poskytneme před zahájením smluvního vztahu či poskytnutí služby ze strany naší společnosti,
                                                    </li>
                                                    <li>
                                                        máme implementovaný systém pro řízení bezpečnosti informací podle normy ČSN ISO/IEC řady 27000 („Informační technologie - Bezpečnostní techniky - Systémy řízení bezpečnosti informací“).
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Rozsah zpracovávání osobních údajů</h3>
                                        <ol>
                                            <li>
                                                Zpracováváme pouze takové údaje, abychom vám mohli poskytovat profesionální služby
                                                a komfortní obsluhu a abychom dodržovali naše zákonné povinnosti a smluvní závazky a
                                                chránili své oprávněné zájmy.
                                            </li>
                                            <li>
                                                Údaje shromažďujeme o zákaznících naší společnosti, resp. o jejich zástupcích.
                                                Zpracováváme vaše identifikační a kontaktní údaje (zejména jméno, příjmení, titul,
                                                adresa bydliště, datum narození, e-mailová adresa, telefonní číslo, číslo bankovního účtu),
                                                údaje o vašich odběrných místech, údaje o současných a bývalých dodavatelích elektřiny
                                                a/nebo plynu, údaje o produktech a službách, které využíváte, obsah smlouvy vámi uzavřené
                                                na trhu PXE, údaje z naší komunikace a interakce, autentizační údaje pro používání našich aplikací
                                                a případné další údaje tak, aby okruh těchto údajů byl přiměřený, relevantní a omezený na
                                                nezbytný rozsah ve vztahu k účelu, pro který je o vás shromažďujeme a zpracováváme.
                                                Naším hlavním účelem je vám poskytovat profesionální služby a komfortní obsluhu,
                                                zároveň ale musíme dodržovat naše zákonné povinnosti a chránit naše oprávněné zájmy.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Účely a doba zpracování osobních údajů</h3>
                                        <ol>
                                            <li>
                                                Vaše údaje zpracováváme v nezbytném rozsahu pro splnění zákonné povinnosti nebo pro
                                                plnění uzavřené smlouvy. Některé údaje zpracováváme, neboť je to nezbytné pro ochranu práv
                                                a právem chráněných zájmů jak naší společnosti, tak i třetích osob.
                                            </li>
                                            <li>
                                                V ostatních případech vaše údaje zpracováváme pouze s vaším souhlasem.
                                                <ol class="lower-alpha">
                                                    <li>
                                                        <h4 class="h3">Bez souhlasu klienta:</h4>
                                                        <ol class="lower-roman">
                                                            <li>
                                                                <strong>Splnění povinností stanovených právními předpisy</strong> – Zpracování osobních údajů je pro tento účel nezbytné z toho důvodu, 
                                                                že jejich zpracování ukládá zákon nebo jiný obecně závazný právní předpis. PXE zpracovává osobní údaje pro tento účel po dobu stanovenou jí příslušnými právními předpisy.
                                                            </li>
                                                            <li>
                                                                <strong>Realizace smluvního vztahu</strong> – Zpracování osobních údajů je nezbytné pro řádné plnění práv a povinností vyplývajících pro správce ze smluvního vztahu. Správce zpracovává osobní údaje pro tento účel po dobu trvání smluvního vztahu.
                                                            </li>
                                                            <li>
                                                                <strong>Oprávněný zájem správce</strong> – Zpracování osobních údajů je pro tento účel nezbytné (například řešení sporů a ochrana a domáhání se práv správce, prokazování náležitostí kontraktačního procesu a dalších právních úkonů činěných prostřednictvím webové aplikace, prokazování obsahu uzavřených smluv o sdružených službách dodávek a dalších právních úkonů provedených prostřednictvím webové aplikace, dále správa a vymáhání pohledávek, provádění analýz a vyhodnocování možných rizik, testování softwaru), a to v rozsahu shodném jako pro účel realizace smluvního vztahu. Správce zpracovává osobní údaje pro tento účel po dobu trvání smluvního vztahu a do uplynutí promlčecích lhůt plynoucích z plnění práv a povinností na základě daného smluvního vztahu.
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li>
                                                        <h4 class="h3">Se souhlasem subjektu údajů:</h4>
                                                        <ol class="lower-roman">
                                                            <li>
                                                                pro další účely (např. pro marketingové činnosti apod.).
                                                            </li>
                                                        </ol>
                                                        <p class="mb-0">
                                                            Předání údajů, které nám předáváte se svým souhlasem, je dobrovolné. Předání ostatních údajů vyžadujeme,
                                                            jelikož jejich zpracování je nezbytné pro splnění smlouvy, plnění našich právních povinností nebo ochranu
                                                            našich oprávněných zájmů. Pokud nám takové údaje neposkytnete, nemůžeme vám příslušný produkt, službu nebo
                                                            jiné plnění, při kterém od vás osobní údaj vyžadujeme, poskytnout.
                                                        </p>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Zdroj osobních údajů</h3>
                                        <ol>
                                            <li>
                                                Zpracováváme údaje, které jsme od Vás obdrželi při registraci, při uzavření smluvního vztahu a jeho následné realizaci. Může se stát, 
                                                že budeme zpracovávat také údaje z veřejně dostupných zdrojů a rejstříků, seznamů a evidencí (například obchodní rejstřík) a údaje od třetích stran, 
                                                pokud tak stanoví zvláštní předpis.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Způsob zpracování osobních údajů</h3>
                                        <ol>
                                            <li>
                                                PXE zpracovává osobní údaje automatizovanými prostředky a manuálně.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Poskytování osobních údajů třetím stranám</h3>
                                        <ol>
                                            <li>
                                                Osobní údaje zásadně zpracováváme v rámci naší společnosti. Údaje předáváme třetím stranám, pokud to vyplývá
                                                z charakteru poskytované služby, pokud nám to dovolíte nebo to zakotvuje právní předpis. Pokud je to nezbytné
                                                k dosažení některého z účelů uvedených výše, vaše údaje mohou být zpracovány spolupracujícími dodavateli.
                                                <ol class="lower-alpha">
                                                    <li>
                                                        PXE předává či zpřístupňuje v nezbytném rozsahu vaše osobní údaje dodavatelům, s nimiž jste Vy nebo právnická osoba, kterou zastupujete, 
                                                        uzavřeli smlouvu o sdružených službách dodávky prostřednictvím naší webové aplikace. Vaše data
                                                        můžeme být povinni předávat různým státním i mezinárodním orgánům, vždy však za podmínek stanových
                                                        právními předpisy.
                                                    </li>
                                                    <li>
                                                        PXE zpracovává osobní údaje prostřednictvím vlastních zaměstnanců jako správce osobních údajů nebo
                                                        prostřednictvím svých dodavatelů, za současného zajištění technických, organizačních a personálních
                                                        opatření, které povedou k vysoké úrovni ochrany a zabezpečení osobních údajů. Pokud využíváme cloudových
                                                        uložišť, vždy je zajištěn vysoký stupeň zabezpečení údajů
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                Dodavateli mohou být zejména:
                                                <ol class="lower-alpha">
                                                    <li>
                                                        Burza cenných papírů Praha, a.s.
                                                    </li>
                                                    <li>
                                                        poskytovatelé IT služeb, včetně cloudových uložišť,
                                                    <li>
                                                        subjekty vymáhající naše pohledávky.
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="decimal-list__item-title h2">Práva subjektu údajů</h3>
                                        <ol>
                                            <li>
                                                Vaše osobní údaje zpracováváme transparentně, korektně a v souladu se zákonem.
                                                Máte právo na přístup k vašim údajům, na vysvětlení, jakož i další práva, pokud se domníváte,
                                                že zpracování není v pořádku. Také můžete podat stížnost u Úřadu pro ochranu osobních údajů.
                                                Vaše práva uplatníte v příslušné společnosti naší skupiny, se kterou máte vztah.
                                            </li>
                                            <li>
                                                Pokud máte otázky, související se zpracováním osobních údajů nebo chcete uplatnit svá práva, můžete
                                                se obrátit na správce, jehož kontaktní údaje jsou uvedeny na webové stránce <a href="https://www.pxe.cz/dokument.aspx?k=Kontakty" target="_blank">Kontakty</a>.
                                                Můžete se na správce obrátit také písemně na jeho adrese, která je rovněž uvedena na webové stránce <a href="https://www.pxe.cz/dokument.aspx?k=Kontakty" target="_blank">Kontakty</a>.
                                            </li>
                                            <li>
                                                <strong>Právo přístupu k osobním údajům a právo být informován</strong> – Máte právo na přístup ke svým osobním údajům, 
                                                zejména o informaci o zpracování svých osobních údajů. Práva třetích stran však tímto nesmí být dotčena. Za opakované žádosti můžeme požadovat 
                                                přiměřenou úhradu nepřevyšující náklady nezbytné na poskytnutí informace.
                                            </li>
                                            <li>
                                                <strong>Právo na opravu osobních údajů</strong> – V případě, že jsou vaše údaje nesprávné, nepřesné, samozřejmě je opravíme. S přihlédnutím k účelům, 
                                                pro které jsou údaje zpracovávány, máte právo, abychom také doplnili neúplné údaje.
                                            </li>
                                            <li>
                                                <strong>Právo na výmaz</strong> – Máte právo na výmaz osobních údajů, pokud je naše zpracování neoprávněné.
                                            </li>
                                            <li>
                                                <strong>Právo vznést námitku</strong> – V případě porušení povinností správce týkajících se shromažďování nebo zpracovávání osobních údajů jste 
                                                oprávněn žádat správce, aby poskytl vysvětlení takového jednání, se zdržel takového jednání, odstranil takto vzniklý stav. Dále jste oprávněn obrátit 
                                                se se svými podněty i na Úřad pro ochranu osobních údajů.
                                            </li>
                                            <li>
                                                <strong>Další práva</strong> – Za podmínek stanovených v zákoně máte právo na omezení zpracování a právo na přenositelnost údajů.
                                            </li>
                                            <li>
                                                <strong>Chcete odvolat svůj souhlas?</strong> – V případech, kdy ke zpracování vašich údajů vyžadujeme váš souhlas, jste oprávněni tento souhlas 
                                                kdykoliv odvolat. Odvolání souhlasu nemá vliv na zpracování vašich údajů po dobu, co byl tento souhlas vámi platně udělen, ani na zpracování vašich 
                                                údajů z jiných právních důvodů, pokud se aplikují (např. plnění smlouvy nebo pro účely našich oprávněných zájmů).
                                            </li>
                                            <li>
                                                <strong>Chcete omezit marketing?</strong>
                                                Pokud jste nám udělil souhlas pro marketing nebo vám z jiného oprávněného titulu od nás chodí obchodní nabídky nebo jiné informační zprávy, 
                                                můžete svůj souhlas kdykoliv odvolat nebo se ze zasílání nabídek či zpráv odhlásit následujícími způsoby:
                                                <ol class="lower-alpha">
                                                    <li>
                                                        přímo v našich obchodních či informačních sděleních je včleněna možnost zastavení jejich zasílání;
                                                    </li>
                                                    <li>
                                                        můžete nám také v místě našeho sídla nebo písemně na info@pxe.cz sdělit, že si již nepřejete dostávat nabídky.
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
