<div class="row">
    <div class="col-12 col-xl-10 offset-xl-1 mb-3">
        <ul class="text-center link-list">
            <li class="link-list__item">
                <a class="link-list__link"
                   [class.link-list__link--active]="CONSTS.BLOG_ALL_ARTICLE_TYPE === (activeTag$ | async)"
                   (click)="changeArticleType($event, CONSTS.BLOG_ALL_ARTICLE_TYPE)">
                    Vše
                </a>
            </li>
            <li *ngFor="let type of blogTypes" class="link-list__item">
                <a class="link-list__link"
                   [class.link-list__link--active]="type.url === (activeTag$ | async)"
                   (click)="changeArticleType($event ,type.url)">
                    {{type.label}}
                </a>
            </li>
        </ul>
    </div>
</div>
