<div class="row">
    <div class="col-12 col-xl-10 offset-xl-1 mb-3">
        <ul class="text-center link-list">
            <li class="link-list__item">
                <a class="link-list__link link-list__link--active">
                    Vše
                </a>
            </li>
            <li class="link-list__item">
                <a class="link-list__link">
                    Elektřina
                </a>
            </li>
            <li class="link-list__item">
                <a class="link-list__link">
                    Plyn
                </a>
            </li>
        </ul>
    </div>
</div>
