<div
    [formGroup]="parentForm"
    class="form-group ng-select-custom">
    <label
        (click)="select.open()"
        class="ng-select-label">
        {{ label }}
    </label>
    <ng-select
        #select
        [addTag]="addTag"
        [items]="options"
        [selectOnTab]="true"
        [searchable]="searchable"
        [formControl]="parentForm.controls[selectName]"
        [typeahead]="typeahead"
        [bindValue]="bindValue"
        bindLabel="label"
        [placeholder]="placeholder"
        [class.is-disabled]="disabledField"
        [attr.tabindex]="!!disabledField ? '-1' : null"
        [attr.disabled]="!!disabledField ? 'disabled' : null"
        [class.is-invalid]="!!error && !!touched"
        [class.is-valid]="success"
        [class.is-warning]="warning"
        notFoundText="Nenalezeny žádné záznamy"
        [searchFn]="customSearchFn">
        <ng-container *ngIf="templateTag">
            <ng-template
                ng-tag-tmp
                let-search="searchTerm">
                <ng-container *ngTemplateOutlet="templateTag"></ng-container>
                {{search}}
            </ng-template>
        </ng-container>
        <ng-template
            ng-option-tmp
            let-item="item"
            let-search="searchTerm">
            <div [ngOptionHighlight]="search">
                {{ item.label }}
            </div>
        </ng-template>
    </ng-select>
    <div
        *ngIf="!!appendButtonIcon"
        class="input-group-append">
        <button
            (click)="appendButtonAction.emit()"
            type="button"
            class="btn">
            <span
                class="icon"
                [ngClass]="appendButtonIcon">
            </span>
        </button>
    </div>
    <div
        *ngIf="!!subtext"
        class="input-subtext"
        [class.input-subtext--disabled]="!!disabledField">
        {{ subtext }}
    </div>
    <div
        *ngIf="!!getErrorMessage()"
        [innerHtml]="getErrorMessage()"
        class="invalid-feedback">
    </div>
</div>
