// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import '../field/field.component.variables.scss';

// Component variables
@import 'select.component.variables.scss';


.ng-select-custom {
	max-width: $input-width;
	padding-bottom: 0;
	margin-bottom: ( $spacer * 2 );

	.ng-select,
	.ng-select-opened {
		&.ng-select-focused {
			.ng-select-container {
				&::after {
					background-color: $primary;
				}
			}
		}
	}

	&.form-group {
		.ng-select {
			padding-bottom: 0;
		}

		&.ng-select-focused .ng-select-container {
			&::after {
				background-color: $primary;
			}
		}

		.ng-select-opened {
			.ng-select-container {
				&:hover {
					&::after {
						background-color: $input-focus-border-color;
					}
				}

				.ng-arrow-wrapper,
				.ng-clear-wrapper {
					color: $font-text;
				}
			}

			.ng-arrow-wrapper {
				&::before {
					transform: rotate(180deg);
				}
			}
		}

		.ng-select-container {
			height: $input-height;
			min-height: auto;
			background-color: $input-bg;
			border-radius: $input-border-radius;
			cursor: pointer;

			&::after {
				left: 0;
				bottom: 0;
				height: $input-border-width;
				background-color: $input-border-color;
				border: 0;
			}

			&:hover {
				&::after {
					background-color: $input-border-color-interactive;
				}

				.ng-arrow-wrapper,
				.ng-clear-wrapper {
					color: $font-text;
				}
			}

			&,
			&.ng-select-focused {
				.ng-value-container {
					align-items: center;
					height: $input-height;
					padding: $input-padding-y $input-padding-x;
					border: none;
				}

				.ng-value-container .ng-placeholder {
					left: 0;
					padding: 0 $spacer;
					color: $font-text;
					font-size: $input-font-size;
					transform: none;
					transition: none;
				}
			}

			.ng-value-container {
				.ng-input {
					top: 0;
					height: $input-height;
					padding: $input-padding-y $input-padding-x;
				}

				.ng-input > input {
					padding: 0;
					line-height: ( $input-height - ( $input-padding-y * 2 ));
					cursor: pointer;
				}
			}
		}

		.ng-select.ng-select-filtered,
		.ng-select .ng-has-value {
			.ng-placeholder {
				display: none;
			}
		}

		.ng-value,
		.ng-input,
		.ng-option {
			color: $input-color;
			font-size: $input-font-size;
		}

		&.ng-select-single .ng-select-container.ng-has-value .ng-arrow-wrapper {
			display: none;
		}

		.ng-select-single {
			.ng-arrow-wrapper,
			.ng-clear-wrapper {
				@include absolute-center(true, false);
				color: $input-border-color;
			}

			.ng-arrow-wrapper {
				width: 10px;
				height: 10px;

				&::before {
					content: '\e916';
					font-size: 10px;
				}
			}

			.ng-clear-wrapper {
				width: 15px;
				height: 15px;

				&:hover {
					&::before {
						color: $danger;
					}
				}

				&::before {
					content: '\e91b';
					font-size: 15px;
				}
			}
		}

		.ng-arrow-wrapper,
		.ng-clear-wrapper {
			&::before {
				@include icon;
				display: block;
			}
		}

		.ng-arrow-wrapper .ng-arrow,
		.ng-clear-wrapper .ng-clear {
			display: none;
		}

		.ng-arrow-wrapper {
			right: $input-padding-x;
			bottom: auto;
		}

		.ng-clear-wrapper {
			right: 40px;

			&:hover {
				&::before {
					color: $primary;
				}
			}
		}

		.ng-dropdown-panel {
			top: calc(100% + 10px);
			border-radius: $input-border-radius;
			box-shadow: none;
		}

		.ng-dropdown-panel-items {
			padding: ( $spacer / 2.5 ) 0;
			background-color: $input-bg;

			.ng-option {
				.highlighted {
					text-decoration: none;
				}
			}
		}

		.ng-option {
			&.ng-option-selected {
				background-color: $font-text;
				color: $white;

				&.ng-option-marked,
				&:hover {
					background-color: lighten($font-text, 5%);
				}
			}

			&.ng-option-marked,
			&:hover {
				background-color: darken($input-bg, 4%);
			}
		}
	}

	.is-invalid ~ .invalid-feedback {
		display: block;
	}
}

.input-subtext,
.invalid-feedback {
	margin-top: ( $spacer / 4 );
	font-size: $small-font-size;

	&--disabled {
		color: $input-disabled-color;
	}
}

.invalid-feedback {
	color: $danger;
}
