// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import '../field/field.component.variables.scss';

// Component variables
@import 'select.component.variables.scss';


.ng-select-custom {
	padding-bottom: 0;
	margin-bottom: ( $spacer * 2 );

	&.form-group {
		.ng-select {
			padding-bottom: 0;
		}

		&.ng-select-focused .ng-select-container {
			&::after {
				background-color: $primary;
			}
		}

		.ng-select-container {
			height: $input-height;
			background-color: $input-bg;
			border-radius: $input-border-radius;
			overflow: visible;
			cursor: pointer;

			&::after {
				left: 0;
				bottom: 0;
				height: $input-border-width;
				background-color: $input-border-color;
				border: 0;
			}

			&:hover {
				&::after {
					background-color: $input-border-color-interactive;
				}
			}

			&.ng-select-focused {
				&::after {
					background-color: $input-focus-border-color;
				}
			}

			&,
			&.ng-select-focused {
				.ng-value-container {
					align-items: center;
					height: $input-height;
					padding: $input-padding-y $input-padding-x;
					border: none;
				}

				.ng-value-container .ng-placeholder {
					top: -25px;
					left: 0;
					color: $font-text;
					font-size: $input-font-size;
					transform: none;
					transition: none;
				}
			}
		}

		&.ng-select-single .ng-select-container.ng-has-value .ng-arrow-wrapper {
			display: none;
		}

		.ng-select-single {
			.ng-arrow-wrapper,
			.ng-clear-wrapper {
				@include absolute-center(true, false);
				width: 10px;
				height: 10px;
			}

			.ng-arrow-wrapper {	
				&::before {
					content: '\e916';
				}
			}

			.ng-clear-wrapper {
				&::before {
					content: '\e915';
				}
			}
		}

		.ng-arrow-wrapper,
		.ng-clear-wrapper {
			&::before {
				@include icon;
				display: block;
				font-size: 10px;
			}
		}

		.ng-arrow-wrapper .ng-arrow,
		.ng-clear-wrapper .ng-clear {
			display: none;
		}

		.ng-arrow-wrapper {
			right: $input-padding-x;
			bottom: auto;
		}

		.ng-clear-wrapper {
			right: 40px;

			&:hover {
				&::before {
					color: $primary;
				}
			}
		}

		.ng-dropdown-panel {
			top: 100%;
			box-shadow: none;
		}

		.ng-dropdown-panel-items {
			background-color: $input-bg;
		}

		.ng-option {

			&.ng-option-selected {
				background-color: $white;
				color: #393939;
			}

			&.ng-option-marked,
			&:hover {
				background-color: $primary;
				color: $white;
			}
		}
	}
}