// Core component import
@use 'sass:math';

@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import '../field/field.component.variables.scss';

// Component variables
@import 'select.component.variables.scss';

.ng-select-custom {
	max-width: $input-width;
	padding-bottom: 0;
	margin-bottom: ( $spacer * 2 );

	.ng-select-label {
		margin-bottom: ( $spacer * .25 );
		font-size: $input-font-size;
		cursor: pointer;
	}

	.ng-select {
		width: 100%;
	}

	.ng-select:not(.is-disabled),
	.ng-select-opened {
		//todo
		&.ng-select-focused .ng-select-container,
		&.focus .ng-select-container {
			&,
			&:hover {
				&::after {
					background-color: $input-focus-border-color;
				}
			}
		}
	}

	&.form-group {
		.ng-select {
			padding-bottom: 0;
		}

		.ng-select:not(.is-disabled) .ng-select-container {
			&,
			.ng-input > input {
				cursor: pointer;
			}

			&:hover {
				&::after {
					background-color: $input-border-color-interactive;
				}

				.ng-arrow-wrapper,
				.ng-clear-wrapper {
					color: $input-color;
				}
			}
		}

		.ng-select-container {
			height: $input-height;
			min-height: auto;
			background-color: $input-bg;
			border-radius: $input-border-radius;

			&::after {
				//todo
				left: 0;
				bottom: 0;
				height: $input-border-width;
				background-color: $input-border-color;
				border: 0;
			}

			.ng-placeholder,
			.ng-value,
			.ng-input > input {
				line-height: (
					$input-height - ($input-padding-y * 2) - $input-border-width
				);
			}

			.ng-value-container {
				.ng-input {
					top: 0;
					height: $input-height;
					padding: $input-padding-y $input-padding-x
						$select-input-padding-bottom;
				}

				.ng-input > input {
					height: 100%;
					padding: 0;
				}
			}

			&,
			&.ng-select-focused {
				.ng-value-container {
					align-items: center;
					height: $input-height;
					padding: $input-padding-y $select-value-padding-right
						$select-input-padding-bottom $input-padding-x;
					border: none;
				}

				.ng-value-container .ng-placeholder {
					top: 5px;
					left: 0;
					padding: 0 $spacer;
					color: rgba($input-color, .5);
					transform: none;
					transition: none;
				}
			}

			.ng-arrow-wrapper,
			.ng-clear-wrapper {
				@include absolute-center(true, false);
				color: $input-border-color;

				&::before {
					@include icon;
					display: block;
				}
			}

			.ng-arrow-wrapper {
				width: $select-arrow-size;
				height: $select-arrow-size;
				right: $input-padding-x;
				bottom: auto;

				&::before {
					content: '\e916';
					font-size: $select-arrow-size;
				}
			}

			.ng-clear-wrapper {
				&::before {
					content: '\e91b';
					font-size: $select-clear-size;
				}
			}
		}

		.ng-value,
		.ng-placeholder,
		.ng-input,
		.ng-option {
			color: $input-color;
			font-size: $input-font-size;
		}

		.ng-clear-wrapper {
			right: $select-clear-right;
			width: $select-clear-size;
			height: $select-clear-size;

			&:hover {
				&::before {
					color: $danger;
				}
			}
		}

		.ng-select.ng-select-filtered,
		.ng-select .ng-has-value {
			.ng-placeholder {
				display: none;
			}
		}

		.ng-select-opened .ng-select-container {
			.ng-arrow-wrapper,
			.ng-clear-wrapper {
				color: $input-color;
			}

			.ng-arrow-wrapper::before {
				transform: rotate(180deg);
			}
		}

		.ng-arrow-wrapper .ng-arrow,
		.ng-clear-wrapper .ng-clear {
			display: none;
		}

		.ng-dropdown-panel {
			top: calc(100% + 10px);
			box-shadow: none;
		}

		.ng-dropdown-panel-items {
			padding: math.div( $spacer, 2.5 ) 0;
			max-height: $select-dropdown-panel-height;
			background-color: $input-bg;
			border-radius: $input-border-radius;
			box-shadow: 0 0 10px 0 rgba($black, .09);

			.ng-option {
				.highlighted {
					color: $input-color;
					font-weight: 400;
					text-decoration: none;
				}

				&.ng-option-selected .highlighted {
					color: $white;
				}
			}
		}

		.ng-select-filtered {
			.ng-option {
				color: $gray-200;
			}
		}

		.ng-option {
			padding: ( $spacer * .5 ) $input-padding-x;
			line-height: $line-height-sm;

			&.ng-option-selected {
				background-color: $font-text;
				color: $white;

				&.ng-option-marked,
				&:hover {
					background-color: lighten($font-text, 5%);
				}
			}

			&.ng-option-marked,
			&:hover {
				background-color: darken($input-bg, 4%);
			}
		}

		.ng-option-disabled {
			cursor: default;
			pointer-events: none;
		}
	}

	.is-invalid ~ .invalid-feedback {
		display: block;
	}

	// Error state
	.is-invalid {
		& {
			.ng-select-container {
				&::after {
					background-color: $danger;
				}
			}

			.ng-select-container:hover {
				&::after {
					background-color: $input-color-interactive-invalid;
				}
			}
		}

		&.ng-select-focused ~ .invalid-feedback {
			display: none;
		}
	}

	.is-disabled {
		.ng-select-container {
			&:after {
				background-image: none;
			}
		}
	}

	// Address whisperer
	&--address {
		&.form-group {
			.ng-select-container {
				.ng-arrow-wrapper {
					display: none;
				}

				.ng-clear-wrapper {
					right: 20px;
				}

				.ng-value-container {
					position: relative;
					padding-right: ($input-padding-x + $select-clear-size);
				}

				.ng-value-container::after {
					content: '';
					position: absolute;
					top: 0;
					right: ($input-padding-x + $select-clear-size);
					width: 50px;
					height: 100%;
					background: linear-gradient(
						90deg,
						rgba($input-bg, 0) 0,
						$input-bg 100%
					);
				}
			}

			.ng-dropdown-panel-items {
				max-height: 100%;
			}
		}

		.ng-select-opened {
			.ng-dropdown-panel {
				display: none;
			}

			&.ng-select-filtered {
				.ng-dropdown-panel {
					display: block;
				}
			}
		}

		.option-address {
			display: block;
		}
	}
}
