# Declare files that will always have LF line endings on checkout.
* text eol=lf

# These files are text and should be normalized (Convert crlf => lf)
*.sh         text eol=lf
Dockerfile*  text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.webm binary
*.mp4 binary
*.jpg binary
*.gif binary
*.zip binary
*.ttf binary
*.woff binary
*.pdf binary
*.jar binary
*.xlsx binary
