registry=https://registry.npmjs.org/
@lnd:registry=https://nexus.lnd.bz/repository/npm-repository/
//nexus.lnd.bz/repository/npm-repository/:username=deployer
//nexus.lnd.bz/repository/npm-repository/:_password=V0g5NjNvYzVEVHBVR2pSeA==
