<pxe-layout-container pageTitle="Vaše žádosti">
    <lnd-placeloader [loading]="loadingRequests && !globalError.length"></lnd-placeloader>
    <div class="row">
        <div class="col-12 col-md-12">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <ng-container *ngIf="state">
        <lnd-info-banner
            *ngIf="state == overviewStates.NO_REQUEST"
            [bannerTitle]="'Momentálně nemáte žádné rozpracované žádosti'"
            [bannerDescription]="'Zadejte odběrné místo a my vám hned dáme nabídky'"
            [buttonLabel]="'Nové odběrné místo'"
            (buttonAction)="createSupplyPoint($event)"
        ></lnd-info-banner>
        <lnd-info-banner
            *ngIf="state == overviewStates.NO_REQUEST_WITH_VALID_CONTRACT"
            [bannerType]="BANNER_TYPE_ACCEPTED"
            [bannerTitle]="'Momentálně nemáte žádné rozpracované žádosti'"
            [bannerDescription]="'Všechna zadaná odběrná místa mají pokrytou dodávku na déle než 3 měsíce.<br> Pokud máte nové odběrné místo, můžete založit žádost pro novou dodávku.'"
            [buttonLabel]="'Nová žádost'"
            (buttonAction)="createSupplyPoint($event)"
        ></lnd-info-banner>
        <ng-container *ngIf="state == overviewStates.SOME_SUPPLY_POINTS_ARE_ENDING ">
            <lnd-info-banner
                [bannerTitle]="'Momentálně nemáte žádné rozpracované žádosti'"
                bannerDescription="Ale pro {{supplyPoints.length === 1 ? 'toto odběrné místo' : 'tato odběrná místa'}} konční v následujcích 2 měsích dodávka energie"
                [showButton]="false"
            ></lnd-info-banner>
            <lnd-banner-ui
                *ngFor="let supplyPoint of supplyPoints"
                [data]="{
                    linkType: '',
                    linkValue: '',
                    linkData: 'Nová poptávka',
                    text: supplyPoint.name + ' - ' + 'můžeme získat již od ' + (supplyPoint.contract.offer.mountlyPaymentPrice | number) + ' Kč',
                    title: ''
                }"
                buttonLabel="Nová poptávka"
            ></lnd-banner-ui>
        </ng-container>
        <ng-container *ngIf="state == overviewStates.REQUESTS">
            <div class="row mb-5">
                <div class="col text-center">
                    <lnd-button
                        label="Nová žádost"
                        type="secondary"
                        (action)="newRequestAction($event)"
                    ></lnd-button>
                </div>
            </div>
            <pxe-request-card
                *ngFor="let supplyPoint of supplyPoints"
                [supplyPoint]="supplyPoint"
                (action)="completeRequestAction(supplyPoint)">
            </pxe-request-card>
        </ng-container>
    </ng-container>
</pxe-layout-container>
