<form
    [formGroup]="form"
    (keydown)="resetCustomFieldError()"
    (change)="resetCustomFieldError()"
    autocomplete="off"
    class="form-container">
    <lnd-form-field
        [error]="formError.companyName || form.controls.companyName.errors"
        [formControl]="form.controls.companyName"
        [id]="'company-name'"
        label="Název společnosti"
        [success]="form.controls.companyName.valid && (form.controls.companyName.touched || formError.companyName)"
        [touched]="form.controls.companyName.touched || formError.companyName"
        [validationMessages]="formFields.validationMessages.companyName"
    ></lnd-form-field>
    <lnd-form-field
        [error]="formError.email || form.controls.email.errors"
        [formControl]="form.controls.email"
        [id]="'email'"
        label="E-mail"
        [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
        [touched]="form.controls.email.touched || formError.email"
        [validationMessages]="formFields.validationMessages.email"
    ></lnd-form-field>
    <lnd-form-field
        [error]="formError.numericalSeriesPrefix || form.controls.numericalSeriesPrefix.errors"
        [formControl]="form.controls.numericalSeriesPrefix"
        [id]="'numerical-series-prefix'"
        label="Číselná řada prefix"
        [success]="form.controls.numericalSeriesPrefix.valid && (form.controls.numericalSeriesPrefix.touched || formError.numericalSeriesPrefix)"
        [touched]="form.controls.numericalSeriesPrefix.touched || formError.numericalSeriesPrefix"
        [validationMessages]="formFields.validationMessages.numericalSeriesPrefix"
    ></lnd-form-field>
    <lnd-form-field
        [error]="formError.numericalSeries || form.controls.numericalSeries.errors"
        [formControl]="form.controls.numericalSeries"
        [id]="'numerical-series'"
        label="Číselná řada"
        [success]="form.controls.numericalSeries.valid && (form.controls.numericalSeries.touched || formError.numericalSeries)"
        [touched]="form.controls.numericalSeries.touched || formError.numericalSeries"
        [validationMessages]="formFields.validationMessages.numericalSeries"
    ></lnd-form-field>
    <lnd-form-field
        [error]="formError.numericalSeriesSufix || form.controls.numericalSeriesSufix.errors"
        [formControl]="form.controls.numericalSeriesSufix"
        [id]="'numerical-series-sufix'"
        label="Číselná řada sufix"
        [success]="form.controls.numericalSeriesSufix.valid && (form.controls.numericalSeriesSufix.touched || formError.numericalSeriesSufix)"
        [touched]="form.controls.numericalSeriesSufix.touched || formError.numericalSeriesSufix"
        [validationMessages]="formFields.validationMessages.numericalSeriesSufix"
    ></lnd-form-field>
    <div class="text-center">
        <lnd-button
            type="primary"
            (action)="submitForm($event)"
            label="Uložit">
        </lnd-button>
    </div>
</form>
