<form
    [formGroup]="form"
    class="form-container"
    autocomplete="off"
    (keydown)="resetCustomFieldError()"
    (keydown.enter)="submitForm($event);false">
    <div *ngIf="formSent && !isPublic"
         class="row">
        <div class="col">
            <lnd-alert type="info"
                       hasIcon="true">
                Změny byly úspěšně uloženy
            </lnd-alert>
        </div>
    </div>
    <lnd-form-field
        *ngIf="!isPublic"
        [error]="formError.currentPassword || form.controls.currentPassword.errors"
        [formControl]="form.controls.currentPassword"
        [customFormGroupClass]="isPublic ? 'form-group--public' : ''"
        [lightField]="isPublic ? true : false"
        [id]="'currentPassword'"
        label="Současné heslo"
        type="PASSWORD"
        [success]="form.controls.currentPassword.valid && (form.controls.currentPassword.touched || formError.currentPassword)"
        [touched]="form.controls.currentPassword.touched || formError.currentPassword"
        [validationMessages]="formFields.validationMessages.currentPassword"
    ></lnd-form-field>
    <lnd-form-field
        [error]="form.controls.password.errors"
        [customFormGroupClass]="isPublic ? 'form-group--public' : ''"
        [formControl]="form.controls.password"
        [lightField]="isPublic ? true : false"
        [id]="'password'"
        label="Nové heslo"
        type="PASSWORD"
        [success]="form.controls.password.valid && form.controls.password.touched"
        [touched]="form.controls.password.touched"
        [validationMessages]="formFields.validationMessages.password"
    ></lnd-form-field>
    <lnd-form-field
        [error]="form.controls.confirmPassword.errors"
        [lightField]="isPublic ? true : false"
        [formControl]="form.controls.confirmPassword"
        [customFormGroupClass]="isPublic ? 'form-group--public' : ''"
        [id]="'confirmPassword'"
        label="Potvrďte nové heslo"
        [success]="form.controls.confirmPassword.valid && form.controls.confirmPassword.touched"
        type="PASSWORD"
        [touched]="form.controls.confirmPassword.touched"
        [validationMessages]="formFields.validationMessages.confirmPassword"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            *ngIf="isPublic"
            type="gradient-primary"
            class="w-100"
            customClass="btn-public btn--icon-right w-100"
            [submit]="true"
            (action)="submitForm($event)"
            [isDisabled]="!!formLoading"
            label="Změnit heslo"
            icon="icon--arrow-right"
            iconPosition="right">
        </lnd-button>
        <lnd-button
            *ngIf="!isPublic"
            type="primary"
            [submit]="true"
            (action)="submitForm($event)"
            [isDisabled]="!!formLoading"
            label="Změnit heslo">
        </lnd-button>
    </div>
</form>
