<lnd-alert
    *ngIf="globalError.length"
    type="danger">
    <ng-container *ngFor="let error of globalError">
        {{ error }}<br>
    </ng-container>
</lnd-alert>
<form
    [formGroup]="form"
    class="form-container"
    autocomplete="off"
    (keydown)="resetCustomFieldError()">
    <lnd-form-field
        [error]="form.controls.password.errors"
        [formControl]="form.controls.password"
        [id]="'user.ts'"
        label="Nové heslo"
        type="PASSWORD"
        [success]="form.controls.password.valid && form.controls.password.touched"
        [touched]="form.controls.password.touched"
        [validationMessages]="formFields.validationMessages.password"
    ></lnd-form-field>
    <lnd-form-field
        [error]="form.controls.confirmPassword.errors"
        [formControl]="form.controls.confirmPassword"
        [id]="'confirmPassword'"
        label="Potvrďte nové heslo"
        [success]="form.controls.confirmPassword.valid && form.controls.confirmPassword.touched"
        type="PASSWORD"
        [touched]="form.controls.confirmPassword.touched"
        [validationMessages]="formFields.validationMessages.confirmPassword"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="!!formLoading"
            label="Změnit heslo">
        </lnd-button>
    </div>
</form>
