<ng-template #hrefToSecuringTemplate>
    Souhlasím se
    <a href="javascript: void(0);">
        <span (click)="handleCustomAction($event)">
           zásadami bezpečnosti
        </span>
    </a>
</ng-template>

<div class="section stay-in-touch">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3 col-lg-4 offset-lg-4">
                <div class="px-3 px-md-0">
                    <ng-container *ngIf="!formSent">
                        <h3 class="h3--public">
                            Chci mít také přístup k&nbsp;jiným cenám, možnost&nbsp;měnit dodavatele jen na&nbsp;jedno kliknutí a&nbsp;zbavit se starostí s&nbsp;převodem.
                        </h3>
                        <lnd-alert
                            *ngIf="globalError.length"
                            type="danger">
                            <ng-container *ngFor="let error of globalError">
                                {{ error }}<br>
                            </ng-container>
                        </lnd-alert>
                        <form
                            [formGroup]="form"
                            (keydown)="resetCustomFieldError()"
                            (change)="resetCustomFieldError()"
                            autocomplete="off">
                            <lnd-form-field
                                [error]="formError.email || form.controls.email.errors"
                                [formControl]="form.controls.email"
                                [id]="'email'"
                                label="E-mail"
                                [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
                                [touched]="form.controls.email.touched || formError.email"
                                [validationMessages]="formFields.validationMessages.email"
                                [lightField]="true"
                            ></lnd-form-field>
                            <lnd-form-field
                                [error]="formError.consent || form.controls.consent.errors"
                                [formControl]="form.controls.consent"
                                [id]="'consent'"
                                label=""
                                [labelTemplate]="hrefToSecuringTemplate"
                                [success]="form.controls.consent.valid && (form.controls.consent.touched || formError.consent)"
                                [touched]="form.controls.consent.touched || formError.consent"
                                [type]="'CHECKBOX'"
                                [validationMessages]="formFields.validationMessages.consent"
                            ></lnd-form-field>
                            <lnd-button
                                type="primary"
                                (action)="submitForm()"
                                [isDisabled]="!!formLoading"
                                label="Odeslat">
                            </lnd-button>
                        </form>
                    </ng-container>
                    <ng-container *ngIf="formSent">
                        <img
                            class="mb-2"
                            width="122"
                            height="129"
                            src="/assets/images/illustrations/mail-letter.svg"
                            title="Děkujeme za váš zájem"
                            alt="Děkujeme za váš zájem">
                        <h3 class="h3--public mb-0">
                            Děkujeme za váš zájem.<br>
                            Hned jak službu spustíme, tak se vám ozveme.
                        </h3>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
