<div class="container-fluid">
    <div class="container-content">
        <pxe-layout-container pageTitle="Podmínky užívání" [breadcrumbItemsSimple]="breadcrumbItemsSimple">
            <ul class="text-center link-list">
                <li class="link-list__item">
                    <span class="link-list__link cursor-pointer"
                       [class.link-list__link--active]="commodityType == 'power'"
                       (click)="routeToCommodityType('power')">
                        Elektřina
                    </span>
                </li>
                <li class="link-list__item">
                    <span class="link-list__link cursor-pointer"
                        routerLinkActive="link-list__link--active"
                        [class.link-list__link--active]="commodityType == 'gas'"
                        (click)="routeToCommodityType('GAS')">
                        Plyn
                    </span>
                </li>
            </ul>
            <ul class="text-center link-list">
                <li class="link-list__item">
                    <span class="link-list__link cursor-pointer"
                          routerLinkActive="link-list__link--active"
                          [class.link-list__link--active]="subjectType == '1'"
                          (click)="routeToSubjectType('1')">
                           Domácnost
                    </span>
                </li>
                <li class="link-list__item">
                    <span class="link-list__link cursor-pointer"
                        routerLinkActive="link-list__link--active"
                        [class.link-list__link--active]="subjectType == '2'"
                        (click)="routeToSubjectType('2')">
                         Firma
                    </span>
                </li>
            </ul>
            <div class="row mt-2">
                <div class="col-md-12 col-lg-8 offset-lg-2">
                    <embed class="col-lg-12"  height="900px" [src]="'/assets/images/123.pdf' | safe" type="application/pdf" />
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
