<div class="container-fluid container-fluid--max-width">
    <div class="container-content">
        <pxe-layout-container pageTitle="Vzory smluv o dodávce" [breadcrumbItemsSimple]="breadcrumbItemsSimple">
            <div class="row">
                <div class="col-12">
                    <ul class="text-center link-list">
                        <li class="link-list__item">
                            <a class="link-list__link"
                                href="#"
                                [class.link-list__link--active]="subjectType == SUBJECT_TYPE.INDIVIDUAL"
                                (click)="routeToSubjectType($event, SUBJECT_TYPE.INDIVIDUAL)">
                                Domácnost
                            </a>
                        </li>
                        <li class="link-list__item">
                            <a class="link-list__link"
                                href="#"
                                [class.link-list__link--active]="subjectType == SUBJECT_TYPE.BUSINESSMAN"
                                (click)="routeToSubjectType($event, SUBJECT_TYPE.BUSINESSMAN)">
                                Firma
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 mb-2">
                    <ul class="text-center link-list">
                        <li class="link-list__item">
                            <a class="link-list__link"
                                href="#"
                                [class.link-list__link--active]="commodityType == COMMODITY_TYPE.POWER"
                                (click)="routeToCommodityType($event, COMMODITY_TYPE.POWER)">
                                Elektřina
                            </a>
                        </li>
                        <li class="link-list__item">
                            <a class="link-list__link"
                                href="#"
                                [class.link-list__link--active]="commodityType == COMMODITY_TYPE.GAS"
                                (click)="routeToCommodityType($event, COMMODITY_TYPE.GAS)">
                                Plyn
                            </a>
                        </li>
                    </ul>
                </div>
                <div
                    class="col-md-12 col-lg-10 offset-lg-1 pdf-holder pdf-holder--large px-4">
                    <ng2-pdfjs-viewer
                        #ng2PdfJsViewer
                        [openFile]="false"
                        [viewBookmark]="false"
                        zoom="page-width">
                    ></ng2-pdfjs-viewer>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
