<pxe-layout-container pageTitle="Nové odběrné místo">
    <div class="row mb-6">
        <div class="col-12 col-xl-10 offset-xl-1">
            <pxe-progress-bar [config]="stepperProgressConfig"></pxe-progress-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1 text-center">
            <h2>Zadejte údaje k odběrnému místu</h2>
        </div>
        <div class="col-12 col-xl-10 offset-xl-1">
            <div class="page-box">
                <pxe-supply-point-form
                    [formFields]="formFields"
                    [formLoading]="formLoading"
                    [formSent]="formSent"
                    [globalError]="globalError"
                    [fieldError]="fieldError"
                    (submitAction)="submitSupplyForm($event)"
                ></pxe-supply-point-form>
            </div>
        </div>
    </div>
</pxe-layout-container>
