<lnd-alert
    *ngIf="globalError.length"
    type="danger">
    <ng-container *ngFor="let error of globalError">
        {{ error }}<br>
    </ng-container>
</lnd-alert>
<form
    [formGroup]="form"
    (keydown)="resetCustomFieldError()"
    (change)="resetCustomFieldError()"
    autocomplete="off">

    <div class="row">
        <div *ngIf="form.controls.name.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-form-field
                    [error]="formError.name || form.controls.name.errors"
                    [formControl]="form.controls.name"
                    [id]="'name'"
                    label="Název produktu"
                    [success]="form.controls.name.valid && (form.controls.name.touched || formError.name)"
                    [touched]="form.controls.name.touched || formError.name"
                    [validationMessages]="formFields.validationMessages.name"
                    [value]="form.controls.name.value"
            ></lnd-form-field>
        </div>
    </div>
    <div class="row">
        <div *ngIf="form.controls.subjectTypeId.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-select
                    [error]="formError.subjectTypeId || form.controls.subjectTypeId.errors"
                    label="Odběratel"
                    [options]="subjectTypeOptions"
                    [parentForm]="form"
                    [selectName]="'subjectTypeId'"
                    [success]="form.controls.subjectTypeId.valid && (form.controls.subjectTypeId.touched || formError.subjectTypeId)"
                    [touched]="form.controls.subjectTypeId.touched || formError.subjectTypeId"
                    [validationMessages]="formFields.validationMessages.subjectTypeId">
            </lnd-select>
        </div>
        <div *ngIf="form.controls.distributionLocation.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-select
                    [error]="formError.distributionLocation || form.controls.distributionLocation.errors"
                    label="Distribuční umístění"
                    [options]="codeLists && codeLists[distributionLocationType]"
                    [parentForm]="form"
                    [selectName]="'distributionLocation'"
                    [success]="form.controls.distributionLocation.valid && (form.controls.distributionLocation.touched || formError.distributionLocation)"
                    [touched]="form.controls.distributionLocation.touched || formError.distributionLocation"
                    [validationMessages]="formFields.validationMessages.distributionLocation">
            </lnd-select>
        </div>
        <div *ngIf="form.controls.distributionRateId.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-select
                    [error]="formError.distributionRateId || form.controls.distributionRateId.errors"
                    label="Distribučná sazba"
                    [options]="codeLists && codeLists[distributionRateType]"
                    [parentForm]="form"
                    [selectName]="'distributionRateId'"
                    [success]="form.controls.distributionRateId.valid && (form.controls.distributionRateId.touched || formError.distributionRateId)"
                    [touched]="form.controls.distributionRateId.touched || formError.distributionRateId"
                    [validationMessages]="formFields.validationMessages.distributionRateId">
            </lnd-select>
        </div>
        <div *ngIf="form.controls.circuitBreakerId.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-select
                    [error]="formError.circuitBreakerId || form.controls.circuitBreakerId.errors"
                    label="Jistič"
                    [options]="codeLists && codeLists['JISTIC']"
                    [parentForm]="form"
                    [selectName]="'circuitBreakerId'"
                    [success]="form.controls.circuitBreakerId.valid && (form.controls.circuitBreakerId.touched || formError.circuitBreakerId)"
                    [touched]="form.controls.circuitBreakerId.touched || formError.circuitBreakerId"
                    [validationMessages]="formFields.validationMessages.circuitBreakerId">
            </lnd-select>
        </div>
        <div *ngIf="form.controls.deliveryLength.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-select
                    [error]="formError.deliveryLength || form.controls.deliveryLength.errors"
                    label="Délka dodávky"
                    [options]="deliveryLengthOptions"
                    [parentForm]="form"
                    [selectName]="'deliveryLength'"
                    [success]="form.controls.deliveryLength.valid && (form.controls.deliveryLength.touched || formError.deliveryLength)"
                    [touched]="form.controls.deliveryLength.touched || formError.deliveryLength"
                    [validationMessages]="formFields.validationMessages.deliveryLength">
            </lnd-select>
        </div>
        <div *ngIf="form.controls.annualConsumptionId.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-select
                    [error]="formError.annualConsumptionId || form.controls.annualConsumptionId.errors"
                    label="Spotřeba"
                    [options]="codeLists && codeLists['CGAS']"
                    [parentForm]="form"
                    [selectName]="'annualConsumptionId'"
                    [success]="form.controls.annualConsumptionId.valid && (form.controls.annualConsumptionId.touched || formError.annualConsumptionId)"
                    [touched]="form.controls.annualConsumptionId.touched || formError.annualConsumptionId"
                    [validationMessages]="formFields.validationMessages.annualConsumptionId">
            </lnd-select>
        </div>
        <div *ngIf="form.controls.priceVT.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-form-field
                    appendText="kWh/Kč"
                    [error]="formError.priceVT || form.controls.priceVT.errors"
                    [formControl]="form.controls.priceVT"
                    [id]="'priceVT'"
                    label="Cena za VT"
                    [success]="form.controls.priceVT.valid && (form.controls.priceVT.touched || formError.priceVT)"
                    [touched]="form.controls.priceVT.touched || formError.priceVT"
                    [validationMessages]="formFields.validationMessages.priceVT"
                    [value]="form.controls.priceVT.value"
            ></lnd-form-field>
        </div>
        <div *ngIf="form.controls.priceNT.status !== 'DISABLED' || commodityType === COMMODITY_TYPE_POWER"
             class="col-4 col-xl-3">
            <lnd-form-field
                    appendText="kWh/Kč"
                    [disabledField]="form.controls.priceNT.status === 'DISABLED'"
                    [error]="formError.priceNT || form.controls.priceNT.errors"
                    [formControl]="form.controls.priceNT"
                    [id]="'priceNT'"
                    label="Cena za NT"
                    [success]="form.controls.priceNT.valid && (form.controls.priceNT.touched || formError.priceNT)"
                    [touched]="form.controls.priceNT.touched || formError.priceNT"
                    [validationMessages]="formFields.validationMessages.priceNT"
                    [value]="form.controls.priceNT.value"
            ></lnd-form-field>
        </div>
        <div *ngIf="form.controls.priceGas.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-form-field
                    appendText="kWh/Kč"
                    [error]="formError.priceGas || form.controls.priceGas.errors"
                    [formControl]="form.controls.priceGas"
                    [id]="'priceGas'"
                    label="Cena"
                    [success]="form.controls.priceGas.valid && (form.controls.priceGas.touched || formError.priceGas)"
                    [touched]="form.controls.priceGas.touched || formError.priceGas"
                    [validationMessages]="formFields.validationMessages.priceGas"
                    [value]="form.controls.priceGas.value"
            ></lnd-form-field>
        </div>
        <div *ngIf="form.controls.validFromTo.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-datepicker-range
                    [datepickerName]="'validFromTo'"
                    [error]="formError.validFromTo || form.controls.validFromTo.errors"
                    id="validFromTo"
                    label="Platnost"
                    [parentForm]="form"
                    [placeholder]="'dd.mm.rrrr'"
                    [minDate]="minDate"
                    [success]="form.controls.validFromTo.valid && (form.controls.validFromTo.touched || formError.validFromTo)"
                    [touched]="form.controls.validFromTo.touched || formError.validFromTo"
                    [validationMessages]="formFields.validationMessages.validFromTo"
            >
            </lnd-datepicker-range>
        </div>
        <div *ngIf="form.controls.deliveryFromTo.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-datepicker-range
                    [datepickerName]="'deliveryFromTo'"
                    [error]="formError.deliveryFromTo || form.controls.deliveryFromTo.errors"
                    id="deliveryFromTo"
                    label="Dodávkové období"
                    [parentForm]="form"
                    [placeholder]="'dd.mm.rrrr'"
                    [minDate]="minDate"
                    [success]="form.controls.deliveryFromTo.valid && (form.controls.deliveryFromTo.touched || formError.deliveryFromTo)"
                    [touched]="form.controls.deliveryFromTo.touched || formError.deliveryFromTo"
                    [validationMessages]="formFields.validationMessages.deliveryFromTo"
            >
            </lnd-datepicker-range>
        </div>
        <div *ngIf="form.controls.permanentPaymentPrice.status !== 'DISABLED'"
             class="col-4 col-xl-3">
            <lnd-form-field
                    *ngIf="form.controls.permanentPaymentPrice.status !== 'DISABLED'"
                    appendText="Kč"
                    [error]="formError.permanentPaymentPrice || form.controls.permanentPaymentPrice.errors"
                    [formControl]="form.controls.permanentPaymentPrice"
                    [id]="'permanentPaymentPrice'"
                    label="Stálá platba - cena"
                    [success]="form.controls.permanentPaymentPrice.valid && (form.controls.permanentPaymentPrice.touched || formError.permanentPaymentPrice)"
                    [touched]="form.controls.permanentPaymentPrice.touched || formError.permanentPaymentPrice"
                    [validationMessages]="formFields.validationMessages.permanentPaymentPrice"
                    [value]="form.controls.permanentPaymentPrice.value"
            ></lnd-form-field>
        </div>
    </div>
    <div class="row">
        <ng-container *ngFor="let benefit of benefitsFormArray.controls; let i = index"
                      formArrayName="benefits">
            <ng-container [formGroupName]="i">
                <div class="col-4 col-xl-3">
                    <lnd-form-field
                            formControlName="benefit"
                            [id]="'benefit' + i"
                            [label]="'Benefit ' + (i + 1)"
                            [value]="benefit.value.benefit"
                    ></lnd-form-field>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="row">
        <div class="col text-right">
            <lnd-button
                    *ngIf="showCancel"
                    type="link"
                    label="Storno"
                    customClass="mr-5"
                    [isDisabled]="formLoading"
                    (action)="customAction.emit()"
            ></lnd-button>
            <lnd-button
                    type="primary"
                    label="Uložit"
                    [isDisabled]="formLoading"
                    (action)="submitForm()"
            ></lnd-button>
        </div>
    </div>
</form>
