/*
 -  Accordion
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.accordion-benefit {
	display: flex;
	flex-direction: column;
	margin-bottom: ( $spacer / 2 );
	background-color: $white;

	// Media queries
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__toggle {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: ( $spacer / 1.5 ) ( $spacer / .75 ) ( $spacer / 1.5 ) ( $spacer / 2 );
		color: $primary;
		border-bottom: 1px solid $border-color;

		// Media queries
		@include media-breakpoint-up(md) {
			display: inline-flex;
			order: 1;
		}

		&:focus,
		&:hover {
			color: $font-text;
			cursor: pointer;
		}

		// Media queries
		@include media-breakpoint-up(md) {
			border-bottom: none;
		}

		&--active {
			color: $font-text;
			font-weight: 700;
			border-color: none;

			& + .accordion-benefit__content {
				display: block;
			}
		}
	}

	&__toggle-icon {
		position: absolute;
		top: 50%;
		right: 0;
		padding: 0 ( $spacer / 2 );
		font-size: $icon-size-small;
		transform: translateY(-50%);

		// Media queries
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	&__content {
		position: relative;
		display: none;
		width: 100%;
		padding: ( $spacer / 2 );
		margin-bottom: ( $spacer / 3 );

		// Media queries
		@include media-breakpoint-up(md) {
			padding-right: ( $spacer * 2.75 );
			border-top: 1px solid $border-color;
			order: 2;
		}

		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__content-close {
		display: none;

		// Media queries
		@include media-breakpoint-up(md) {
			display: block;
			overflow: hidden;
			float: none;
			position: absolute;
			top: 0;
			right: 0;
			width: $icon-size-px * 2;
			height: $icon-size-px * 2;
			line-height: $icon-size-px * 2;
			@include reset-pa-ma;
			font-family: $font-family-sans-serif;
			color: $body-color;
			font-size: ( $icon-size-px * 1.5 );
			z-index: $zindex-modal;
		}
	}

	&--active {
		.accordion-benefit__content {
			display: block;

			// Media queries
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
			}
		}

		.accordion-benefit__toggle-icon {
			transform: translateY(-50%) rotate(180deg);
		}
	}
}
