<div class="accordion-benefit">
    <ng-container *ngFor="let item of accordionItems; let i = index">
        <div 
            class="accordion-benefit__toggle"
            [class.accordion-benefit__toggle--active]="item.isActive"
            (click)="setActive(i)">
            <span [innerHTML]="item.label"></span>
            <span class="
                        icon
                        icon--arrow-minimal-down
                        accordion-benefit__toggle-icon"></span>
        </div>
        <div class="accordion-benefit__content">
            <lnd-button
                icon="icon--close"
                variant="icon"
                type="icon"
                class="close accordion-benefit__content-close"
                (action)="toggleBenefitContent($event)">
            </lnd-button>
            <ng-container *ngTemplateOutlet="accordionContentTemplate || defaultTemplate; context: { $implicit: item.data }">
            </ng-container>
        </div>
    </ng-container>
</div>
