/*
 -  Carousel supplier
 -
 - stylelint-disable for rewrite library
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.carousel-suppliers {
	.carousel {
		.carousel-item {
			position: static;
			margin-right: 0;
		}

		.carousel-control {
			width: 10%;
		}
	}
}
