<ng-template #slideTemplate let-item>
    <div class="row text-center" [style.height.px]="height">
        <div class="col-12 text-center">
            <img
                [src]="item.logoUrl"
                [title]="item.title"
                [alt]="item.alt"
                [height]="height">
        </div>
    </div>
</ng-template>

<div *ngIf="showCarousel"
    class="carousel-suppliers">
    <lnd-carousel
        [carouselItems]="config"
        customSlideWrapper="col-10 offset-1"
        [itemsPerSlide]="numberOfSlides"
        [singleSlideOffset]="true"
        [showIndicators]="false"
        [showLeftAndRightIndicators]="true"
        [slideTemplate]="slideTemplate"
        [withCountHeight]="false"
        (deviceCouldChangedAction)="deviceCouldChanged($event)">
    </lnd-carousel>
</div>
