/*
 -  Indicator variables
 -
 -
 */

$indicator-font-size-mobil:      1.125rem;
$indicator-font-size-tablet:     1.5rem;
$indicator-line-height-mobil:    ( 26 / 18 );
$indicator-line-height-tablet:  ( 32 / 24 );
