/*
 -  Indicator variables
 -
 -
 */

@use "sass:math";

$indicator-font-size-mobil:      1.125rem;
$indicator-font-size-tablet:     1.5rem;
$indicator-line-height-mobil:     math.div(26, 18) ;
$indicator-line-height-tablet:    math.div(32, 24) ;
