/*
 -  Indicator
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';


.indicator {
	position: relative;
	top: -2px;
	width: $indicator-width;
	height: $indicator-height;
	display: inline-block;

	.badge & {
		top: -1px;
	}

	&::before {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		top: 0;
		left: 0;
	}

	&--up {
		&::before {
			border-width: 0 ( $indicator-width / 2 ) $indicator-height ( $indicator-width / 2 );
			border-color: transparent transparent $success transparent;

			.badge & {
				border-color: transparent transparent $white transparent;
			}
		}
	}

	&--down {
		&::before {
			border-width: $indicator-height ( $indicator-width / 2 ) 0 ( $indicator-width / 2 );
			border-color: $danger transparent transparent transparent;

			.badge & {
				border-color: $white transparent transparent transparent;
			}
		}
	}
}
