/*
 -  Indicator
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'indicator.component.variables.scss';

.indicator {
	display: inline-flex;
	align-items: center;
	font-size: $indicator-font-size-mobil;
	line-height: $indicator-line-height-mobil;

	// Media queries
	@include media-breakpoint-up(xl) {
		font-size: $indicator-font-size-tablet;
		line-height: $indicator-line-height-tablet;
	}

	&--positive {
		color: $positive;
	}

	&--negative {
		color: $danger;
	}

	.icon {
		font-size: ($indicator-font-size-mobil * .5);
		line-height: $indicator-line-height-mobil;
		padding-right: ( $spacer * .75 );

		// Media queries
		@include media-breakpoint-up(md) {
			font-size: ($indicator-font-size-tablet * .5);
			line-height: $indicator-line-height-tablet;
		}
	}
}
