/*
 -  Indicator
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'indicator.component.variables.scss';


.indicator {
	display: inline-flex;
	align-items: center;
	font-size: $indicator-font-size;
	line-height: $indicator-line-height;

	&--positive {
		color: $positive;
	}

	&--negative {
		color: $danger;
	}

	.icon {
		font-size: ( $indicator-font-size / 2 );
		line-height: $indicator-line-height;
		padding-right: ( $spacer * .75 );
	}
}
