/*
 -  Breadcrumb variables
 -
 -
 */


$breadcrumb-bg:                     transparent;
$breadcrumb-item-padding:           ( $spacer / 2 );
$breadcrumb-margin-bottom:          ( $spacer / 2 );
$breadcrumb-divider-color:          $font-text;