/*
 -  Breadcrumb
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'breadcrumb.component.variables.scss';

// Bootstrap breadcrumb import
@import '~bootstrap/scss/breadcrumb';                                         // Bootstrap breadcrumb

.breadcrumb-holder {
	margin-bottom: $breadcrumb-margin-bottom;

	ul {
		@include reset-list(none, 0, 0);
	}
}

.breadcrumb {
	position: relative;
	justify-content: center;
}

.breadcrumb-item {
	display: inline-flex;
	padding-bottom: 0;
	padding-left: 0;

	&:first-child {
		&::before {
			display: none;
		}
	}

	&::before {
		position: relative;
		top: 0;
		width: auto;
		height: auto;
		margin-left: -3px;
		background-color: transparent;
	}
}
