<ng-container *ngIf="supplyPoint?.allowedOperations | isAllowedOperation: allowedOperations.SHOW_DELIVERY_TO">
    <ng-container *ngIf="(supplyPoint | pathValue:['contract', 'deliveryTo']) && (today | dateDiff: supplyPoint.contract.deliveryTo) as contractEndInDays">
        <div *ngIf="contractEndInDays >= 0"
             class="row">
            <div class="col-12 col-xl-10 offset-xl-1">
                <lnd-banner-ui
                        buttonLabel="Najít dodavatele"
                        [data]="{
                            text: 'Platnost smlouvy končí za ' + contractEndInDays + ' ' + (contractEndInDays | plural: 'day')
                        }"
                        (customBannerAction)="findNewSupplier(supplyPoint)"
                ></lnd-banner-ui>
            </div>
        </div>
    </ng-container>
</ng-container>
<div class="row">
    <div class="col-12 col-xl-10 offset-xl-1">
        <div class="page-box">
            <div *ngIf="formSent"
                 class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <lnd-alert type="info"
                               hasIcon="true">
                        Změny byly úspěšně uloženy
                    </lnd-alert>
                </div>
            </div>

            <h2 class="h1 mb-3 text-center">{{supplyPoint.name}}</h2>
            <div class="text-with-icon justify-content-center"
                 [class.mb-5]="!supplyPoint?.contract?.offer?.greenEnergy">
                <span class="icon icon--flash text-with-icon__icon"
                      [class.icon--flame]="supplyPoint.commodityType === commodityType.GAS"
                      [class.icon--flash]="supplyPoint.commodityType === commodityType.POWER"
                ></span>
                <span class="text-with-icon__text">
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.POWER">Odběr elektřiny</ng-container>
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.GAS">Odběr plynu</ng-container>
                </span>
            </div>
            <div *ngIf="supplyPoint?.contract?.offer?.greenEnergy"
                 class="green-energy justify-content-center mb-5">
                <span class="icon icon--leaf green-energy__icon"></span>
                <span class="green-energy__text">Zelená energie</span>
            </div>
            <div class="form-container">
                <form
                    [formGroup]="form"
                    (keydown)="resetCustomFieldError()"
                    (change)="resetCustomFieldError()"
                    autocomplete="off">
                    <lnd-form-field
                            [error]="formError.name || form.controls.name.errors"
                            [formControl]="form.controls.name"
                            [id]="'name'"
                            label="Vaše pojmenování odběrného místa"
                            subtext="Cokoliv, podle čeho chcete místo identifikovat."
                            [success]="form.controls.name.valid && (form.controls.name.touched || formError.name)"
                            [touched]="form.controls.name.touched || formError.name"
                            [validationMessages]="formFields.validationMessages.name"
                            [value]="form.controls.name.value"
                    ></lnd-form-field>
                    <pxe-field-wrapper
                        *ngIf="form.controls.annualConsumptionNT.status !== 'DISABLED'"
                        labelFor="annualConsumptionNTUnit"
                        [wrapperFocused]="(fieldWrapperFocused$ | async) === 'annualConsumptionNTUnit' || (fieldWrapperFocused$ | async) === 'annualConsumptionNT'"
                        [error]="((form.controls.annualConsumptionNTUnit.touched || formError.annualConsumptionNTUnit) && (formError.annualConsumptionNTUnit || form.controls.annualConsumptionNTUnit.errors)) ||
                        ((form.controls.annualConsumptionNT.touched || formError.annualConsumptionNT) && (formError.annualConsumptionNT || form.controls.annualConsumptionNT.errors))"
                        [validationMessages]="((form.controls.annualConsumptionNTUnit.touched || formError.annualConsumptionNTUnit) && (formError.annualConsumptionNTUnit || form.controls.annualConsumptionNTUnit.errors) && formFields.validationMessages.annualConsumptionNTUnit) ||
                                  ((form.controls.annualConsumptionNT.touched || formError.annualConsumptionNT) && (formError.annualConsumptionNT || form.controls.annualConsumptionNT.errors) && formFields.validationMessages.annualConsumptionNT)">
                        <div class="row no-gutters">
                            <div class="col-12 mb-2">
                                <small>Roční spotřeba - nízký tarif</small>
                            </div>
                            <div class="col-12 col-md-7 pr-md-1">
                                <lnd-form-field
                                    label="spotřeba"
                                    [formControl]="form.controls.annualConsumptionNT"
                                    (focus)="fieldWrapperFocus('annualConsumptionNT')"
                                    (blur)="fieldWrapperBlur()"
                                    [inputFocused]="(fieldWrapperFocused$ | async) === 'annualConsumptionNT' || (fieldWrapperFocused$ | async) === 'annualConsumptionNTUnit'"
                                    [id]="'annualConsumptionNT'"
                                    [success]="form.controls.annualConsumptionNT.valid && (form.controls.annualConsumptionNT.touched || formError.annualConsumptionNT)"
                                    [touched]="form.controls.annualConsumptionNT.touched || formError.annualConsumptionNT"
                                    [error]="formError.annualConsumptionNT || form.controls.annualConsumptionNT.errors"
                                    [validationMessages]="formFields.validationMessages.annualConsumptionNT"
                                ></lnd-form-field>
                            </div>
                            <div class="col-12 col-md-5 pl-md-1">
                                <lnd-select
                                    [id]="'annualConsumptionNTUnit'"
                                    (focus)="fieldWrapperFocus('annualConsumptionNTUnit')"
                                    (blur)="fieldWrapperBlur()"
                                    [inputFocused]="(fieldWrapperFocused$ | async) === 'annualConsumptionNTUnit' || (fieldWrapperFocused$ | async) === 'annualConsumptionNT'"
                                    [showErrorMessage]="false"
                                    [options]="codeLists && codeLists[codeList.ANNUAL_CONSUMPTION_UNITS]"
                                    [clearable]="false"
                                    label="jednotka"
                                    [parentForm]="form"
                                    [selectName]="'annualConsumptionNTUnit'"
                                    [success]="form.controls.annualConsumptionNTUnit.valid && (form.controls.annualConsumptionNTUnit.touched || formError.annualConsumptionNTUnit)"
                                    [touched]="form.controls.annualConsumptionNTUnit.touched || formError.annualConsumptionNTUnit">
                                </lnd-select>
                            </div>
                        </div>
                    </pxe-field-wrapper>
                    <pxe-field-wrapper
                        *ngIf="form.controls.annualConsumptionVT.status !== 'DISABLED'"
                        labelFor="annualConsumptionVTUnit"
                        [wrapperFocused]="(fieldWrapperFocused$ | async) === 'annualConsumptionVTUnit' || (fieldWrapperFocused$ | async) === 'annualConsumptionVT'"
                        [error]="((form.controls.annualConsumptionVTUnit.touched || formError.annualConsumptionVTUnit) && (formError.annualConsumptionVTUnit || form.controls.annualConsumptionVTUnit.errors)) ||
                     ((form.controls.annualConsumptionVT.touched || formError.annualConsumptionVT) && (formError.annualConsumptionVT || form.controls.annualConsumptionVT.errors))"
                        [validationMessages]="((form.controls.annualConsumptionVTUnit.touched || formError.annualConsumptionVTUnit) && (formError.annualConsumptionVTUnit || form.controls.annualConsumptionVTUnit.errors) && formFields.validationMessages.annualConsumptionVTUnit) ||
                                  ((form.controls.annualConsumptionVT.touched || formError.annualConsumptionVT) && (formError.annualConsumptionVT || form.controls.annualConsumptionVT.errors) && formFields.validationMessages.annualConsumptionVT)">
                        <div class="row no-gutters">
                            <div class="col-12 mb-2">
                                <small>{{supplyPoint.commodityType === commodityType.POWER ? 'Roční spotřeba - vysoký tarif' : 'Roční spotřeba'}}</small>
                            </div>
                            <div class="col-12 col-md-7 pr-md-1">
                                <lnd-form-field
                                    label="spotřeba"
                                    [formControl]="form.controls.annualConsumptionVT"
                                    (focus)="fieldWrapperFocus('annualConsumptionVT')"
                                    (blur)="fieldWrapperBlur()"
                                    [inputFocused]="(fieldWrapperFocused$ | async) === 'annualConsumptionVT' || (fieldWrapperFocused$ | async) === 'annualConsumptionVTUnit'"
                                    [id]="'annualConsumptionVT'"
                                    [success]="form.controls.annualConsumptionVT.valid && (form.controls.annualConsumptionVT.touched || formError.annualConsumptionVT)"
                                    [touched]="form.controls.annualConsumptionVT.touched || formError.annualConsumptionVT"
                                    [error]="formError.annualConsumptionVT || form.controls.annualConsumptionVT.errors"
                                    [validationMessages]="formFields.validationMessages.annualConsumptionVT"
                                ></lnd-form-field>
                            </div>
                            <div class="col-12 col-md-5 pl-md-1">
                                <lnd-select
                                    label="jednotka"
                                    [id]="'annualConsumptionVTUnit'"
                                    (focus)="fieldWrapperFocus('annualConsumptionVTUnit')"
                                    (blur)="fieldWrapperBlur()"
                                    [inputFocused]="(fieldWrapperFocused$ | async) === 'annualConsumptionVTUnit' || (fieldWrapperFocused$ | async) === 'annualConsumptionVT'"
                                    [showErrorMessage]="false"
                                    [options]="codeLists && codeLists[codeList.ANNUAL_CONSUMPTION_UNITS]"
                                    [clearable]="false"
                                    [parentForm]="form"
                                    [selectName]="'annualConsumptionVTUnit'"
                                    [success]="form.controls.annualConsumptionVTUnit.valid && (form.controls.annualConsumptionVTUnit.touched || formError.annualConsumptionVTUnit)"
                                    [touched]="form.controls.annualConsumptionVTUnit.touched || formError.annualConsumptionVTUnit">
                                </lnd-select>
                            </div>
                        </div>
                    </pxe-field-wrapper>
                </form>
                <div class="row">
                    <div class="col-12 mb-5">
                        <div class="mb-1">
                            <small *ngIf="supplyPoint.commodityType === commodityType.POWER">EAN</small>
                            <small *ngIf="supplyPoint.commodityType === commodityType.GAS">EIC</small>
                        </div>
                        <span class="perex">{{supplyPoint.ean}}</span>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="mb-1">
                            <small>Typ odběru</small>
                        </div>
                        <span class="perex text-capitalize">{{subjectName}}</span>
                    </div>
                    <div *ngIf="(supplyPoint | pathValue:['contract', 'offer', 'supplier', 'name'])"
                         class="col-12 mb-5">
                        <div class="mb-1">
                            <small>Dodavatel</small>
                        </div>
                        <span class="perex">{{supplyPoint.contract.offer.supplier.name}}</span>
                    </div>
                    <div class="col-12 mb-5">
                        <div class="mb-1">
                            <small>Území</small>
                        </div>
                        <span class="perex">{{supplyPoint.address.city}}</span>
                    </div>
                    <div *ngIf="supplyPoint.commodityType === commodityType.POWER"
                         class="col-12 mb-5">
                        <div class="mb-1">
                            <small>Distribuční sazba</small>
                        </div>
                        <span class="perex">{{supplyPoint.distributionRate.help || supplyPoint.distributionRate.description}}</span>
                    </div>
                    <div *ngIf="supplyPoint.commodityType === commodityType.POWER"
                         class="col-12 mb-5">
                        <div class="mb-1">
                            <small>Jistič – fáze</small>
                        </div>
                        <span class="perex">{{supplyPoint.phases.help || supplyPoint.phases.description}}</span>
                    </div>
                    <div *ngIf="supplyPoint.commodityType === commodityType.POWER"
                         class="col-12 mb-5">
                        <div class="mb-1">
                            <small>Jistič – velikost</small>
                        </div>
                        <span class="perex">{{supplyPoint.circuitBreaker.help || supplyPoint.circuitBreaker.description}}</span>
                    </div>
                    <div *ngIf="(supplyPoint | pathValue:['contract', 'deliveryTo'])"
                         [class.mb-5]="supplyPoint.contract.deliveryTo"
                         class="col-12">
                        <div class="mb-1">
                            <small>Dodávka do</small>
                        </div>
                        <span class="perex">{{supplyPoint.contract.deliveryTo | date:'d.&nbsp;M.&nbsp;y'}} - {{contractEndTypeTranslateMap[
                            !supplyPoint?.contract?.isNextContractConcluded ?
                                supplyPointContractEndTypes.CONTRACT_END_TERM_WITH_PROLONGATION :
                                supplyPointContractEndTypes.CONTRACT_END_TERM
                            ]}}</span>
                    </div>
                    <div [class.mb-5]="!supplyPoint.lastVersionOfSupplyPoint"
                         class="col-12">
                        <div class="mb-1">
                            <small>Výpovědní lhůta</small>
                        </div>
                        <span class="perex">{{timeToContractEnd}} {{timeToContractEnd | plural: timeToContractEndPeriodMap[timeToContractEndPeriod]}}</span>
                    </div>
                    <div *ngIf="supplyPoint.contract.isNextContractConcluded && supplyPoint.contract.nextSupplyPointId && supplyPoint.contract.nextSupplyPointId != supplyPoint.id"
                         class="col-12">
                        <div class="mb-1">
                            <small>Tato smlouva bude nahrazena <a [routerLink]="['/', CONSTS.PATHS.SECURED, CONSTS.PATHS.SUPPLY_POINTS, supplyPoint.contract.nextSupplyPointId]">smlouvou budoucí</a>.</small>
                        </div>
                    </div>
                    <div *ngIf="!supplyPoint.contract.isNextContractConcluded && supplyPoint.contract.nextSupplyPointId && supplyPoint.contract?.nextSupplyPointId != supplyPoint.id"
                         class="col-12">
                        <div class="mb-1">
                            <small>Tato smlouva má rozpracovanou <a (click)="navigateToUnsignedSupplyPoint(supplyPoint.contract.nextSupplyPointId)">navazující smlouvu</a>.</small>
                        </div>
                    </div>
                </div>
                <hr>
                <ng-container *ngIf="supplyPoint?.allowedOperations | isAllowedOperation: allowedOperations.SHOW_DELIVERY_TO">
                    <div class="row no-gutters align-items-end mb-5">
                        <div class="col-12 col-md-6">
                            <small>
                                Dodávka do<br>{{supplyPoint.contract.deliveryTo | date:'d.&nbsp;M.&nbsp;y'}}
                            </small>
                        </div>
                        <div class="col-12 col-md-6 pl-3 text-right">
                            <lnd-button
                                    label="Najít dodavatele"
                                    type="link"
                                    size="sm"
                                    [isDisabled]="formLoading"
                                    (action)="findNewSupplier(supplyPoint)">
                            </lnd-button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="contractActionsTemplate">
                    <ng-container *ngTemplateOutlet="contractActionsTemplate"></ng-container>
                </ng-container>
                <div class="row text-center">
                    <div *ngIf="supplyPoint?.allowedOperations | isAllowedOperation: allowedOperations.PARTIAL_EDIT"
                         class="col-12 mb-2">
                        <lnd-button
                                label="Uložit"
                                type="primary"
                                [isDisabled]="formLoading"
                                (action)="submitForm()">
                        </lnd-button>
                    </div>
                    <div class="col-12">
                        <lnd-button
                                label="Storno"
                                type="link"
                                [isDisabled]="formLoading"
                                (action)="customAction.emit()">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
