/*
 -  Field wrapper
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.field-wrapper {
	position: relative;
	margin-bottom: ( $spacer * 2 );

	.form-group {
		margin-bottom: 0;
	}

	.invalid-feedback {
		display: block;
	}

	.field-wrapper-content {
		.form-control-wrapper.invalid-input ~ .invalid-feedback,
		.invalid-feedback {
			display: none;
		}
	}

	&-with-label {
		.control-label {
			z-index: $zindex-field-wrapper-control-label;
		}

		.field-wrapper-content {
			label,
			.input-subtext {
				display: none;
			}
		}
	}

	&.field-wrapper--focused .invalid-feedback {
		display: none;
	}
}
