/*
 -  Field wrapper
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.field-wrapper {
	position: relative;
	margin-bottom: ( $spacer * 2 );

	.form-group {
		margin-bottom: 0;
	}

	.invalid-feedback {
		display: block;
	}

	&-with-label {
		.field-wrapper-content {

			label,
			.input-subtext,
			.invalid-feedback {
				display: none;
			}
		}
	}
}
