<ng-template #canBeDeletedTemplate>
    <div class="col-12 mb-3">
        <p [class.mb-3]="currentUser.phoneNumber">Mrzí nás, že PARC opouštíte, ale bránit vám v tom nemůžeme.</p>
        <p *ngIf="currentUser.phoneNumber">Zrušení účtu a smazání veškerých svých dat v PARCu provedete ověřovacím SMS kódem.</p>
    </div>
    <div class="col-12">
        <div class="d-flex">
            <div class="mr-auto">
                <lnd-button
                    label="Zůstat v PARCu"
                    type="link"
                    (click)="redirectToUserProfile()">
                </lnd-button>
            </div>
            <div>
                <pxe-verification-form
                    *ngIf="currentUser.phoneNumber"
                    submitLabelText="Zrušit účet"
                    classRootWrapper="col-12"
                    [formLoading]="formLoading"
                    [globalError]="globalError"
                    [smsSent]="smsSent"
                    [phone]="currentUser.phoneNumber"
                    [showSentSmsLabelUnderFirstField]="false"
                    (submitAction)="submitVerification($event)"
                    (customAction)="sendConfirmationSms()"
                ></pxe-verification-form>
                <ng-container *ngIf="!currentUser.phoneNumber">
                    <lnd-button
                        label="Zrušit účet"
                        (action)="submitVerification()"
                        [isDisabled]="formLoading"
                        type="primary"
                    ></lnd-button>
                </ng-container>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #cantBeDeletedTemplate>
    <div class="col-12 mb-3">
        <p class="mb-3">Mrzí nás, že PARC opouštíte, ale bránit vám v tom nemůžeme.</p>
        <p class="mb-3">K dnešnímu dni u nás máte aktivní smlouvy na dodávku energií, které je potřeba, před zrušením účtu, vypovědět.</p>
        <ul class="check-list check-list--less-offset">
            <li *ngFor="let supplyPoint of supplyPoints | slice:0:MAX_SUPPLY_POINTS_OF_RESULT_IN_CANT_DELETE_TEMPLATE">
                {{supplyPoint.name}}
            </li>
            <li *ngIf="supplyPoints.length > MAX_SUPPLY_POINTS_OF_RESULT_IN_CANT_DELETE_TEMPLATE">a další</li>
        </ul>
    </div>
    <div class="d-flex">
        <div class="mr-auto p-1">
            <lnd-button
                label="Zůstat v PARCu"
                type="link"
                (click)="redirectToUserProfile()">
            </lnd-button>
        </div>
        <div class="p-1">
            <lnd-button
                label="Přejít na smlouvy"
                type="primary"
                (click)="redirectToConcludedContract()">
            </lnd-button>
        </div>
    </div>
</ng-template>
<pxe-layout-container pageTitle="Zrušení uživatelského účtu">
    <lnd-placeloader [loading]="loading && !globalError.length"></lnd-placeloader>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
        <div *ngIf="supplyPoints !== null"
              class="col-12 col-xl-10 offset-xl-1">
            <div class="page-box">
                <ng-container *ngTemplateOutlet="this.supplyPoints.length === 0 ?
                    canBeDeletedTemplate : cantBeDeletedTemplate"></ng-container>
            </div>
        </div>
    </div>
</pxe-layout-container>
