<ng-template #canBeDeletedTemplate>
    <div class="col-12 mb-3">
        Mrzí nás, že PARC opouštíte, ale bránit vám v tom nemůžeme.
        <br><br>
        Zrušení účtu a smazání veškerých svých dat v PARCu provedete ověřovacím SMS kódem.
        <br><br>
    </div>
    <div class="col-12">
        <div class="d-flex">
            <div class="mr-auto p-1 mt-3">
                <lnd-button
                    label="Zůstat v PARCu"
                    type="link"
                    (click)="redirectToUserProfile()">
                </lnd-button>
            </div>
            <div class="p-1">
                <pxe-verification-form
                    submitLabelText="Zrušit účet"
                    classRootWrapper="col-12"
                    [globalError]="globalError"
                    [smsSent]="smsSent"
                    [phone]="currentUser.phoneNumber"
                    [showSentSmsLabelUnderFirstField]="false"
                    (submitAction)="cancelAccountAction()"
                    (customAction)="sendConfirmationSms()">
                </pxe-verification-form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #cantBeDeletedTemplate>
    <div class="col-12 mb-3">
        Mrzí nás, že PARC opouštíte, ale bránit vám v tom nemůžeme.
        <br><br>
        K dnešnímu dni u nás máte aktivní smlouvy na dodávku energií, které je potřeba, před zrušením účtu, vypovědět.
        <br><br>
        <ul>
            <li *ngFor="let supplyPoint of supplyPoints">
                {{supplyPoint.name}}
            </li>
        </ul>
    </div>
    <div class="d-flex">
        <div class="mr-auto p-1">
            <lnd-button
                label="Zůstat v PARCu"
                type="link"
                (click)="redirectToUserProfile()">
            </lnd-button>
        </div>
        <div class="p-1">
            <lnd-button
                label="Přejít na smlouvy"
                type="primary"
                (click)="redirectToConcludedContract()">
            </lnd-button>
        </div>
    </div>
</ng-template>

<pxe-layout-container pageTitle="Zrušení uživatelského účtu">
    <lnd-placeloader [loading]="loading && !globalError.length"></lnd-placeloader>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
        <div *ngIf="supplyPoints !== null"
              class="col-12 col-xl-10 offset-xl-1">
            <div class="page-box">
                <ng-container *ngTemplateOutlet="this.supplyPoints.length === 0 ?
                    canBeDeletedTemplate : cantBeDeletedTemplate"></ng-container>
            </div>a
        </div>
    </div>
</pxe-layout-container>
