/*
 -  FileUploader
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

//// Component variables
@import 'src/common/ui/button/button.component.variables.scss';

// Bootstrap button import
@import '~bootstrap/scss/buttons';


.drop-zone {
	border: 3px dashed $light-dark;
}

.file-over {
	background: $light-dark-little-darken;
}

.btn-primary {
	cursor: pointer;
}
