/*
 -  FileUploader
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'src/common/ui/button/button.component.variables.scss';

// Bootstrap button import
@import '~bootstrap/scss/buttons';

.drop-zone {
	position: relative;
	width: 100%;
	padding: ( $spacer * 2.5 ) $spacer;

	&::after {
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background:
			linear-gradient(90deg, $drop-zone-border-color 100%, transparent 100%) top left no-repeat,
			linear-gradient(90deg, transparent ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width), transparent ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width)) top center repeat-x,
			linear-gradient(90deg, $drop-zone-border-color 100%, transparent 100%) top right no-repeat,
			linear-gradient(0deg, $drop-zone-border-color 100%, transparent 100%) top left no-repeat,
			linear-gradient(0deg, transparent ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width), transparent ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width)) center left repeat-y,
			linear-gradient(0deg, $drop-zone-border-color 100%, transparent 100%) bottom left no-repeat,
			linear-gradient(90deg, $drop-zone-border-color 100%, transparent 100%) bottom left no-repeat,
			linear-gradient(90deg, transparent ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width), transparent ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width)) bottom center repeat-x,
			linear-gradient(90deg, $drop-zone-border-color 100%, transparent 100%) bottom right no-repeat,
			linear-gradient(0deg, $drop-zone-border-color 100%, transparent 100%) top right no-repeat,
			linear-gradient(0deg, transparent ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2), $drop-zone-border-color ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width), transparent ($drop-zone-border-gap-width / 2 + $drop-zone-border-dash-width)) center right repeat-y,
			linear-gradient(0deg, $drop-zone-border-color 100%, transparent 100%) bottom right no-repeat;
		background-size: $drop-zone-border-dash-width $drop-zone-border-size, ($drop-zone-border-dash-width + $drop-zone-border-gap-width) $drop-zone-border-size, $drop-zone-border-dash-width $drop-zone-border-size, $drop-zone-border-size $drop-zone-border-dash-width, $drop-zone-border-size ($drop-zone-border-dash-width + $drop-zone-border-gap-width), $drop-zone-border-size $drop-zone-border-dash-width;
		z-index: $zindex-drop-zone-bg-image;
	}

	&__control {
		box-shadow: none;
		cursor: pointer;

		&:focus,
		&:hover {
			text-decoration: $link-hover-decoration;
		}
	}

	&--interactive {
		background-color: rgba($light-dark, .3);
	}

	&--zindex {
		z-index: $zindex-drop-zone;
	}
}
