<div
        id="top"
        class="body-inner"
        [ngClass]="{
        'body-inner--overlay' : isMenuOpen
    }">
    <lnd-header [isMenuOpen]="isMenuOpen"
                (toggleMenu)="toggleMenuOpen()"
    ></lnd-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 container-content">
                <main class="main">
                    <router-outlet></router-outlet>
                </main>
            </div>
            <lnd-navigation
                    [config]="navigationConfig"
                    [isMenuOpen]="isMenuOpen"
                    [itemOpened]="itemOpened"
                    (openItem)="toggleOpenItem($event)">
            </lnd-navigation>
        </div>
    </div>
    <lnd-footer
            [isMenuOpen]="isMenuOpen">
    </lnd-footer>
</div>
