<div class="row" *ngIf="(activeArticle$ | async) as activeArticle">
    <div class="col-12 col-xl-10 offset-xl-1 mb-3">
        <h2 class="h2--public">{{activeArticle.header}}</h2>
        <div [innerHTML]="activeArticle.content"></div>
    </div>
</div>
<div class="card-blogs" *ngIf="(otherArticles$ | async) as otherArticles">
    <div class="row mb-4">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <h2 class="h2--public">Všechny články</h2>
        </div>
    </div>
    <div class="row card-blogs__inner">
        <ng-container *ngFor="let article of otherArticles">
            <div class="col-md-4 card-tile__item">
                <lnd-card [data]="article"></lnd-card>
            </div>
        </ng-container>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <lnd-button
            (action)="showAllArticle($event)"
            type="gradient-primary"
            customClass="btn-public btn--icon-right"
            icon="icon--arrow-right"
            iconPosition="right"
            label="Zobrazit všechny články">
        </lnd-button>
    </div>
</div>
