<ng-template #accordionTemplate let-data>
    <div [innerHTML]="data.shortContent"></div>
    <div *ngIf="data.fullContent">
        {{data | json}}
        <a class="link mt-4"
           [routerLink]="['/', CONSTS.PATHS.FAQ, data.tag.type, data.url]">
            Zobrazit více
        </a>
    </div>
</ng-template>

<ng-container
    *ngIf="activeQuestion && questions">
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1 mb-3">
            <h2 class="h2--public">{{activeQuestion.header}}</h2>
            <div [innerHTML]="activeQuestion.fullContent || activeQuestion.shortContent"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1 mb-3">
            <h2 class="h2--public">Související otázky
                <pxe-badge
                    type="white"
                    hasBeak="true">
                    {{activeTagLabel}}
                </pxe-badge>
            </h2>
            <lnd-accordion
                [accordionContentTemplate]="accordionTemplate"
                [accordionItems]="questions | questionsToAccordions: faqConfig"
                title="">
            </lnd-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <lnd-button
                (action)="routerToOverview($event)"
                label="Dalsí otázky"
                type="primary">
            </lnd-button>
        </div>
    </div>
</ng-container>
