<div id="top" class="body-inner full-layout">
    <lnd-header [settings]="settings" (homeRedirect)="homeRedirect($event)">
    </lnd-header>
    <div class="container-fluid">
        <div class="container-content">
            <pxe-layout-container pageTitle="404">
                <div class="row">
                    <div class="col-12 text-center">
                        <img
                            class="error-page__status-illustration-picture"
                            src="../../../assets/images/illustrations/documents-alert.svg"
                            alt="Error page 404"
                        />
                        <h2 class="error-page__title">
                            Je nám líto, ale tato stránka neexistuje
                        </h2>
                        <p class="mb-4">
                            Pravděpodobně byla odstraněna, nebo jste zadali
                            špatnou URL adresu.
                        </p>
                        <a
                            href="#"
                            (click)="homeRedirect($event)"
                            class="error-page__control"
                        >
                            Zobrazit úvodní stránku
                        </a>
                    </div>
                </div>
            </pxe-layout-container>
        </div>
    </div>
    <lnd-footer [isSimpleFooter]="settings.isSimpleFooter">
        <ul class="footer-navigation__list">
            <li class="footer-navigation__item">
                <a
                    [routerLink]="['/', CONSTS.PATHS.TERMS_OF_USE]"
                    class="footer-navigation__link"
                >
                    Obchodní podmínky parc4u
                </a>
            </li>
            <li class="footer-navigation__item">
                <a
                    [routerLink]="[
                        '/',
                        CONSTS.PATHS.PATTERNS_OF_CONTRACTS,
                        subjectTypeIndividual
                    ]"
                    [fragment]="commodityTypePower"
                    class="footer-navigation__link"
                >
                    Vzory smluv o dodávce
                </a>
            </li>
            <li class="footer-navigation__item">
                <a
                    [routerLink]="['/', CONSTS.PATHS.FAQ]"
                    class="footer-navigation__link"
                >
                    Často kladené otázky
                </a>
            </li>
            <li class="footer-navigation__item">
                <a
                    [routerLink]="['/', CONSTS.PATHS.COOKIES_POLICY]"
                    class="footer-navigation__link"
                >
                    Cookies policy
                </a>
            </li>
            <li class="footer-navigation__item">
                <a
                    [routerLink]="['/', CONSTS.PATHS.SECURING_YOUR_DATA]"
                    class="footer-navigation__link"
                >
                    Ochrana osobních údajů
                </a>
            </li>
            <li class="footer-navigation__item">
                <a
                    href="https://www.pxe.cz/"
                    target="_blank"
                    class="footer-navigation__link"
                >
                    O PXE
                </a>
            </li>
        </ul>
    </lnd-footer>
</div>
