/*
 -  Banner
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.info-banner {
	position: relative;
	text-align: center;

	&__illustration {
		width: 64px;
		height: auto;
		max-height: 64px;
		margin-bottom: ($spacer * 0.75);
	}

	&__title {
		font-size: 1.5rem;
		margin-bottom: $spacer;
	}

	// &__description {

	// }
}
