<div class="supply-point-overview">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="supply-point-overview__inner">
                <div class="row mb-4">
                    <div class="col-3 col-md-2 text-center">
                        <span class="icon icon--flame supply-point__icon"></span>
                    </div>
                    <div class="col-9 col-md-10">
                        <span class="supply-point-overview__type">Elektřina (MWh)</span>
                        <span class="supply-point-overview__value">1,002</span>
                        <span class="supply-point-overview__quantity">2 OM</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-2">
                        <p>dlouhy trext s ikonou</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>