<div class="supply-point-overview">
    <div class="supply-point-overview__inner">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <span class="icon icon--house supply-point-overview__icon"></span>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12 col-md-auto mr-auto">
                        <div class="supply-point-overview__product-holder">
                            <span class="supply-point-overview__type">Elektřina (MWh)</span>
                            <span class="supply-point-overview__value">1,002</span>
                            <span class="supply-point-overview__quantity">2 OM</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="supply-point-overview__product-holder">
                            <span class="supply-point-overview__type">Plyn (MWh)</span>
                            <span class="supply-point-overview__value">4,784</span>
                            <span class="supply-point-overview__quantity">3 OM</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-9 offset-xl-3">
                <a href="#">Seznam Odběrných míst</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-9 offset-xl-3">
                <div class="supply-point-overview__info">
                    <span class="icon icon--info supply-point-overview__info-icon"></span>
                    <span class="supply-point-overview__info-description">dlouhy trext s ikonou</span>
                </div>
                <a href="#">Vybrat nového dodavatele</a>
            </div>
        </div>
    </div>
</div>