<div class="supply-point-overview">
    <div class="supply-point-overview__inner">
        <div class="row mb-4">
            <div class="col-3 col-md-2 text-center">
                <span class="icon icon--house supply-point-overview__icon"></span>
            </div>
            <div class="col-9 col-md-10">
                <div class="row">
                    <div class="col-12 col-md-auto">
                        <div class="supply-point-overview__product-holder">
                            <span class="supply-point-overview__type">Elektřina (MWh)</span>
                            <span class="supply-point-overview__value">1,002</span>
                            <span class="supply-point-overview__quantity">2 OM</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="supply-point-overview__product-holder">
                            <span class="supply-point-overview__type">Plyn (MWh)</span>
                            <span class="supply-point-overview__value">4,784</span>
                            <span class="supply-point-overview__quantity">3 OM</span>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <a href="#">Seznam Odběrných míst</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="supply-point-overview__info">
                    <span class="icon icon--info"></span>
                    <p>dlouhy trext s ikonou</p>
                </div>
            </div>
        </div>
    </div>
</div>