<div class="container-fluid">
    <div class="container-content">
        <pxe-layout-container pageTitle="Nová nabídka">
            <div class="row mb-6">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <pxe-progress-bar [config]="stepperProgressConfig"></pxe-progress-bar>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <pxe-supply-point-offer
                        (click)="action(supplyPointOffer.id)"
                        *ngFor="let supplyPointOffer of supplyPointOffers"
                        [supplyPointOffer]="supplyPointOffer">
                    </pxe-supply-point-offer>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
