<ng-template #emptyOffers>
    <lnd-info-banner
        bannerTitle="Litujeme pro Vaše odběrné místo neexistuje žádná nabídka."
        [showButton]="false"
    >
    </lnd-info-banner>
</ng-template>

<pxe-layout-container pageTitle="Nová nabídka">
    <div class="row mb-6">
        <div class="col-12 col-xl-10 offset-xl-1">
            <pxe-progress-bar [config]="stepperProgressConfig"></pxe-progress-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <lnd-placeloader [loading]="loadingSupplyPointOffers && !globalError.length"></lnd-placeloader>
    <div class="row"
            *ngIf="supplyPointOffers">
        <div class="col-12">
            <div class="row align-items-center mb-3">
                <div class="col-12 mb-5 col-md-3 mb-md-0 text-center text-md-left">
                    <lnd-button
                        label="Krok zpět"
                        type="secondary"
                        (action)="navigateRequestService.backStepAction(supplyPoint, PREVIOUS_PROGRESS_STATUS )">
                    </lnd-button>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <h2 class="mb-0">
                        Vyberte si nabídku
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 supply-points-offer">
            <ng-container *ngIf="supplyPointOffers.length; else emptyOffers">
                <pxe-supply-point-offer
                    (action)="saveContract(supplyPointOffer)"
                    *ngFor="let supplyPointOffer of supplyPointOffers"
                    [supplyPointOffer]="supplyPointOffer">
                </pxe-supply-point-offer>
            </ng-container>
        </div>
    </div>
</pxe-layout-container>
