<lnd-modal
    isConfirm="true"
    [size]="size"
    [isModalOpen]="modalOpen"
    [showClose]="showClose"
    (close)="closeModal.emit(false)"
>
    <div (lndOffClick)="closeModal.emit(false)">
        <div class="modal-body">
            <span class="icon icon--info modal-confirm__icon"></span>
            <h2
                class="modal-confirm__title"
                [innerHTML]="instanceData?.confirmText"
            ></h2>
        </div>
        <div class="modal-footer">
            <lnd-button
                *ngIf="showConfirm"
                type="primary"
                [label]="titleConfirm"
                (action)="closeModal.emit(true)"
            >
            </lnd-button>
            <lnd-button
                *ngIf="showCloseButton"
                type="link"
                [label]="titleClose"
                (action)="closeModal.emit(false)"
            >
            </lnd-button>
        </div>
    </div>
</lnd-modal>
