<ng-template #leaveContactInfoTemplate let-contract="contract">
    <div class="col-12 mb-4 small">
        Kliknutím na tlačítko „Odstoupit“ odstoupíte od smlouvy o sdružených službách dodávky pro výše uvedené
        odběrné místo podle §11a odst. 2 zák. č. 458/2000 Sb. Text odstoupení naleznete
        <a [class.link--disabled]="documentLoading" (click)="saveDocument(contract.contractId, documentType.WITHDRAWAL)">zde</a>.
    </div>
</ng-template>
<ng-template #terminateContactInfoTemplate let-contract="contract">
    <div class="col-12 mb-4 small">
        Kliknutím na tlačítko „Vypovědět“ vypovíte smlouvu o sdružených službách dodávky pro výše uvedené odběrné místo
        podle §11a odst. 3 zák. č. 458/2000 Sb. Text výpovědi naleznete
        <a [class.link--disabled]="documentLoading" (click)="saveDocument(contract.contractId, documentType.DENUNCIATION)">zde</a>.
    </div>
</ng-template>
<ng-template #interruptAutomaticProlongationTemplate let-contract="contract">
    <div class="col-12 mb-4 small">
        Kliknutím na tlačítko „Zrušit“ přerušíte automatickou prolongaci.Text přerušení automaticke prolongace naleznete
        <a [class.link--disabled]="documentLoading" (click)="saveDocument(contract.contractId, documentType.UNSET_PROLONGATION)">zde</a>.
    </div>
</ng-template>
<!--<ng-template #transferSupplyPointTemplate let-contract="contract">-->
    <!--<div class="col-12 mb-4 small">-->
        <!--Kliknutím na tlačítko „Převést“ převedete....-->
    <!--</div>-->
<!--</ng-template>-->
<ng-template #contractActionsTemplate>
    <div #contractActionsWrapper>
        <div *ngIf="supplyPoint | isAllowedOperation: allowedOperations.UNSET_AUTOMATIC_PROLONGATION"
             class="row no-gutters align-items-end mb-5">
            <div class="col-12 col-md-6">
                <small>Zrušit automatické prodloužení smlouvy</small>
            </div>
            <div class="col-12 col-md-6 pl-3 text-right">
                <lnd-button
                    (click)="interruptAutomaticProlongation()"
                    [isDisabled]="formLoading"
                    label="Zrušit"
                    type="link-danger"
                    size="sm">
                </lnd-button>
            </div>
            <div *ngIf="contractAction === contractActions.UNSET_PROLONGATION"
                 class="col-12 mt-4">
                <pxe-verification-form
                    [fieldError]="fieldError"
                    [formLoading]="formLoading"
                    [contract]="supplyPoint.contract"
                    [phone]="supplyPoint.contract.personalData.phone"
                    [globalError]="globalError"
                    [infoTemplate]="interruptAutomaticProlongationTemplate"
                    [smsSent]="smsSent"
                    [showSentSmsLabelUnderFirstField]="false"
                    classFirstField="col-12"
                    classSecondField="col-12 text-center"
                    submitLabelText="Zrušit automatické prodloužení smlouvy"
                    (submitAction)="submitVerification($event)"
                    (customAction)="sendContractConfirmationSms()">
                </pxe-verification-form>
            </div>
        </div>
        <div *ngIf="supplyPoint | isAllowedOperation: allowedOperations.LEAVE_CONTRACT"
             class="row no-gutters align-items-end mb-5">
            <div class="col-12 col-md-6">
                <small>Odstoupit od smlouvy do 14 dnů od podpisu</small>
            </div>
            <div class="col-12 col-md-6 pl-3 text-right">
                <lnd-button
                        (click)="leaveContract()"
                        [isDisabled]="formLoading"
                        label="Odstoupit"
                        type="link-danger"
                        size="sm">
                </lnd-button>
            </div>
            <div *ngIf="contractAction === contractActions.LEAVE_CONTRACT"
                 class="col-12 mt-4">
                <pxe-verification-form
                        [fieldError]="fieldError"
                        [formLoading]="formLoading"
                        [contract]="supplyPoint.contract"
                        [globalError]="globalError"
                        [infoTemplate]="leaveContactInfoTemplate"
                        [phone]="supplyPoint.contract.personalData.phone"
                        [smsSent]="smsSent"
                        [showSentSmsLabelUnderFirstField]="false"
                        classFirstField="col-12"
                        classSecondField="col-12 text-center"
                        submitLabelText="Odstoupit od smlouvy"
                        (submitAction)="submitVerification($event)"
                        (customAction)="sendContractConfirmationSms()">
                </pxe-verification-form>
            </div>
        </div>
        <div *ngIf="supplyPoint | isAllowedOperation: allowedOperations.TERMINATE_CONTRACT"
             class="row no-gutters align-items-end mb-5">
            <div class="col-12 col-md-6">
                <small>Vypovědět smlouvu</small>
            </div>
            <div class="col-12 col-md-6 pl-3 text-right">
                <lnd-button
                        (click)="terminateContract()"
                        [isDisabled]="formLoading"
                        label="Vypovědět"
                        type="link-danger"
                        size="sm">
                </lnd-button>
            </div>
            <div *ngIf="contractAction === contractActions.TERMINATE_CONTRACT"
                 class="col-12 mt-4">
                <pxe-verification-form
                        [fieldError]="fieldError"
                        [formLoading]="formLoading"
                        [contract]="supplyPoint.contract"
                        [phone]="supplyPoint.contract.personalData.phone"
                        [globalError]="globalError"
                        [infoTemplate]="terminateContactInfoTemplate"
                        [smsSent]="smsSent"
                        [showSentSmsLabelUnderFirstField]="false"
                        classFirstField="col-12"
                        classSecondField="col-12 text-center"
                        submitLabelText="Vypovědět smlouvu"
                        (submitAction)="submitVerification($event)"
                        (customAction)="sendContractConfirmationSms()">
                </pxe-verification-form>
            </div>
        </div>
        <!--<div *ngIf="supplyPoint | isAllowedOperation: allowedOperations.TERMINATE_CONTRACT"-->
             <!--class="row no-gutters align-items-end mb-5">-->
            <!--<div class="col-12 col-md-6">-->
                <!--<small>Převést odběrné místo na jiného odběratele</small>-->
            <!--</div>-->
            <!--<div class="col-12 col-md-6 pl-3 text-right">-->
                <!--<lnd-button-->
                    <!--(click)="transferSupplyPoint()"-->
                    <!--[isDisabled]="formLoading"-->
                    <!--label="Převést"-->
                    <!--type="link-danger"-->
                    <!--size="sm">-->
                <!--</lnd-button>-->
            <!--</div>-->
            <!--<div *ngIf="contractAction === contractActions.TRANSFER_SUPPLY_POINT"-->
                 <!--class="col-12 mt-4">-->
                <!--<pxe-verification-form-->
                    <!--[fieldError]="fieldError"-->
                    <!--[formLoading]="formLoading"-->
                    <!--[contract]="supplyPoint.contract"-->
                    <!--[phone]="supplyPoint.contract.personalData.phone"-->
                    <!--[globalError]="globalError"-->
                    <!--[infoTemplate]="terminateContactInfoTemplate"-->
                    <!--[smsSent]="smsSent"-->
                    <!--[showSentSmsLabelUnderFirstField]="false"-->
                    <!--classFirstField="col-12"-->
                    <!--classSecondField="col-12 text-center"-->
                    <!--submitLabelText="Převést odběrné místo na jiného odběratele"-->
                    <!--(submitAction)="submitVerification($event)"-->
                    <!--(customAction)="sendContractConfirmationSms()">-->
                <!--</pxe-verification-form>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</ng-template>
<pxe-layout-container pageTitle="Odběrná místa">
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-alert
                    [type]="'danger'"
                    [isDismissible]="false"
                    *ngIf="globalError.length">
                <ng-container *ngFor="let message of globalError">
                    {{ message }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <lnd-placeloader [loading]="dataLoading && !globalError.length"></lnd-placeloader>
    <ng-container *ngIf="supplyPoint && !dataLoading">
        <pxe-supply-point-detail-form
                [formFields]="formFields"
                [formLoading]="formLoading"
                [formSent]="formSent"
                [globalError]="globalError"
                [fieldError]="fieldError"
                (submitAction)="updateSupplyForm($event)"
                (customAction)="cancelUpdate()"
                [supplyPoint]="supplyPoint"
                [contractActionsTemplate]="contractActionsTemplate"
        ></pxe-supply-point-detail-form>
    </ng-container>
</pxe-layout-container>
