/*
 -  ListOfNotifications
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';


.list-of-notifications {
	ul {
		list-style-type: none;
		li {
			padding-left: 0;
			font-size: $small-font-size;
			padding-bottom: ( $spacer / 5 );
			&::before {
				width: 0;
			}
		}
	}
}
