/*
 -  Tooltip
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'tooltip.component.variables.scss';

.tooltip {
	position: relative;
	display: inline-block;

	&__toggle {
		position: relative;
		line-height: 1;
		cursor: pointer;
	}

	&__content {
		position: absolute;
		display: none;
		padding: ( $spacer / 4 ) ( $spacer * .75 );
		background-color: $font-text;
		color: $white;
		font-size: $font-size-base;
		line-height: normal;
		text-transform: uppercase;
		border-radius: $tooltip-content-border-radius;
		box-shadow: $tooltip-content-box-shadow;
		z-index: $zindex-tooltip-content;
	}

	&--top,
	&--bottom {
		.tooltip__toggle {
			&::after {
				left: 50%;
			}
		}

		.tooltip__content {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&--top {
		.tooltip__toggle {
			&::after {
				bottom: calc(100% + 15px);
				transform: translateX(-50%) rotate(-45deg);
			}
		}

		.tooltip__content {
			bottom: 100%;
		}
	}

	&--bottom {
		.tooltip__content {
			top: calc(100% + #{$spacer * .75});
		}
	}

	&--left,
	&--right {
		.tooltip__toggle {
			&::after {
				top: 50%;
			}
		}

		.tooltip__content {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&--left {
		.tooltip__toggle {
			&::after {
				right: calc(100% + 15px);
				transform: translateY(-50%) rotate(-135deg);
			}
		}

		.tooltip__content {
			right: 100%;
		}
	}

	&--right {
		.tooltip__toggle {
			&::after {
				left: calc(100% + 15px);
				transform: translateY(-50%) rotate(45deg);
			}
		}

		.tooltip__content {
			left: 100%;
		}
	}

	&--open {
		.tooltip__toggle {
			&::after {
				display: block;
			}
		}

		.tooltip__content {
			display: block;
		}
	}

	&-supply-point-info {
		.tooltip {
			&__toggle {
				color: $primary;

				&:focus,
				&:hover {
					color: $primary-dark;
				}
			}

			&__content {
				min-width: 290px;
				padding: $spacer;
				text-transform: none;
			}
		}
	}

	&:hover:not(.tooltip-supply-point-info) {
		.tooltip__toggle {
			&::after {
				// Media queries
				@include media-breakpoint-up(xl) {
					display: block;
				}
			}
		}

		.tooltip__content {
			// Media queries
			@include media-breakpoint-up(xl) {
				display: block;
			}
		}
	}
}

::ng-deep .tooltip-supply-point-info-holder {
	line-height: 1;
}
