<div
    class="tooltip"
    [class.tooltip--open]="isOpen"
    [ngClass]="[
        direction ? 'tooltip--' + direction : '',
        customClass ? customClass : ''
    ]"
    (lndOffClick)="isOpen = false"
    [offClickEnabled]="isOpen">
    <div class="tooltip__toggle">
        <ng-container *ngTemplateOutlet="actionTemplate; context: { toggle: this.toggle } "></ng-container>
    </div>
    <div 
        #contentWrapperDiv 
        class="tooltip__content"
        [ngClass]="[customContentClass ? customContentClass : '']">
        <ng-content></ng-content>
    </div>
</div>
