<ng-template #paymentInfoTemplate>
    <div class="row justify-content-center">
        <div class="col-md-auto mb-5 mb-md-0 mt-md-2 text-center">
            <img
                *ngIf="paymentInfo.encodedQrCode"
                [src]="'data:image/jpeg;base64,' + paymentInfo.encodedQrCode"
                alt="QR kód"
                class="qr-code-img mr-md-6">
        </div>
        <div class="col-auto d-none d-md-block">
            <table class="table-basic">
                <tbody>
                <tr>
                    <td class="pr-3">Číslo účtu</td>
                    <td>
                        {{paymentInfo.accountNumber.accountNumber | accountNumber: paymentInfo.accountNumber.accountPrefix}}
                    </td>
                </tr>
                <tr>
                    <td class="pr-3">Banka</td>
                    <td>{{paymentInfo.accountNumber.bankCode}}</td>
                </tr>
                <tr>
                    <td class="pr-3">Částka</td>
                    <td>{{paymentInfo.amount | currency:paymentInfo.currency.currencyCode:'symbol':'1.0'}}</td>
                </tr>
                <tr>
                    <td class="pr-3">Splatnost</td>
                    <td>{{paymentInfo.dueDate | date:'d.&nbsp;M.&nbsp;y'}}</td>
                </tr>
                <tr>
                    <td class="pr-3">Variabilní symbol</td>
                    <td>{{paymentInfo.variableSymbol.value | simpleNumber}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-auto d-block d-md-none">
            <table class="table-basic">
                <tbody>
                <tr>
                    <td class="pb-3">
                        Číslo účtu
                        <span class="d-block">
                           {{paymentInfo.accountNumber.accountNumber | accountNumber: paymentInfo.accountNumber.accountPrefix}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="pb-3">
                        Banka
                        <span class="d-block">
                            {{paymentInfo.accountNumber.bankCode}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="pb-3">
                        Částka
                        <span class="d-block">
                            {{paymentInfo.amount | currency:paymentInfo.currency.currencyCode:'symbol':'1.0'}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="pb-3">
                        Splatnost
                        <span class="d-block">
                            {{paymentInfo.dueDate | date:'d.&nbsp;M.&nbsp;y'}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="pb-3">
                        Variabilní symbol
                        <span class="d-block">
                            {{paymentInfo.variableSymbol.value | simpleNumber}}
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
<pxe-layout-container [pageTitle]="supplyPoint.contract?.contractStatus == contractStatus.CONCLUDED ? 'Potvrzení' : 'Platba'">
    <div class="row mb-6">
        <div *ngIf="supplyPoint && supplyPoint.name" class="col-12 text-center">
            <h2>Odběrné místo: {{supplyPoint.name}}</h2>
        </div>
        <div class="col-12 col-xl-10 offset-xl-1">
            <pxe-progress-bar [config]="configStepper"></pxe-progress-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-placeloader [loading]="loading && !globalError.length"></lnd-placeloader>
        </div>
        <ng-container *ngIf="supplyPoint">
            <ng-container *ngIf="supplyPoint.contract?.contractStatus == contractStatus.WAITING_FOR_PAYMENT && paymentInfo">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <lnd-info-banner
                            [bannerTitle]="'Nyní potřebujeme ověřit vaši totožnost pomocí tzv. mikrotransakce nebo\&\#8209;li ověřovací platby.'"
                            [bannerDescription]="'<p>Na doručení této ověřovací platby čekáme do ' + (paymentInfo.dueDate | date:'d.&nbsp;M.&nbsp;y') + ', proto ji odešlete raději hned teď. Platba u nás může být během chvíle, ale z některé banky to může trvat až 3 dny a&nbsp;my vás nechceme zdržovat.</p><p>Okno aplikace můžete nyní zavřít a až platbu obdržíme, dáme vám vědět na e-mail.</p>'"
                            [bannerType]="bannerTypeImages.LOADING"
                            [showButton]="false"
                    ></lnd-info-banner>
                </div>
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="page-box">
                        <ng-container *ngTemplateOutlet="paymentInfoTemplate"></ng-container>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="supplyPoint.contract?.contractStatus == contractStatus.CONCLUDED"
                 class="col-12 col-xl-10 offset-xl-1">
                <lnd-info-banner
                        [bannerTitle]="'Gratulujeme k výhodnému nákupu energie na vašem parc4u!'"
                        [bannerDescription]="'Před koncem vaší smlouvy se ozveme s dalšími výhodnými nabídkami, které vám na burze stále hlídáme.'"
                        [buttonLabel]="'Přejít na přehled uzavřených smluv'"
                        [bannerType]="bannerTypeImages.ACCEPTED"
                        (buttonAction)="navigateToContracts()"
                ></lnd-info-banner>
            </div>
            <div *ngIf="supplyPoint.contract?.contractStatus == contractStatus.CANCELED || supplyPoint.contract?.contractStatus == contractStatus.TO_BE_CANCELED"
                 class="col-12 col-xl-10 offset-xl-1">
                <lnd-info-banner
                        [bannerTitle]="'Bohužel jsme neobdrželi vaši platbu. Smlouva byla stornována.'"
                        [bannerDescription]="'Pokud máte stále zájem o dodávku elektřiny nebo plynu, vyberte si prosím novou nabídku.'"
                        [buttonLabel]="'Pokračovat zadáním odběrného místa'"
                        [bannerType]="bannerTypeImages.REJECTED"
                        (buttonAction)="navigateToRequest(supplyPointNewVersion)"
                ></lnd-info-banner>
            </div>
        </ng-container>
    </div>
</pxe-layout-container>
