/*
 -  Carousel
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Bootstrap alert and close import
@import '~bootstrap/scss/carousel';

.carousel {
	&__left-right--disabled {
		.left {
			display: none;
		}
		.right {
			display: none;
		}
	}
}
