<pxe-layout-container pageTitle="Podepsání smlouvy">
    <div class="row mb-6">
        <div class="col-12 col-xl-10 offset-xl-1">
            <pxe-progress-bar [config]="configStepper"></pxe-progress-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <lnd-placeloader [loading]="loadingSupplyPoint && !globalError.length"></lnd-placeloader>
    <div *ngIf="supplyPoint"
         class="row">
        <div class="col-12 col-xl-10 offset-xl-1">
            <div class="row align-items-center mb-3">
                <div class="col-12 mb-5 col-md-3 mb-md-0 text-center text-md-left">
                    <lnd-button
                        label="Krok zpět"
                        type="secondary"
                        (action)="navigateRequestService.backStepAction(supplyPoint, PREVIOUS_PROGRESS_STATUS )">
                    </lnd-button>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <h2 class="mb-0">
                        Podepište smlouvu
                    </h2>
                </div>
            </div>
        </div>
        <div *ngIf="!supplyPoint.contract.offerValidity"
             class="col-12 col-xl-10 offset-xl-1">
            <lnd-banner-ui
                [data]="{
                    text: 'Platnost nabídky vypršela.'
                }"
                buttonLabel="Vybrat novou nabídku"
                (customBannerAction)="chooseNewOfferAction($event)">
            </lnd-banner-ui>
            <p class="mt-5">
                Tato nabídka již není aktivní. Dokumenty k uzavření dodávky energií/plynu dále nejsou k dispozici.
                Pokud máte pořád zájem o dodávku energií/plynu pro vaše odběrné místo, vyberte prosím novou nabídku.
            </p>
        </div>
        <div class="col-12 text-center mb-2 d-xl-none">
            <lnd-button
                [label]="showOffer ? 'Skrýt nabídku' : 'Zobrazit nabídku'"
                type="link"
                (click)="toggleOffer()">
            </lnd-button>
        </div>
        <div
            class="col-12 col-xl-10 offset-xl-1 d-xl-block"
            [class.d-block]="showOffer"
            [class.d-none]="!showOffer">
            <pxe-supply-point-offer
                [supplyPointOffer]="supplyPoint.contract.offer"
                [deposit]="supplyPoint.contract.personalData.deposit"
                [interactive]="false">
            </pxe-supply-point-offer>
        </div>
        <div *ngIf="supplyPoint.contract.offerValidity"
             class="col-12 col-xl-10 offset-xl-1">
            <div class="page-box">
                <p>
                    Níže naleznete dokumenty potřebné k uzavření dodávky
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.POWER">energií</ng-container>
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.GAS">plynu</ng-container> pro budoucí období.
                    Návrh smlouvy o sdružených službách dodávky
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.POWER">elektřiny</ng-container>
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.GAS">plynu</ng-container>, obsahuje také všeobecné obchodní
                    podmínky dodávky a plnou moc pro dodavatele.
                </p>
                <div class="text-with-icon align-items-start align-items-md-center">
                    <span class="icon icon--document mt-1 mt-md-0"></span>
                    <span class="text-with-icon__text small">informace před uzavřením smlouvy o sdružených službách dodávky
                        <ng-container *ngIf="supplyPoint.commodityType === commodityType.POWER">elektřiny</ng-container>
                        <ng-container *ngIf="supplyPoint.commodityType === commodityType.GAS">plynu</ng-container>
                        <a class="ml-0 ml-md-3 mt-2 mt-md-0 d-block d-md-inline-block"
                           [class.link--disabled]="documentLoading"
                           (click)="openDocument(supplyPoint.contract.contractId, documentType.INFORMATION)">Zobrazit</a>
                    </span>
                </div>
                <div class="text-with-icon align-items-start align-items-md-center mb-5">
                    <span class="icon icon--document mt-1 mt-md-0"></span>
                    <span class="text-with-icon__text small">smlouva o sdružených službách dodávky
                        <ng-container *ngIf="supplyPoint.commodityType === commodityType.POWER">elektřiny</ng-container>
                        <ng-container *ngIf="supplyPoint.commodityType === commodityType.GAS">plynu</ng-container>
                        <a class="ml-0 ml-md-3 mt-2 mt-md-0 d-block d-md-inline-block"
                           [class.link--disabled]="documentLoading"
                           (click)="openDocument(supplyPoint.contract.contractId, documentType.CONTRACT)">Zobrazit</a>
                    </span>
                </div>
                <p>
                    Kliknutím na tlačítko „PODEPSAT“ souhlasím s výše uvedeným návrhem smlouvy o sdružených službách
                    dodávky
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.POWER">elektřiny</ng-container>
                    <ng-container *ngIf="supplyPoint.commodityType === commodityType.GAS">plynu</ng-container>, včetně přiložených všeobecných obchodních podmínek dodávky a uděluji
                    dodavateli plnou moc, která je přílohou návrhu smlouvy. Potvrzuji, že jsem se s obsahem těchto
                    dokumentů seznámil. Potvrzuji, že jsem obdržel dokument „Informace před uzavřením smlouvy“.
                </p>
                <pxe-verification-form
                    *ngIf="supplyPoint | pathValue:['contract', 'personalData', 'phone']"
                    [fieldError]="fieldError"
                    [formLoading]="formLoading"
                    [contract]="supplyPoint.contract"
                    [globalError]="globalError"
                    [showSentSmsLabelUnderFirstField]="false"
                    [smsSent]="smsSent"
                    (submitAction)="signContract($event)"
                    (customAction)="sendContractConfirmationSms()"
                ></pxe-verification-form>
            </div>
        </div>
    </div>
</pxe-layout-container>
