/*
 -  Footer
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';


.footer {
	position: relative;
	padding: ( $spacer * 5 ) 0 $spacer;
	font-size: $small-font-size;
	text-align: center;
	z-index: $zindex-footer;

	// Media queries
	@include media-breakpoint-up(md) {
		height: $footer-height-tablet;
		padding: ( $spacer * 3.5 ) 0 ( $spacer * 1.5 );
	}
	@include media-breakpoint-up(xl) {
		padding-top: ( $spacer * 5 );
	}

	&--public {
		background-color: $white;
	}

	.copy-holder,
	.logo-holder {
		margin-bottom: ( $spacer / 2 );
	}

	.logo {
		width: $logo-width-mobile;
		height: $logo-height-mobile;
	}
}

.footer-navigation {
	&__list {
		@include reset-list;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		// Media queries
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
	}

	&__item {
		&:nth-child(n + 2) {
			margin-top: ( $spacer / 2 );

			// Media queries
			@include media-breakpoint-up(md) {
				position: relative;
				margin-top: 0;
				margin-left: ( $spacer * 2 );
			}
		}
	}
}
