<footer
    class="footer"
    [class.footer--public]="isSimpleFooter"
    [class.footer--secured]="!isSimpleFooter"
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footer-container">
                <div class="copy-holder">
                    <div class="logo-holder">
                        <img
                            src="/assets/images/layout/logo-pxe.svg"
                            class="logo"
                            title="PXE"
                            alt="logo PXE"
                        />
                    </div>
                    <p class="copy mb-0">
                        &copy;&nbsp;POWER EXCHANGE CENTRAL EUROPE, a.s. {{ year
                        }}
                    </p>
                </div>
            </div>
            <div class="col-12">
                <nav class="footer-navigation">
                    <ng-content></ng-content>
                </nav>
            </div>
        </div>
    </div>
</footer>
