/*
 -  Footer
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';


.footer {
	font-size: $small-font-size;

	&--public {
		position: relative;
		background-color: $white;
		padding: 60px 0;
		text-align: center;

		// Media queries
		@include media-breakpoint-up(md) {
			padding: 70px 0;
		}
	}
}

.footer-container {
	// Media queries
	@include media-breakpoint-up(lg) {
	}
}

.footer-navigation {
	&__list {
		@include reset-list;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		// Media queries
		@include media-breakpoint-up(md) {
			// text-align: left;
			flex-direction: row;
			// justify-content: flex-start;
		}
		// @include media-breakpoint-up(md) {
		// 	justify-content: flex-end;
		// }
	}

	&__item {
		&:nth-child(n + 2) {
			margin-top: ( $spacer / 2 );

			// Media queries
			@include media-breakpoint-up(md) {
				position: relative;
				margin-top: 0;
				margin-left: ( $spacer * 2 );
			}
		}
	}
}

// .cookies-holder {
// }

.copy-holder {
	margin-bottom: ( $spacer / 2 );
}

.logo-holder {
	margin-bottom: ( $spacer / 2 );
}

.logo {
	width: 80px;
	height: 32px;
}

// .btn-scroll-top {
// 	&,
// 	&:visited {
// 		display: none;
// 		position: absolute;
// 		top: -( $scroll-top-size / 2 );
// 		right: ( $spacer / 2 );
// 		width: $scroll-top-size;
// 		height: $scroll-top-size;
// 		line-height: $scroll-top-size;
// 		background-color: $primary;
// 		text-align: center;
// 		text-decoration: none;
// 		color: $white;

// 		// Media queries
// 		@include media-breakpoint-up(md) {
// 			top: -( $scroll-top-size / 1.5 );
// 		}
// 	}

// 	&:hover,
// 	&:focus {
// 		background-color: $primary-dark;
// 		color: $white;
// 		cursor: pointer;
// 	}

// 	&:active,
// 	&:active:focus {
// 		background-color: darken($primary, 10%);
// 		color: $white;
// 	}

// 	.icon {
// 		font-size: .625rem;
// 	}

// 	&--visible {
// 		display: block;
// 		transition: all ease-in $animation-speed;
// 	}
// }
