<footer
    class="footer"
    [class.footer--public]="isSimpleFooter"
    [class.footer--secured]="!isSimpleFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 footer-container">
                <div class="copy-holder">
                    <div class="logo-holder">
                        <img
                            src="/assets/images/layout/logo-pxe.svg"
                            class="logo"
                            title="PXE"
                            alt="logo PXE">
                    </div>
                    <p class="copy mb-0">
                        &copy;&nbsp;POWER EXCHANGE CENTRAL EUROPE, a.s. 2018
                    </p>
                </div>
            </div>
            <div class="col-12">
                <nav class="footer-navigation">
                    <ng-content></ng-content>
                </nav>
            </div>
            <!-- <div
                class="col-12"
                *ngIf="!isSimpleFooter">
                <div class="cookies-holder">
                    <p class="cookies mb-0">
                        Při poskytování služeb nám pomáhají soubory cookie. Používáním webu vyjadřujete souhlas.
                    </p>
                </div>
            </div> -->
        </div>
        <!-- <span
            (click)="scrollToTop()"
            class="btn-scroll-top"
            [ngClass]="{'btn-scroll-top--visible': scrollToTopIsVisible}">
            <span class="icon icon--arrow-minimal-up"></span>
        </span> -->
    </div>
</footer>
