<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 footer-container">
                <div class="row justify-content-md-between">
                    <div class="col-6 order-md-2 col-md-auto">
                        <!-- <nav class="footer-navigation">
                            <ul class="footer-navigation__list">
                                <li class="footer-navigation__item">
                                    <a routerLink="/secured/dashboard" class="footer-navigation__link">Dashboard</a>
                                </li>
                                <li class="footer-navigation__item">
                                    <a routerLink="/secured/cart" class="footer-navigation__link">Nákupní košík</a>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                    <div class="col-6 order-md-1 col-md-auto">
                        <div class="copy-holder">
                            <span class="copy">
                                &copy;&nbsp;POWER EXCHANGE CENTRAL EUROPE, a.s. 2018
                            </span>
                        </div>
                    </div>
                </div>
                <span
                    (click)="scrollToTop()"
                    class="btn-scroll-top"
                    [ngClass]="{'btn-scroll-top--visible': scrollToTopIsVisible}">
                    <span class="icon icon--arrow-minimal-up"></span>
                </span>
            </div>
        </div>
    </div>
</footer>
