/**
 *	Error page(s)
 */

// Core component import
@import '../01_base/base.scss';

@import 'src/common/ui/button/button.component.variables.scss';
@import 'src/common/ui/header/header.component.scss';


.error-page {
	&__status-illustration-picture {
		width: auto;
		height: 90px;
		margin-bottom: $spacer;
	}

	&__title {
		margin-bottom: ( $spacer * .25  );
		font-size: 1.5rem;
	}

	&__next-steps {
		@include reset-list;
		margin-bottom: ( $spacer * 1.5  );
		counter-reset: error-next-steps-counter;

		> li {
			@include reset-pa-ma;
			counter-increment: error-next-steps-counter;

			&::before {
				content: counter(error-next-steps-counter) '.';
				position: relative;
				left: 0;
				margin-right: ( $spacer * .5  );
				font-weight: 400;
			}
		}
	}

	&__control {
		&,
		&:visited {
			display: inline-block;
			padding: $btn-padding-y $btn-padding-x;
			background-color: $primary;
			color: $white;
			text-decoration: none;
			white-space: normal;
			box-shadow: none;
			border: none;
			border-radius: $btn-border-radius;
		}

		&:focus,
		&.focus {
			box-shadow: $btn-focus-box-shadow;
		}

		&:hover,
		&:active,
		&:focus:active {
			background-color: $primary-dark;
		}
	}
}

.error-page-500 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc( 100vh - ( 2 * #{$spacer} )  );
	margin-top: $spacer;

	@media only screen and (min-width: 1366px) {
		margin-top: -$logo-height-desktop;
	}

	p {
		margin: 0 0 ( $spacer * .25  );
	}

	.footer {
		height: auto;
	}

	.link {
		&,
		&:visited {
			cursor: pointer;
			color: $link-color;
			text-decoration: $link-decoration;
		}

		&:focus,
		&:hover {
			color: $link-hover-color;
			text-decoration: $link-hover-decoration;
		}
	}
}
