/*
 -  Lading page
 -
 -
 */

.landing-page {
	padding-top: 110px;

	// Media queries
	@include media-breakpoint-up(xl) {
		padding-top: 0;
	}

	.section {
		position: relative;
		padding: ( $spacer * 2 ) 0 ( $spacer * 3 );

		// Media queries
		@include media-breakpoint-up(md) {
			padding: ( $spacer * 3 ) 0 ( $spacer * 4 );
		}
		@include media-breakpoint-up(lg) {
			padding: ( $spacer * 4.5 ) 0 ( $spacer * 5.5 );
		}

		&--picture-first,
		&--picture-second {
			// Media queries
			@include media-breakpoint-down(xs) {
				padding-top: ( $spacer * 2 ) + $landing-page-picture-height-mobile;
			}
		}

		&--picture-second {
			.section-picture-holder {
				// Media queries
				@include media-breakpoint-up(md) {
					left: 50%;
				}
			}
		}

		&--video {
			padding-top: 220px;

			// Media queries
			@include media-breakpoint-up(md) {
				height: 550px;
				padding-top: 0;
			}
			@include media-breakpoint-up(xl) {
				height: 800px;
			}
		}

		&--carousel {
			padding-top: ( $spacer * 2 );

			// Media queries
			@include media-breakpoint-up(md) {
				padding-top: ( $spacer * 5 );
			}
		}
	}

	.section-video-text {
		padding: 60px ( $spacer * 1.25 );

		// Media queries
		@include media-breakpoint-up(md) {
			position: absolute;
			display: flex;
			align-items: center;
			width: 50%;
			height: 100%;
			padding: 0;
			background-color: rgba($white, .8);
			z-index: 10;
		}
		@include media-breakpoint-up(xl) {
			background-color: transparent;
		}
	}

	.section-video-holder {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 220px;

		// Media queries
		@include media-breakpoint-up(md) {
			height: 100%;
		}
	}

	.video-picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.section-video {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		min-width: 100%;
		width: auto;
		min-height: 100%;
		height: auto;
		transform: translate(-50%, -50%);
	}

	.about-our-benefit {
		// Media queries
		@include media-breakpoint-up(md) {
			padding-top: 100px;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 120px;
		}

		.section-picture {
			// Media queries
			@include media-breakpoint-down(xs) {
				width: 140%;
				top: 30%;
			}
		}
	}

	.section-picture-holder {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 320px;

		// Media queries
		@include media-breakpoint-up(md) {
			width: 50%;
			height: 100%;
		}
	}

	.section-picture {
		@include absolute-center;
		width: 100%;
		height: auto;

		// Media queries
		@include media-breakpoint-up(md) {
			width: auto;
			height: 100%;
		}
		@include media-breakpoint-up(xl) {
			height: 125%;
		}
		@include media-breakpoint-up(lg) {
			width: 108%;
			height: auto;
		}
	}

	.landing-page-illustration {
		width: auto;
		height: 100px;
		margin-bottom: ( $spacer * 1.5 );

		// Media queries
		@include media-breakpoint-up(md) {
			height: 105px;
		}
		@include media-breakpoint-up(lg) {
			height: 150px;
		}
	}

	&__process-arrow {
		pointer-events: none;
		position: absolute;
		top: 100%;
		right: 50%;
		color: $primary;
		margin-top: -( $landing-page-process-arrow-height-mobile / 2 );
		margin-right: -( $landing-page-process-arrow-width-mobile / 2 );
		font-size: $landing-page-process-arrow-width-mobile;
		width: $landing-page-process-arrow-width-mobile;
		height: $landing-page-process-arrow-height-mobile;
		line-height: $landing-page-process-arrow-height-mobile;
		transform: rotate(90deg);

		// Media queries
		@include media-breakpoint-up(md) {
			transform: rotate(0);
			top: 50%;
			right: 0;
		}
		@include media-breakpoint-up(lg) {
			margin-top: -( $landing-page-process-arrow-height-desktop / 2 );
			margin-right: -( $landing-page-process-arrow-width-desktop / 2 );
			font-size: $landing-page-process-arrow-width-desktop;
			width: $landing-page-process-arrow-width-desktop;
			height: $landing-page-process-arrow-height-desktop;
			line-height: $landing-page-process-arrow-height-desktop;
		}
	}

	.carousel {
		padding-bottom: ( $spacer * 1.5 );

		// Media queries
		@include media-breakpoint-up(md) {
			padding-bottom: 0;
		}

		&-item {
			padding: ( ( $spacer * 2 ) + $landing-page-picture-height-mobile ) ( $spacer * 1.5 ) 0 ( $spacer * 1.5 );
	
			// Media queries
			@include media-breakpoint-up(md) {
				padding: ( $spacer * 6 ) 0;
			}
		}

		&-item-img {
			width: 100%;
			height: auto;
		}

		.carousel-indicators {
			margin-bottom: 0;

			// Media queries
			@include media-breakpoint-up(md) {
				left: 0;
				width: 50%;
				margin-bottom: ( $spacer * 1.5 );
			}

			& > li {
				width: 16px;
				height: 16px;
				padding: 0;
				margin: 0 $spacer 0 0;
				background-color: $light;
				border: none;
				border-radius: 16px;
				opacity: 1;

				&:last-child {
					margin-right: 0;
				}

				&:focus,
				&:hover {
					background-color: $light-dark;
				}
			}
		
			.active {
				background-color: $secondary;

				&:focus,
				&:hover {
					background-color: $secondary-dark;
				}
			}
		}
	}
}
