/*
 -  Lading page
 -
 -
 */

.landing-page {
	// Section Video
	.section-video-text {
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 0;
		z-index: $zindex-lp-video-text;
		pointer-events: none;

		// Media queries
		@include media-breakpoint-up(md) {
			padding-top: 0;
			background-color: transparent;
		}
	}

	.section-video-control {
		// Media queries
		@include media-breakpoint-down(xs) {
			@include absolute-center;
			z-index: $zindex-lp-video-control;
		}
	}

	.section-video-holder {
		position: relative;
		width: calc( 100% + #{$spacer} );
		margin: 0 ( -$spacer / 2 );

		// Media queries
		@include media-breakpoint-up(md) {
			width: 100%;
			margin: 0;
		}
		@include media-breakpoint-up(xl) {
			width: calc( 100% + #{$spacer} );
			margin: 0 ( -$spacer / 2 );
		}
		@include media-breakpoint-up(lg) {
			width: 100%;
			margin: 0;
		}
	}

	.video-picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.section-video {
		display: block;
		width: 100%;
	}

	// Section Picture
	.section-picture-holder {
		width: calc( 100% + #{$spacer} );
		margin: 0 ( -$spacer / 2 );

		// Media queries
		@include media-breakpoint-up(xl) {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			height: 100%;
		}
		// Media queries
		@include media-breakpoint-up(lg) {
			width: 100%;
			margin: 0;
		}
	}

	.section-picture {
		width: 100%;
		height: auto;

		// Media queries
		@include media-breakpoint-up(xl) {
			@include absolute-center(false);
			min-width: 100%;
			width: auto;
			min-height: 100%;
		}
		@include media-breakpoint-up(lg) {
			height: auto;
		}
	}

	.section-picture-overflow-text-holder {
		display: none;

		// Media queries
		@include media-breakpoint-up(xl) {
			position: absolute;
			display: inline;
			bottom: 20px;
			left: 0;
		}
	}

	.section-picture-overflow-text {
		// Media queries
		@include media-breakpoint-up(xl) {
			display: inline;
			padding: ( $spacer / 4 ) ( $spacer / 2 );
			background-color: $white;
			line-height: 1.5;
		}
	}

	.numerical-list-lp {
		display: flex;
		flex-wrap: wrap;

		// Media queries
		@include media-breakpoint-up(md) {
			margin: 0 ( -$spacer );
		}
		@include media-breakpoint-up(lg) {
			margin: 0 ( -$spacer * 1.5 );
		}

		li {
			padding-top: ( $spacer + $numerical-list-lp-numb-size );
			padding-left: 0;

			// Media queries
			@include media-breakpoint-up(md) {
				width: 50%;
				padding-left: $spacer;
				padding-right: $spacer;
			}
			@include media-breakpoint-up(lg) {
				width: 25%;
				padding-left: ( $spacer * 1.5 );
				padding-right: ( $spacer * 1.5 );
			}

			&::before {
				width: $numerical-list-lp-numb-size;
				height: $numerical-list-lp-numb-size;
				padding-left: ( $spacer / 10 );
				background-color: $secondary;
				color: $white;
				letter-spacing: -2px;
				text-align: center;
				border-radius: $numerical-list-lp-numb-size;

				// Media queries
				@include media-breakpoint-up(md) {
					left: 20px;
				}
				@include media-breakpoint-up(lg) {
					left: 30px;
				}
			}
		}
	}

	.link-next-section {
		@include link-without-href {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: $landing-page-link-next-section-size;
			height: $landing-page-link-next-section-size;
			background-color: $body-bg-lp;
			color: $font-text;
			border-radius: $landing-page-link-next-section-size;
			box-shadow: $box-shadow-circle;
		}

		@include link-without-href-interactive {
			background-color: darken($body-bg-lp, 5%);
			color: $font-text;
			text-decoration: none;
		}

		&__icon {
			transform: rotate(90deg);
		}
	}
}
