/*
 -  Lading page
 -
 -
 */

.landing-page {
	padding-top: $header-height;
	background-color: $white;

	// Media queries
	@include media-breakpoint-up(xl) {
		padding-top: 0;
	}

	.section {
		position: relative;
		padding: ( $spacer * 2 ) 0 ( $spacer * 3 );

		// Media queries
		@include media-breakpoint-up(md) {
			padding: ( $spacer * 3 ) 0 ( $spacer * 4 );
		}
		@include media-breakpoint-up(lg) {
			padding: ( $spacer * 4.5 ) 0 ( $spacer * 5.5 );
		}

		&--picture-half {
			padding: 0 0 ( $spacer * 8 );

			// Media queries
			@include media-breakpoint-up(md) {
				padding-bottom: 0;
			}

			.section-picture-text {
				padding-top: ( $spacer * 4 );

				// Media queries
				@include media-breakpoint-up(md) {
					padding-top: ( $spacer * 6 );
				}
				@include media-breakpoint-up(xl) {
					padding: ( $spacer * 7 ) 0 ( $spacer * 8 );
				}
			}
		}

		&--picture-full {
			// Media queries
			@include media-breakpoint-down(xs) {
				padding-bottom: ( $spacer * 2 ) + $landing-page-picture-height-mobile;
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: ( $spacer * 3 );
			}
			@include media-breakpoint-up(xl) {
				padding: ( $spacer * 7 ) 0 ( $spacer * 8 );
			}

			.section-picture-text {
				position: relative;
				z-index: 1;
			}

			.section-picture-holder {
				top: auto;
				bottom: 0;

				// Media queries
				@include media-breakpoint-up(md) {
					width: 100%;
					overflow: visible;
				}
			}

			.section-picure {
				position: absolute;
				top: 0;
				right: 0;
				min-width: 100%;
				width: auto;
				min-height: 100%;
			}
		}

		&--video {
			padding: 0;
			//padding-top: $landing-page-video-content-height-mobil;

			// Media queries
			@include media-breakpoint-up(md) {
				padding-bottom: ( $spacer / 2 );
			}
			@include media-breakpoint-up(xl) {
				padding-bottom: 0;
			}
		}

		&--light {
			background-color: $body-bg;
		}
	}

	// Section Video
	.section-video-text {
		padding-top: $spacer;

		// Media queries
		@include media-breakpoint-up(md) {
			position: absolute;
			display: flex;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-top: 0;
			z-index: $zindex-lp-vide-text;
		}
		@include media-breakpoint-up(md) {
			align-items: center;
			padding-top: 0;
			background-color: transparent;
		}
	}

	.section-video-control {
		// Media queries
		@include media-breakpoint-down(xs) {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 1;
		}
	}

	.section-video-holder {
		overflow: hidden;
		width: calc( 100% + 20px );
		margin: 0 -10px;

		// Media queries
		@include media-breakpoint-up(md) {
			// position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		// Media queries
		@include media-breakpoint-up(lg) {
			width: 100%;
			margin: 0;
		}
	}

	.video-picture {
		position: absolute;
		top: 0;
		left: 5%;
		width: 100%;
	}

	.section-video {
		display: block;
		width: 100%;

		// Media queries
		@include media-breakpoint-up(md) {}
	}

	// Section Picture
	.section-picture-holder {
		width: calc( 100% + 20px );
		margin: 0 -10px;

		// Media queries
		@include media-breakpoint-up(xl) {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			height: 100%;
		}
		// Media queries
		@include media-breakpoint-up(lg) {
			width: 100%;
			margin: 0;
		}
	}

	.section-picture {
		width: 100%;
		height: auto;

		// Media queries
		@include media-breakpoint-up(xl) {
			@include absolute-center(false);
			min-width: 100%;
			width: auto;
			min-height: 100%;
		}
		@include media-breakpoint-up(lg) {
			height: auto;
		}
	}

	.section-picture-overflow-text {
		display: none;
		// Media queries
		@include media-breakpoint-up(xl) {
			position: absolute;
			display: inline;
			bottom: 20px;
			left: 0;
			padding: 10px;
			background-color: $white;
		}
	}

	.landing-page-illustration {
		width: auto;
		height: 100px;
		margin-bottom: ( $spacer * 1.5 );

		// Media queries
		@include media-breakpoint-up(md) {
			height: 105px;
		}
		@include media-breakpoint-up(lg) {
			height: 150px;
		}
	}
}
