/*
 -  Lading page
 -
 -
 */

.landing-page {
	padding-top: $header-height;
	background-color: $white;

	// Media queries
	@include media-breakpoint-up(xl) {
		padding-top: 0;
	}

	.section {
		position: relative;
		padding: ( $spacer * 2 ) 0 ( $spacer * 3 );

		// Media queries
		@include media-breakpoint-up(md) {
			padding: ( $spacer * 3 ) 0 ( $spacer * 4 );
		}
		@include media-breakpoint-up(lg) {
			padding: ( $spacer * 4.5 ) 0 ( $spacer * 5.5 );
		}

		&--picture-first,
		&--picture-second {
			padding-top: ( $spacer * 2 ) + $landing-page-picture-height-mobile;

			// Media queries
			@include media-breakpoint-up(md) {
				padding-top: ( $spacer * 2 ) + $landing-page-picture-height-tablet;
			}
			@include media-breakpoint-up(xl) {
				padding: ( $spacer * 7 ) 0 ( $spacer * 8 );
			}
		}

		&--picture-second {
			.section-picture-holder {
				// Media queries
				@include media-breakpoint-up(xl) {
					left: 50%;
				}
			}
		}

		&--picture-full {
			// Media queries
			@include media-breakpoint-down(xs) {
				padding-bottom: ( $spacer * 2 ) + $landing-page-picture-height-mobile;
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: ( $spacer * 3 );
			}
			@include media-breakpoint-up(xl) {
				padding: ( $spacer * 7 ) 0 ( $spacer * 8 );
			}

			.section-picture-text {
				position: relative;
				z-index: 1;
			}

			.section-picture-holder {
				top: auto;
				bottom: 0;

				// Media queries
				@include media-breakpoint-up(md) {
					width: 100%;
					overflow: visible;
				}
			}

			.section-picure {
				position: absolute;
				top: 0;
				right: 0;
				min-width: 100%;
				width: auto;
				min-height: 100%;
			}
		}

		&--video {
			padding-top: $landing-page-video-content-height-mobil;

			// Media queries
			@include media-breakpoint-up(md) {
				height: $landing-page-video-content-height-tablet;
				padding: 0;
				background-color: $body-bg;
			}
			@include media-breakpoint-up(xl) {
				height: $landing-page-video-content-height-desktop;
			}
		}

		&--light {
			background-color: $body-bg;
		}
	}

	// Section Video
	.section-video-text {
		padding: ( $spacer * 3 ) ( $spacer * 1.25 );

		// Media queries
		@include media-breakpoint-up(md) {
			position: absolute;
			display: flex;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: ( $spacer * 6 ) 0 0;
			z-index: $zindex-lp-vide-text;
			pointer-events: none;
		}
		@include media-breakpoint-up(md) {
			align-items: center;
			padding-top: 0;
			background-color: transparent;
		}
	}

	.section-video-holder {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: $landing-page-video-content-height-mobil;

		// Media queries
		@include media-breakpoint-up(md) {
			height: 100%;
		}
	}

	.video-picture {
		position: absolute;
		top: 0;
		left: 5%;
		width: 100%;
	}

	.section-video {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		min-width: 100%;
		width: auto;
		min-height: 100%;
		height: auto;
		transform: translate(-50%, -50%);
	}

	// Section Picture
	.section-picture-holder {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 320px;

		// Media queries
		@include media-breakpoint-up(md) {
			height: $landing-page-picture-height-tablet;
		}
		@include media-breakpoint-up(xl) {
			width: 50%;
			height: 100%;
		}
	}

	.section-picture {
		@include absolute-center(false);
		//bottom: 0;
		width: 100%;
		height: auto;

		// Media queries
		/* @include media-breakpoint-up(md) {
			width: auto;
			height: 100%;
		} */
		@include media-breakpoint-up(xl) {
			min-width: 100%;
			height: 125%;
		}
		@include media-breakpoint-up(lg) {
			width: 100%;
			height: auto;
		}
	}

	.section-picture-overflow-text {
		display: none;
		// Media queries
		@include media-breakpoint-up(xl) {
			position: absolute;
			display: inline;
			bottom: 20px;
			left: 0;
			padding: 10px;
			background-color: $white;
		}
	}

	.landing-page-illustration {
		width: auto;
		height: 100px;
		margin-bottom: ( $spacer * 1.5 );

		// Media queries
		@include media-breakpoint-up(md) {
			height: 105px;
		}
		@include media-breakpoint-up(lg) {
			height: 150px;
		}
	}
}
