/*
 -  Login & registration page
 -
 -
 */

.login-page {
	.section-picture-text {
		position: relative;
		padding-bottom: ( $spacer * 13  );
		// z-index: $zindex-lp-picture-bg-overlap;

		// Media queries
		@include media-breakpoint-up(md) {
			padding-top: $spacer;
		}
		@include media-breakpoint-up(xl) {
			padding: ( $spacer * 3 ) 0 ( $spacer * 5  );
		}

		&::after {
			content: '';
			position: absolute;
			top: 20%;
			right: -30px;
			width: calc( 100% + #{$spacer} );
			height: $landing-page-picture-bg-height-mobile;
			background-image: url(/assets/images/landing-page/lp-picture-socket.png);
			background-repeat: no-repeat;
			background-position: right center;
			background-size: $landing-page-picture-bg-height-mobile auto;
			z-index: $zindex-lp-picture-bg;

			// Media queries
			@include media-breakpoint-up(md) {
				top: 32%;
				height: $landing-page-picture-bg-height-tablet;
				background-position-y: top;
				background-size: 90%;
			}
			@include media-breakpoint-up(xl) {
				top: 10%;
				height: $landing-page-picture-bg-height-laptop;
				background-size: 70%;
			}
			@include media-breakpoint-up(lg) {
				top: 0;
				width: 100%;
				height: 850px;
				background-size: $landing-page-picture-bg-height-desktop;
			}
		}
	}
}

.check-list-wrapper {
	// Media queries
	@include media-breakpoint-up(md) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
}
