/*
 -  Payment verification page
 -
 -
 */


// Core component import
@import 'src/assets/scss/01_base/base.scss';

.table-basic {
	tbody {
		td {
			padding: 0 ( $spacer / 4 );
		}

		td:first-child {
			// Media queries
			@include media-breakpoint-up(md) {
				text-align: right;
				width: 50%;
				opacity: .5;
			}
		}

		td:last-child {
			// Media queries
			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}
	}
}
