<ng-template
    #templateNotFoundFillBySelfDefault
    let-searchTerm="searchTerm">
    Adresu jsme nenašli. Možná jste se překlepli, zkuste to znovu nebo <a (click)="fillAddressBySelf($event)"> vyplňte adresu ručně</a>.
</ng-template>

<ng-template
    #templateNotFoundFewArgumentsDefault
    let-searchTerm="searchTerm">
    Začněte psát a my vám našeptáme adresu.
</ng-template>


<ng-template
    #templateItemDefault
    let-item="item"
    let-index="index">
    {{ item.street }}&nbsp;{{ item.orientationNumber }}<ng-container *ngIf="item && item.orientationNumber && item.descriptiveNumber">/</ng-container>{{ item.descriptiveNumber }}<br>
    {{ item.city }}&nbsp;{{ item.postCode }}
</ng-template>

<ng-template
    #templateLabelDefault
    let-item="item"
    let-index="index">
    {{ item.street }}&nbsp;{{ item.orientationNumber }}<ng-container *ngIf="item && item.orientationNumber && item.descriptiveNumber">/</ng-container>{{ item.descriptiveNumber }},
    {{ item.city }}, {{ item.postCode }}
</ng-template>

<div #selectWrapper>
    <lnd-select
        #lndSelect
        [addTag]="false"
        [subtextTemplate]="subtextTemplate"
        [appendButtonIcon]="appendButtonIcon"
        (appendButtonAction)="appendButtonAction.emit()"
        [bindValue]="null"
        (close)="setAddresses()"
        [disabledField]="disabled"
        [error]="error"
        [label]="label"
        [placeholder]="placeholder"
        [searchable]="true"
        [selectName]="whispererName"
        [options]="addresses"
        [parentForm]="parentForm"
        [success]="success"
        [templateItem]="templateItem || templateItemDefault"
        [templateLabel]="templateLabel || templateLabelDefault"
        [templateNotFound]="isStartedSearching ? templateNotFoundFillBySelf || templateNotFoundFillBySelfDefault : templateNotFoundFewArguments || templateNotFoundFewArgumentsDefault"
        [touched]="touched"
        [typeahead]="typeahead"
        [validationMessages]="validationMessages"
        customClass="ng-select-custom--address"
    >
    </lnd-select>
</div>
<pxe-address-whisperer-by-self-form
    *ngIf="showForm"
    [parentForm]="parentForm"
    [formFields]="formFields"
    [whispererName]="whispererName + END_NAME_OF_FORM"
    (sendDataIfValidAction)="fillAddressWhispererIfIsValid($event)"
>
</pxe-address-whisperer-by-self-form>
