<ng-template
    #templateNotFoundDefault
    let-searchTerm="searchTerm">
    <div class="ml-2 mr-2 small">
        Adresu jsme nenašli. Možná jste se překlepli, zkuste to znovu nebo <a (click)="fillAddressBySelf($event)"> vyplňte adresu ručně</a>.
    </div>
</ng-template>

<ng-template
    #templateItemDefault
    let-item="item"
    let-index="index">
    {{ item.street }}&nbsp;{{ item.orientationNumber }}<ng-container *ngIf="item && item.orientationNumber && item.descriptiveNumber">/</ng-container>{{ item.descriptiveNumber }}<br>
    {{ item.city }}&nbsp;{{ item.postCode }}
</ng-template>

<ng-template
    #templateLabelDefault
    let-item="item"
    let-index="index">
    {{ item.street }}&nbsp;{{ item.orientationNumber }}<ng-container *ngIf="item && item.orientationNumber && item.descriptiveNumber">/</ng-container>{{ item.descriptiveNumber }},
    {{ item.city }}, {{ item.postCode }}
</ng-template>

<ng-template #subtextTemplate>
    <p class="small mt-0 mb-1" *ngIf="!disabled">
        Začněte psát a my vám našeptáme kompletní adresu.
    </p>
</ng-template>
<div class="address-whisperer">
    <div #selectWrapper
         class="select-wrapper">
        <lnd-select
            #lndSelect
            [class.is-started-searching]="!isStartedSearching"
            [addTag]="false"
            [subtextTemplate]="subtextTemplate"
            [appendButtonIcon]="appendButtonIcon"
            (appendButtonAction)="appendButtonAction.emit()"
            [bindValue]="null"
            [disabledField]="disabled"
            [error]="error"
            [label]="label"
            [placeholder]="placeholder"
            [searchable]="true"
            [selectName]="whispererName"
            [options]="addresses"
            [parentForm]="parentForm"
            [success]="success"
            [templateItem]="templateItem || templateItemDefault"
            [templateLabel]="templateLabel || templateLabelDefault"
            [templateNotFound]="templateNotFound || templateNotFoundDefault"
            [touched]="touched"
            [typeahead]="typeahead"
            [validationMessages]="validationMessages"
            customClass="ng-select-custom--address"
        >
        </lnd-select>
    </div>

    <div *ngIf="!showForm">
        <div class="align-checkbox-to-upper-element-in-address" *ngIf="checkboxTemplate">
            <ng-container *ngTemplateOutlet="checkboxTemplate"></ng-container>
        </div>
    </div>
    <pxe-address-not-found
        *ngIf="showForm && !disabled"
        [parentForm]="parentForm"
        [formFields]="formFields"
        [whispererName]="nameOfTemporaryWhisererFormGroup"
        (sendValidAddressAction)="sendValidAddress($event)"
    >
    </pxe-address-not-found>
    <div *ngIf="showForm">
        <div
            class="align-checkbox-to-upper-element-in-address"
            *ngIf="checkboxTemplate">
            <ng-container *ngTemplateOutlet="checkboxTemplate"></ng-container>
        </div>
    </div>
</div>
