<lnd-select
    [addTag]="true"
    [bindValue]="'value'"
    [error]="parentForm.controls[whispererName].errors"
    [label]="label"
    [searchable]="true"
    [selectName]="whispererName"
    [options]="addresses"
    [parentForm]="parentForm"
    [success]="parentForm.controls[whispererName].valid && (parentForm.controls[whispererName].touched)"
    [templateItem]="templateItem"
    [templateLabel]="templateLabel"
    [touched]="parentForm.controls[whispererName].touched"
    [typeahead]="typeahead"
>
</lnd-select>
