<ng-template #accordionTemplate let-data>
    <div [innerHTML]="data.shortContent"></div>
    <div *ngIf="data.fullContent">
        <a class="link"
           [routerLink]="['/', CONSTS.PATHS.FAQ, data.tag | getUrlFromTag:faqConfig, data.url]">
            Více info
        </a>
    </div>
</ng-template>

<ng-container *ngIf="activeTag">
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2 mb-3">
            <ul class="text-center link-list">
                <li class="link-list__item" *ngFor="let tag of faqConfig">
                    <a class="link-list__link"
                       href="#"
                       [class.link-list__link--active]="tag.type === activeTag"
                       (click)="changeTag($event, tag.url)">
                        {{tag.label}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2 mb-3">
            <lnd-accordion
                [accordionContentTemplate]="accordionTemplate"
                [accordionItems]="questions | questionsToAccordions: faqConfig"
                title="">
            </lnd-accordion>
        </div>
    </div>
</ng-container>
