<form
    [formGroup]="form"
    (keydown)="resetCustomFieldError()"
    (change)="resetCustomFieldError()"
    autocomplete="off"
    class="form-container">
    <lnd-form-field
        [error]="formError.name || form.controls.name.errors"
        [formControl]="form.controls.name"
        [id]="'name'"
        [label]="'Jméno a příjmení'"
        [success]="form.controls.name.valid && (form.controls.name.touched || formError.name)"
        [touched]="form.controls.name.touched || formError.name"
        [validationMessages]="formFields.validationMessages.name"
    ></lnd-form-field>
    <lnd-form-field
        [error]="formError.email || form.controls.email.errors"
        [formControl]="form.controls.email"
        [disabledField]="true"
        [id]="'email'"
        label="Email"
        [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
        [touched]="form.controls.email.touched || formError.email"
        [validationMessages]="formFields.validationMessages.email"
    ></lnd-form-field>
    <pxe-field-wrapper
        label="Telefonní číslo"
        labelFor="phonePrefix"
        [error]="((form.controls.phonePrefix.touched || formError.phonePrefix) && (formError.phonePrefix || form.controls.phonePrefix.errors)) ||
                 ((form.controls.phone.touched || formError.phone) && (formError.phone || form.controls.phone.errors))"
        [validationMessages]="((form.controls.phonePrefix.touched || formError.phonePrefix) && (formError.phonePrefix || form.controls.phonePrefix.errors) && formFields.validationMessages.phonePrefix) ||
                              ((form.controls.phone.touched || formError.phone) && (formError.phone || form.controls.phone.errors) && formFields.validationMessages.phone)">
        <div class="row no-gutters">
            <div class="col-4 pr-1">
                <lnd-form-field
                    [disabledField]="true"
                    [error]="formError.phonePrefix || form.controls.phonePrefix.errors"
                    [formControl]="form.controls.phonePrefix"
                    [id]="'phonePrefix'"
                    label="Telefonní číslo"
                    [success]="form.controls.phonePrefix.valid && (form.controls.phonePrefix.touched || formError.phonePrefix)"
                    [touched]="form.controls.phonePrefix.touched || formError.phonePrefix"
                    [validationMessages]="formFields.validationMessages.phonePrefix"
                ></lnd-form-field>
            </div>
            <div class="col-8 pl-1">
                <lnd-form-field
                    [error]="formError.phone || form.controls.phone.errors"
                    [formControl]="form.controls.phone"
                    [id]="'phone'"
                    label=""
                    [success]="form.controls.phone.valid && (form.controls.phone.touched || formError.phone)"
                    [touched]="form.controls.phone.touched || formError.phone"
                    [validationMessages]="formFields.validationMessages.phone"
                ></lnd-form-field>
            </div>
        </div>
    </pxe-field-wrapper>

    <div class="text-center">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="formLoading"
            label="Uložit">
        </lnd-button>
    </div>
</form>
