<div class="loader">
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
    <span class="loader__circle-item"></span>
</div>
