<div
    id="top"
    class="body-inner full-layout"
    [class.body-inner--overlay]="showOverlay">
    <lnd-header
        [settings]="settings"
        (homeRedirect)="homeRedirect()"
        [isMenuOpen]="isMenuOpen"
        (loginAction)="login()"
        (signUpAction)="signUp()"
        (supplierChangeAction)="supplierChange()"
        (coverageMapAction)="coverageMap()"
        (toggleMenu)="toggleMenuOpen($event)">
    </lnd-header>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <lnd-footer
        [isSimpleFooter]="settings.isSimpleFooter">
        <ul class="footer-navigation__list">
            <li class="footer-navigation__item">
                <a routerLink="/terms-of-use"
                   class="footer-navigation__link"
                >
                    Všeobecné obchodní podmínky PARC4U
                </a>
            </li>
            <li class="footer-navigation__item">
                <a [routerLink]="['/patterns-of-contracts',commodityTypePower,subjectTypeIndividual]"
                   class="footer-navigation__link"
                >
                    Vzory smluv o dodávce
                </a>
            </li>
            <li class="footer-navigation__item">
                <a routerLink="/cookies-policy"
                   class="footer-navigation__link"
                >
                    Cookies policy
                </a>
            </li>
            <li class="footer-navigation__item">
                <a routerLink="/securing-your-data"
                   class="footer-navigation__link"
                >
                    Ochrana osobních údajů
                </a>
            </li>
            <li class="footer-navigation__item">
                <a href="https://www.pxe.cz/"
                   target="_blank"
                   class="footer-navigation__link"
                >
                    O PXE
                </a>
            </li>
        </ul>
    </lnd-footer>
</div>
