<div class="supply-point-offer"
   [class.supply-point-offer--owner]="isOwner"
   [class.supply-point-offer--not-interactive]="!interactive">
    <div class="row no-gutters">
        <div class="col-12 col-xl-7"
             [class.col-md-6]="isOwner">
            <div class="supply-point-offer__inner">
                <div class="row">
                    <div class="col-12">
                        <span class="supply-point-offer__title-label">{{isOwner ? 'Váš stávající dodavatel' : 'Dodavatel'}}</span>
                        <span class="supply-point-offer__title">{{supplyPointOffer.supplier?.name}}</span>
                    </div>
                </div>
                <div *ngIf="!isOwner"
                     class="row">
                    <div class="col-auto">
                        <div class="supply-point-offer__value-box">
                            <span class="supply-point-offer__value-name">Dodávka</span>
                            <span class="supply-point-offer__value">{{supplyPointOffer.deliveryLength * 12}} {{supplyPointOffer.deliveryLength * 12 | plural: 'month'}}</span>
                        </div>
                    </div>
                    <ng-container *ngIf="showValidityOfOffer">
                        <div class="col-auto">
                            <div class="supply-point-offer__value-box">
                                <span class="supply-point-offer__value-name">Platnost nabídky</span>
                                <span class="supply-point-offer__value text-color--danger">{{dateDiffValidityOfOffer}} {{dateDiffValidityOfOffer | plural: 'hour'}}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5"
             [class.col-md-6]="isOwner">
            <div class="supply-point-offer__inner supply-point-offer__inner--price">
                <div class="row">
                    <ng-container *ngIf="supplyPointOffer.prepayment || supplyPointOffer.totalPrice">
                        <div class="col-12">
                            <span class="supply-point-offer__title-label">
                                {{isFromContract ? 'Sjednaná měsíční záloha' : 'Vypočtená měsíční platba'}}
                            </span>
                        </div>
                        <div class="col-12 col-md-8 col-xl-12">
                            <span class="supply-point-offer__title">
                                <ng-container *ngIf="supplyPointOffer.prepayment; else totalPrice">
                                    {{supplyPointOffer.prepayment | number: '1.0-2'}}&nbsp;Kč
                                </ng-container>
                                <ng-template #totalPrice>
                                    {{supplyPointOffer.totalPrice | number: '1.0-2'}}&nbsp;Kč
                                </ng-template>
                            </span>
                        </div>
                    </ng-container>
                    <div class="col-12 order-md-2">
                        <div class="row">
                            <div class="col-auto"
                                 *ngIf="supplyPointOffer.priceVTWithVAT && supplyPointOffer.commodityType === COMMODITY_TYPE_POWER">
                                <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                                    <span class="supply-point-offer__value-name">Cena za vysoký tarif</span>
                                    <span class="supply-point-offer__value supply-point-offer__value--interactive"
                                          (click)="togglePriceDecomposition($event)">
                                        {{supplyPointOffer.priceVTWithVAT | number: '1.0-2'}} Kč/MWh
                                        <span class="icon icon--info supply-point-offer__info-icon"></span>
                                    </span>

                                </div>
                            </div>
                            <div class="col-auto"
                                 *ngIf="supplyPointOffer.priceNTWithVAT && supplyPointOffer.commodityType === COMMODITY_TYPE_POWER">
                                <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                                    <span class="supply-point-offer__value-name">Cena za nízký tarif</span>
                                    <span class="supply-point-offer__value">{{supplyPointOffer.priceNTWithVAT | number: '1.0-2'}} Kč/MWh</span>
                                </div>
                            </div>
                            <div class="col-auto"
                                 *ngIf="supplyPointOffer.priceGasWithVAT && supplyPointOffer.commodityType === COMMODITY_TYPE_GAS">
                                <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                                    <span class="supply-point-offer__value-name">Cena</span>
                                    <span class="supply-point-offer__value supply-point-offer__value--interactive"
                                          (click)="togglePriceDecomposition($event)">
                                        {{supplyPointOffer.priceGasWithVAT | number: '1.0-2'}} Kč/MWh
                                        <span class="icon icon--info supply-point-offer__info-icon"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-auto"
                                 *ngIf="supplyPointOffer.monthlyConsumptionFee">
                                <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                                    <span class="supply-point-offer__value-name">Poplatek za Odběrné místo</span>
                                    <span class="supply-point-offer__value">{{supplyPointOffer.monthlyConsumptionFee | number: '1.0-2'}} Kč/měsíc</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-xl-12 order-xl-3 supply-point-offer__addon"
                         [class.d-none]="showPriceDecomposition"
                         [class.d-md-block]="showPriceDecomposition"
                         *ngIf="!isOwner && interactive">
                        <lnd-button
                            label="Vybrat nabídku"
                            type="primary"
                            (action)="action.emit(supplyPointOffer)">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showPriceDecomposition"
             class="col-12">
            <div class="supply-point-offer__inner supply-point-offer__inner--price  supply-point-offer__inner--price-decomposition">
                <div class="row no-gutters align-items-center mb-4 mb-md-5">
                    <div class="col">
                        <span class="supply-point-offer__decomposition-title">Regulovaná část ceny</span>
                    </div>
                    <div class="col-auto">
                        <lnd-button
                            icon="icon--close"
                            variant="icon"
                            type="icon"
                            class="close"
                            (action)="togglePriceDecomposition($event)">
                        </lnd-button>
                    </div>
                </div>
                <div class="row mb-3 mb-md-0">
                    <ng-container *ngIf="supplyPointOffer.commodityType === COMMODITY_TYPE_POWER">
                        <ng-container *ngIf="([
                            supplyPointOffer.distributionPriceByConsumptionVT,
                            supplyPointOffer.distributionPriceByConsumptionNT,
                            supplyPointOffer.distributionPriceByCapacity
                        ] | sum) as ditributionPricePower">
                            <div class="col-auto">
                                <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                                    <span class="supply-point-offer__value-name">Distribuce</span>
                                    <span class="supply-point-offer__value">{{ditributionPricePower | number: '1.0-2'}} Kč/měsíc</span>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="supplyPointOffer.commodityType === COMMODITY_TYPE_GAS">
                        <ng-container *ngIf="([
                            supplyPointOffer.distributionPriceByConsumptionVT,
                            supplyPointOffer.distributionPriceByCapacity,
                            supplyPointOffer.accountingRegulatedPrice
                        ] | sum) as ditributionPriceGas">
                            <div class="col-auto">
                                <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                                    <span class="supply-point-offer__value-name">Distribuce</span>
                                    <span class="supply-point-offer__value">{{ditributionPriceGas | number: '1.0-2'}} Kč/měsíc</span>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="supplyPointOffer.commodityType === COMMODITY_TYPE_POWER">
                        <ng-container *ngIf="([
                            supplyPointOffer.systemServicesRegulatedPrice,
                            supplyPointOffer.renewableEnergyRegulatedPrice,
                            supplyPointOffer.marketOrganizerRegulatedPrice,
                            supplyPointOffer.accountingRegulatedPrice
                        ] | sum) as otherServicesPrice">
                            <div class="col-auto">
                                <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                                    <span class="supply-point-offer__value-name">Ostatní regulované služby</span>
                                    <span class="supply-point-offer__value">{{otherServicesPrice | number: '1.0-2'}} Kč/měsíc</span>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <div *ngIf="supplyPointOffer.marketOrganizerRegulatedPrice && supplyPointOffer.commodityType === COMMODITY_TYPE_GAS"
                         class="col-auto">
                        <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                            <span class="supply-point-offer__value-name">Činnosti operátora trhu OTE a.s.</span>
                            <span class="supply-point-offer__value">{{supplyPointOffer.marketOrganizerRegulatedPrice | number: '1.0-2'}} Kč/měsíc</span>
                        </div>
                    </div>
                    <div *ngIf="supplyPointOffer.energyTaxRegulatedPrice"
                         class="col-auto">
                        <div class="supply-point-offer__value-box supply-point-offer__value-box--price">
                            <span class="supply-point-offer__value-name">Daň z {{supplyPointOffer.commodityType === COMMODITY_TYPE_POWER ? 'elektřiny' : 'plynu'}}</span>
                            <span class="supply-point-offer__value">{{supplyPointOffer.energyTaxRegulatedPrice | number: '1.0-2'}} Kč/měsíc</span>
                        </div>
                    </div>

                </div>
                <div *ngIf="interactive"
                     class="row no-gutters pt-4 border-top d-md-none">
                    <div class="col-12">
                        <lnd-button
                            label="Vybrat nabídku"
                            type="primary"
                            (action)="action.emit(supplyPointOffer)">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12"
             *ngIf="!isOwner && supplyPointOffer.benefits && supplyPointOffer.benefits.length">
            <ul class="check-list supply-point-offer__benefits-list">
                <ng-container *ngFor="let benefit of supplyPointOffer.benefits">
                    <li *ngIf="benefit">{{benefit.name}}</li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>
