/*
 -  Supply point
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'supply-point-offer.component.variables.scss';
@import '../supply-point/supply-point.component.variables.scss';

.supply-point-offer {
	@include link-without-href-self {
		display: block;
		padding: ( $spacer * 1.5 );
		margin-bottom: $spacer;
		background-color: $white;
		color: inherit;
		border-radius: $border-radius;
		box-shadow: 0 2px 5px rgba($box-shadow-color, .16);

		// Media queries
		@include media-breakpoint-up(xl) {
			padding: ( $spacer * 2.5 );
		}
	}

	@include link-without-href-interactive {
		color: inherit;
		text-decoration: none;

		// Media queries
		@include media-breakpoint-up(xl) {
			&:not(.supply-point-offer--not-interactive):not(.supply-point-offer--owner) {
				box-shadow: 0 10px 20px rgba($box-shadow-color, .2);
			}
		}
	}

	&.supply-point-offer--owner {
		@include link-without-href-self {
			background-color: rgba($body-bg, .5);
			text-align: center;

			// Media queries
			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}

		.supply-point-offer__title-label {
			width: 100%;
		}

		.supply-point-offer__title {
			margin-bottom: 0;
			font-size: $supply-point-title-font-size;
		}

		.supply-point-offer__info-icon {
			display: none;
		}
	}

	&.supply-point-offer--not-interactive {
		.supply-point-offer__addon {
			// Media queries
			@include media-breakpoint-down(md) {
				text-align: right;
			}
			@include media-breakpoint-down(xl) {
				text-align: left;
			}
		}
	}

	&.supply-point-offer--page-box {
		border-radius: 0;
		box-shadow: none;
	}

	&__inner {
		position: relative;
		height: 100%;
		padding: $supply-point-offer-inner-padding-mobil $supply-point-offer-inner-padding-horizontal-mobil;

		// Media queries
		@include media-breakpoint-up(md) {
			padding: $supply-point-offer-inner-padding $supply-point-offer-inner-padding;
		}

		&--second {
			background-color: rgba($body-bg, .5);
		}

		&--price {
			padding-bottom: ( $spacer * 1.5 );

			.supply-point-offer__title {
				margin-bottom: 0;

				// Media queries
				@include media-breakpoint-up(xl) {
					font-size: $supply-point-offer-price-font-size-xl;
				}
			}
		}
	}

	&__block {
		padding-bottom: ( $spacer * 2 );

		// Media queries
		@include media-breakpoint-up(md) {
			height: 100%;
			padding: ( $spacer * 1.5 );
		}

		&--second {
			background-color: rgba($body-bg, .5);

			// Media queries
			@include media-breakpoint-down(xs) {
				padding: $spacer ( $spacer * 1.5 );
				margin-bottom: ( $spacer * 1.5 );
			}
		}

		&--small-offset {
			// Media queries
			@include media-breakpoint-up(md) {
				padding: $spacer;
			}
		}
	}

	&__title,
	&__value {
		font-size: $supply-point-label-font-size;
		line-height: $supply-point-label-line-height;

		// Media queries
		@include media-breakpoint-up(md) {
			font-size: $supply-point-title-font-size;
			line-height: $supply-point-title-line-height;
		}
		@include media-breakpoint-up(xl) {
			font-size: $supply-point-offer-price-font-size-xl;
		}
	}

	&__title-label,
	&__value-name {
		display: flex;
		align-items: center;
		line-height: ( 18 / 14 );
		text-transform: uppercase;
		width: 100%;
	}

	&__title-label {
		margin-bottom: ( $spacer / 4 );
	}

	&__title {
		display: block;
		width: 100%;
		margin-bottom: ( $spacer / 4 );
	}

	&__info-icon {
		display: inline;
		color: $primary;
	}

	&__value-box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: $spacer;
		margin-right: $spacer;

		&--price {
			margin-bottom: $spacer;
			margin-right: 0;

			.supply-point-offer__value {
				font-size: $supply-point-offer-decomposition-font-size;
			}
		}

		&--price:last-child {
			margin-bottom: 0;
		}
	}

	&__value-name {
		margin-bottom: ( $spacer / 4 );
		color: rgba($font-text, .5);
	}

	&__value {
		display: flex;
		align-items: center;

		&--interactive {
			&:focus,
			&:hover {
				color: $primary;
				cursor: pointer;
			}
		}
	}

	&__decomposition-title {
		font-size: $supply-point-offer-decomposition-font-size;
		text-transform: uppercase;
	}

	&__addon {
		margin-top: ( $spacer / 2 );

		// Media queries
		@include media-breakpoint-up(md) {
			margin-top: 0;
			text-align: right;
		}
		@include media-breakpoint-up(xl) {
			text-align: left;
		}
	}

	&__benefits-description-wrapper {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__benefits-description {
		display: flex;
	}

	&__benefits-text {
		display: inline-block;
	}

	&__benefits {
		margin-bottom: 0;

		&-item {
			display: inline-block;
			width: 100%;
			padding: $spacer ( $spacer * 1.5 );
			margin-bottom: $spacer;
			background-color: rgba($body-bg, .5);

			// Media queries
			@include media-breakpoint-up(md) {
				width: calc(50% - #{ $spacer / 2 } );
			}

			&::before {
				display: none;
			}

			&:nth-child(even) {
				// Media queries
				@include media-breakpoint-up(md) {
					margin-left: $spacer;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
