/*
 -  Supply point offer variables
 -
 -
 */

$supply-point-offer-inner-padding-mobil: ($spacer * 1.5);
$supply-point-offer-inner-padding: ($spacer * 2.5);
$supply-point-offer-inner-padding-horizontal-mobil: $spacer;
$supply-point-offer-price-font-size-xl: 1.875rem; // 30px
$supply-point-offer-decomposition-font-size: 1rem; // 16px
