/*
 -  Table variables
 -
 -
 */


@use 'sass:math';

$table-cell-padding:             ( $spacer * .5  );
$table-cell-padding-vert:         math.div( $spacer, 3  ) ;
$table-cell-padding-sm:          ( $spacer * .25  );
$table-bg:                       transparent;
$table-font-size:                .75rem;
$table-accent-bg:                $gray-100;
$table-hover-bg:                 $white;
$table-active-bg:                rgba($white, .3);
$table-active-shadow:            0 10px 30px 0 rgba(43, 76, 109, .2);
$table-border-width:             0;
$table-head-bg:                  $gray-100;
$table-border-color:             $gray-150;
$table-head-color:               $font-text;
$table-dark-bg:                  $table-bg;
$table-dark-accent-bg:           $table-accent-bg;
$table-dark-hover-bg:            $table-hover-bg;
$table-dark-color:               $table-head-color;
$table-striped-order:            odd;
$table-danger-bg:                rgba($danger, .3);

$table-adv-cell-padding-hor:     ( $spacer * .75  );
$table-adv-cell-padding-vert:    ( $spacer * .5  );
$table-adv-detail-bg:            $white;
