/*
 -  Tables
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'table.component.variables.scss';

// Bootstrap tables import
@import '~bootstrap/scss/tables';

.table-wrapper {
	&--advanced {
		overflow-x: auto;
		width: calc( 100% + ( #{$spacer} * 2 ) );
		margin: 0 ( $spacer * ( -1 ) );
		padding: 0 $spacer ( $spacer * 2 );
	}
}

.table {
	font-size: $table-font-size;

	caption {
		// Media queries
		@include media-breakpoint-up(md) {
			padding-left: $table-cell-padding;
		}
	}

	th,
	td {
		padding: $table-cell-padding-vert $table-cell-padding;

		&.w-icon {
			width: $table-cell-padding + $icon-size-px + $table-cell-padding;
		}

		&.w-icon-small {
			width: $table-cell-padding + $icon-size-small-px + $table-cell-padding;
		}
	}

	thead {
		border-bottom: ( $spacer / 2 ) solid $table-bg;
	}

	thead,
	.thead-dark,
	.thead-light {
		th {
			background-color: $table-head-bg;
			vertical-align: middle;
		}
	}

	.table {
		background-color: $table-bg;
	}

	&--advanced {
		> thead {
			border-bottom-width: 0;

			th,
			td {
				color: rgba($font-header, .5);
				font-weight: 400;
				background-color: transparent;
				padding: $table-adv-cell-padding-hor $table-adv-cell-padding-vert;
				vertical-align: bottom;
			}
		}

		> tbody {
			th,
			td {
				padding: $table-adv-cell-padding-hor $table-adv-cell-padding-vert;
				vertical-align: middle;
			}

			.table__tr--detail {
				th,
				td {
					padding: ( $spacer * 2 ) ( $spacer * 2.75 ) ( $spacer * 3.25 );
				}
			}
		}

		> thead,
		> tbody {
			th,
			td {
				&:first-child {
					padding-left: ( $spacer * 1.5 );
				}

				&:last-child {
					padding-right: ( $spacer * 1.5 );
				}
			}
		}
	}

	::ng-deep {
		.action-area-div {
			position: absolute;
			right: 0;
			top: 0;
			visibility: hidden; // temp
			width: ( ( 30px * 4 ) + $spacer ); // $btn-width-icon:
			padding: 0 ( $spacer / 2 );
			height: 100%;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: - ( $spacer * 2 );
				width: ( $spacer * 2 );
				height: 100%;
				background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 1) 100%);
			}
		}

		.table__tr--main:hover .action-area-div {
			visibility: visible; // temp
			background-color: $white;
			border-radius: $border-radius;
			display: flex;
			align-items: center;
		}
	}

	&--advanced__action-area {
		position: relative;
	}

	&__tr {
		&--main {
			vertical-align: top;
			border-top: 1px solid $body-bg;

			& > th,
			& > td {
				&:first-child {
					border-top-left-radius: $border-radius;
					border-bottom-left-radius: $border-radius;
				}

				&:last-child {
					border-top-right-radius: $border-radius;
					border-bottom-right-radius: $border-radius;
				}
			}

			&:hover {
				box-shadow: $table-active-shadow;

				& > th,
				& > td {
					background-color: $table-hover-bg;
					border-top: 1px solid $body-bg;
				}
			}
		}

		&--without-border {
			border-top-color: transparent;
		}

		&--detail {
			display: none;

			& > th,
			& > td {
				z-index: $zindex-tr-detail;
				position: relative;
				background-color: $table-adv-detail-bg;
				border-radius: $border-radius;
				box-shadow: $table-active-shadow;
			}
		}

		&--show {
			display: table-row;
		}

		&--active {
			& > th,
			& > td {
				background-color: $table-active-bg;
			}
		}

		&--bg-white {
			box-shadow: $table-active-shadow;

			& > th,
			& > td {
				background-color: $table-hover-bg;
				border-top: 1px solid $body-bg;
			}
		}

		&--bg-danger {
			box-shadow: $table-active-shadow;

			& > th,
			& > td {
				background-color: $table-danger-bg;
			}
		}
	}

	&--static {
		.table__tr--main {
			cursor: auto;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
