/*
 -  Dropdowns - down/up
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'dropdown.component.variables.scss';

// Custom import
@import '~bootstrap/scss/dropdown';

:host {
	display: flex;

	// Media queries
	@include media-breakpoint-up(sm) {
		display: inline-flex;
	}
}

.dropdown,
.dropup {
	width: 100%;
	line-height: 1;

	// Media queries
	@include media-breakpoint-up(sm) {
		display: inline-block;
	}

	&.dropdown--with-beak {
		.dropdown-toggle::before {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -($dropdown-beak-border-width * .5);
			width: 0;
			height: 0;
			border-bottom: $dropdown-beak-border-width
				$dropdown-beak-border-style $dropdown-beak-border-color;
			border-right: $dropdown-beak-border-width
				$dropdown-beak-border-style transparent;
			box-shadow: $dropdown-beak-box-shadow;
			cursor: default;
			pointer-events: none;
		}
	}
}

.dropdown {
	&.dropdown--with-beak {
		.dropdown-toggle::before {
			top: calc(100% + 6px);
			bottom: auto;
			transform: rotate(135deg);
		}

		.btn__icon--alone {
			&::after {
				left: 50%;
				transform: translateX(-50%) rotate(135deg);
			}
		}

		.dropdown-menu {
			top: 100%;
			bottom: auto;
			margin-top: $dropdown-menu-offset;
		}
	}
}

.dropup {
	&.dropdown--with-beak {
		.dropdown-toggle::before {
			bottom: calc(100% + 6px);
			transform: rotate(-45deg);
		}

		.btn__icon--alone {
			&::after {
				left: 50%;
				transform: translateX(-50%) rotate(-45deg);
			}
		}

		.dropdown-menu {
			top: auto;
			bottom: 100%;
			margin-bottom: $dropdown-menu-offset;
		}
	}

	.dropdown-menu {
		margin-bottom: 0;
	}
}

.dropdown,
.dropup {
	.dropdown-toggle {
		&::after {
			// Hide original arrow
			display: none;
		}
	}
}

.dropdown-toggle {
	position: relative;
	display: block;
	cursor: pointer;
}

.dropdown-menu {
	min-width: 100%;
	max-width: calc(100vw - 60px);
	top: calc(100% + 10px);
	margin-top: 0;
	border: none;
	overflow: hidden;
	z-index: $zindex-dropdown-menu;

	&--open {
		display: block;
	}
}

::ng-deep {
	.dropdown-item {
		&,
		&:visited {
			position: relative;
			display: block;
			padding: $dropdown-item-padding-y $dropdown-item-padding-x
				$dropdown-item-padding-y ( $spacer * 3 );
			clear: both;
			width: 100%;
			background-color: transparent;
			color: $dropdown-link-color;
			font-size: $small-font-size;
			line-height: $line-height-sm;
			cursor: pointer;
			@include smart-short-text;
			text-decoration: none;
			outline: none;
		}

		&:focus,
		&:hover,
		&:active {
			background-color: $dropdown-link-hover-bg;
			color: $dropdown-link-hover-color;
			text-decoration: none;
		}

		&.disabled,
		&:disabled {
			color: $dropdown-link-disabled-color;
			background-color: transparent;
		}

		&--without-icon {
			padding-left: $dropdown-item-padding-x;
		}
	}

	.dropdown-item-icon {
		position: absolute;
		top: 50%;
		left: $spacer;
		margin-top: -($icon-size-px * .5);
		color: $secondary;
	}
}
