/*
 -  Dropdowns - down/up
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Custom import
@import '~bootstrap/scss/dropdown';

:host {
	display: flex;

	// Media queries
	@include media-breakpoint-up(sm) {
		display: inline-flex;
	}
}

.dropdown,
.dropup {
	width: 100%;
	line-height: 1;

	// Media queries
	@include media-breakpoint-up(sm) {
		display: inline-block;
	}

	&.dropdown--with-beak {
		.dropdown-toggle::before {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -( $dropdown-beak-border-width / 2 );
			width: 0;
			height: 0;
			border-bottom: $dropdown-beak-border-width $dropdown-beak-border-style $dropdown-beak-border-color;
			border-right: $dropdown-beak-border-width $dropdown-beak-border-style transparent;
			box-shadow: $dropdown-beak-box-shadow;
			cursor: default;
			pointer-events: none;
		}
	}
}

.dropdown {
	&.dropdown--with-beak {
		.dropdown-toggle::before {
			top: calc( 100% + 6px );
			bottom: auto;
			transform: rotate(135deg);
		}

		.btn__icon--alone {
			&::after {
				left: 50%;
				transform: translateX(-50%) rotate(135deg);
			}
		}

		.dropdown-menu {
			top: 100%;
			bottom: auto;
			margin-top: $dropdown-menu-offset;
		}
	}
}

.dropup {
	&.dropdown--with-beak {
		.dropdown-toggle::before {
			bottom: calc( 100% + 6px );
			transform: rotate(-45deg);
		}

		.btn__icon--alone {
			&::after {
				left: 50%;
				transform: translateX(-50%) rotate(-45deg);
			}
		}

		.dropdown-menu {
			top: auto;
			bottom: 100%;
			margin-bottom: $dropdown-menu-offset;
		}
	}

	.dropdown-menu {
		margin-bottom: 0;
	}
}

.dropdown,
.dropup {
	.dropdown-toggle {
		&::after {
			// Hide original arrow
			display: none;
		}
	}
}

.dropdown-toggle {
	position: relative;
	display: block;
	cursor: pointer;
}

.dropdown-menu {
	min-width: 100%;
	max-width: calc( 100vw - 60px );
	top: 100%;
	margin-top: 0;
	border: none;
	box-shadow: $dropdown-box-shadow;
	overflow: hidden;
	z-index: $zindex-dropdown-menu;

	// Media queries
	@include media-breakpoint-up(sm) {
		max-width: none;
	}

	&--open {
		display: block;
	}
}

::ng-deep {
	.breadcrumb {
		.dropdown {
			position: initial;

			// Media queries
			@include media-breakpoint-up(md) {
				position: relative;
			}
		}

		.dropdown-toggle {
			.dropdown-link__text {
				margin-right: ( $icon-size-small-px + ( $spacer / 2 ) );
				border-bottom: 1px solid transparent;
			}

			// Modified default properties in breadcrumb context
			&.dropdown-link {
				display: block;
				color: $gray-500;
				text-decoration: none;

				&:hover,
				&:focus {
					color: $gray-500;
					text-decoration: none;
				}

				.dropdown-toggle-icon {
					display: block;
					font-size: $icon-size-small;
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -( $icon-size-small-px / 2 );
				}
			}
		}

		.dropdown-toggle.dropdown-link {
			&:hover {
				.dropdown-link__text {
					border-bottom-color: $gray-500;
				}
			}
		}

		.dropdown-menu {
			left: ( $spacer / 2 );
			min-width: calc(100% - ( #{$spacer} ));

			// Media queries
			@include media-breakpoint-up(md) {
				left: 0;
				min-width: 100%;
			}
		}
	}

	.tabs-item-more {
		.dropdown-toggle-icon {
			width: $nav-tabs-item-more-width;
			height: $nav-tabs-item-height;
		}
	}

	.dropdown,
	.dropup {
		.dropdown-item {
			position: relative;
			display: block;
			clear: both;
			width: 100%;
			min-height: $dropdown-item-min-height;
			border: 0;
			border-bottom: 1px solid $border-color;
			background-color: transparent;
			padding: $dropdown-item-padding-y $dropdown-item-padding-x;
			font-weight: $font-weight-normal;
			text-align: inherit;
			line-height: $line-height-base;
			cursor: pointer;
			@include smart-short-text;

			@include link-without-href {
				color: $dropdown-link-color;
				text-decoration: none;
			}

			@include link-without-href-interactive {
				color: $dropdown-link-hover-color;
				text-decoration: none;
				@include gradient-bg($dropdown-link-hover-bg);
			}

			&.active,
			&:active {
				color: $dropdown-link-active-color;
				text-decoration: none;
				@include gradient-bg($dropdown-link-active-bg);
			}

			&.disabled,
			&:disabled {
				color: $dropdown-link-disabled-color;
				background-color: transparent;

				// Remove CSS gradients if they're enabled
				@if $enable-gradients {
					background-image: none;
				}
			}

			&:last-of-type {
				border-bottom: 0;
			}

			&--no-effect {
				&:focus,
				&:hover {
					color: $dropdown-link-color;
					background-color: transparent;
					cursor: default;
				}
			}

			.custom-control,
			.custom-control-label {
				margin-bottom: 0;
			}
		}
	}

	.dropdown-menu {
		min-width: 100%;
		top: 100%;
		margin-top: 0;
		border: none;
		box-shadow: $dropdown-box-shadow;
		overflow: hidden;
		z-index: $zindex-dropdown-menu;

		.form-group,
		.form-control,
		.custom-control,
		.custom-control-label {
			margin: 0;
		}

		.custom-control {
			position: initial;
		}

		.custom-control-input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			z-index: $zindex-dropdown-menu-input;
		}

		.table {
			margin-bottom: 0;

			thead {
				display: none;
			}

			tr {
				&:hover {
					cursor: pointer;
				}
			}

			td {
				text-transform: none;
				white-space: normal;

				// Media queries
				@include media-breakpoint-up(md) {
					white-space: nowrap;
				}
			}

			.active {
				font-weight: 700;
			}
		}

		&--open {
			display: block;
		}
	}
}
