/*
 -  Carousel references variables
 -
 -
 */

$clickable-size:                           ( $spacer / 2.25);
$indicator-size:                           ( $spacer / 2.5 );
$image-size:                               94px;
$image-margin-left:                        20px;
