<ng-template #slideTemplate let-item>
    <!-- <div class="row carousel-references text-center text-md-left">
        <div class="col-12 mb-5 mb-md-0">
            <img [alt]="item.iconAlt" class="carousel-references__image" [src]="item.iconUrl" title="">
        </div>
        <div class="col-12 mb-3 carousel-references__title">
            “{{item.title}}“
        </div>
        <div class="col-12 carousel-references__name">
            {{item.name}}, {{item.city}}
        </div>
    </div> -->

    <div class="carousel-references">
        <img class="carousel-references__image mb-3 mb-md-0" [src]="item.iconUrl" [alt]="item.iconAlt" title="">
        <div class="carousel-references__text text-center text-md-left">
            <blockquote class="carousel-references__citation mb-2">“{{item.title}}“</blockquote>
            <p class="mb-0">{{item.name}}, {{item.city}}</p>
        </div>
    </div>
</ng-template>

<ng-template #customBeforeAppendTemplate let-activeSlide="activeSlide" let-setActiveSlide="setActiveSlide">
    <ul class="carousel-indicators"
         [ngStyle]="{'top': (maxHeight - 30) + 'px'}">
        <li class="carousel-indicators__item" *ngFor="let item of carouselItems; let i = index"
             [attr.aria-pressed]="i === activeSlide"
             (click)="setActiveSlide(i)" >
            <a class="carousel-indicators__item--indicator"
                  [class.carousel-indicators__item--indicator--is-active]="i === activeSlide"
            ></a>
        </li>
    </ul>
</ng-template>

<div class="carousel-references-wrapper">
    <lnd-carousel
        [carouselItems]="carouselItems"
        [customBeforeAppendTemplate]="customBeforeAppendTemplate"
        [showIndicators]="false"
        [showLeftAndRightIndicators]="false"
        [slideTemplate]="slideTemplate"
        (maxHeightChangeAction)="maxHeightChangeAction($event)">
    </lnd-carousel>
</div>
