<ng-template #slideTemplate let-item>
    <div class="row carousel-references text-center text-md-left">
        <div class="col-12 offset-md-2 col-md-2 offset-lg-3 col-lg-1 mb-3">
            <img [alt]="item.iconAlt" class="carousel-references__image" [src]="item.iconUrl" title="">
        </div>
        <div class="col-12 col-md-5 mb-5">
            <div class="row">
                <div class="col-12 mb-3 carousel-references__title">
                    “{{item.title}}“
                </div>
                <div class="col-12 carousel-references__name">
                    {{item.name}}, {{item.city}}
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #customBeforeAppendTemplate let-activeSlide="activeSlide" let-setActiveSlide="setActiveSlide">
    <ul class="carousel-indicators"
         [ngStyle]="{'top': (maxHeight - 30) + 'px'}">
        <li class="carousel-indicators__li" *ngFor="let item of carouselItems; let i = index"
             [attr.aria-pressed]="i === activeSlide"
             (click)="setActiveSlide(i)" >
            <span class="carousel-indicators__li--indicator"
                  [class.carousel-indicators__li--indicator--is-active]="i === activeSlide"
            ></span>
        </li>
    </ul>
</ng-template>

<lnd-carousel
    [carouselItems]="carouselItems"
    [customBeforeAppendTemplate]="customBeforeAppendTemplate"
    [showIndicators]="false"
    [showLeftAndRightIndicators]="false"
    [slideTemplate]="slideTemplate"
    (maxHeightChange)="maxHeightChange($event)">
</lnd-carousel>
