/*
 -  Carousel references
 -
 - stylelint-disable for rewrite library
 */

/* stylelint-disable selector-no-id, declaration-no-important */

// Core component import
@import 'src/assets/scss/01_base/base.scss';


.carousel-references {
	&__icon {
		border-radius: 50%;
		max-width: 100%;
		background-size: 100%;
		box-shadow: -15px 25px 35px 0 rgba(0, 9, 16, .1);
	}

	&__title {
		font-size: $h1-font-size-snd;
		font-style: italic;
	}

	&__name {
		font-size: $small-font-size;
	}
}

.carousel-item {
	position: static !important;
}

.carousel-indicators {
	text-align:center;
	position: relative !important;
	z-index: $zindex-indicators !important;

	&__indicator {
		height: 5px;
		width: 5px;
		margin-right: 12px;
		margin-left: 12px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;

		&--is-active {
			background-color: $font-text;
		}
	}

	&__indicator-wrapper {
		display: inline-block;
		cursor: pointer;
	}
}
