/*
 -  Sidebar
 -
 -
 */

// Core component import
@use 'sass:math';

@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'navigation.component.variables.scss';

.aside {
	display: none;
	position: absolute;
	z-index: 2010;
	top: (
		($header-height-mobile * .5) +
			($menu-toggle-line-width-rotate - ($logo-height-mobile * .5)) +
			( $spacer * .75 )
	);
	right: $aside-right-offset-mobile;
	width: $aside-width-mobile;
	overflow-x: hidden;
	overflow-y: auto;
	color: $white;
	background-color: $white;
	border-radius: 4px;
	box-shadow: $box-shadow;
	transition: transform ease-in $animation-speed;

	// Media queries
	@include media-breakpoint-up(md) {
		top: (
			($header-height-mobile * .5) +
				($menu-toggle-line-width-rotate - ($logo-height-mobile * .5)) +
				( $spacer * .75 )
		);
	}
	@include media-breakpoint-down(lg) {
		max-height: calc(
			100vh -
				(
					(
							(#{$header-height-mobile} / 2) +
								(
									#{$menu-toggle-line-width-rotate} - (#{$logo-height-mobile} /
												2)
								) + (#{$spacer} * .75 )
						) + #{$aside-right-offset-mobile}
				)
		);
	}
	@include media-breakpoint-up(lg) {
		position: fixed;
		display: block;
		top: $header-height-desktop;
		bottom: 0;
		left: 0;
		right: 0;
		width: $aside-width-desktop;
		background-color: $aside-bg;
		border-radius: 0;
		box-shadow: none;
	}

	&--open {
		display: block;
	}

	.avatar {
		width: $icon-size-px;
		height: $icon-size-px;
	}
}

.navigation {
	position: relative;
}

.navigation-main {
	position: relative;
	z-index: 1;
	@include reset-list;

	// Media queries
	@include media-breakpoint-up(lg) {
		padding-top: math.div( $spacer, 1.5 );
		padding-bottom: math.div( $spacer, 1.5 );
	}

	&:nth-child(n + 2) {
		border-top: 1px solid rgba($gray-400, .4);
	}
}

.navigation-main__item {
	&--active,
	&--open {
		.navigation-main__sub-icon {
			transform: rotate(-180deg);
		}

		.navigation-main__link {
			&,
			&:visited {
				background-color: rgba($font-text, .1);

				// Media queries
				@include media-breakpoint-up(lg) {
					background-color: rgba($secondary, .05);
				}
			}
		}
	}

	&--second {
		&:first-of-type {
			margin-top: $spacer;
		}

		// Media queries
		@include media-breakpoint-up(lg) {
			display: none;
		}

		.navigation-main__link-label,
		.navigation-main-sub__link {
			text-transform: none;
		}
	}
}

.navigation-main__sub-icon {
	display: none;
	font-size: $icon-size-small;
	position: absolute;
	top: 50%;
	margin-top: -($icon-size-small * .5);
	right: ( $spacer * .5 );
}

.navigation-main__link {
	&,
	&:visited {
		position: relative;
		display: block;
		padding: $spacer $spacer $spacer ( $spacer * 3 );
		text-decoration: none;
		color: $font-text;
		cursor: pointer;
		@include smart-short-text;

		// Media queries
		@include media-breakpoint-up(lg) {
			padding: ( $spacer * 1.5) $spacer ( $spacer * 1.5) ( $spacer * 4 );
		}
	}

	&:hover,
	&:focus,
	&:active {
		background-color: rgba($font-text, .1);

		// Media queries
		@include media-breakpoint-up(lg) {
			color: $font-text;
			background-color: rgba($secondary, .05);
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 3px;
		height: 100%;
		background-color: transparent;

		.navigation-main__item--active & {
			background-color: $secondary-lighten;
		}
	}
}

.navigation-main__is-label-only {
	&,
	&:visited {
		position: relative;
		display: block;
		padding: $spacer;
		color: $info;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none;
		cursor: auto;
		pointer-events: none;
		@include smart-short-text;

		// Media queries
		@include media-breakpoint-up(lg) {
			padding: ( $spacer * 1.5) ( $spacer * 1.5) ( $spacer * 1.5 )
				( $spacer * 2 );
		}
	}
}

.navigation-main__link-label,
.navigation-main-sub__link {
	font-size: $small-font-size;
	line-height: $line-height-sm;

	// Media queries
	@include media-breakpoint-up(lg) {
		font-size: $font-size-base;
		line-height: $line-height-base;
		text-transform: uppercase;
	}

	& + .badge {
		margin-left: math.div( $spacer, 3 );
	}
}

.navigation-main__link-icon {
	position: absolute;
	top: 50%;
	left: $spacer;
	margin-top: -($icon-size-px * .5);
	color: $secondary;

	// Media queries
	@include media-breakpoint-up(lg) {
		left: ( $spacer * 2 );
	}
}

.navigation-main-sub {
	@include reset-list;
}

.navigation-main-sub__link {
	&,
	&:visited {
		position: relative;
		display: block;
		color: $font-text;
		padding: $spacer $spacer $spacer ( $spacer * 3 );
		text-decoration: none;
		cursor: pointer;
		@include smart-short-text;

		// Media queries
		@include media-breakpoint-up(lg) {
			padding: $spacer $spacer $spacer ( $spacer * 4 );
		}
	}

	&:hover,
	&:focus {
		background-color: rgba($white, .08);
	}

	.navigation-main-sub__item--active & {
		color: $font-text;
		background-color: rgba($secondary, .05);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 3px;
		height: 100%;
		background-color: transparent;

		.navigation-main-sub__item--active & {
			background-color: $secondary-lighten;
		}
	}
}
