/*
 -  Header
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';


.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	color: $white;
	z-index: $zindex-header;

	&--public {
		position: fixed;
		background-color: $body-bg-lp;
	}

	&--lp {
		z-index: $zindex-lp;

		@include media-breakpoint-down(xl) {
			z-index: $zindex-header;
		}

		.header-inner {
			// Media queries
			@include media-breakpoint-down(xl) {
				width: calc( 100% + #{$spacer} );
				margin-left: -( $spacer * 0.5 );
				background-color: $body-bg-lp;
			}
		}
	}

	.logo {
		vertical-align: top;
		height: 100%;
	}
}

.header-inner {
	height: $header-height;
	line-height: $header-height;
	padding-left: $spacer;
	padding-right: $spacer;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.logo-holder {
	order: 1;
	margin-right: auto;
}

.public-menu-holder {
	display: none;
	order: 2;

	// Media queries
	@include media-breakpoint-up(lg) {
		display: block;
	}
}

.registration-holder {
	display: none;
	order: 3;

	// Media queries
	@include media-breakpoint-up(lg) {
		display: block;
	}
}

.notification-holder {
	order: 3;
}

.menu-holder {
	order: 4;
	display: flex;
	margin-left: $spacer;

	// Media queries
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

.user-holder {
	display: none;

	// Media queries
	@include media-breakpoint-up(lg) {
		display: block;
		order: 3;
		margin-left: $spacer;
	}
}

a.logo-link {
	&,
	&:visited {
		display: block;
		height: $logo-height-mobile;

		// Media queries
		@include media-breakpoint-up(md) {
			height: $logo-height-tablet;
		}
	}
}
