<ng-template #profileMenu let-toggle="toggle">
    <lnd-button
        (click)="toggle()"
        [label]="user?.email"
        type="dropdown"
        icon="icon--triangle-down"
        customIconClass="icon--small"
        iconPosition="right"
    ></lnd-button>
</ng-template>

<header
    class="header"
    [class.header--public]="settings.isPublic"
    [class.header--secured]="!settings.isPublic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header-inner">
                    <div class="logo-holder">
                        <a
                            (click)="homeRedirect.emit()"
                            class="logo-link">
                            <img
                                src="/assets/images/layout/logo-pxe.svg"
                                class="logo"
                                title="PXE"
                                alt="logo PXE">
                        </a>
                    </div>
                    <div
                        class="public-menu-holder"
                        *ngIf="settings.isPublic && !settings.isStatic">
                        <lnd-button
                            label="Změna dodavatele"
                            customClass="mr-4"
                            type="link"
                            (click)="supplierChangeAction.emit()">
                        </lnd-button>
                        <lnd-button
                            label="Pokrytí"
                            customClass="mr-4"
                            type="link"
                            (click)="coverageMapAction.emit()">
                        </lnd-button>
                        <lnd-button
                            label="Přihlásit"
                            customClass="mr-4"
                            type="link"
                            (click)="loginAction.emit()">
                        </lnd-button>
                        <lnd-button
                            label="Registrace"
                            type="primary"
                            (click)="signUpAction.emit()">
                        </lnd-button>
                    </div>
<!--                    <div-->
<!--                        class="registration-holder"-->
<!--                        *ngIf="settings.signUpType !== signTypeNone">-->
<!--                        <lnd-button-->
<!--                            label="Registrace"-->
<!--                            type="primary"-->
<!--                            (click)="signUpAction.emit()">-->
<!--                        </lnd-button>-->
<!--                    </div>-->
<!--                    <div-->
<!--                        class="registration-holder"-->
<!--                        *ngIf="settings.loginType !== loginTypeNone">-->
<!--                        <lnd-button-->
<!--                            label="Přihlášení"-->
<!--                            type="link"-->
<!--                            (click)="loginAction.emit()">-->
<!--                        </lnd-button>-->
<!--                    </div>-->
                    <div
                        class="menu-holder"
                        *ngIf="!settings.isPublic || settings.isStatic">
                        <a
                            class="menu-toggle"
                            [class.menu-toggle--open]="isMenuOpen"
                            (click)="toggleMenu.emit(!isMenuOpen)">
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__label">Menu</span>
                        </a>
                    </div>
                    <div class="menu-holder"
                         *ngIf="settings.isPublic">
                        <ng-template #dropdown3 let-toggle="toggle" let-isOpen="isOpen">
                            <a
                                class="menu-toggle"
                                [class.menu-toggle--open]="isOpen"
                                (click)="toggle()">
                                <span class="menu-toggle__line"></span>
                                <span class="menu-toggle__line"></span>
                                <span class="menu-toggle__line"></span>
                                <span class="menu-toggle__line"></span>
                                <span class="menu-toggle__label">Menu</span>
                            </a>
                        </ng-template>
                        <lnd-dropdown
                            #publicMenu
                            [actionTemplate]="dropdown3"
                            (toggleOverlayerAction)="toggleMenu.emit($event)"
                            menuDirection="right">
                            <a class="dropdown-item"
                               (click)="supplierChangeAction.emit()">
                                Změna dodatavatele
                            </a>
                            <a class="dropdown-item"
                               (click)="coverageMapAction.emit()">
                                Pokrytí
                            </a>
                            <a class="dropdown-item"
                               (click)="loginAction.emit()">
                                Přihlásit
                            </a>
                            <a class="dropdown-item"
                               (click)="signUpAction.emit()">
                                Registrace
                            </a>
                        </lnd-dropdown>
                    </div>
                    <div
                        class="user-holder"
                        *ngIf="!settings.isPublic">
                        <span class="icon icon--favourite-stroke text-color--secondary"></span>
                        <lnd-dropdown
                            #userProfile
                            [actionTemplate]="profileMenu"
                            (toggleOverlayerAction)="toggleMenu.emit($event)"
                            menuDirection="right">
                            <a *ngFor="let item of userMenu"
                                [ngClass]="item.class"
                                class="dropdown-item"
                                [routerLink]="item.url">
                                <span [ngClass]="'dropdown-item-icon icon icon--' + item.icon"></span>
                                {{ item.label }}
                            </a>
                        </lnd-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
