<ng-template #profileMenu let-toggle="toggle">
    <lnd-button
        (click)="toggle()"
        [label]="user.email"
        type="primary"
    ></lnd-button>
</ng-template>

<header
    class="header"
    [class.header--public]="settings.isPublic"
    [class.header--secured]="!settings.isPublic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header-inner">
                    <div class="logo-holder">
                        <a
                            [routerLink]="['/']"
                            class="logo-link">
                            <img
                                src="/assets/images/layout/logo-pxe.svg"
                                class="logo"
                                title="PXE"
                                alt="logo PXE">
                        </a>
                    </div>
                    <div
                        class="registration-holder"
                        *ngIf="settings.signUpType !== signTypeNone">
                        <lnd-button
                            label="Registrace"
                            type="primary"
                            (click)="signUp()">
                        </lnd-button>
                    </div>
                    <div
                        class="registration-holder"
                        *ngIf="settings.loginType !== loginTypeNone">
                        <lnd-button
                            label="Přihlášení"
                            type="link"
                            (click)="login()">
                        </lnd-button>
                    </div>

                    <div
                        class="notification-holder"
                        *ngIf="!settings.isPublic">
                        <span class="icon icon--favourite-fill text-color--secondary"></span>
                    </div>
                    <div
                        class="menu-holder"
                        *ngIf="!settings.isPublic || settings.isStatic">
                        <a
                            class="menu-toggle"
                            [class.menu-toggle--open]="isMenuOpen"
                            (click)="toggleMenu.emit()">
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__line"></span>
                            <span class="menu-toggle__label">Menu</span>
                        </a>
                    </div>
                    <div
                        class="user-holder"
                        *ngIf="!settings.isPublic">
                        <span class="icon icon--favourite-stroke text-color--secondary"></span>
                        <lnd-dropdown [actionTemplate]="profileMenu">
                            <a *ngFor="let item of userMenu"
                               class="dropdown-item" (click)="navigateTo(item.url)">
                                {{ item.label }}
                            </a>
                        </lnd-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
