<div class="news">
    <div class="news__inner">
        <div class="row">
            <div class="col-12">
                <div class="row mb-3">
                    <div class="col-md-3 text-right">
                        27.6. 2018
                    </div>
                    <div class="col-md-9">
                        <h3>
                            Do PARC-u jsme přidali průvodce importem odběrných míst. Najdete zde podrobné infomace k spávnému vyplnění importního souboru.
                        </h3>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 text-right">
                        26.6. 2018
                    </div>
                    <div class="col-md-9">
                        Od 1.8. spouštíme službu vytěžení faktur, která zásadně zjednoduší správu odběrných míst. Automatický proces naplní OM podle naskenovaných faktur.
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 text-right">
                        25.6. 2018
                    </div>
                    <div class="col-md-9">
                        Do PARC-u jsme přidali průvodce importem odběrných míst…
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
