<ng-template #templateIcons let-data="data">
    <lnd-button
        icon="icon--edit"
        type="icon"
        variant="icon"
        (action)="editSupplyPoint(data.id)">
    </lnd-button>
    <lnd-button
        type="icon"
        icon="icon--delete"
        variant="icon"
        (action)="deleteSupplyPointImport(data.id)">
    </lnd-button>
</ng-template>

<pxe-layout-container [pageTitle]="title">
    <div class="row">
        <div *ngIf="configStepper"
             class="col-12 col-xl-10 offset-xl-1 mb-6">
            <pxe-progress-bar [config]="configStepper"></pxe-progress-bar>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-xl-4" style="margin-top: 80px">
                    <ng-container *ngIf="supplyPointsImport$ | async as supplyPointImport">
                        <lnd-micro-table
                            title="Odběrná místa"
                            [data]="(supplyPointsImportMicroTableData$ | async)"
                            [actionTemplates]="templateIcons">
                        </lnd-micro-table>
                    </ng-container>
                </div>
                <div class="col-12 col-xl-8">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</pxe-layout-container>
