<ng-template #templateIcons let-data="data">
    <ng-template #tooltipEdit let-toggle="toggle">
        <lnd-button
            icon="icon--edit"
            type="icon"
            variant="icon"
            (action)="editSupplyPoint(data.id)"
        >
        </lnd-button>
    </ng-template>
    <ng-template #tooltipDelete let-toggle="toggle">
        <lnd-button
            type="icon"
            icon="icon--delete"
            variant="icon"
            (action)="deleteSupplyPointImport(data)"
        >
        </lnd-button>
    </ng-template>

    <lnd-tooltip [actionTemplate]="tooltipDelete" direction="bottom">
        Ostranit
    </lnd-tooltip>
    <lnd-tooltip [actionTemplate]="tooltipEdit" direction="bottom">
        Upravit
    </lnd-tooltip>
</ng-template>

<pxe-layout-container [pageTitle]="title">
    <div class="row">
        <div *ngIf="configStepper" class="col-12 col-xl-10 offset-xl-1 mb-6">
            <pxe-progress-bar [config]="configStepper"></pxe-progress-bar>
        </div>
        <div class="col-12 col-xl-10 offset-xl-1">
            <lnd-placeloader
                [loading]="!(supplyPointsImport$ | async)"
            ></lnd-placeloader>
        </div>
        <div
            class="col-12"
            *ngIf="supplyPointsImport$ | async as supplyPointImport"
        >
            <div class="row">
                <div
                    *ngIf="supplyPointImport.length !== 0"
                    class="col-12 col-xl-4 mt-suppy-point-import"
                >
                    <h2>Odběrná místa</h2>
                    <lnd-micro-table
                        [data]="supplyPointsImportMicroTableData$ | async"
                        [actionTemplates]="templateIcons"
                    >
                    </lnd-micro-table>
                </div>
                <div
                    class="col-12"
                    [class.col-xl-8]="supplyPointImport.length !== 0"
                    [class.col-xl-10]="supplyPointImport.length === 0"
                    [class.offset-xl-1]="supplyPointImport.length === 0"
                >
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</pxe-layout-container>
