/*
 -  Alerts
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'alert.component.variables.scss';

// Bootstrap alert and close import
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/close';

.alert {
	display: flex;
	align-items: center;
	color: $white;

	&--with-icon {
		justify-content: center;
	}

	&__common-icon {
		padding-right: ( $spacer / 2 );
		font-size: 15px;
	}
}

.alert-dismissible {
	.close {
		position: absolute;
		top: $alert-padding-y;
		right: $alert-padding-x;
		padding: 0;
	}
}
