/*
 -  Alerts
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'alert.component.variables.scss';

// Bootstrap alert and close import
@import '~bootstrap/scss/alert.scss';
@import '~bootstrap/scss/close.scss';

.alert {
	color: $white;
	word-break: break-word;

	&--with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__common-icon {
		padding-right: ( $spacer * .5 );
		font-size: $font-size-base;
	}
}

.alert-dismissible {
	.close {
		position: absolute;
		top: $alert-padding-y;
		right: $alert-padding-x;
		padding: 0;
	}
}
