<ng-container *ngIf="passwordWasSent">
    <lnd-alert
        type="info"
        customClass="mb-2">
        <ng-container *ngIf="wasSentToPhone">
            Heslo jsme vám zaslali na telefonní číslo
        </ng-container>
        <ng-container *ngIf="!wasSentToPhone">
            Heslo jsme vám zaslali na {{login}}
        </ng-container>
    </lnd-alert>
    <div class="text-right">
        <a (click)="handleReSentAction()">
            <ng-container *ngIf="wasSentToPhone">
                Poslat sms znovu
            </ng-container>
            <ng-container *ngIf="!wasSentToPhone">
                Poslat e-mail znovu
            </ng-container>
        </a>
    </div>
</ng-container>
<ng-template #forgottenPassword>
    <a *ngIf="!passwordWasSent"
       (click)="handleCustomAction($event)">
        Zapomněli jste heslo?
    </a>
</ng-template>
<lnd-alert
    *ngIf="reasonForLogoutUser"
    type="info"
    customClass="mb-2">
    {{reasonForLogoutUser}}
</lnd-alert>
<form
    [formGroup]="form"
    (keydown.enter)="submitForm($event);false"
    class="form-container"
    autocomplete="off">
    <lnd-form-field
        (change)="setLoginValidator(LOGIN_FORM_NAME, $event)"
        [error]="form.controls.login.errors"
        [formControl]="form.controls.login"
        [id]="'login'"
        label="E-mail (přihlašovací jméno)"
        [success]="form.controls.login.valid && form.controls.login.touched"
        [touched]="form.controls.login.touched"
        [validationMessages]="formFields.validationMessages.login"
    ></lnd-form-field>
    <lnd-form-field
        [error]="form.controls.password.errors"
        [formControl]="form.controls.password"
        [id]="'password'"
        label="Heslo"
        [success]="form.controls.password.valid && form.controls.password.touched"
        type="PASSWORD"
        [touched]="form.controls.password.touched"
        [validationMessages]="formFields.validationMessages.password"
        [subtextTemplate]="forgottenPassword"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="primary"
            [submit]="true"
            (action)="submitForm($event)"
            [isDisabled]="!!formLoading"
            label="Přihlásit se">
        </lnd-button>
    </div>
</form>
