<ng-container *ngIf="passwordWasSent">
    <lnd-alert
        type="info"
        customClass="mb-2">
        <ng-container *ngIf="wasSentToPhone">
            Heslo jsme vám zaslali na telefonní číslo
        </ng-container>
        <ng-container *ngIf="!wasSentToPhone">
            Heslo jsme vám zaslali na {{login}}
        </ng-container>
    </lnd-alert>
    <div class="text-right mb-3">
        <a (click)="handleReSentAction()">
            <ng-container *ngIf="wasSentToPhone">
                Poslat sms znovu
            </ng-container>
            <ng-container *ngIf="!wasSentToPhone">
                Poslat e-mail znovu
            </ng-container>
        </a>
    </div>
</ng-container>
<ng-template #forgottenPassword>
    <a *ngIf="!passwordWasSent"
       (click)="handleCustomAction($event)">
        Zapomněli jste heslo?
    </a>
</ng-template>
<lnd-alert
    *ngIf="reasonForLogoutUser"
    type="info"
    customClass="mb-2">
    {{reasonForLogoutUser}}
</lnd-alert>
<form
    [formGroup]="form"
    (keydown.enter)="submitForm($event);false"
    class="form-container"
    autocomplete="off">
    <lnd-form-field
        lndSFormDirective
        lndSBiometricsDirective
        (change)="setLoginValidator(LOGIN_FORM_NAME, $event)"
        customFormGroupClass="form-group--public"
        [lightField]="true"
        [error]="form.controls.login.errors"
        [formControl]="form.controls.login"
        [id]="'login'"
        label="E-mail (přihlašovací jméno)"
        [success]="form.controls.login.valid && form.controls.login.touched"
        [touched]="form.controls.login.touched"
        [validationMessages]="formFields.validationMessages.login"
    ></lnd-form-field>
    <lnd-form-field
        lndSFormDirective
        lndSBiometricsDirective
        customFormGroupClass="form-group--public"
        [error]="form.controls.password.errors"
        [formControl]="form.controls.password"
        [lightField]="true"
        [id]="'password'"
        label="Heslo"
        [success]="form.controls.password.valid && form.controls.password.touched"
        type="PASSWORD"
        [touched]="form.controls.password.touched"
        [validationMessages]="formFields.validationMessages.password"
        [subtextTemplate]="forgottenPassword"
    ></lnd-form-field>
    <lnd-button
        type="gradient-primary"
        class="w-100 mb-5"
        customClass="btn-public btn--icon-right w-100"
        [submit]="true"
        (action)="submitForm($event);sAnalyticsService.sFormClick($event);"
        [isDisabled]="!!formLoading"
        label="Přihlásit se"
        icon="icon--arrow-right"
        iconPosition="right">
    </lnd-button>
    <p class="mb-2">
        Nebo se přihlaště pomocí
    </p>
    <div class="row mb-5">
        <div class="col-md-6">
            <lnd-button
                label="Facebook"
                type="facebook"
                (action)="oauthService.tryLoginWithOAuth(oAuthType.FACEBOOK)">
            </lnd-button>
        </div>
        <div class="col-md-6">
            <lnd-button
                label="Google"
                type="google"
                (action)="oauthService.tryLoginWithOAuth(oAuthType.GOOGLE)">
            </lnd-button>
        </div>
    </div>
    <p class="font-size-14">
        Založením účtu souhlasím s <a target="_blank" [href]="ROUTES.ROUTER_TERMS_OF_USE">Obchodními podmínkami parc4u</a> a beru na vědomí informace o <a target="_blank" [href]="ROUTES.ROUTER_SECURING_YOUR_DATA">Ochraně osobních údajů</a>.
    </p>
</form>

