<ng-template #sendSmsAgainTemplate>
    <p *ngIf="smsSent && showSentSmsLabelUnderFirstField"
       class="small"
       [class.mt-2]="!showSentSmsLabelUnderFirstField">
        Na číslo {{contract.personalData.phone}}<br /> odešleme ověřovací kód
    </p>
    <a (click)="sendContractConfirmationSms()"
       *ngIf="smsSent">
        Poslat SMS kód znovu?
    </a>
</ng-template>
<!--csska jsem s Jardou neresil .. (treba to bude uplne jinak)-->
<!--https://projects.invisionapp.com/d/main#/console/15651456/331773074/preview kod sms ve spatym stepu (jete neni nic poslany) -->
<!--Jelikoz tu nebyl ani hamr neresil jsem ani jak to ma vypadat neni skym-->
<form
    [formGroup]="form"
    autocomplete="off"
    (keydown)="resetCustomFieldError()"
    (change)="resetCustomFieldError()">
    <div class="row">
        <div  [ngClass]="classRootWrapper">
            <div [ngClass]="classMainWrapper">
                <div [ngClass]="classFirstField">
                    <lnd-form-field
                        label= "Kód z SMS"
                        [disabledField]="!smsSent"
                        [error]="formError.smsCode || form.controls.smsCode.errors"
                        [formControl]="form.controls.smsCode"
                        [id]="'smsCode'"
                        [subtextTemplate]="sendSmsAgainTemplate"
                        [success]="form.controls.smsCode.valid && (form.controls.smsCode.touched || formError.smsCode)"
                        [touched]="form.controls.smsCode.touched || formError.smsCode"
                        [triggerFocus]="smsSent"
                        [validationMessages]="formFields.validationMessages.smsCode">
                    </lnd-form-field>
                </div>
                <div [ngClass]="classSecondField">
                    <lnd-button
                        *ngIf="!smsSent"
                        (action)="sendContractConfirmationSms()"
                        [isDisabled]="formLoading"
                        label="Odeslat ověřovací kód"
                        type="primary">
                    </lnd-button>
                    <lnd-button
                        *ngIf="smsSent"
                        (action)="submitForm()"
                        [isDisabled]="formLoading"
                        [label]="submitLabelText"
                        type="primary">
                    </lnd-button>
                    <p *ngIf="!smsSent && !showSentSmsLabelUnderFirstField"
                       class="small mt-2">
                        Na číslo {{contract.personalData.phone}}<br /> odešleme ověřovací kód
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
