<div class="section where-we-are bg--white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-9 offset-lg-1">
                <blockquote class="h2--public">
                    Dodavatelem se může stát pouze společnost, která již obchoduje energie na burzovním velkoobchodním trhu, a podléhá tak velmi přísné regulaci burzy.
                </blockquote>
                <p>David Kučera, generální sekretář PXE</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="px-3 px-md-0">
                            <h3>
                                REGISTROVANÍ DODAVATELÉ
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
                        <ng-container *ngTemplateOutlet="supplierTemplatePower"></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

