@import 'src/assets/scss/01_base/base.scss';


.where-we-are {
	// min-height: 925px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto auto;
	background-image: url('../../../assets/images/landing-page/picture-to-silhouette.svg');

	// Media queries
	@include media-breakpoint-up(md) {
		// min-height: 625px;
		background-size: 80% auto;
	}
	@include media-breakpoint-up(xl) {
		// min-height: 695px;
		background-size: auto auto;
	}
	@include media-breakpoint-up(lg) {
		// min-height: 765px;
		background-position-y: 15px;
	}
}

.boxes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: ( $spacer * 3 );

	// Media queries
	@include media-breakpoint-up(md) {
		flex-direction: row;
	}
}

.loading {
	margin: ( $spacer * 10.5 ) 0 ( $spacer * 13 );

	@include media-breakpoint-up(md) {
		margin: ( $spacer * 7.5 ) 0 ( $spacer * 7.75 );
	}
}

.error-map-coverage {
	margin: ( $spacer * 8 ) 0 ( $spacer * 12 );

	@include media-breakpoint-up(md) {
		margin: ( $spacer * 5.5 ) 0 ( $spacer * 6.75 );
	}
}

.box-info {
	position: relative;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba($font-text, .16);

	// Media queries
	@include media-breakpoint-up(md) {
		margin-left: 0;
		margin-right: 0;
	}

	&:nth-child(n + 2) {
		margin-top: $spacer;

		// Media queries
		@include media-breakpoint-up(md) {
			margin-top: 0;
			margin-left: $spacer;
		}
	}

	// Media queries
	@include media-breakpoint-up(xl) {
		width: 220px;
		height: 220px;
	}

	&--primary {
		background-color: $primary;
		color: $white;
	}

	&--secondary {
		background-color: $secondary;
		color: $white;
	}

	&__holder {
		padding: $spacer;
		display: flex;
		flex-flow: wrap;
		align-items: center;
		height: 100%;

		// Media queries
		@include media-breakpoint-up(xl) {
			padding: ( $spacer * 1.75 ) ( $spacer * 1.5 );
		}
	}

	&__label,
	&__value {
		width: 100%;
	}

	&__label {
		text-transform: uppercase;
		align-self: flex-start;
		line-height: ( 19 / 14 );
	}

	&__value {
		align-self: flex-end;
	}

	&__number {
		font-size: $h2-font-size;
		line-height: 1;

		// Media queries
		@include media-breakpoint-up(xl) {
			font-size: $h1-font-size;
			line-height: ( 48 / 36 );
		}
	}

	&__unit {
		font-size: $small-font-size;

		@include media-breakpoint-up(xl) {
			font-size: $h1-font-size-snd;
		}
	}
}
