@import 'src/assets/scss/01_base/base.scss';


.where-we-are {
	// min-height: 925px;
	background-repeat: no-repeat;
	background-position: center 100px;
	background-image: url('../../../assets/images/landing-page/picture-to-silhouette.svg');

	// Media queries
	@include media-breakpoint-up(md) {
		// min-height: 625px;
		background-position: center 110px;
		background-size: 80% auto;
	}
	@include media-breakpoint-up(xl) {
		// min-height: 695px;
		background-position: center 60px;
		background-size: auto auto;
	}
	@include media-breakpoint-up(lg) {
		// min-height: 765px;
		background-position: center 90px;
	}
}

.boxes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: ( $spacer * 3 );

	// Media queries
	@include media-breakpoint-up(md) {
		flex-direction: row;
	}
}

.box-info {
	position: relative;
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: $white;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba($font-text, .16);

	// Media queries
	@include media-breakpoint-up(md) {
		margin-left: 0;
		margin-right: 0;
	}

	&:nth-child(n + 2) {
		margin-top: $spacer;

		// Media queries
		@include media-breakpoint-up(md) {
			margin-top: 0;
			margin-left: $spacer;
		}
	}

	// Media queries
	@include media-breakpoint-up(xl) {
		width: 220px;
		height: 220px;
	}

	&--primary {
		background-color: $primary;
		color: $white;
	}

	&--secondary {
		background-color: $secondary;
		color: $white;
	}

	&__holder {
		padding: $spacer;
		display: flex;
		flex-flow: wrap;
		align-items: center;
		height: 100%;

		// Media queries
		@include media-breakpoint-up(xl) {
			padding: ( $spacer * 1.75 ) ( $spacer * 1.5 );
		}
	}

	&__label,
	&__value {
		width: 100%;
	}

	&__label {
		text-transform: uppercase;
		align-self: flex-start;
		line-height: ( 19 / 14 );
	}

	&__value {
		align-self: flex-end;
	}

	&__number {
		font-size: $h3-font-size-public;
		line-height: 1;

		// Media queries
		@include media-breakpoint-up(xl) {
			font-size: $h1-font-size-public;
			line-height: ( 48 / 36 );
		}
	}
}

.suppliers-overview {
	@include reset-list;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;

	&__item {
		@include reset-list;
		margin: 0 $spacer ( $spacer * 2 );

		// Media queries
		@include media-breakpoint-up(md) {
			margin-left: ( $spacer * 1.25 );
			margin-right: ( $spacer * 1.15 );
		}

		&::before {
			display: none;
		}
	}

	&__content {
		display: block;
		position: relative;

		&:hover,
		&:focus {
			.suppliers-overview__picture {
				visibility: hidden;
			}

			.suppliers-overview__picture-hover {
				display: block;
			}
		}
	}

	&__picture,
	&__picture-hover {
		width: auto;
		height: 34px;

		&--sm {
			height: 24px;
		}

		&--xl {
			height: 44px;
		}
	}

	&__picture-hover {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}
}
