<lnd-alert
    *ngIf="globalError.length"
    type="danger">
    <ng-container *ngFor="let error of globalError">
        {{ error }}<br>
    </ng-container>
</lnd-alert>
<form
    id="form-sign-up"
    [formGroup]="form"
    (keydown)="resetCustomFieldError()"
    (keydown.enter)="submitForm($event);false"
    (change)="resetCustomFieldError()"
    class="form-container form-container--large ml-0"
    autocomplete="off">
    <lnd-form-field
        lndSFormDirective
        lndSBiometricsDirective
        [error]="formError.email || form.controls.email.errors"
        [formControl]="form.controls.email"
        [id]="'email'"
        customFormGroupClass="form-group--public mb-3"
        label="E-mail"
        [lightField]="true"
        [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
        [touched]="form.controls.email.touched || formError.email"
        [validationMessages]="formFields.validationMessages.email"
    ></lnd-form-field>
    <div class="mb-5" [class.text-center]="isSignUp">
        <lnd-button
            type="gradient-primary"
            class="w-100"
            customClass="btn-public btn--icon-right w-100"
            [submit]="true"
            (action)="submitForm($event);sAnalyticsService.sFormClick($event);"
            [isDisabled]="formLoading"
            [label]="isSignUp ? 'Založit účet zdarma' : 'Odeslat'"
            icon="icon--arrow-right"
            iconPosition="right">
        </lnd-button>
    </div>
    <p class="mb-2">
        Nebo si založte účet pomocí
    </p>
    <div class="row mb-5">
        <div class="col-md-6 mb-3">
            <lnd-button
                label="Facebook"
                type="facebook"
                class="w-100"
                customClass="btn-public w-100"
                (action)="oauthService.tryLoginWithOAuth(oAuthType.FACEBOOK)">
            </lnd-button>
        </div>
        <div class="col-md-6 mb-3">
            <lnd-button
                label="Google"
                type="google"
                class="w-100"
                customClass="btn-public w-100"
                (action)="oauthService.tryLoginWithOAuth(oAuthType.GOOGLE)">
            </lnd-button>
        </div>
        <div class="col-12">
            <lnd-button
                *ngIf="!isProduction"
                label="Bankovní identita"
                type="bankid"
                class="w-100"
                customClass="btn-public w-100"
                (action)="oauthService.tryLoginWithOAuth(oAuthType.BANK_ID)">
            </lnd-button>
        </div>
    </div>
    <p class="font-size-14">
        Založením účtu souhlasím s <a target="_blank" [href]="ROUTES.ROUTER_TERMS_OF_USE">Obchodními podmínkami parc4u</a> a beru na vědomí informace o <a target="_blank" [href]="ROUTES.ROUTER_SECURING_YOUR_DATA">Ochraně osobních údajů</a>.
    </p>
</form>
