<lnd-alert
    *ngIf="globalError.length"
    type="danger">
    <ng-container *ngFor="let error of globalError">
        {{ error }}<br>
    </ng-container>
</lnd-alert>
<form
    [formGroup]="form"
    (keydown)="resetCustomFieldError()"
    (change)="resetCustomFieldError()"
    class="form-container"
    autocomplete="off">
    <lnd-form-field
        [error]="formError.email || form.controls.email.errors"
        [formControl]="form.controls.email"
        [id]="'email'"
        label="E-mail"
        [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
        [touched]="form.controls.email.touched || formError.email"
        [validationMessages]="formFields.validationMessages.email"
        [lightField]="lightTheme"
    ></lnd-form-field>
    <lnd-form-field
        [error]="formError.consent || form.controls.consent.errors"
        [formControl]="form.controls.consent"
        [id]="'consent'"
        label=""
        [labelTemplate]="agreementTemplate"
        [success]="form.controls.consent.valid && (form.controls.consent.touched || formError.consent)"
        [touched]="form.controls.consent.touched || formError.consent"
        [type]="'CHECKBOX'"
        [validationMessages]="formFields.validationMessages.consent"
    ></lnd-form-field>
    <div [class.text-right]="isSignUp">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="formLoading"
            [label]="isSignUp ? 'Registrovat se' : 'Odeslat'">
        </lnd-button>
    </div>
</form>
