<lnd-alert type="info">
    Reset hesla pro PARC4U.<br>
    Zadejte prosím e-mail, který jste použili při registraci.
</lnd-alert>
<form
    [formGroup]="form"
    class="form-container"
    autocomplete="off"
    (keydown)="resetCustomFieldError()">
    <lnd-form-field
        [error]="formError.email || form.controls.email.errors"
        [formControl]="form.controls.email"
        [id]="'email'"
        label="E-mail"
        [success]="form.controls.email.valid && form.controls.email.touched"
        [touched]="form.controls.email.touched"
        [validationMessages]="formFields.validationMessages.email"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="!!formLoading"
            label="Resetovat heslo">
        </lnd-button>
    </div>
</form>
