<lnd-alert type="info">
    Reset hesla pro parc4u.<br />
    Zadejte prosím e-mail, který jste použili při registraci.
</lnd-alert>
<form
    [formGroup]="form"
    class="form-container"
    autocomplete="off"
    (keydown)="resetCustomFieldError()"
    (keydown.enter)="submitForm($event); (false)"
>
    <lnd-form-field
        lndSFormDirective
        lndSBiometricsDirective
        customFormGroupClass="form-group--public"
        (change)="setLoginValidator(LOGIN_FORM_NAME, $event)"
        [error]="formError.login || form.controls.login.errors"
        [formControl]="form.controls.login"
        [lightField]="true"
        [id]="'login'"
        label="E-mail (přihlašovací jméno)"
        [success]="form.controls.login.valid && form.controls.login.touched"
        [touched]="form.controls.login.touched"
        [validationMessages]="formFields.validationMessages.login"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="gradient-primary"
            class="w-100"
            customClass="btn-public btn--icon-right w-100"
            [submit]="true"
            (action)="submitForm($event)"
            [isDisabled]="!!formLoading"
            label="Resetovat heslo"
            icon="icon--arrow-right"
            iconPosition="right"
        >
        </lnd-button>
    </div>
</form>
