<lnd-alert
    *ngIf="globalError.length"
    type="danger">
    <ng-container *ngFor="let error of globalError">
        {{ error }}<br>
    </ng-container>
</lnd-alert>
<lnd-alert type="info">
    Reset hesla pro PARC.<br />
    Zadejte prosím e-mail, který jste použili při registraci.
</lnd-alert>
<form
    [formGroup]="form"
    class="form-container"
    autocomplete="off">
    <lnd-form-field
        [error]="form.controls.contactInfo.errors"
        [formControl]="form.controls.contactInfo"
        [id]="'email'"
        label="E-mail"
        [success]="form.controls.contactInfo.valid && form.controls.contactInfo.touched"
        [touched]="form.controls.contactInfo.touched"
        [validationMessages]="formFields.validationMessages.contactInfo"
    ></lnd-form-field>
    <div class="text-right">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="!!formLoading"
            label="Resetovat heslo">
        </lnd-button>
    </div>
</form>
