<ng-template #carouselSSR>
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li *ngFor="let item of carouselItems"></li>
        </ol>
        <div *ngFor="let item of carouselItems"
             class="carousel-inner d-block">
            <div
                aria-hidden="true"
                class="item carousel-item w-100 order-0">
                <div class="item">
                    <div class="row no-gutters align-items-center">
                        <div class="col-12 col-md-6 offset-md-1 order-md-2 overflow-hidden">
                            <img class="carousel-item-img"
                                 [src]="item.src"
                                 [alt]="item.alt">
                        </div>
                        <div class="col-12 col-md-4 offset-md-1 order-md-1">
                            <div class="carousel-item-content">
                                <h3 class="h3--public">{{item.title}}</h3>
                                <p class="mb-0">{{item.label}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<lnd-carousel
    *ngIf="isBrowser; else carouselSSR"
    [carouselItems]="carouselItems"
    [interval]="intervalBetweenSliders">
</lnd-carousel>
