/*
 -  Bar plot graph
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.bar-plot {
	position: relative;
	z-index: 600000;

	svg {
		overflow: visible;

		.column {
			fill: $light;
		}

		.x text{
			font-size: $font-size-base;
			color: $gray-400;
		}

		text.label {
			cursor: pointer;
			color: $gray-400;
			font-size: $font-size-base;
		}

		text.label.hover {
			color: white !important;
			fill: white !important;
		}


		.hover {
			cursor: pointer;
			fill: $gradient-blue-dark;
		}
	}
}
