<pxe-layout-container title="LOG-IN">
    <div class="row">
        <div class="offset-1 col-10 col-md-4 offset-md-2 order-2 order-md-1">
            <h2 class="h3--public">
                Nakupujte elektřinu a plyn přímo na burze
            </h2>
            <ul class="check-list">
                <li>
                    Měníte dodavatele na&nbsp;jedno kliknutí
                </li>
                <li>
                    Neřešíte papírování a&nbsp;chození na&nbsp;pobočky
                </li>
                <li>
                    Jste chráněni před&nbsp;nekalostmi ve&nbsp;smlouvě
                </li>
                <li>
                    Dostáváte férové ceny bez&nbsp;skrytých poplatků
                </li>
            </ul>
        </div>
        <div class="page-box offset-1 offset-md-0 col-10 col-md-4 order-1 order-md-2">
            <pxe-login-form
                [loginFormFields]="loginFormFields"
                [submitLoginFormLoading]="submitLoginFormLoading"
                [loginGlobalError]="loginGlobalError"
                (submitLoginForm)="submitLoginForm($event)"
            ></pxe-login-form>
        </div>
    </div>
</pxe-layout-container>
