<pxe-layout-container title="LOG-IN">
    <div class="row mb-6">
        <div class="col-12 col-md-6 col-lg-3 order-md-last">
            <div class="page-box">
                <div class="row">
                    <div class="col-12">
                        <pxe-login-form
                            *ngIf="!wasSentSms"
                            [formFields]="loginFormFields"
                            [formLoading]="submitLoginFormLoading"
                            [globalError]="loginGlobalError"
                            (submitAction)="submitFormLogin($event)"
                            (customAction)="forgottenPasswordAction($event)"
                        ></pxe-login-form>
                        <pxe-login-supply-auth-form
                            *ngIf="wasSentSms"
                            [formFields]="loginSupplyAuthFields"
                            [formLoading]="submitLoginFormLoading"
                            [globalError]="loginGlobalError"
                            (submitAction)="submitFormLoginAuth($event)"
                            (customAction)="reSendSms($event)"
                        ></pxe-login-supply-auth-form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 offset-lg-3 order-md-first">
            <div class="check-list-wrapper">
                <h2 class="h3--public">Nakupujte elektřinu a plyn přímo na burze</h2>
                <ul class="check-list">
                    <li>Měňte dodavatele na jedno kliknutí</li>
                    <li>Neřešte papírování a chození na pobočky</li>
                    <li>Buďte chráněni před nekalostmi ve smlouvě</li>
                    <li>Dostávejte férové ceny bez skrytých poplatků</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 text-center">
            <pxe-supplier-container></pxe-supplier-container>
        </div>
    </div>
    <div (click)="reSendSms($event)">was sent true ==== !!</div>
</pxe-layout-container>
