<div class="container-fluid">
    <div class="container-content">
        <pxe-layout-container pageTitle="PŘIHLÁSIT">
            <div class="row mb-6">
                <div class="col-12 col-md-8 offset-md-2 col-xl-5 offset-xl-0 col-lg-3 order-xl-last">
                    <div class="page-box">
                        <div class="row">
                            <div class="col-12">
                                <lnd-alert
                                        *ngIf="globalError.length"
                                        type="danger">
                                    <ng-container *ngFor="let error of globalError">
                                        {{ error }}<br>
                                    </ng-container>
                                </lnd-alert>
                                <pxe-login-form
                                    *ngIf="[LOGIN_STATE.LOGIN, LOGIN_STATE.LOGIN_AFTER_RESET].indexOf(state) !== -1"
                                    [formFields]="formFieldsLogin.loginFormFields"
                                    [formLoading]="formLoading"
                                    [globalError]="globalError"
                                    [login]="login"
                                    [reasonForLogoutUser]="reasonForLogoutUser"
                                    [wasSentToPhone]="wasSentToPhone"
                                    [passwordWasSent]="passwordWasSent"
                                    (customAction)="forgottenPasswordAction($event)"
                                    (reSentAction)="resetPassword($event)"
                                    (submitAction)="submitFormLogin($event)"
                                ></pxe-login-form>
                                <pxe-login-supply-auth-form
                                    *ngIf="state === LOGIN_STATE.CHANGE_SEND_SMS"
                                    [formFields]="formFieldsLogin.loginSupplyAuthFields"
                                    [formLoading]="formLoading"
                                    [globalError]="globalError"
                                    [telephoneNumber]="phoneNumber"
                                    (submitAction)="submitSupplierLoginSms($event)"
                                    (customAction)="resendSupplierLoginSms($event)"
                                ></pxe-login-supply-auth-form>
                                <pxe-reset-password-form
                                    *ngIf="state === LOGIN_STATE.RESET"
                                    [formFields]="formFieldsLogin.resetPasswordFields"
                                    [formLoading]="formLoading"
                                    [fieldError]="fieldError"
                                    [globalError]="globalError"
                                    (submitAction)="submitResetPassword($event)">
                                </pxe-reset-password-form>
                                <pxe-change-password-form
                                    *ngIf="state === LOGIN_STATE.CHANGE_PASSWORD"
                                    [formFields]="formFieldsLogin.changePasswordFields"
                                    [formLoading]="formLoading"
                                    [globalError]="globalError"
                                    (submitAction)="submitChangePassword($event)">
                                </pxe-change-password-form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-5 offset-xl-1 col-lg-3 offset-lg-3 order-xl-first">
                    <div class="check-list-wrapper">
                        <h2 class="h3--public">V PARC4U máte přístup k jiným cenám za energie</h2>
                        <ul class="check-list">
                            <li>Měníte dodavatele na jedno kliknutí</li>
                            <li>Neřešíte papírování a chození na pobočky</li>
                            <li>Jste chráněni před nekalostmi ve smlouvě</li>
                            <li>Dostáváte férové ceny bez skrytých poplatků</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-10 offset-xl-1 col-lg-8 offset-lg-2 text-center">
                    <pxe-supplier-container></pxe-supplier-container>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
