// Forms
$input-height:                       50px;
$input-padding-y:                    ( $spacer / 4 );
$input-padding-x:                    $spacer;
$input-font-size:                    12px;
$input-line-height:                  1;
$input-color:                        $font-text;
$input-color-interactive-warning:    $warning-dark;
$input-color-interactive-invalid:    $danger-dark;
$input-bg:                           $body-bg;
$input-focus-bg:                     $body-bg;
$enable-rounded:                     false;
$input-border-width:                 3px;
$input-border-color:                 $gray-100;
$input-focus-border-color:           $primary;
$input-border-color-interactive:     $gray-200;
$input-border-radius:                $border-radius;
$input-placeholder-color:            transparent;
$input-disabled-bg:                  $disabled;
$input-disabled-color:               rgba($input-color, .2);
$input-disabled-border-color:        rgba($input-border-color, .4);
$input-group-addon-bg:               transparent;
$input-group-addon-color:            $gray-400;
$form-group-padding-top:             ( $spacer * 1.25 );
$form-group-margin-bottom:           ( $spacer * 2 );
$input-label-active-font-size:       .75rem;
$input-textarea-min-height:          175px;
$input-textarea-line-height:         24px;

$input-height-public:                60px;
$input-padding-y-public:             $spacer;
$input-padding-x-public:             ( $spacer * 1.5 );

$custom-control-gutter:                                  0;
$custom-control-indicator-top:                           2px;
$custom-control-indicator-size:                          ( 16 / 16 ) + rem;
$custom-control-indicator-size-px:                       16px;
$custom-control-indicator-bg:                            $white;
$custom-control-indicator-box-shadow:                    none;
$custom-control-indicator-bg-interactive-warning:        rgba($warning-lighten, .3);
$custom-control-indicator-bg-interactive-error:          rgba($danger-lighten, .3);
$custom-control-indicator-bg-warning:                    $warning;
$custom-control-indicator-bg-invalid:                    $danger;
$custom-control-indicator-bg-check-interactive-warning:  $warning-dark;
$custom-control-indicator-bg-check-interactive-invalid:  $danger-dark;
$custom-control-indicator-checked-box-shadow:            none;
$custom-control-indicator-focus-box-shadow:              none;
$custom-control-indicator-active-bg:                     transparent;
$custom-control-indicator-active-border-color:           $gray-100;
$custom-control-indicator-disabled-bg:                   transparent;
$custom-control-indicator-border-width:                  2px;
$custom-control-indicator-border-type:                   solid;
$custom-control-indicator-border-color:                  $gray-100;
$custom-control-indicator-disabled-border:               rgba($custom-control-indicator-border-color, .4);
$custom-control-indicator-focus-border-color:            $font-text;
$custom-control-indicator-hover-border-color:            $font-text;
$custom-control-indicator-checked-border-color:          $gray-100;
$custom-control-indicator-checked-bg:                    $custom-control-indicator-bg;
$custom-control-indicator-checked-disabled-bg:           transparent;
$custom-control-label-disabled-color:                    rgba($input-color, .4);

$custom-control-spacer-x:                     ( $spacer * 2 );

$custom-radio-filling-size:                   8px;
$custom-radio-indicator-border-radius:        50%;
$custom-radio-indicator-icon-checked:         none;
$custom-radio-control-indicator-checked-bg:   $font-text;

$custom-checkbox-icon-size:                   10px;
$custom-checkbox-indicator-border-radius:     3px;
$custom-checkbox-indicator-icon-checked:      none;

$custom-switch-height:                30px;
$custom-switch-width:                 56px;
$custom-switch-bg:                    $primary;
$custom-switch-shadow:                0 2px 4px 0 rgba($black, .25);
$custom-switch-bg-interactive:        $primary-dark;
