// Forms
$green-100:							 #001400;
$green-300:							 #008b00;
$green-400:							 #009e00;
$night-blue:						 #2677e5;
$light-blue:						 #2275e5;
$icon-size-half-px:					 12px;
$titanium-gray:						 #e9e9e9;
$font-weight-semibold:				 400;

$input-width:                        300px;
$input-height:                       50px;
$input-padding-y:                    ( $spacer / 4 );
$input-padding-x:                    0;
$input-font-size:                    12px;
$input-line-height:                  $input-height;
$input-color:                        $font-text;
$input-color-interactive:            $green-300;
$input-color-interactive-warning:    $warning;
$input-color-interactive-invalid:    $danger;
$input-bg:                           $body-bg;
$enable-rounded:                     false;
$input-border-width:                 3px;
$input-border-color:                 $night-blue;
$input-border-color-interactive:     $green-300;
$input-border-radius:                $border-radius;
$input-placeholder-color:            transparent;
$input-disabled-bg:                  transparent;
$input-disabled-color:               rgba($gray-300, .5);
$input-group-addon-bg:               transparent;
$input-group-addon-color:            $gray-400;
$form-group-padding-top:             ( $spacer * 2 );
$form-group-margin-bottom:           ( $spacer * 2 );
$input-label-active-font-size:       .75rem;
$input-textarea-min-height:          175px;
$input-textarea-line-height:         24px;

$custom-control-gutter:                                  0;
$custom-control-indicator-top:                           5px;
$custom-control-indicator-size:                          ( 22 / 18 ) + rem;
$custom-control-indicator-size-px:                       22px;
$custom-control-indicator-bg:                            transparent;
$custom-control-indicator-box-shadow:                    none;
$custom-control-indicator-bg-interactive:                rgba($green-100, .3);
$custom-control-indicator-bg-interactive-warning:        rgba($warning-lighten, .3);
$custom-control-indicator-bg-interactive-error:          rgba($danger-lighten, .3);
$custom-control-indicator-bg:                            $green-300;
$custom-control-indicator-bg-warning:                    $warning;
$custom-control-indicator-bg-invalid:                    $danger;
$custom-control-indicator-bg-check-interactive:          $green-400;
$custom-control-indicator-bg-check-interactive-warning:  $warning-dark;
$custom-control-indicator-bg-check-interactive-invalid:  $danger-dark;
$custom-control-indicator-checked-box-shadow:            none;
$custom-control-indicator-focus-box-shadow:              none;
$custom-control-indicator-active-bg:                     transparent;
$custom-control-indicator-disabled-bg:                   $light-blue;
$custom-control-indicator-disabled-border:               #a5bbc5;
$custom-control-indicator-border-width:                  2px;
$custom-control-indicator-border-type:                   solid;
$custom-checkbox-indicator-border-radius:                3px;
$custom-control-label-disabled-color:                    $input-disabled-color;

$custom-radio-filling-size:           6px;
$custom-radio-border-radius:          50%;
$custom-checkbox-icon-size:           10px;
$custom-switch-height:                30px;
$custom-switch-width:                 56px;
$custom-switch-bg:                    $primary;
$custom-switch-shadow:                0 2px 4px 0 rgba($black, .25);
$custom-switch-bg-interactive:        $primary-dark;
$custom-select-icon-size:             $icon-size-half-px;
