<div
    class="form-group"
    [ngClass]="customFormGroupClass">
    <div *ngIf="infoText"
         class="form-control-info-wrapper">
        <span class="form-control-info">
            {{infoText}}
            <svg class="form-control-info-beak" width="20px" height="17px" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Video-LP-fallback" transform="translate(-1024.000000, -4326.000000)" fill="#7355A6">
                        <path d="M1024,4326 L1041,4326 L1041,4338.17157 C1041,4339.27614 1040.10457,4340.17157 1039,4340.17157 C1038.46957,4340.17157 1037.96086,4339.96086 1037.58579,4339.58579 L1024,4326 L1024,4326 Z" id="Rectangle-Copy-12" transform="translate(1032.500000, 4334.500000) scale(-1, 1) translate(-1032.500000, -4334.500000) "></path>
                    </g>
                </g>
            </svg>
        </span>
    </div>
    <span
        *ngIf="type === 'LABEL'"
        class="form-control-text"
        [ngClass]="customFieldClass">
        <ng-container *ngIf="label">
            {{label}}
        </ng-container>
        <ng-container *ngIf="labelTemplate">
            <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
        </ng-container>
    </span>
    <div
        *ngIf="type !== 'LABEL'"
        [class.form-control-case]="type === 'INPUT' || type === 'PASSWORD'"
        [class.custom-control]="type === 'CHECKBOX'"
        [class.custom-file]="type === 'FILE'"
        [class.custom-checkbox]="type === 'CHECKBOX'"
        [class.input-group]="!!appendIcon || !!appendButtonIcon || !!prependIcon || !!prependButtonIcon"
        [class.input-group--append]="!!appendIcon || !!appendButtonIcon || !!appendText"
        [class.input-group--append-button-icon]="!!appendButtonIcon"
        [class.input-group--prepend]="!!prependIcon || !!prependButtonIcon"
        [class.select]="type === 'SELECT'"
        [class.custom-checkbox--switch]="type === 'SWITCH'"
        [class.select--inline-label]="inlineLabel"
        [ngClass]="customTypeClass"
        [ngSwitch]="type">
        <div
            *ngIf="!!prependIcon"
            class="input-group-prepend">
            <span
                class="icon input-group-icon"
                [ngClass]="prependIcon">
            </span>
        </div>
        <div
            *ngIf="!!prependButtonIcon"
            class="input-group-prepend">
            <button
                (click)="prependButtonAction.emit()"
                type="button"
                class="btn">
                <span
                    class="icon"
                    [ngClass]="prependButtonIcon">
                </span>
            </button>
        </div>
        <div
            *ngIf="!!prependText"
            class="input-group-switch">
            <span
                class="input-group-switch__text input-group-switch__text--prepend"
                [class.input-group-switch__text--active]="!checked"
                [class.input-group-switch__text--disabled]="!!disabledField">
                {{ prependText }}
            </span>
        </div>
        <div
            class="form-control-wrapper"
            [class.focused-input]="inputFocused"
            [class.invalid-input]="(!!error && !!touched) && !inputFocused"
            [class.disabled-input]="!!disabledField">
            <input
                *ngSwitchDefault
                #field
                type="text"
                (blur)="blurAction($event, true)"
                class="form-control"
                [class.form-control--light]="lightField"
                [class.form-control--not-empty]="!!value"
                [class.form-control--placeholder]="hideLabel"
                [class.is-invalid]="(!!error && !!touched) && !inputFocused"
                [class.focus]="inputFocused"
                [class.is-valid]="success"
                [class.is-warning]="warning"
                [disabled]="disabledField"
                (focus)="focusAction($event)"
                [id]="id"
                [name]="name"
                [ngClass]="customFieldClass"
                [maxlength]="maxlength"
                [(ngModel)]="value"
                [placeholder]="placeholder"
                [readonly]="readonly"
                [required]="required"
                [attr.autocomplete]="autocomplete"
                >
            <input
                *ngSwitchCase="'NUMBER'"
                #field
                type="number"
                (blur)="blurAction($event)"
                class="form-control"
                [class.form-control--light]="lightField"
                [class.form-control--not-empty]="!!value"
                [class.form-control--placeholder]="hideLabel"
                [class.is-invalid]="(!!error && !!touched) && !inputFocused"
                [class.focus]="inputFocused"
                [class.is-valid]="success"
                [class.is-warning]="warning"
                [disabled]="disabledField"
                (focus)="focusAction($event)"
                [id]="id"
                [name]="name"
                [ngClass]="customFieldClass"
                [(ngModel)]="value"
                [placeholder]="placeholder"
                [readonly]="readonly"
                [required]="required"
                [attr.autocomplete]="autocomplete"
            >
            <input
                *ngSwitchCase="'PASSWORD'"
                #field
                type="password"
                (blur)="blurAction($event, true)"
                class="form-control"
                [class.form-control--light]="lightField"
                [class.form-control--not-empty]="!!value"
                [class.form-control--placeholder]="hideLabel"
                [class.is-invalid]="(!!error && !!touched) && !inputFocused"
                [class.focus]="inputFocused"
                [class.is-valid]="success"
                [class.is-warning]="warning"
                [disabled]="disabledField"
                (focus)="focusAction($event)"
                [id]="id"
                [name]="name"
                [ngClass]="customFieldClass"
                [(ngModel)]="value"
                [placeholder]="placeholder"
                [readonly]="readonly"
                [required]="required"
                [attr.autocomplete]="autocomplete"
            >
            <div
                *ngIf="!!appendText"
                class="input-group-append">
                <span class="input-group-append__text">
                    {{ appendText }}
                </span>
            </div>
        </div>
        <input
            *ngSwitchCase="'FILE'"
            #field
            type="file"
            (blur)="blurAction($event)"
            class="custom-file-input"
            [class.form-control--light]="lightField"
            [class.form-control--not-empty]="!!value"
            [class.form-control--placeholder]="hideLabel"
            [class.is-invalid]="(!!error && !!touched) && !inputFocused"
            [class.focus]="inputFocused"
            [class.is-valid]="success"
            [class.is-warning]="warning"
            [disabled]="disabledField"
            (focus)="focusAction($event)"
            [id]="id"
            [ngClass]="customFieldClass"
            [(ngModel)]="value"
            >
        <div
            *ngSwitchCase="'RADIOGROUP'"
            #field
            [id]="id"
            [ngClass]="radioGroupClass">
            <span
                class="control-label radiogroup-control-label"
                (click)="labelClick(options[0].key)"
                *ngIf="!hideLabel">
                    <ng-container *ngIf="label">
                        {{label}}
                    </ng-container>
                    <ng-container *ngIf="labelTemplate">
                        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
                    </ng-container>
            </span>
            <div
                *ngFor="let option of options"
                class="custom-control custom-radio"
                [ngClass]="radioGroupItemClass">
                <input
                    type="radio"
                    (blur)="blurAction($event)"
                    class="custom-control-input"
                    [class.form-control--light]="lightField"
                    [class.form-control--not-empty]="value === option.key"
                    [class.form-control--placeholder]="hideLabel"
                    [class.is-invalid]="(!!error && !!touched) && !inputFocused"
                    [class.focus]="inputFocused"
                    [class.is-valid]="success"
                    [class.is-warning]="warning"
                    (change)="changeRadioGroupAction(option.key)"
                    [disabled]="option.disabled"
                    (focus)="focusAction($event)"
                    [checked]="value === option.key"
                    [ngClass]="customFieldClass"
                    [readonly]="readonly"
                    [value]="option.value"
                    [required]="required">
                <label
                    *ngIf="option.label"
                    class="custom-control-label"
                    (click)="labelClick(option.key)">
                    {{ option.label }}
                </label>
            </div>
        </div>
        <input
            *ngSwitchCase="'CHECKBOX'"
            #field
            type="checkbox"
            (blur)="blurAction($event)"
            class="custom-control-input"
            [class.form-control--light]="lightField"
            [class.form-control--not-empty]="!!value"
            [class.form-control--placeholder]="hideLabel"
            [class.is-invalid]="(!!error && !!touched) && !inputFocused"
            [class.focus]="inputFocused"
            [class.is-valid]="success"
            [class.is-warning]="warning"
            [disabled]="disabledField"
            (focus)="focusAction($event)"
            [checked]="checked"
            [id]="id"
            [ngClass]="customFieldClass"
            [(ngModel)]="value"
            [readonly]="readonly"
            [required]="required"
            >
        <input
            *ngSwitchCase="'SWITCH'"
            #field
            type="checkbox"
            (blur)="blurAction($event)"
            class="custom-control-input"
            [class.form-control--light]="lightField"
            [class.form-control--not-empty]="!!value"
            [class.form-control--placeholder]="hideLabel"
            [class.is-invalid]="!!error"
            [class.is-valid]="success"
            [class.is-warning]="warning"
            [disabled]="disabledField"
            (focus)="focusAction($event)"
            [checked]="checked"
            [id]="id"
            [ngClass]="customFieldClass"
            [(ngModel)]="value"
            [readonly]="readonly"
            [required]="required"
            >
        <div
            *ngSwitchCase="'TOGGLE'"
            #field
            [id]="id"
            class="radio-group--switch">
            <span
                class="control-label radiogroup-control-label"
                *ngIf="!hideLabel">
                    <ng-container *ngIf="label">
                        {{label}}
                    </ng-container>
                    <ng-container *ngIf="labelTemplate">
                        <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
                    </ng-container>
            </span>
            <div
                *ngFor="let option of options"
                class="custom-control custom-radio custom-radio--switch">
                <input
                    type="radio"
                    (blur)="blurAction($event)"
                    class="custom-control-input"
                    [class.form-control--light]="lightField"
                    [class.form-control--not-empty]="value === option.key"
                    [class.form-control--placeholder]="hideLabel"
                    [class.is-invalid]="(!!error && !!touched) && !inputFocused"
                    [class.focus]="inputFocused"
                    [class.is-valid]="success"
                    [class.is-warning]="warning"
                    [disabled]="option.disabled"
                    (focus)="focusAction($event)"
                    (change)="changeRadioGroupAction(option.key)"
                    [checked]="value === option.key"
                    [ngClass]="customFieldClass"
                    [readonly]="readonly"
                    [value]="option.value"
                    [required]="required">
                <label
                    *ngIf="option.label"
                    class="custom-control-label"
                    (click)="labelClick(option.key)">
                    {{ option.label }}
                </label>
            </div>
        </div>
        <textarea
            *ngSwitchCase="'TEXTAREA'"
            #field
            (blur)="blurAction($event, true)"
            class="form-control"
            [class.form-control--light]="lightField"
            [class.form-control--not-empty]="!!value"
            [class.form-control--placeholder]="hideLabel"
            [class.is-invalid]="(!!error && !!touched) && !inputFocused"
            [class.focus]="inputFocused"
            [class.is-valid]="success"
            [class.is-warning]="warning"
            [disabled]="disabledField"
            (focus)="focusAction($event)"
            [id]="id"
            [ngClass]="customFieldClass"
            [(ngModel)]="value"
            [placeholder]="placeholder"
            [readonly]="readonly"
            [required]="required"
            [rows]="rows"
            >
            {{ value }}
        </textarea>
        <select
            *ngSwitchCase="'SELECT'"
            #field
            (blur)="blurAction($event)"
            class="form-control"
            [class.form-control--light]="lightField"
            [class.form-control--not-empty]="!!value"
            [class.form-control--placeholder]="hideLabel"
            [class.is-invalid]="(!!error && !!touched) && !inputFocused"
            [class.focus]="inputFocused"
            [class.is-valid]="success"
            [class.is-warning]="warning"
            (focus)="focusAction($event)"
            [disabled]="disabledField"
            (change)="changeSelect($event)"
            [id]="id"
            [ngClass]="customFieldClass"
            ([ngModel])="value"
            [required]="required"
            >
            <option
                *ngFor="let option of options"
                [value]="option.key"
                [disabled]="option.disabled"
                [selected]="option.key === value">
                {{ option.label }}
            </option>
        </select>
        <label
            *ngIf="(label || labelTemplate) && type === 'CHECKBOX'"
            [class.control-label]="type !== 'CHECKBOX' && type !== 'FILE' && !hideLabel && type !== 'SWITCH'"
            [class.custom-control-label]="!!hideLabel || type === 'CHECKBOX' && !hideLabel || type === 'SWITCH' && !hideLabel"
            [class.custom-file-label]="type === 'FILE' && !hideLabel"
            [class.sr-only]="!!hideLabel || type === 'RADIOGROUP' || type === 'SELECT'"
            (click)="labelClick()"
            [for]="id"
            (mousedown)="$event.preventDefault()"
        >
            <ng-container *ngIf="label">
                {{label}}
            </ng-container>
            <ng-container *ngIf="labelTemplate">
                <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
            </ng-container>
        </label>
        <label
            *ngIf="(label || labelTemplate) && type !== 'CHECKBOX'"
            [class.control-label]="type !== 'CHECKBOX' && type !== 'FILE' && !hideLabel && type !== 'SWITCH'"
            [class.custom-control-label]="!!hideLabel || type === 'CHECKBOX' && !hideLabel || type === 'SWITCH' && !hideLabel"
            [class.custom-file-label]="type === 'FILE' && !hideLabel"
            [class.sr-only]="!!hideLabel || type === 'RADIOGROUP' || type === 'SELECT'"
            (click)="labelClick()"
            [for]="id"
        >
            <ng-container *ngIf="label">
                {{label}}
            </ng-container>
            <ng-container *ngIf="labelTemplate">
                <ng-container *ngTemplateOutlet="labelTemplate"></ng-container>
            </ng-container>
        </label>
        <span
            *ngIf="type === 'SELECT'"
            class="icon icon--arrow-down select-icon">
        </span>
        <div
            *ngIf="!!appendIcon"
            class="input-group-append">
            <span
                class="icon input-group-icon"
                [ngClass]="appendIcon">
            </span>
        </div>
        <div
            *ngIf="!!appendButtonIcon"
            class="input-group-append-help">
            <button
                (click)="appendButtonAction.emit()"
                type="button"
                class="btn">
                <span
                    class="icon"
                    [ngClass]="appendButtonIcon">
                </span>
            </button>
        </div>
        <div
            *ngIf="!!subtext || subtextTemplate"
            class="input-subtext"
            [ngClass]="customInputSubtextClass"
            [class.input-subtext--disabled]="!!disabledField">
            {{ subtext }}
            <ng-container *ngIf="subtextTemplate">
                <ng-container *ngTemplateOutlet="subtextTemplate"></ng-container>
            </ng-container>
        </div>
        <div
            *ngIf="!!getErrorMessage() && showErrorMessage"
            [innerHtml]="getErrorMessage()"
            class="invalid-feedback">
        </div>
    </div>
</div>
