<ng-template #columnTemplateGreenEnergy let-row="row">
    <span *ngIf="row.greenEnergy" class="icon icon--leaf icon--green ml-auto">
    </span>
</ng-template>
<ng-template #columnTemplatePriceVT let-row="row">
    {{row.priceVT | number:'1.0-2'}}&nbsp;Kč/MWh (bez&nbsp;DPH)
</ng-template>
<ng-template #columnTemplatePriceNT let-row="row">
    <ng-container *ngIf="row.priceNT !== null">
        {{row.priceNT | number:'1.0-2'}}&nbsp;Kč/MWh (bez&nbsp;DPH)
    </ng-container>
</ng-template>
<ng-template #columnTemplatePriceGas let-row="row">
    {{row.priceGas | number:'1.0-2'}}&nbsp;Kč/MWh (bez&nbsp;DPH)
</ng-template>
<ng-template #columnTemplateValidFromTo let-row="row">
    {{row.validFrom | date:'d.&nbsp;M.&nbsp;y'}} - {{row.validTo |
    date:'d.&nbsp;M.&nbsp;y'}}
</ng-template>
<ng-template #columnTemplateDeliveryFromTo let-row="row">
    {{row.deliveryFrom | date:'d.&nbsp;M.&nbsp;y'}} - {{row.deliveryTo |
    date:'d.&nbsp;M.&nbsp;y'}}
</ng-template>
<ng-template #actionColumnTemplate let-row="row">
    <span
        >{{row.permanentPaymentPrice | number:'1.0-2'}}&nbsp;Kč/měsíc
        (bez&nbsp;DPH)</span
    >
    <div class="row no-gutters action-area-div">
        <div class="col-12">
            <ng-template #tooltipDelete let-toggle="toggle">
                <lnd-button
                    icon="icon--delete"
                    type="icon"
                    variant="icon"
                    (action)="click($event)"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipDelete" direction="bottom">
                Smazat
            </lnd-tooltip>
        </div>
    </div>
</ng-template>

<div class="container-content">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <h1>Import nabídek</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-xl-10 offset-xl-1">
                <pxe-progress-bar [config]="configStepper"></pxe-progress-bar>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-xl-10 offset-xl-1">
                <lnd-info-banner
                    bannerTitle="Úspěšně jsme nahráli 3 nové nabídky. <br /> Po schválení se nabídky zobrazí vašim zákazníkům."
                    [showButton]="false"
                    [bannerType]="bannerTypeImages.ACCEPTED"
                >
                </lnd-info-banner>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1 text-center">
                <ul class="link-list mb-0">
                    <li class="link-list__item">
                        <a class="link-list__link link-list__link--active">
                            Elektřina
                        </a>
                    </li>
                    <li class="link-list__item">
                        <a class="link-list__link"> Plyn </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-lg-10 offset-lg-1">
                <lnd-table
                    #table
                    [cols]="approvalConfig.tableCols[commodityType]"
                    [rows]="approvalConfig.tableRows"
                    [showHead]="true"
                    [isStatic]="false"
                    [tableWrapperClass]="['table-wrapper--advanced']"
                    [tableClass]="['table--advanced', 'mb-0']"
                    [dangerBackgroundPropertyCondition]="'greenEnergy'"
                    [actionColTriggersDetail]="false"
                    [columnTemplates]="{
                        actionColumnTemplate: actionColumnTemplate,
                        columnTemplateGreenEnergy: columnTemplateGreenEnergy,
                        columnTemplatePriceVT: columnTemplatePriceVT,
                        columnTemplatePriceNT: columnTemplatePriceNT,
                        columnTemplatePriceGas: columnTemplatePriceGas,
                        columnTemplateValidFromTo: columnTemplateValidFromTo,
                        columnTemplateDeliveryFromTo: columnTemplateDeliveryFromTo
                    }"
                >
                    >
                </lnd-table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" (click)="backAction($event)">Zpět</a>
                <lnd-button
                    customClass="ml-5"
                    label="Schválit nabídky"
                    type="primary"
                    (action)="click($event)"
                    >>
                </lnd-button>
            </div>
        </div>
    </div>
</div>
