<ng-template #columnTemplatePriceVT let-row="row">
    <span [innerHtml]="row.priceVT | number:'1.0-2'"></span>
</ng-template>
<ng-template #columnTemplatePriceNT let-row="row">
    <span [innerHtml]="row.priceNT | number:'1.0-2'"></span>
</ng-template>
<ng-template #columnTemplatePriceGas let-row="row">
    <span [innerHtml]="row.priceGas | number:'1.0-2'"></span>
</ng-template>
<ng-template #actionColumnTemplatePower let-row="row">
    <span [innerHtml]="row.permanentPaymentPrice | number:'1.0-2'"></span>
    <div *ngIf="table.openedRow !== row"
         class="action-area-div">
        <ng-template #tooltipEdit let-toggle="toggle">
            <lnd-button
                    icon="icon--edit"
                    type="icon"
                    variant="icon"
                    (action)="toggle();edit(table, row)"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipEdit" direction="bottom">
            Upravit
        </lnd-tooltip>

        <ng-template #tooltipNew let-toggle="toggle">
            <lnd-button
                    icon="icon--add-new"
                    type="icon"
                    variant="icon"
                    (action)="toggle();create(table, row)"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipNew" direction="bottom">
            Nový
        </lnd-tooltip>

        <ng-template #tooltipDuplicate let-toggle="toggle">
            <lnd-button
                    icon="icon--copy"
                    type="icon"
                    variant="icon"
                    (action)="toggle();duplicate(table, row)"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipDuplicate" direction="bottom">
            Duplikovat
        </lnd-tooltip>

        <ng-template #tooltipDelete let-toggle="toggle">
            <lnd-button
                    icon="icon--delete"
                    type="icon"
                    variant="icon"
                    (action)="toggle();delete(table, row)"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipDelete" direction="bottom">
            Smazat
        </lnd-tooltip>
    </div>
</ng-template>

<ng-template #rowDetail let-row="row">
    <div class="row">
        <div class="col text-right">
            <ng-template #tooltipNewDetail let-toggle="toggle">
                <lnd-button
                        icon="icon--add-new"
                        type="icon"
                        variant="icon"
                        (action)="toggle();create(table, row)"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipNewDetail" direction="bottom">
                Nový
            </lnd-tooltip>
            <ng-template #tooltipDuplicateDetail let-toggle="toggle">
                <lnd-button
                        icon="icon--copy"
                        type="icon"
                        variant="icon"
                        (action)="toggle();duplicate(table, row)"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipDuplicateDetail" direction="bottom">
                Duplikovat
            </lnd-tooltip>
            <ng-template #tooltipDeleteDetail let-toggle="toggle">
                <lnd-button
                        icon="icon--delete"
                        type="icon"
                        variant="icon"
                        (action)="toggle();delete(table, row)"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipDeleteDetail" direction="bottom">
                Smazat
            </lnd-tooltip>
        </div>
    </div>
    <div class="row">
        <pxe-supply-offer-form
                [commodityType]="row.commodityType"
                [formValues]="formValues"
                [formFields]="formFields"
                [formLoading]="formLoading"
                [formSent]="formSent"
                [globalError]="globalError"
                [fieldError]="fieldError"
                (submitAction)="submitForm($event, table, row)"
                (customAction)="cancel($event, table, row)"
        ></pxe-supply-offer-form>
    </div>
</ng-template>

<div class="container-fluid">
    <div class="container-content">
        <pxe-layout-container pageTitle="Přehled nabídek">
            <ul class="text-center link-list">
                <li class="link-list__item">
                    <a class="link-list__link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="[routePower]">Elektřina</a>
                </li>
                <li class="link-list__item">
                    <a class="link-list__link"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="[routeGas]">Plyn</a>
                </li>
            </ul>
            <ng-container>
                <div *ngIf="!loadingOffers && tableRows.length === 0" class="page-box">
                    <pxe-supply-offer-form
                            [commodityType]="commodityType"
                            [formValues]="null"
                            [formFields]="formFields"
                            [formLoading]="formLoading"
                            [formSent]="formSent"
                            [globalError]="globalError"
                            [fieldError]="fieldError"
                            [showCancel]="false"
                            (submitAction)="submitForm($event)"
                            (customAction)="cancel($event)"
                    ></pxe-supply-offer-form>
                </div>

                <div [hidden]="loadingOffers || tableRows.length === 0">
                    <lnd-table
                        #table
                        [cols]="supplyOfferConfig.tableCols[commodityType]"
                        [rows]="tableRows"
                        [showHead]="true"
                        [isStatic]="false"
                        [tableWrapperClass]="['table-wrapper--advanced']"
                        [tableClass]="['table--advanced', 'mb-0']"
                        [rowDetailTemplate]="rowDetail"
                        [actionColTriggersDetail]="true"
                        [columnTemplates]="{
                            actionColumnTemplatePower: actionColumnTemplatePower,
                            columnTemplatePriceVT: columnTemplatePriceVT,
                            columnTemplatePriceNT: columnTemplatePriceNT,
                            columnTemplatePriceGas: columnTemplatePriceGas
                        }">
                    </lnd-table>
                </div>
            </ng-container>

        </pxe-layout-container>
    </div>
</div>
