<ng-template #columnTemplatePriceVT let-row="row">
    {{row.priceVT | number:'1.0-2'}}&nbsp;MWh/Kč
</ng-template>
<ng-template #columnTemplatePriceNT let-row="row">
    <ng-container *ngIf="row.priceNT !== null">
        {{row.priceNT | number:'1.0-2'}}&nbsp;MWh/Kč
    </ng-container>
</ng-template>
<ng-template #columnTemplatePriceGas let-row="row">
    {{row.priceGas | number:'1.0-2'}}&nbsp;MWh/Kč
</ng-template>
<ng-template #columnTemplateValidFromTo let-row="row">
    {{row.validFrom | date: 'dd.MM.yyyy'}} - {{row.validTo | date: 'dd.MM.yyyy'}}
</ng-template>
<ng-template #columnTemplateDeliveryFromTo let-row="row">
    {{row.deliveryFrom | date: 'dd.MM.yyyy'}} - {{row.deliveryTo | date: 'dd.MM.yyyy'}}
</ng-template>
<ng-template #actionColumnTemplate let-row="row">
    <span>{{row.permanentPaymentPrice | number:'1.0-2'}}&nbsp;Kč</span>
    <div *ngIf="table.openedRow !== row"
         class="action-area-div">
        <ng-template #tooltipEdit let-toggle="toggle">
            <lnd-button
                    icon="icon--edit"
                    type="icon"
                    variant="icon"
                    (action)="toggle();edit(table, row)"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipEdit" direction="bottom">
            Upravit
        </lnd-tooltip>

        <ng-template #tooltipNew let-toggle="toggle">
            <lnd-button
                    icon="icon--add-new"
                    type="icon"
                    variant="icon"
                    (action)="toggle();create(table, row)"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipNew" direction="bottom">
            Nový
        </lnd-tooltip>

        <ng-template #tooltipDuplicate let-toggle="toggle">
            <lnd-button
                    icon="icon--copy"
                    type="icon"
                    variant="icon"
                    (action)="toggle();duplicate(table, row)"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipDuplicate" direction="bottom">
            Duplikovat
        </lnd-tooltip>

        <ng-template #tooltipDelete let-toggle="toggle">
            <lnd-button
                    icon="icon--delete"
                    type="icon"
                    variant="icon"
                    (action)="toggle();delete(table, row)"
                    [isDisabled]="deleteDisabled[row.id]"
            ></lnd-button>
        </ng-template>
        <lnd-tooltip [actionTemplate]="tooltipDelete" direction="bottom">
            Smazat
        </lnd-tooltip>
    </div>
</ng-template>

<ng-template #rowDetail let-row="row">
    <div class="row">
        <div class="col text-right">
            <ng-template #tooltipNewDetail let-toggle="toggle">
                <lnd-button
                        icon="icon--add-new"
                        type="icon"
                        variant="icon"
                        (action)="toggle();create(table, row)"
                        [isDisabled]="false"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipNewDetail" direction="bottom">
                Nový
            </lnd-tooltip>
            <ng-template #tooltipDuplicateDetail let-toggle="toggle">
                <lnd-button
                        icon="icon--copy"
                        type="icon"
                        variant="icon"
                        (action)="toggle();duplicate(table, row)"
                        [isDisabled]="!formValues.id"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipDuplicateDetail" direction="bottom">
                Duplikovat
            </lnd-tooltip>
            <ng-template #tooltipDeleteDetail let-toggle="toggle">
                <lnd-button
                        icon="icon--delete"
                        type="icon"
                        variant="icon"
                        (action)="toggle();delete(table, row, currentOfferFormValues)"
                        [isDisabled]="false"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipDeleteDetail" direction="bottom">
                Smazat
            </lnd-tooltip>
        </div>
    </div>
    <div class="row">
        <pxe-supply-offer-form
                [commodityType]="row.commodityType"
                [formValues]="formValues"
                [formFields]="formFields"
                [formLoading]="formLoading"
                [formSent]="formSent"
                [globalError]="globalFormError"
                [fieldError]="fieldError"
                (submitAction)="submitForm($event, table, row)"
                (customAction)="cancel($event, table, row)"
                (currentFormValues)="getCurrentFormValues($event)"
        ></pxe-supply-offer-form>
    </div>
</ng-template>

<pxe-layout-container pageTitle="Přehled nabídek">
    <lnd-alert
            *ngIf="globalError.length"
            type="danger">
        <ng-container *ngFor="let error of globalError">
            {{ error }}<br>
        </ng-container>
    </lnd-alert>
    <ul class="text-center link-list">
        <li class="link-list__item">
            <a class="link-list__link"
                routerLinkActive="link-list__link--active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[routePower]">Elektřina</a>
        </li>
        <li class="link-list__item">
            <a class="link-list__link"
                routerLinkActive="link-list__link--active"
                [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="[routeGas]">Plyn</a>
        </li>
    </ul>
    <ng-container>
        <lnd-placeloader [loading]="loadingOffers && !globalError.length"></lnd-placeloader>
        <div *ngIf="!loadingOffers && tableRows.length === 0" class="page-box">
            <pxe-supply-offer-form
                    [commodityType]="commodityType"
                    [formValues]="null"
                    [formFields]="formFields"
                    [formLoading]="formLoading"
                    [formSent]="formSent"
                    [globalError]="globalFormError"
                    [fieldError]="fieldError"
                    [showCancel]="false"
                    (submitAction)="submitForm($event)"
                    (customAction)="cancel($event)"
            ></pxe-supply-offer-form>
        </div>

        <div [hidden]="loadingOffers || tableRows.length === 0">
            <lnd-table
                #table
                [cols]="tableCols"
                [rows]="tableRows"
                [showHead]="true"
                [isStatic]="false"
                [tableWrapperClass]="['table-wrapper--advanced']"
                [tableClass]="['table--advanced', 'mb-0']"
                [rowDetailTemplate]="rowDetail"
                [actionColTriggersDetail]="true"
                [columnTemplates]="{
                    actionColumnTemplate: actionColumnTemplate,
                    columnTemplatePriceVT: columnTemplatePriceVT,
                    columnTemplatePriceNT: columnTemplatePriceNT,
                    columnTemplatePriceGas: columnTemplatePriceGas,
                    columnTemplateValidFromTo: columnTemplateValidFromTo,
                    columnTemplateDeliveryFromTo: columnTemplateDeliveryFromTo
                }">
            </lnd-table>
        </div>
    </ng-container>

</pxe-layout-container>