<pxe-layout-container pageTitle="Vaše žádosti">
    <div class="row">
        <div class="col-12 col-md-12">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <lnd-button
                label="Nová žádost"
                type="secondary"
                (action)="newRequest($event)"
            ></lnd-button>
        </div>
    </div>
    <ng-container *ngIf="supplyPoints">
        <pxe-request-card
            *ngFor="let supplyPoint of supplyPoints"
            [supplyPoint]="supplyPoint"
            (action)="completeRequest(supplyPoint)">
        </pxe-request-card>
    </ng-container>
</pxe-layout-container>
