<div
    id="top"
    class="body-inner"
>
    <lnd-header>
    </lnd-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 container-content">
                <main class="main">
                    <router-outlet></router-outlet>
                </main>
            </div>
            <lnd-navigation
                [config]="navConfig"
                (openItem)="toggleOpenItem($event)">
            </lnd-navigation>
        </div>
    </div>
    <lnd-footer [isMenuOpen]="true"></lnd-footer>
</div>
