<div class="row">
    <div class="col-12">
        <lnd-alert
            *ngIf="globalError.length"
            type="danger">
            <ng-container *ngFor="let error of globalError">
                {{ error }}<br>
            </ng-container>
        </lnd-alert>
    </div>
</div>
<pxe-layout-container pageTitle="Nastavení uživatelského účtu">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-7 col-lg-5">
            <div class="page-box">
                <pxe-user-form
                    [oldPhone]="oldPhone"
                    [smsSent]="smsSent"
                    [formFields]="userProfileFormFields"
                    [formLoading]="formLoading"
                    [formSent]="formSent"
                    [formValues]="formValues"
                    [globalError]="globalError"
                    [fieldError]="fieldError"
                    (submitAction)="saveUserProfile($event)"
                    (customAction)="sendChangePhoneNumberSmsMutation($event)">
                </pxe-user-form>
            </div>
        </div>
    </div>
</pxe-layout-container>
<pxe-layout-container pageTitle="Nastavení dodavatelského účtu">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-7 col-lg-5">
            <div class="page-box">
                <pxe-supplier-profile-form></pxe-supplier-profile-form>
            </div>
        </div>
    </div>
</pxe-layout-container>
