<ng-template #agreementTemplate>
    <span class="text-white">
        Souhlasím se <a target="_blank" [href]="ROUTES.ROUTER_TERMS_OF_USE">Obchodními podmínkami účasti na trhu parc4u</a> a beru na vědomí
        <a target="_blank" [href]="ROUTES.ROUTER_SECURING_YOUR_DATA">Informaci o zpracování osobních údajů</a>.
    </span>
</ng-template>

<form
    [id]="id"
    [formGroup]="form"
    [name]="id"
    (keydown)="resetCustomFieldError()"
    (keydown.enter)="submitForm($event);false"
    (change)="resetCustomFieldError()"
    autocomplete="off">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <pxe-file-uploader
                [id]="idFileUploader"
                secondaryTextCustomClass="small text-color--gray-200"
                [uploader]="fileUploader"
                [multiple]="true"
                wrapperCustomClass="drop-zone--zindex text-white"
                mainText="Soubory přetáhněte sem nebo "
                secondaryText="Formáty: PDF, JPG, PNG, TIFF do velikosti 10 MB."
                [labelFromMainText]="true">
            </pxe-file-uploader>
        </div>
        <div class="col-12 mb-3">
            <lnd-alert
                *ngIf="errors.length"
                type="danger">
                {{ errors[0] }}<br>
            </lnd-alert>
            <lnd-alert
                *ngIf="success"
                type="success">
                Děkujeme po zpracování vaší žádosti se vám obratem ozveme.
            </lnd-alert>
            <ng-container *ngIf="!fileUploader.isUploading">
                <span class="d-inline-flex align-items-center mr-4 mb-2 text-white"
                      *ngFor="let fileItem of fileUploader.queue">
                    <span class="icon icon--document mr-2"></span>
                    {{fileItem?.file?.name}}
                    <lnd-button
                        *ngIf="!fileUploader.isUploading"
                        (click)="removeFile(fileItem)"
                        customClass="btn-icon--on-dark-bg"
                        icon="icon--bin"
                        variant="icon"
                        type="icon">
                    </lnd-button>
                </span>
            </ng-container>
        </div>
        <div class="col-12" *ngIf="fileUploader.queue.length && !success">
            <div class="form-container ml-0">
                <lnd-form-field
                    lndSFormDirective
                    lndSBiometricsDirective
                    [error]="formError.email || form.controls.email.errors"
                    [formControl]="form.controls.email"
                    [id]="'email' + id"
                    customFormGroupClass="form-group--public form-group--on-dark-bg"
                    label="E-mail"
                    [disabledField]="fileUploader.isUploading"
                    [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
                    [touched]="form.controls.email.touched || formError.email"
                    [validationMessages]="formFields.validationMessages.email"
                ></lnd-form-field>
                <lnd-form-field
                    lndSFormDirective
                    lndSBiometricsDirective
                    [error]="formError.consent || form.controls.consent.errors"
                    [formControl]="form.controls.consent"
                    [id]="'consent' + id"
                    label=""
                    [disabledField]="fileUploader.isUploading"
                    [labelTemplate]="agreementTemplate"
                    [success]="form.controls.consent.valid && (form.controls.consent.touched || formError.consent)"
                    [touched]="form.controls.consent.touched || formError.consent"
                    [type]="'CHECKBOX'"
                    [validationMessages]="formFields.validationMessages.consent"
                ></lnd-form-field>
                <div class="text-right">
                    <pxe-re-captcha #reCapcha
                                    (resolveAction)="submitForm($event)">
                        <lnd-button
                            type="gradient-primary"
                            class="w-100"
                            [isDisabled]="fileUploader.isUploading"
                            customClass="w-100 btn-public"
                            [submit]="true"
                            (action)="reCapcha.execute($event)"
                            [label]="!fileUploader.isUploading ? 'Odeslat' : 'Odesílám...'">
                        </lnd-button>
                    </pxe-re-captcha>
                </div>
            </div>
        </div>
    </div>
</form>
