<pxe-file-uploader
    [uploader]="fileUploader"
    [multiple]="true"
    mainText="Soubory přetáhněte sem nebo "
    secondaryText="Formáty: PDF, JPG, PNG, TIFF do velikosti 10 MB."
    [labelFromMainText]="true">
></pxe-file-uploader>
<lnd-alert
    *ngIf="errors.length"
    type="danger">
    {{ errors[0] }}<br>
</lnd-alert>
<h5 style="width: 100%;float: left;background-color: red;margin-bottom: 20px" *ngFor="let aaa of fileUploader.queue; let i = index">
    {{aaa.file.name}}
    {{aaa.file.type}}
    <span (click)="removeFile(aaa)">
        REMOVE
    </span>
</h5>
<form
    [formGroup]="form"
    (keydown)="resetCustomFieldError()"
    (keydown.enter)="submitForm($event);false"
    (change)="resetCustomFieldError()"
    class="form-container"
    autocomplete="off">
    <ng-container *ngIf="fileUploader.queue.length">
        <lnd-form-field
            [error]="formError.email || form.controls.email.errors"
            [formControl]="form.controls.email"
            [id]="'email'"
            label="E-mail"
            infoText="Založíme vám účet zdarma pro zadaný registrační e-mail. Spamu se nemusíte bát."
            [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
            [touched]="form.controls.email.touched || formError.email"
            [validationMessages]="formFields.validationMessages.email"
        ></lnd-form-field>
        <div class="text-right">
            <lnd-button
                type="primary"
                [submit]="true"
                (action)="submitForm($event)"
                label="odesllat">
            </lnd-button>
        </div>
    </ng-container>
</form>
