<div class="row">
    <div class="col-12 text-center mb-3">
        <pxe-file-uploader
            [uploader]="fileUploader"
            [multiple]="true"
            mainText="Soubory přetáhněte sem nebo "
            secondaryText="Formáty: PDF, JPG, PNG, TIFF do velikosti 10 MB."
            [labelFromMainText]="true">
        </pxe-file-uploader>
    </div>
    <div class="col-12">
        <lnd-alert
            *ngIf="errors.length"
            type="danger">
            {{ errors[0] }}<br>
        </lnd-alert>
    </div>
    <div class="col-12 mb-3">
        <span class="d-inline-flex align-items-center mr-4 mb-2"
              *ngFor="let fileItem of fileUploader.queue">
            <span class="icon icon--document mr-2"></span>
            {{fileItem?.file?.name}}
            <lnd-button
                (click)="removeFile(fileItem)"
                icon="icon--delete"
                variant="icon"
                type="icon">
            </lnd-button>
        </span>
    </div>
    <div class="col-12">
        <form
            [formGroup]="form"
            (keydown)="resetCustomFieldError()"
            (keydown.enter)="submitForm($event);false"
            (change)="resetCustomFieldError()"
            class="form-container"
            autocomplete="off">
            <ng-container *ngIf="fileUploader.queue.length">
                <lnd-form-field
                    [error]="formError.email || form.controls.email.errors"
                    [formControl]="form.controls.email"
                    [id]="'email'"
                    label="E-mail"
                    [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
                    [touched]="form.controls.email.touched || formError.email"
                    [validationMessages]="formFields.validationMessages.email"
                ></lnd-form-field>
                <div class="text-right">
                    <lnd-button
                        type="primary"
                        [submit]="true"
                        (action)="submitForm($event)"
                        label="odesllat">
                    </lnd-button>
                </div>
            </ng-container>
        </form>
    </div>
</div>
