/*
 -  Modal variables
 -
 -
 */


$modal-lg:                           920px;
$modal-md:                           520px;
$modal-sm:                           420px;

$modal-dialog-margin:                ( $spacer * 2  );
$modal-dialog-margin-y-sm-up:        ( $spacer * 2  );
$modal-inner-padding:                $spacer;
$modal-inner-padding-md:             $spacer;

$modal-content-border-width:         0;
$modal-content-border-radius:        $border-radius;
$modal-content-box-shadow-xs:        0 ( $spacer * .5 ) ( $spacer * 1.5 ) 0 rgba($font-text, .2 );
$modal-content-box-shadow-sm-up:     0 ( $spacer * .5 ) ( $spacer * 1.5 ) 0 rgba($font-text, .2 );

$modal-header-padding:               $modal-inner-padding;
$modal-header-padding-md:            $modal-inner-padding-md;
$modal-header-border-width:          0;

$modal-footer-border-width:          0;
