/*
 -  Modals
 -
 -
 */

// Core component import
@use 'sass:math';

@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'modal.component.variables.scss';

// Bootstrap imports
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/close';

.modal--open {
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-header {
	position: relative;
	padding: $modal-header-padding;

	// Media queries
	@include media-breakpoint-up(md) {
		padding: $modal-header-padding-md;
		display: flex;
		justify-content: space-between;
	}
}

.modal-body {
	padding: $modal-inner-padding;

	// Media queries
	@include media-breakpoint-up(md) {
		padding: $modal-inner-padding-md;
	}

	ul,
	li,
	img,
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.modal-footer {
	display: block;
	padding: 0 $modal-header-padding $modal-header-padding;

	// Media queries
	@include media-breakpoint-up(sm) {
		display: flex;
		justify-content: flex-start;
	}
	@include media-breakpoint-up(md) {
		padding: 0 $modal-header-padding-md $modal-header-padding-md;
	}

	> :not(:last-child) {
		margin-bottom: ( $spacer * .5 );
		margin-right: 0;

		// Media queries
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			margin-right: math.div($spacer, 3);
		}
	}

	> :not(:first-child) {
		margin-top: ( $spacer * .5 );
		margin-left: 0;

		// Media queries
		@include media-breakpoint-up(sm) {
			margin-top: 0;
			margin-left: math.div($spacer, 3);
		}
	}
}

.modal {
	& &__close {
		overflow: hidden;
		float: none;
		position: absolute;
		top: 0;
		right: 0;
		width: $icon-size-px * 2;
		height: $icon-size-px * 2;
		line-height: $icon-size-px * 2;
		@include reset-pa-ma;
		font-family: $font-family-sans-serif;
		color: $body-color;
		font-size: ($icon-size-px * 1.5);
		z-index: $zindex-modal;
	}

	&-xl {
		max-width: $modal-xl;
	}

	&-lg {
		max-width: $modal-lg;
	}

	&-md {
		max-width: $modal-md;
	}

	&-sm {
		max-width: $modal-sm;
	}
}

.modal-confirm {
	&__icon {
		display: block;
		margin-bottom: $spacer;
		color: $icons-primary;
		font-size: 3rem;
	}

	&__title {
		margin-bottom: $spacer;
		font-size: 1.5rem;
	}

	.modal-body {
		text-align: center;

		// Media queries
		@include media-breakpoint-up(lg) {
			padding: $modal-inner-padding-md ( $spacer * 4 );
		}
	}

	.modal-footer {
		flex-direction: column;
		justify-content: center;
		margin-bottom: $spacer;

		> :not(:last-child) {
			margin-bottom: ( $spacer * .5 );
			margin-right: 0;
		}

		> :not(:first-child) {
			margin-left: 0;
		}
	}
}

.modal-video {
	.modal-header,
	.modal-body {
		padding: 0;
	}

	.modal-body {
		display: inline-flex;
		height: 71%;
	}
}
