/*
 -  Microtable
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Custom import
@import '~bootstrap/scss/dropdown';

.micro-table {
	&--title {
		font-size: $h2-font-size;
		margin-bottom: 10px;
	}

	&--row {
		background-color: $white;
		padding: 22px;
		margin-bottom: 10px;
	}
}
