<ul class="list-of-supply-points">
    <li
        *ngFor="let item of data"
        [class.list-of-supply-points__item--active]="item.active"
        class="list-of-supply-points__item"
    >
        <span class="list-of-supply-points__item-title">{{ item.label }}</span>
        <div class="list-of-supply-points__item-controls">
            <ng-container *ngIf="actionTemplates">
                <ng-container
                    *ngTemplateOutlet="
                        actionTemplates;
                        context: { data: item.data }
                    "
                ></ng-container>
            </ng-container>
        </div>
    </li>
</ul>
