<div class="container-fluid container-fluid--max-width">
    <div class="container-content container-content--public">
        <pxe-layout-container pageTitle="Podmínky užívání" [breadcrumbItemsSimple]="breadcrumbItemsSimple">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="page-box text-justify">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="h1">OBCHODNÍ PODMÍNKY ÚČASTI NA TRHU PARC4U</h2>
                                <ol class="decimal-list upper-roman">
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Základní ustanovení</h3>
                                        <ol>
                                            <li>
                                                Tyto obchodní podmínky (dále jen „<strong>OP</strong>“) upravují pravidla registrace dodavatelů a odběratelů na trhu <strong>parc4u</strong> (dále též „<strong>Trh</strong>“), podmínky poskytování souvisejících služeb provozovatelem Trhu a podmínky procesu uzavírání smluv o sdružených službách dodávky komodity na Trhu.
                                            </li>
                                            <li>
                                                Provozovatelem Trhu a poskytovatelem souvisejících služeb na Trhu je společnost POWER EXCHANGE CENTRAL EUROPE, a.s., se sídlem Rybná 14/682, 110 05 Praha 1, IČO: 278 65 444, zapsaná u Městského soudu v Praze, oddíl B, vložka 15362 (dále jen „<strong>PXE</strong>“). PXE je komoditní burzou ve smyslu zák. č. 229/1992 Sb., o komoditních burzách, avšak obchody sjednávané na Trhu jsou uzavírané mimo burzovní platformu a nejsou burzovními obchody.
                                            </li>
                                            <li>
                                                Bez ohledu na to, že obchody uzavírané na Trhu nejsou burzovními obchody, je PXE regulovaným subjektem a veškerá její činnost podléhá dozoru Ministerstva průmyslu a obchodu.
                                            </li>
                                            <li>
                                                Komoditou se v těchto OP rozumí elektřina nebo zemní plyn (dále dle kontextu jedna z těchto komodit nebo obě komodity jen jako „<strong>Komodita</strong>“).
                                            </li>
                                            <li>
                                                Smlouvou se v těchto OP rozumí smlouva o sdružených službách dodávky komodity uzavíraná na Trhu mezi dodavatelem a odběratelem spolu se všemi jejími přílohami, které tvoří její nedílnou součást, včetně příslušných Obchodních podmínek PXE pro dodávky komodity platných v době uzavření smlouvy (dále souhrnně jen „<strong>Smlouva o dodávce</strong>“).
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Pravidla registrace dodavatelů na Trhu</h3>
                                        <ol>
                                            <li>
                                                Dodavatel Komodity, který hodlá nabízet dodávku Komodity na Trhu a uzavírat prostřednictvím Trhu Smlouvy o dodávce s odběrateli, se musí u PXE pro tento účel na Trhu registrovat. Podmínkou registrace dodavatele je uzavření písemné smlouvy o účasti na trhu parc4u s PXE (dále jen „<strong>Účastnická smlouva</strong>“).
                                            </li>
                                            <li>
                                                Dodavatel pro získání registrace musí splňovat tyto podmínky:
                                                <ol class="lower-alpha">
                                                    <li>
                                                        být držitelem platné licence v ČR pro obchod s příslušnou Komoditou, jejíž dodávku hodlá na Trhu PXE nabízet (dále jen „<strong>příslušná Komodita</strong>“),
                                                    </li>
                                                    <li>
                                                        být subjektem zúčtování u OTE, a.s. pro příslušnou Komoditu,
                                                    </li>
                                                    <li>
                                                        být účastníkem obchodování na trhu společnosti European Energy Exchange AG, se sídlem Augustusplatz 9, 04109, Lipsko, Německá spolková republika (dále „<strong>EEX</strong>“) nebo jiné společnosti, se kterou EEX tvoří holding, s oprávněním obchodovat se standardizovanými kontrakty na elektřinu nebo plyn s fyzickým dodáním v České republice (česká elektřina/plyn) nebo standardizovanými kontrakty s finančním vypořádáním s českou elektřinou/plynem jako podkladovým aktivem, anebo být osobou, která je ve vztahu k takovému účastníku obchodování osobou ovládající, osobou ovládanou anebo osobou mající stejnou ovládající osobu jako tento účastník obchodování,
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                Splnění podmínky dle bodu 2.2 písm. c) těchto OP může být nahrazeno písemným závazkem jiného dodavatele, který tuto podmínku splňuje (dále též „<strong>zajišťující dodavatel</strong>“), že v případě selhání dodavatele, tj. při porušení povinnosti dodavatele dodat Komoditu zákazníkovi dle Smlouvy o dodávce, navrhne bez zbytečného odkladu zákazníkovi uzavření smlouvy o sdružených službách dodávky Komodity, na základě které bude poskytovat zákazníkovi sdružené služby dodávky Komodity za stejných podmínek jako dodavatel dle Smlouvy o dodávce, a to až do konce původně sjednané doby dodávky.
                                            </li>
                                            <li>
                                                Na registraci nemají dodavatelé právní nárok a PXE si vyhrazuje pro účely registrace vyžádat si od dodavatele i další informace a dokumenty, jejichž předložení bude považovat za nezbytné jako podklad pro uzavření Účastnické smlouvy.
                                            </li>
                                            <li>
                                                Po uzavření Účastnické smlouvy obdrží dodavatel přístupové údaje do Webové aplikace (viz níže), čímž je proces registrace dokončen.
                                            </li>
                                            <li>
                                                Dnem, kdy dodavatel elektřiny registrovaný na Trhu (dále též „<strong>Registrovaný dodavatel</strong>“) přestane splňovat podmínky dle bodu 2.2 těchto OP, pozbyde Účastnická smlouva účinnosti.
                                            </li>
                                            <li>
                                                Zrušením nebo pozbytím účinnosti Účastnické smlouvy registrace dodavatele na Trhu automaticky zaniká.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Pravidla registrace zákazníků na Trhu</h3>
                                        <ol>
                                            <li>
                                                Každá osoba, která chce na Trhu nakoupit Komoditu, se musí na Trhu registrovat. Registraci zákazník provádí elektronicky na internetových stránkách PXE.
                                            </li>
                                            <li>
                                                Zákazník, který již neodebírá Komoditu na základě Smlouvy o dodávce, může svoji registraci kdykoli bez uvedení důvodu zrušit.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Společná ustanovení o registraci</h3>
                                        <ol>
                                            <li>
                                                Registrací získává dodavatel/zákazník uživatelský účet a přístup do zabezpečené webové aplikace, jejímž prostřednictvím lze sjednávat Smlouvy o dodávce a využívat souvisejících služeb PXE (dále jen „<strong>Webová aplikace</strong>“).
                                            </li>
                                            <li>
                                                Zrušení/zánik registrace strany Smlouvy o dodávce nemá vliv na již uzavřené Smlouvy o dodávce a nároky před zrušením/zánikem registrace vzniklé.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Nabídky dodavatelů a proces uzavření Smlouvy</h3>
                                        <ol>
                                            <li>
                                                Smlouva se na Trhu uzavírá výlučně elektronicky prostřednictvím Webové aplikace, a to způsobem, který je popsán dále.
                                            </li>
                                            <li>
                                                Do Webové aplikace může každý Registrovaný dodavatel umístit svůj návrh na uzavření Smlouvy (dále jen „<strong>Nabídka</strong>“).
                                            </li>
                                            <li>
                                                Nabídka, jejímž předmětem je poskytování sdružených služeb dodávky elektřiny musí obsahovat
                                                <ol class="lower-alpha">
                                                    <li>cenu silové elektřiny, u dvoutarifních sazeb cenu pro vysoký i nízký tarif, anebo jiný údaj, z něhož se tato cena určí,</li>
                                                    <li>výši stálého měsíčního platu za odběrné místo s tím, že nulová výše tohoto platu je přípustná,</li>
                                                    <li>distribuční sazbu a případně hodnotu jističe, na kterou se Nabídka vztahuje,</li>
                                                    <li>dobu, na kterou se sjednává dodávka (12 nebo 24 měsíců od zahájení dodávky),</li>
                                                    <li>dobu platnosti Nabídky,</li>
                                                    <li>případně další omezující podmínky dle aktuální funkcionality Webové aplikace.</li>
                                                </ol>
                                            </li>
                                            <li>
                                                Nabídka, jejímž předmětem je poskytování sdružených služeb dodávky plynu musí obsahovat
                                                <ol class="lower-alpha">
                                                    <li>cenu plynu, anebo jiný údaj, z něhož se tato cena určí,</li>
                                                    <li>výši stálého měsíčního platu za odběrné místo s tím, že nulová výše tohoto platu je přípustná,</li>
                                                    <li>dobu, na kterou se sjednává dodávka (12 nebo 24 měsíců od zahájení dodávky),</li>
                                                    <li>dobu platnosti Nabídky,</li>
                                                    <li>případně další omezující podmínky dle aktuální funkcionality Webové aplikace.</li>
                                                </ol>
                                            </li>
                                            <li>
                                                Registrovaní dodavatelé i zákazníci berou na vědomí, že doba, na kterou se sjednává dodávka, nemusí činit přesně 12, resp. 24 měsíců od zahájení dodávky (např. pokud se předpokládané datum dodávky uvedené ve Smlouvě o dodávce nebude shodovat se skutečným datem zahájení dodávky). Doba, na kterou se sjednává dodávka, počíná běžet dnem zahájení dodávky do odběrného místa zákazníka a končí dnem, kdy uplyne 12, resp. 24 měsíců od předpokládaného data zahájení dodávky. Pokud den, kdy uplyne tato doba, není posledním dnem kalendářního měsíce, prodlužuje se účinnost Smlouvy o dodávce až do bezprostředně následujícího posledního dne kalendářního měsíce.
                                            </li>
                                            <li>
                                                Nabídka může být dále limitována pouze (i) pro odběrná místa, u nichž předpokládaná spotřeba spadá do určitého rozmezí, (ii) pouze pro určité hodnoty jističe, nebo (iii) na případy, kdy začátek dodávky spadá do určitého období.
                                            </li>
                                            <li>
                                                Nabídka může obsahovat nabídku doplňkových služeb či jiných doplňkových plnění poskytovaných vedle sdružených služeb dodávky Komodity. Obsahuje-li Nabídka nabídku doplňkových služeb nebo jiných doplňkových plnění, musí definovat podmínky jejich poskytování.
                                            </li>
                                            <li>
                                                Registrovaný dodavatel je povinen do Webové aplikace umístit alespoň jednu Nabídku pro každý produkt, který Registrovaný dodavatel oficiálně nabízí konečným zákazníkům mimo Trh, přičemž žádná z těchto Nabídek nesmí být cenově méně výhodná než oficiální (ceníková) nabídka Registrovaného dodavatele pro shodný produkt. V případě, že Registrovaný dodavatel momentálně dodávky pro některé produkty nenabízí, nemusí do Webové aplikace Nabídky pro tyto produkty umisťovat.
                                            </li>
                                            <li>
                                                Umístěním Nabídky do Webové aplikace je učiněn návrh dodavatele na uzavření Smlouvy o dodávce ve formě veřejné nabídky s tím, že Smlouva o dodávce je uzavřena s každým, kdo nabídku přijme, jsou-li splněny všechny ostatní podmínky pro její uzavření dle těchto OP.
                                            </li>
                                            <li>
                                                Po registraci musí zákazník pro zobrazení dostupných Nabídek vyplnit ve Webové aplikaci předepsaný formulář, kde uvede pravdivé údaje o svém odběrném místě, kam dodávku Komodity požaduje a o smluvním vztahu se stávajícím dodavatelem. Zákazník dále ve formuláři volí např. způsob placení, a zda požaduje, aby jej dodavatel zastupoval při ukončení vztahu se stávajícím dodavatelem.
                                            </li>
                                            <li>
                                                Zákazník může ve Webové aplikaci pro své zadané odběrné místo zvolit dodavatele Komodity výběrem jedné z aktuálních Nabídek. Zákazníkovi budou zobrazeny pouze takové Nabídky, které odpovídají jím zvolenému datu zahájení dodávky a parametrům jeho odběrného místa, tj. zejména pokud zákazník splní podmínky stanovené pro přiznání příslušné distribuční sazby. Zákazníkovi zpravidla nebudou zobrazeny rovněž takové Nabídky, které Webová aplikace na základě Zákazníkem zadaných údajů, vyhodnotí tak, že nemohou vést k uzavření Smlouvy o dodávce ve smyslu bodu 5.16 nebo 5.17 těchto OP.
                                            </li>
                                            <li>
                                                Po výběru Nabídky zadá zákazník své osobní údaje, pokud již nebyly zadány dříve, a následně je automaticky vygenerován písemný návrh Smlouvy o dodávce, který zákazník může akceptovat výhradně elektronickým potvrzením svého souhlasu se Smlouvou o dodávce. Elektronické potvrzení souhlasu může probíhat dle možností Webové aplikace prostřednictvím touchpadu nebo jiného obdobného zařízení pro snímání vlastnoručního podpisu, prostřednictvím sms, nebo jiným vhodným způsobem.
                                            </li>
                                            <li>
                                                Zákazník za účelem poskytnutí údajů o svojí totožnosti provede pří uzavírání první Smlouvy o dodávce na Trhu převod peněžní částky ve výši 1,- Kč ze svého peněžního  účtu na účet PXE č. 8017122/0800 (dále též „Mikrotransakce“), a to do 5 pracovních dnů po vyjádření souhlasu zákazníka s návrhem první Smlouvy o dodávce uzavírané na Trhu. Tato částka je poplatkem za registraci a je nevratná. PXE vystaví zákazníkovi zjednodušený daňový doklad. Pokud nebude Mikrotransakce provedena nebo nebude provedena včas, Smlouva o dodávce se neuzavře. Mikrotransakce se na Trhu PXE provádí pouze jednou a při uzavření všech dalších Smluv o dodávce na Trhu se Mikrotransakce již neprovádějí. K uzavření dalších Smluv o dodávce lze využít i pozdně provedenou Mikrotransakci, která jinak z důvodu prodlení nevedla k uzavření předchozí Smlouvy o dodávce. Mikrotransakce je provedena připsáním dané částky na účet PXE.
                                            </li>
                                            <li>
                                                Smlouva o dodávce na Trhu je uzavřena splněním poslední z těchto podmínek: (i) zákazník vyjádřil s návrhem Smlouvy o dodávce souhlas ve Webové aplikaci, (ii) byla provedena Mikrotransakce v souladu s předchozím odstavcem těchto OP a (iii) dodavatel a zákazník obdrželi z Webové aplikace notifikaci o splnění obou podmínek dle bodů (i) a (ii). Smlouva o dodávce se takto uzavírá mezi dodavatelem, který Nabídku předložil a zákazníkem, který tuto Nabídku akceptoval. Finální text Smlouvy o dodávce je oběma smluvním stranám k dispozici ve Webové aplikaci.
                                            </li>
                                            <li>
                                                Smlouva o dodávce je tvořena (i) Nabídkou, (ii) údaji o zákazníkovi a jeho odběrném místě zadanými ve Webové aplikaci, (iii) ujednáními obsaženými ve vzorové Smlouvě o dodávce umístěné ve Webové aplikaci, platné ke dni, kdy zákazník vyjádřil s  návrhem Smlouvy o dodávce ve Webové aplikaci souhlas a (iv) Obchodními podmínkami dodávky umístěnými ve Webové aplikaci, platnými ke dni, kdy zákazník vyjádřil s  návrhem Smlouvy o dodávce ve Webové aplikaci souhlas.
                                            </li>
                                            <li>
                                                Navazuje-li dodávka do odběrného místa zákazníka dle Nabídky bezprostředně na předchozí dodávku dle Smlouvy o dodávce uzavřené prostřednictvím Webové aplikace, pak k uzavření Smlouvy o dodávce na základě takové Nabídky nedojde, pokud v okamžiku vyjádření souhlasu s Nabídkou Zákazníkem zbývá méně než 30 dní do sjednaného konce doby trvání dodávky u stávajícího dodavatele, a to i když je jím Dodavatel.
                                            </li>
                                            <li>
                                                Nenavazuje-li dodávka do odběrného místa zákazníka dle Nabídky bezprostředně na předchozí dodávku na základě Smlouvy o dodávce uzavřené rovněž prostřednictvím Webové aplikace (tj. zejména jde-li o první Smlouvu o dodávce pro dané odběrné místo zákazníka, uzavřenou přes Webovou aplikaci), pak k uzavření Smlouvy o dodávce na základě takové Nabídky nedojde, pokud v okamžiku vyjádření souhlasu s Nabídkou zákazníkem zbývá méně než:
                                                <ol class="lower-alpha">
                                                    <li>
                                                        30 dní do sjednaného konce doby trvání dodávky u stávajícího dodavatele, a to i když je jím dodavatel, o jehož Nabídku jde, nebo
                                                    </li>
                                                    <li>
                                                        30 dní do posledního dne, kdy zákazník může ještě včas a bez sankce ukončit smluvní závazek ke stávajícímu dodavateli (i když je jím dodavatel, o jehož Nabídku jde).
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>
                                                V případě sporu o existenci smluvního vztahu mezi dodavatelem a zákazníkem, se považuje zaplacení první zálohové platby nebo platby za vyúčtování dodávky Komodity (podle toho, která skutečnost nastane dříve) za souhlasný projev vůle zákazníka s uzavřením Smlouvy.
                                            </li>
                                            <li>
                                                Zákazník bere na vědomí, že informace jím poskytnuté má dodavatel i PXE za pravdivé a na podkladě takových informací dodaných zákazníkem pak dodavatel, pokud byl zákazníkem k takovému úkonu zmocněn, zahajuje proces změny dodavatele v odběrném místě zákazníka. Poskytnutí neúplných či nepravdivých informací, rozhodných pro uzavření Smlouvy o dodávce, může mít za následek vznik práva dodavatele od Smlouvy o dodávce odstoupit, zánik Smlouvy o dodávce nebo neplatnost Smlouvy o dodávce i jakýchkoli souvisejících ujednání s dodavatelem nebo s PXE, kdy na takové smlouvy bude pohlíženo, jako by nebyly platně uzavřeny od samého počátku. Zákazník je v takovém případě povinen dodavateli a PXE nahradit prokazatelně vzniklou škodu. V případě poskytnutí neúplných, či nepravdivých informací při uzavření Smlouvy o dodávce, bere zákazník na vědomí, že se vystavuje riziku neúspěšné realizace procesu změny dodavatele.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Další práva a povinnosti</h3>
                                        <ol>
                                            <li>
                                                Přístup do Webové aplikace je zabezpečen uživatelským jménem a heslem. Registrovaný dodavatel a zákazník nejsou oprávněni umožnit využívání svého uživatelského účtu třetím osobám.
                                            </li>
                                            <li>
                                                Zákazník má možnost údaje o své osobě a o svém odběrném místě ve Webové aplikaci upravovat.
                                            </li>
                                            <li>
                                                Dodavatel je povinen informovat PXE o všech skutečnostech, které mají vliv na poskytování služeb PXE ve smyslu těchto OP, včetně skutečností majících vliv na trvání Smlouvy o dodávce a skutečností zakládajících nárok PXE na zaplacení ceny za její služby dle Ceníku PXE.
                                            </li>
                                            <li>
                                                Dodavatel je povinen informovat PXE, pokud došlo k ukončení nebo zániku Smlouvy o dodávce před uplynutím sjednané doby jejího trvání.
                                            </li>
                                            <li>
                                                Dodavatel je povinen informovat PXE, pokud se dohodl se zákazníkem na prodloužení trvání Smlouvy o dodávce mimo Trh.
                                            </li>
                                            <li>
                                                Zákazník, který je spotřebitelem, je oprávněn Smlouvu o dodávce ukončit podle § 11a odst. 2 nebo 3 zák. č. 458/2000 Sb., energetický zákon též prostřednictvím Webové aplikace.
                                            </li>
                                            <li>
                                                Registrovaní dodavatelé se zavazují akceptovat formu ukončení Smlouvy o dodávce prostřednictvím Webové aplikace.
                                            </li>
                                            <li>
                                                Zákazník v rámci uzavření Smlouvy o dodávce vždy zmocní dodavatele k
                                                <ol class="lower-alpha">
                                                    <li>
                                                        ukončení smlouvy se stávajícím dodavatelem za zákazníka, ledaže zákazník ve Webové aplikaci uvedl, že smlouvu se stávajícím dodavatelem vypoví sám,
                                                    </li>
                                                    <li>
                                                        k dalším úkonům souvisejícím s přechodem zákazníka k dodavateli.
                                                    </li>
                                                </ol>
                                                Tato plná moc bude udělena stejnou elektronickou formou, v jaké se uzavírá smlouva o dodávce. Registrovaný dodavatel se takovou plnou moc předloženou mu jiným registrovaným dodavatelem zavazuje akceptovat. Registrovaní dodavatelé berou na vědomí a souhlasí s tím, že tato plná moc nebude obsahovat vlastnoruční podpis zákazníka a že podpis bude nahrazen potvrzením zákazníka např. prostřednictvím sms.
                                            </li>
                                            <li>
                                                PXE bude informovat zákazníka o blížícím se konci doby trvání Smlouvy o dodávce, ledaže zákazník požaduje jinak.
                                            </li>
                                            <li>
                                                Platnost ujednání odst. 6.3, 6.4, 6.6, 6.7 a 6.8 těchto OP přetrvává i po skončení platnosti Účastnické smlouvy.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Cena a platební podmínky</h3>
                                        <ol>
                                            <li>
                                                Výše, podmínky a vznik nároku na placení odměny PXE nebo úhrady nákladů za poskytování služeb dodavateli, který se na Trhu registroval ve smyslu těchto OP (např. za registraci na Trhu, za využití Webové aplikace pro uzavření Smlouvy o dodávce) je stanovena v Ceníku PXE pro trh parc4u pro dodavatele (dále jen „<strong>Ceník PXE</strong>“).
                                            </li>
                                            <li>
                                                Stanoví-li Ceník PXE odměnu PXE nebo úhradu nákladů za její služby ve smyslu těchto OP, zavazuje se tuto cenu dodavatel uhradit ve výši a za podmínek v Ceníku uvedených.
                                            </li>
                                            <li>
                                                Odměna za zprostředkování Smlouvy o dodávce a případné další služby poskytované zákazníkům na Trhu ze strany PXE činí 0 Kč.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Prohlášení o zárukách</h3>
                                        <ol>
                                            <li>
                                                Dodavatel i zákazník berou na vědomí, že Webová aplikace nemusí být zcela prostá chyb a že její fungování nemusí být nepřerušené a souhlasí s tím, že nemožnost užívání Webové aplikace v důsledku výskytu chyb nebo přerušení provozu Webové aplikace není porušením povinnosti PXE. Nicméně v případu vzniku takové události vyvine PXE nezbytné úsilí ke zjednání nápravy v co nejkratším čase.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Ochrana osobních údajů</h3>
                                        <ol>
                                            <li>
                                                Z důvodu plnění smluvních povinností a z důvodu ochrany svých oprávněných zájmů, zpracovává PXE identifikační a kontaktní údaje zákazníka, resp. zástupců zákazníka, údaje o odběrných místech zákazníka a údaje o smlouvách o sdružených službách dodávky Komodity uzavřených zákazníkem, které v souvislosti s registrací na trhu a následným procesem výběru Nabídek a uzavírání Smluv o dodávce zákazník ve Webové aplikaci uvedl. Tyto údaje PXE zpracovává pro účely registrace na Trhu, zprostředkování uzavírání Smluv o dodávce, poskytování souvisejících služeb zákazníkům a pro účely uplatňování práv ze smluvního vztahu PXE se zákazníkem.
                                            </li>
                                            <li>
                                                Proti zpracování svých osobních údajů na základě oprávněných zájmů PXE je zákazník, resp. zástupce zákazníka, oprávněn kdykoliv podat námitku.
                                            </li>
                                            <li>
                                                Více informací o zpracování osobních údajů ze strany PXE je uvedeno v samostatném dokumentu dostupném ve Webové aplikaci.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Doručování</h3>
                                        <ol>
                                            <li>
                                                Doručování oznámení registrovaným dodavatelům a zákazníkům (dále též „<strong>Účastníkům</strong>“) provádí PXE prostřednictvím Webové aplikace nebo prostřednictvím e-mailu.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Změny podmínek poskytování služeb PXE a vzorových podmínek dodávky</h3>
                                        <ol>
                                            <li>
                                                PXE je oprávněna provádět změny OP, Ceníku PXE a vzorové Smlouvy o dodávce umístěné ve Webové aplikaci, včetně Obchodních podmínek PXE pro dodávky příslušné komodity (dále též „Změny“), a to v návaznosti na změny právních předpisů, v zájmu zlepšení kvality poskytovaných služeb a s ohledem na obchodní cíle PXE.
                                            </li>
                                            <li>
                                                Změny jsou účinné ode dne stanoveného PXE.
                                            </li>
                                            <li>
                                                PXE informuje o Změně všechny Účastníky, kterých se Změna týká, a to zpravidla nejméně 30 dní před navrhovaným dnem účinnosti Změny. O navrhované Změně informuje PXE Účastníky prostřednictvím e-mailu nebo Webové aplikace.
                                            </li>
                                            <li>
                                                PXE vyvěsí aktuální OP a vzorovou Smlouvu o dodávce, včetně Obchodních podmínek PXE pro dodávky příslušné komodity, vždy na svých internetových stránkách a ve Webové aplikaci. PXE vyvěsí pro dodavatele aktuální Ceník PXE ve Webové aplikaci.
                                            </li>
                                            <li>
                                                Pokud Účastník písemně neodmítne navrhovanou změnu OP nebo Ceníku PXE nejpozději v den před navrhovaným dnem účinnosti, platí, že s navrhovanou změnou souhlasí.
                                            </li>
                                            <li>
                                                Pokud navrhovanou změnu OP písemně odmítne zákazník, jeho registrace na Trhu se dnem účinnosti Změny ruší.
                                            </li>
                                            <li>
                                                Pokud navrhovanou Změnu písemně odmítne dodavatel, pozbyde Účastnická smlouva dnem účinnosti Změny účinnosti.
                                            </li>
                                            <li>
                                                Změny OP a změny Ceníku PXE se netýkají zprostředkování Smluv o dodávce a souvisejících služeb PXE uskutečněných, resp. poskytnutých před účinností Změny.
                                            </li>
                                            <li>
                                                Změny vzorové Smlouvy o dodávce, včetně Obchodních podmínek PXE pro dodávky příslušné komodity, se netýkají Smluv o dodávce sjednaných před účinností Změny.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h3 class="h2 decimal-list__item-title">Řešení sporů</h3>
                                        <ol>
                                            <li>
                                                Spory mezi PXE a zákazníkem, který je spotřebitelem, vyplývající z účasti zákazníka na Trhu a využívání souvisejících služeb PXE lze řešit mimosoudně u České obchodní inspekce, se sídlem Štěpánská 567/15,  120 00 Praha 2, www.coi.cz.
                                            </li>
                                            <li>
                                                K rozhodování soudních sporů jsou příslušné soudy České republiky.
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
