<pxe-layout-container pageTitle="Změna hesla">
    <div class="row">
        <div class="col-12">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-7 col-lg-5">
            <div class="page-box">
                <pxe-change-password-form
                    [formFields]="formFields"
                    [formLoading]="formLoading"
                    [formSent]="formSent"
                    [globalError]="globalError"
                    [isPublic]="false"
                    [fieldError]="fieldError"
                    (submitAction)="submitForm($event)">
                </pxe-change-password-form>
            </div>
        </div>
    </div>
</pxe-layout-container>
