<pxe-layout-container pageTitle="Odběrná místa">
    <lnd-alert
            [type]="'danger'"
            [isDismissible]="false"
            *ngIf="error">
        Při načítání odběrných míst došlo k chybě. Zkuste to později.<br>
        <ng-container *ngFor="let message of errorMessages">
            {{ message }}<br>
        </ng-container>
    </lnd-alert>
    <ng-container *ngIf="supplierPoints && !supplierPoints.length">
        <lnd-info-banner
            [bannerTitle]="'Zatím nemáte uložené žádné odběrné místo'"
            [bannerDescription]="'Zadejte odběrné místo a my vám hned dáme nabídky'"
            [buttonLabel]="'Zadat odběrné místo'"
            (buttonAction)="createSupplyPoint($event)"
        ></lnd-info-banner>
    </ng-container>
    <ng-container *ngIf="supplierPoints && supplierPoints.length">
        <div class="row mb-5">
            <div class="col text-center">
                <lnd-button
                    label="Nové odběrné místo"
                    type="secondary"
                    (action)="createSupplyPoint($event)"
                ></lnd-button>
            </div>
        </div>
        <!--taky nebylo reseny s Jardou-->
        <div *ngIf="showSupplyPointDeleted"
             class="row justify-content-center">
            <div class="col-6">
                <lnd-alert
                    type="info"
                    hasIcon="true">
                    Odběrné místo bylo smazáno
                </lnd-alert>
            </div>
        </div>
        <div class="supply-points">
            <ng-container *ngFor="let supplierPoint of supplierPoints">
                <pxe-supply-point
                    *ngIf="supplierPoint"
                    [data]="supplierPoint"
                    (action)="navigateToSupplyPointDetail($event)"
                ></pxe-supply-point>
            </ng-container>
        </div>
    </ng-container>
</pxe-layout-container>
