<ng-template #additionalInfoTemplate let-data="data">
    <div class="row"
         *ngIf="(data | isAllowedOperation: allowedOperations.SHOW_DELIVERY_TO)">
        <div class="col-12">
            <pxe-badge type="info"
                       [isLink]="true"
                       (action)="restoreContractAction($event, data)">
                Platnost končí za {{data.contract.deliveryFrom | dateDiff: data.contract.deliveryTo}} dní - Obnovit smlouvu
            </pxe-badge>
        </div>
    </div>
</ng-template>

<pxe-layout-container pageTitle="Odběrná místa">
    <lnd-alert
            [type]="'danger'"
            [isDismissible]="false"
            *ngIf="error">
        Při načítání odběrných míst došlo k chybě. Zkuste to později.<br>
        <ng-container *ngFor="let message of errorMessages">
            {{ message }}<br>
        </ng-container>
    </lnd-alert>
    <lnd-placeloader [loading]="dataLoading && !errorMessages.length"></lnd-placeloader>
    <ng-container *ngIf="supplyPoints && !supplyPoints.length">
        <lnd-info-banner
            [bannerTitle]="'Zatím nemáte uložené žádné odběrné místo'"
            [bannerDescription]="'Zadejte odběrné místo a my vám hned dáme nabídky'"
            [buttonLabel]="'Zadat odběrné místo'"
            (buttonAction)="createSupplyPoint($event)"
        ></lnd-info-banner>
    </ng-container>
    <ng-container *ngIf="supplyPoints && supplyPoints.length">
        <div class="row mb-5">
            <div class="col text-center">
                <lnd-button
                    label="Nové odběrné místo"
                    type="secondary"
                    (action)="createSupplyPoint($event)"
                ></lnd-button>
            </div>
        </div>
        <ng-container *ngIf="supplyPointsActual && supplyPointsActual.length !== 0">
            <p class="perex text-center mb-3">Odběrná místa a jejich aktuální dodávky</p>
            <div class="supply-points">
                <pxe-supply-point
                    *ngFor="let supplyPoint of supplyPointsActual"
                    [additionalInfoTemplate]="additionalInfoTemplate"
                    [data]="supplyPoint"
                    (action)="navigateToSupplyPointDetail($event)"
                ></pxe-supply-point>
            </div>
        </ng-container>
        <ng-container *ngIf="supplyPointsFuture && supplyPointsFuture.length !== 0">
            <p class="perex text-center mb-3 mt-5">Odběrná místa a jejich budoucí dodávky</p>
            <div class="supply-points">
                <pxe-supply-point
                    *ngFor="let supplyPoint of supplyPointsFuture"
                    [additionalInfoTemplate]="additionalInfoTemplate"
                    [data]="supplyPoint"
                    (action)="navigateToSupplyPointDetail($event)"
                ></pxe-supply-point>
            </div>
        </ng-container>
    </ng-container>
</pxe-layout-container>
