<pxe-layout-container pageTitle="Odběrná místa">
    <lnd-alert
            [type]="'danger'"
            [isDismissible]="false"
            *ngIf="error">
        Při načítání odběrných míst došlo k chybě. Zkuste to později.<br>
        <ng-container *ngFor="let message of errorMessages">
            {{ message }}<br>
        </ng-container>
    </lnd-alert>
    <ng-container *ngIf="supplyPoints && !supplyPoints.length">
        <lnd-info-banner
            [bannerTitle]="'Zatím nemáte uložené žádné odběrné místo'"
            [bannerDescription]="'Zadejte odběrné místo a my vám hned dáme nabídky'"
            [buttonLabel]="'Zadat odběrné místo'"
            (buttonAction)="createSupplyPoint($event)"
        ></lnd-info-banner>
    </ng-container>
    <ng-container *ngIf="supplyPoints && supplyPoints.length">
        <div class="row mb-5">
            <div class="col text-center">
                <lnd-button
                    label="Nové odběrné místo"
                    type="secondary"
                    (action)="createSupplyPoint($event)"
                ></lnd-button>
            </div>
        </div>
        <ng-container *ngIf="supplyPointsActual && supplyPointsActual.length !== 0">
            <h3 class="text-center">Odběrná místa a jejich aktuální nabídky</h3>
            <div class="supply-points">
                <pxe-supply-point
                    *ngFor="let supplyPoint of supplyPointsActual"
                    [data]="supplyPoint"
                    (action)="navigateToSupplyPointDetail($event)"
                ></pxe-supply-point>
            </div>
        </ng-container>
        <ng-container *ngIf="supplyPointsFuture && supplyPointsFuture.length !== 0">
            <h3 class="text-center">Odběrná místa a jejich budoucí nabídky</h3>
            <div class="supply-points">
                <pxe-supply-point
                    *ngFor="let supplyPoint of supplyPointsFuture"
                    [data]="supplyPoint"
                    (action)="navigateToSupplyPointDetail($event)"
                ></pxe-supply-point>
            </div>
        </ng-container>
    </ng-container>
</pxe-layout-container>
