<ng-template #columnTemplatePriceVT let-row="row">
    {{row.offerInput.powerAttributes.priceVT | number:'1.0-2'}}&nbsp;Kč/MWh (bez&nbsp;DPH)
</ng-template>
<ng-template #columnTemplatePriceNT let-row="row">
    <ng-container *ngIf="row.offerInput.powerAttributes.priceNT !== null">
        {{row.offerInput.powerAttributes.priceNT | number:'1.0-2'}}&nbsp;Kč/MWh (bez&nbsp;DPH)
    </ng-container>
</ng-template>
<ng-template #columnTemplatePriceGas let-row="row">
    {{row.offerInput.gasAttributes.priceGas | number:'1.0-2'}}&nbsp;Kč/MWh (bez&nbsp;DPH)
</ng-template>
<ng-template #columnTemplateValidFromTo let-row="row">
    {{row.offerInput.validFrom | date:'d.&nbsp;M.&nbsp;y'}} - {{row.offerInput.validTo | date:'d.&nbsp;M.&nbsp;y'}}
</ng-template>
<ng-template #columnTemplateDeliveryFromTo let-row="row">
    {{row.offerInput.deliveryFrom | date:'d.&nbsp;M.&nbsp;y'}} - {{row.offerInput.deliveryTo | date:'d.&nbsp;M.&nbsp;y'}}
</ng-template>
<ng-template #actionColumnTemplate let-row="row" let-index="index">
    <span>{{row.offerInput.permanentPaymentPrice | number:'1.0-2'}}&nbsp;Kč/měsíc (bez&nbsp;DPH)</span>
    <div class="row action-area-div">
        <div class="col-12">
            <ng-template #tooltipDelete let-toggle="toggle">
                <lnd-button
                    icon="icon--delete"
                    type="icon"
                    variant="icon"
                    (action)="toggle();delete(row,index)"
                ></lnd-button>
            </ng-template>
            <lnd-tooltip [actionTemplate]="tooltipDelete" direction="bottom">
                Smazat
            </lnd-tooltip>
        </div>
    </div>
</ng-template>
<div class="row"
     *ngIf="tableRows && tableRows.length">
    <div class="col-12 col-xl-10 offset-xl-1">
        <pxe-progress-bar [config]="configStepper"></pxe-progress-bar>
        <lnd-alert
            *ngIf="globalError.length"
            type="danger">
            <ng-container *ngFor="let error of globalError">
                {{ error }}<br>
            </ng-container>
        </lnd-alert>
        <div class="mt-5">
            <lnd-info-banner
                *ngIf="!offerDeleted"
                bannerTitle="Úspěšně jsme nahráli {{tableRows.length}} {{tableRows.length | plural: 'new_offer'}}. <br /> Po schválení se nabídky zobrazí vašim zákazníkům."
                [showButton]="false"
                [bannerType]="bannerTypeImages.ACCEPTED"
            >
            </lnd-info-banner>
        </div>
        <lnd-alert
            *ngIf="offerDeleted || numberOfDuplicateOffers"
            customClass="text-center"
            type="info"
        >
            {{(offerDeleted ? ('Nabídka ' + offerDeleted + ' byla smazána.') : '')}}
            <br *ngIf="offerDeleted && numberOfDuplicateOffers" />
            {{numberOfDuplicateOffers ? ('Seznam nabídek obsahuje ' + numberOfDuplicateOffers + ' ' + (numberOfDuplicateOffers | plural: 'duplicity') + '.') : ''}}
        </lnd-alert>
    </div>
    <div class="col-12 col-lg-10 offset-lg-1">
        <lnd-table
            #table
            [cols]="tableCols"
            [rows]="tableRows"
            [showHead]="true"
            [isStatic]="false"
            [tableWrapperClass]="['table-wrapper--advanced']"
            [tableClass]="['table--advanced', 'mb-0']"
            [actionColTriggersDetail]="false"
            [dangerBackgroundPropertyCondition]="'duplicity'"
            [columnTemplates]="{
                    actionColumnTemplate: actionColumnTemplate,
                    columnTemplatePriceVT: columnTemplatePriceVT,
                    columnTemplatePriceNT: columnTemplatePriceNT,
                    columnTemplatePriceGas: columnTemplatePriceGas,
                    columnTemplateValidFromTo: columnTemplateValidFromTo,
                    columnTemplateDeliveryFromTo: columnTemplateDeliveryFromTo
                }">
            >
        </lnd-table>
    </div>
    <div class="col-12 text-center">
        <lnd-button
            customClass="ml-5"
            label="zpět"
            type="link"
            (action)="backAction($event)">>
        </lnd-button>
        <lnd-button
            customClass="ml-5"
            label="Schválit nabídky"
            type="primary"
            (action)="approvalAction($event)">>
        </lnd-button>
    </div>
</div>
