<div class="row">
    <div class="col-12">
        <p class="perex mb-4">
            Zadejte údaje k odběrnému místu
        </p>
    </div>
    <div class="col-12">
        <pxe-supply-point-form
            [editMode]="editMode"
            [withoutValidator]="true"
            [formFields]="formFields"
            [formLoading]="formLoading"
            [formSent]="formSent"
            [formValues]="{}"
            [globalError]="globalError"
            [fieldError]="fieldError"
            submitLabel="Další"
            (submitAction)="save($event)"
        ></pxe-supply-point-form>
    </div>
</div>
