/*
 -  Carousel compare
 -
 - stylelint-disable for rewrite library
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'carousel-compare.component.variables.scss';

.carousel-compare {
	&__price {
		color: $carousel-compare-price;
		font-size: 2.25rem;
	}

	.carousel {
		.carousel-item {
			position: static;
			margin-right: 0;
		}

		.carousel-border {
			padding: ( $spacer * 1.5 ) ( $spacer * 2 );
			@include media-breakpoint-up(xl) {
				border-left: $carousel-compare-border-left;
			}

			&--none {
				border-left: none;
			}
		}

		.carousel-control {
			width: 15%;
			opacity: 1;

			@include media-breakpoint-up(md) {
				width: 7.5%;
			}

			&:focus:not(.active),
			&:hover:not(.active) {
				text-decoration: none;
			}
		}

		.carousel-control-prev {
			&:focus,
			&:hover {
				.carousel-control-prev-icon {
					background-color: darken($white, 10%);
				}
			}
		}

		.carousel-control-next {
			&:focus,
			&:hover {
				.carousel-control-next-icon {
					background-color: darken($font-text, 10%);
				}
			}
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: $carousel-control-size;
			height: $carousel-control-size;
			background-image: none;
			border-radius: $carousel-control-size;
			box-shadow: $box-shadow-carousel;

			&::before {
				content: '\e930';
				@include icon;
			}
		}

		.carousel-control-prev-icon {
			background-color: $white;

			&::before {
				color: $font-text;
				transform: rotate(180deg);
			}
		}

		.carousel-control-next-icon {
			background-color: $font-text;

			&::before {
				color: $white;
			}
		}
	}
}
