/*
 -  Carousel compare
 -
 - stylelint-disable for rewrite library
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'carousel-compare.component.variables.scss';

.carousel-compare {
	&__price {
		color: $carousel-compare-price;
		font-size: 2.25rem;
	}

	.carousel-inner {
		padding: 0 ( $carousel-control-size + $spacer );
	}

	.carousel-item {
		position: static;
		margin-right: 0;

		.item {
			// Media queries
			@include media-breakpoint-down(xs) {
				display: flex;
				justify-content: center;
			}
		}

		&__inner {
			display: inline-block;
			padding: ( $spacer * 1.5 ) ( $spacer * 1.5 ) $spacer;
			@include media-breakpoint-up(xl) {
				border-left: $carousel-compare-border-left;
			}
	
			&--none {
				border-left: none;
			}
		}
	}

	.carousel {
		.carousel-control {
			width: auto;
			opacity: 1;
	
			&:focus:not(.active),
			&:hover:not(.active) {
				text-decoration: none;
	
				.carousel-control-prev-icon,
				.carousel-control-next-icon {
					background-color: $font-text;
				}

				.carousel-control-prev-icon::before,
				.carousel-control-next-icon::before {
					color: $white;
				}
			}
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: $carousel-control-size;
			height: $carousel-control-size;
			background-color: $white;
			background-image: none;
			border-radius: $carousel-control-size;
			box-shadow: $box-shadow-carousel;
	
			&::before {
				content: '\e930';
				@include icon;
				color: $font-text;
			}
		}
	
		.carousel-control-prev-icon {
			&::before {
				color: $font-text;
				transform: rotate(180deg);
			}
		}
	}
}
