/*
 -  Buttons variables
 -
 -
 */


$btn-font-weight:                  400;
$btn-focus-box-shadow:             0 0 8px 0 rgba($primary, .8);
$btn-active-box-shadow:            $btn-focus-box-shadow;
$btn-disabled-opacity:             .3;
$btn-link-disabled-color:          $disabled;
$btn-width:                        140px;
$btn-height:                       40px;
$btn-height-small:                 30px;
$btn-padding-y:                    ( $spacer / 2 );
$btn-padding-x:                    ( $spacer * 1.5 );
$btn-line-height:                  $line-height-sm;
$btn-border-radius:                4px;
$btn-padding-y-sm:                 ( $spacer / 6 );
$btn-padding-x-sm:                 ( $spacer / 3 );
$font-size-sm:                     .688rem;
$btn-line-height-sm:               ( 18 / 11 );
$btn-border-radius-sm:             $btn-border-radius;

$btn-secondary-bg:                 transparent;
$btn-secondary-bg-hover:           rgba($black, .03);
$btn-secondary-color:              $font-text;
$btn-secondary-shadow:             0 2px 4px 0 #c8d3df;
