/*
 -  Theme icons
 */

$icon-version: random();

@font-face {
	font-family: 'icons';
	src:
		url('#{$icon-path}/icons.ttf?#{$icon-version}') format('truetype'),
		url('#{$icon-path}/icons.woff?#{$icon-version}') format('woff'),
		url('#{$icon-path}/icons.svg?#{$icon-version}#icons') format('svg');
	font-weight: 400;
	font-style: normal;
}

.icon {
	@include icon;

	&--small {
		font-size: $icon-size-small;
	}

	&--light {
		color: $icons-inactive;
	}

	&--gold {
		color: $icons-active;
	}

	&--green {
		color: $success;
	}

	&__holder-small {
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: middle;

		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

@function unicode ($str) {
	@return unquote('\"') + $str + unquote('\"');
}

// Icons variables array
$icons: (
	component-low:         \e91c,
	component-middle:      \e91d,
	component-high:        \e91e,
	arrow-decrease:        \e900,
	arrow-increase:        \e901,
	arrows:                \e902,
	bell:                  \e903,
	bin:                   \e904,
	calendar:              \e905,
	check:                 \e906,
	document:              \e907,
	filter:                \e908,
	flame:                 \e909,
	flash:                 \e90a,
	house:                 \e90b,
	info:                  \e90c,
	map:                   \e90d,
	notice:                \e90e,
	notice-board:          \e90f,
	pin:                   \e910,
	qr-code:               \e911,
	query:                 \e912,
	arrow-natural:         \e913,
	arrow-process:         \e914,
	star:                  \e915,
	triangle-down:         \e916,
	user:                  \e917,
	arrow-minimal-down:    \e918,
	arrow-minimal-left:    \e919,
	arrow-minimal-right:   \e91a,
	close:                 \e91b,
	lock-close:            \e91f,
	power:                 \e920,
	edit:                  \e921,
	copy:                  \e922,
	add-new:               \e923,
	delete:                \e924,
	triangle-left:         \e925,
	triangle-right:        \e926,
	double-triangle-left:  \e927,
	double-triangle-right: \e928,
	leaf:                  \e929,
	arrow-right:           \e930,
	graph:                 \e931,
	document-warning:      \e932,
	document-down:         \e933,
	document-success:      \e934
);

// Icons aplication to class
@each $name, $icon in $icons {
	.icon--#{$name}::before {
		content: unicode($icon);
	}
}
