/*
 -  Master styles
 -
 -  This file defines html elements styles.
 */


@use "sass:math";

html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.secured {
	font-family: $font-family-sans-serif-secured;
}

.public {
	font-size: $font-size-base-public;
	line-height: $line-height-base-public;
	background-color: $body-bg-lp;
	color: $font-text-public;
}

.h1--public,
.h2--public,
.h3--public {
	font-weight: $font-weight-bold;
	font-variant-ligatures: none;
	text-transform: none;
}

.h1--public {
	font-size: $h1-font-size-public-xs;
	line-height:  math.div(43, 36) ;

	// Media queries
	@include media-breakpoint-up(md) {
		font-size: $h1-font-size-public-md;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size-public;
	}
}

.h2--public {
	font-size: $h2-font-size-public-xs;
	line-height:  math.div(36, 30) ;

	// Media queries
	@include media-breakpoint-up(md) {
		font-size: $h2-font-size-public-md;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h2-font-size-public;
	}
}

.h3--public {
	margin-bottom: ( $spacer * 0.5 );
	font-size: $h3-font-size-public-xs;
	line-height:  math.div(30, 24) ;

	// Media queries
	@include media-breakpoint-up(md) {
		font-size: $h3-font-size-public-md;
	}
	@include media-breakpoint-up(xl) {
		margin-bottom: $spacer;
		font-size: $h3-font-size-public;
	}
}

.h4--public {
	font-size: $h4-font-size-public;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	& > span {
		color: $text-muted;
		padding-left:  math.div($spacer, 3) ;
		text-transform: none;
	}
}

h1,
h3,
.h1,
.h3 {
	text-transform: uppercase;
}

// h2,
// h3,
// .h2,
// .h3 {
// margin-bottom: $spacer;
// }

h1,
.h1 {
	& > .h1__sub-text {
		font-size: $h1-font-size-snd;
	}
}

h2,
.h2 {
	line-height:  math.div(24, 18) ;
	text-transform: none;

	& > .h2__sub-text {
		font-size: $h2-font-size-snd;
	}
}

h3,
.h3 {
	line-height:  math.div(20, 14) ;
}

.perex {
	font-size: $perex-font-size;
	line-height:  math.div(28, 18) ;
}

hr {
	margin: ( $spacer * 2 ) 0;
	border-color: $border-color;
}

small,
.small {
	line-height: $line-height-sm;
}

blockquote,
.blockquote {
	font-size: $blockquote-font-size;
	margin-bottom: $spacer;
}

.blockquote-footer {
	display: block;
	font-size: 81.25%; // back to default font-size
	color: $blockquote-small-color;

	&::before {
		content: '\2014 \00A0'; // em dash, nbsp
	}
}

.buttons-holder {
	> :not(:last-child) {
		margin-bottom: ( $spacer * 0.5 );
		margin-right: 0;

		// Media queries
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
			margin-right:  math.div($spacer, 3) ;
		}
	}

	> :not(:first-child) {
		margin-top: ( $spacer * 0.5 );
		margin-left: 0;

		// Media queries
		@include media-breakpoint-up(sm) {
			margin-top: 0;
			margin-left:  math.div($spacer, 3) ;
		}
	}
}

// Override default Reboot style from Bootstrap FW
a {
	@include link-without-href {
		cursor: pointer;
		color: $link-color;
	}

	@include link-without-href-interactive {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

button {
	&:focus,
	&.focus {
		@include clear-outline;
	}
}
