/*
 -  Variables
 -
 -
 */


// Colors pallete
$blue-050:                         #56cefe;                    // Blue level 1
$blue-100:                         #00b7ff;                    // Blue level 2
$blue-200:                         #00a6ea;                    // Blue level 3
$blue-300:                         #0096d1;                    // Blue level 4
$blue-400:                         #00719e;                    // Blue level 5
$blue-500:                         #004d6b;                    // Blue level 6

$gray-000:                         #fff;                       // Gray level 0
$gray-050:                         #fafafa;                    // Gray level 1
$gray-100:                         #bdcad6;                    // Gray level 2
$gray-150:                         #ededed;                    // Gray level 3
$gray-200:                         #8c9cab;                    // Gray level 4
$gray-300:                         #b3b3b3;                    // Gray level 5
$gray-400:                         #808080;                    // Gray level 6
$gray-500:                         #3d4549;                    // Gray level 7
$gray-600:                         #272829;                    // Gray level 8
$gray-1000:                        #000;                       // Gray level 100
$white:                            $gray-000;
$black:                            $gray-1000;

$font-header:                      #2b4762;
$font-text:                        #2b4762;
$font-secondary:                   #919191;

$text-muted:                       $font-secondary;

$primary:                          #0097ff;                    // Primary color
$primary-dark:                     #0088e5;
$secondary-lighten:                #926ece;                    // Secondary color
$secondary:                        #7355a6;
$secondary-dark:                   darken($secondary, 5%);
$success:                          $font-text;                   // Success color
$success-lighten:                  lighten($success, 5%);
$success-dark:                     darken($success, 5%);
$success-darken:                   darken($success, 10%);
$warning:                          #eda82f;                    // Warning color
$warning-lighten:                  lighten($warning, 10%);
$warning-dark:                     darken($warning, 15%);
$warning-darken:                   darken($warning, 25%);
$danger:                           #d0021b;                    // Danger color
$danger-lighten:                   lighten($danger, 10%);
$danger-dark:                      darken($danger, 15%);
$danger-darken:                    darken($danger, 25%);
$light:                            $gray-300;                    // Light color
$light-dark:                       $gray-400;
$light-darken:                     $gray-500;
$disabled:                         $gray-200;                    // Disabled color

$gradient-green-light:             $primary;                     // Gradient green light
$gradient-green-dark:              $primary-dark;                // Gradient green dark
$gradient-blue-light:              $secondary;                   // Gradient blue light
$gradient-blue-dark:               $secondary-dark;              // Gradient blue dark, cold
$gradient-orange-light:            $warning;                     // Gradient orange light, normal
$gradient-orange-dark:             $warning-dark;                // Gradient orange dark, normal
$gradient-red-light:               $danger;                      // Gradient red light, warm
$gradient-red-dark:                $danger-dark;                 // Gradient red dark, warm

$icons-primary:                    $secondary;
$icons-secondary:                  #bdcad6;
$icons-active:                     $primary;
$icons-inactive:                   $gray-200;
$icons-hover:                      $gray-300;

$body-bg:                          #eef2f6;
$body-color:                       $font-text;

$border-color:                     #bdcad6;

// Config global
$enable-shadows:                   true;
$animation-speed:                  100ms;


$grid-breakpoints: (
  xs: 0,
  md: 768px,
  xl: 992px,
  lg: 1366px
) !default;
$grid-columns:                     12;
$grid-gutter-width:                20px;
$spacer:                           $grid-gutter-width;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ( $spacer / 4 ),
  2: ( $spacer / 2 ),
  3: $spacer,
  4: ( $spacer * 1.5 ),
  5: ( $spacer * 2 ),
  6: ( $spacer * 3 ),
  7: ( $spacer * 4 )
), $spacers);
$sizes: () !default;
$sizes: map-merge((
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  28: 28%,
  30: 30%,
  34: 34%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
  auto: auto
), $sizes);

$body-min-width:                   320px;
$body-max-width:                   1920px;


// Typography
$font-family-sans-serif:           'roboto_mono', arial;
$font-family-sans-serif-public:    'space_mono', arial;
$font-size-base:                   .875rem;
$line-height-base:                 ( 24 / 14 );
$small-font-size:                  .75rem;
$line-height-sm:                   ( 16 / 12 );
$perex-font-size:                  1.125rem;

$h1-font-size:                     1.875rem;
$h1-font-size-snd:                 1rem;
$h1-font-size-public:              2.25rem;
$h2-font-size:                     1.125rem;
$h2-font-size-snd:                 .8125rem;
$h2-font-size-public:              1.875rem;
$h3-font-size:                     .875rem;
$h3-font-size-public:              1.5rem;
$h4-font-size:                     .8125rem;
$h5-font-size:                     .8125rem;
$h6-font-size:                     .8125rem;
$headings-color:                   $font-header;
$headings-line-height:             ( 40 / 30 );
$headings-font-weight:             400;
$headings-margin-bottom:           ( $spacer * 1.5 );

$blockquote-small-color:           $gray-300 !default;
$blockquote-font-size:             ( $font-size-base * 1.231 ) !default;

$paragraph-margin-bottom:          ( $spacer * 2 );

$list-bullet-size:                 3px;
$lists-margin-bottom:              ( $spacer * 1.25 );

$border-radius:                    5px;
$box-shadow:                       0 2px 5px 0 rgba($body-color, .16);


// Links
$link-color:                       $primary;
$link-decoration:                  none;
$link-hover-color:                 $link-color;
$link-hover-decoration:            underline;


// Icons
$icon-path:                        '../fonts/icons';
$icon-size:                        1.25rem;
$icon-size-small:                  .625rem;
$icon-size-px:                     20px;
$icon-size-small-px:               10px;


$images-path:                      '../../../assets/images/';


// Header
$header-bg:                        $body-bg;
$header-height:                    100px;


// Logo
$logo-width-mobile:                80px;
$logo-height-mobile:               32px;
$logo-width-tablet:                104px;
$logo-height-tablet:               41px;


// Menu
$menu-width:                       40px;
$menu-height:                      50px;
$menu-toggle-line-width:           24px;
$menu-toggle-line-height:          4px;
$menu-toggle-line-offset:          5px;


// Footer
$footer-bg:                        $body-bg;
$footer-height:                    80px;
$scroll-top-size:                  $spacer;


// Sidebar
$aside-bg:                         $body-bg;
$aside-bg-secondary:               $gray-600;
$aside-width-mobile:               270px;
$aside-width-desktop:              calc( ( ( 100% / #{$grid-columns} ) * 2 ) - ( #{$spacer / 2} ) );
$aside-line-width:                 50px;


// Badges
$badge-font-size:                  .75rem;
$badge-font-weight:                400;
$badge-padding-y:                  ( $spacer / 7.5 );
$badge-padding-x:                  ( $spacer / 4 );


// Tables
$table-cell-padding:          ( $spacer / 2 );
$table-cell-padding-vert:     ( $spacer / 3 );
$table-cell-padding-sm:       ( $spacer / 4 );
$table-bg:                    $white;
$table-font-size:             .75rem;
$table-accent-bg:             $gray-100;
$table-hover-bg:              rgba($blue-200, .05);
$table-active-bg:             $table-hover-bg;
$table-border-width:          0;
$table-head-bg:               $gray-100;
$table-border-color:          $gray-150;
$table-head-color:            $font-text;
$table-dark-bg:               $table-bg;
$table-dark-accent-bg:        $table-accent-bg;
$table-dark-hover-bg:         $table-hover-bg;
$table-dark-color:            $table-head-color;
$table-striped-order:         odd;


// Dropdown
$dropdown-padding-y:               0;
$dropdown-border-radius:           0;
$dropdown-item-min-height:         40px;
$dropdown-item-padding-y:          ( $spacer / 3.75 );
$dropdown-item-padding-x:          ( $spacer / 2 );
$dropdown-link-color:              $gray-400;
$dropdown-box-shadow:              none;
$dropdown-link-hover-color:        $gray-400;
$dropdown-link-hover-bg:           $gray-100;
$dropdown-link-active-color:       $gray-400;
$dropdown-link-active-bg:          $gray-100;
$dropdown-beak-border-width:       15px;
$dropdown-beak-border-style:       solid;
$dropdown-beak-border-color:       $white;
$dropdown-beak-box-shadow:         none;
$dropdown-menu-offset:             ( $dropdown-beak-border-width - 3px );


// Alerts
$alert-padding-y:                   ( $spacer / 2 );
$alert-padding-x:                   ( $spacer / 2 );
$alert-margin-bottom:               ( $spacer / 2 );
$alert-border-radius:               0;
$alert-link-font-weight:            400;
$alert-border-width:                0;
$alert-bg-level:                    0;
$alert-border-level:                0;
$alert-color-level:                 0;


// Close
$close-font-size:                   14px;
$close-font-weight:                 400;
$close-color:                       $white;
$close-text-shadow:                 none;


// Banner
$banner-bg:                         $gray-100;
$banner-content-max-width-xs:       260px;
$banner-content-max-width-md:       340px;


// Modals
$modal-inner-padding:                ( $spacer / 2 );
$modal-inner-padding-md:             $spacer;
$modal-content-border-width:         0;
$modal-content-border-radius:        0;
$modal-content-box-shadow-xs:        0 0 4px rgba($blue-500, .22);
$modal-content-box-shadow-sm-up:     0 0 4px rgba($blue-500, .22);
$modal-backdrop-bg:                  $gray-500;
$modal-backdrop-opacity:             .7;
$modal-header-padding:               $modal-inner-padding;
$modal-header-padding-md:            $modal-inner-padding-md;
$modal-header-holder-logo-width:     90px;
$modal-lg:                           882px;
$modal-md:                           572px;
$modal-sm:                           572px;
$modal-dialog-margin:                ( $spacer / 2 );
$modal-dialog-margin-y-sm-up:        ( $spacer / 2 );
$modal-logo-holder-width:            150px;
$modal-logo-holder-height:           32px;


// Z-indexes
$zindex-alert:                       1000;
$zindex-body-overlayer:              2000;
$zindex-body-overlayer-full:         3000;
$zindex-body-overlayer-visible:      3010;
$zindex-modal-backdrop:              3000;
$zindex-modal:                       3010;
$zindex-dropdown-menu:               3001;
$zindex-dropdown-menu-input:         9;
$zindex-dropdown-menu-input-beak:    -2;
$zindex-input-group-btn:             9;
$zindex-input-group-form-control:    2;
$zindex-placeloader-holder:          10;
$zindex-form-file-input:             -1;
$zindex-graph-tabs-active-after:     99;
$zindex-tooltip-content:             3000;
$zindex-tooltip-beak:                3001;


// Card
$card-bg:                           $white;
$card-border-width:                 0;
$card-border-radius:                0;
$card-spacer-x:                     0;
$card-spacer-y:                     $spacer;
$card-img-max-height:               168px;
$card-img-border-width-md:          8px;
$card-img-border-width-xl:          10px;
$card-img-border-color:             $gray-050;

$card-tile-height:                  180px;
$card-tile-img-max-height:          80px;
$card-widget-img-max-width:         215px;
$card-widget-img-small-max-width:   90px;

$card-list-item-dot-size:           10px;


// Pagination
$pagination-padding-y:              0;
$pagination-padding-x:              0;
$pagination-color:                  $gray-400;
$pagination-border-width:           0;
$pagination-link-width:             40px;
$pagination-link-height:            40px;
$pagination-link-line-height:       $pagination-link-height;
$pagination-link-radius:            2px;

$pagination-hover-color:            $primary-dark;
$pagination-hover-bg:               $gray-100;
$pagination-focus-color:            $pagination-hover-color;
$pagination-hover-decoration:       underline;
$pagination-focus-box-shadow:       none;
$pagination-active-bg-gradient:     linear-gradient(90deg, $gradient-green-light, $gradient-green-light);


// Placeloader
$placeloader-circle-color:          $primary;
$placeloader-circle-size:           6px;
$placeloader-circle-radius:         0;


// Tips
$tip-height-small:                  80px;
$tip-min-height-big:                180px;


// Indicators
$indicator-width:                   10px;
$indicator-height:                  6px;


// Tooltip
$tooltip-beak-border-width:         15px;
$tooltip-beak-border-style:         solid;
$tooltip-beak-shadow:               -2px 2px 2px rgba($blue-500, .1);
$tooltip-content-offset:            (( $spacer / 3 ) + ( $tooltip-beak-border-width - 3px ) );
$tooltip-content-border-radius:     0;
$tooltip-content-box-shadow:        0 0 4px rgba($blue-500, .22);


// Landing page
$landing-page-picture-height-mobile:              320px;
$landing-page-process-arrow-width-mobile:         46px;
$landing-page-process-arrow-height-mobile:        18px;
$landing-page-process-arrow-width-desktop:        70px;
$landing-page-process-arrow-height-desktop:       24px;
