/*
 -  Variables
 -
 -
 */


// Colors pallete
$blue-050:                         #56cefe;                    // Blue level 1
$blue-100:                         #00b7ff;                    // Blue level 2
$blue-200:                         #00a6ea;                    // Blue level 3
$blue-300:                         #0096d1;                    // Blue level 4
$blue-400:                         #00719e;                    // Blue level 5
$blue-500:                         #000b30;                    // Blue level 6

$gray-000:                         #fff;                       // Gray level 0
$gray-050:                         #fafafa;                    // Gray level 1
$gray-100:                         #bdcad6;                    // Gray level 2
$gray-150:                         #ededed;                    // Gray level 3
$gray-200:                         #8c9cab;                    // Gray level 4
$gray-300:                         #b3b3b3;                    // Gray level 5
$gray-400:                         #808080;                    // Gray level 6
$gray-500:                         #3d4549;                    // Gray level 7
$gray-600:                         #272829;                    // Gray level 8
$gray-1000:                        #000;                       // Gray level 100
$white:                            $gray-000;
$black:                            $gray-1000;

$font-header:                      #2b4762;
$font-text:                        #2b4762;
$font-secondary:                   #919191;

$font-text-public:                 #496480;

$text-muted:                       $font-secondary;

$primary:                          #0097ff;                    // Primary color
$primary-dark:                     #0088e5;
$primary-darken:                   #0353ce;
$secondary-lighten:                #926ece;                    // Secondary color
$secondary:                        #7355a6;
$secondary-dark:                   darken($secondary, 5%);
$success:                          #31b468;                    // Success color
$success-lighten:                  lighten($success, 5%);
$success-dark:                     darken($success, 5%);
$success-darken:                   darken($success, 10%);
$warning:                          #eda82f;                    // Warning color
$warning-lighten:                  lighten($warning, 10%);
$warning-dark:                     darken($warning, 15%);
$warning-darken:                   darken($warning, 25%);
$danger:                           #d0021b;                    // Danger color
$danger-lighten:                   lighten($danger, 10%);
$danger-dark:                      darken($danger, 15%);
$danger-darken:                    darken($danger, 25%);
$positive:                         #0aa374;                    // Positive color
$info:                             $secondary;                   // Info color
$light:                            #eef2f6;                    // Light color
$light-dark:                       darken($light, 15%);
$light-darken:                     darken($light, 25%);
$disabled:                         #f7f9fb;                    // Disabled color

$gradient-blue-light:              $primary;                     // Gradient blue light
$gradient-blue:                    #0583da;                    // Gradient blue
$gradient-blue-dark:               $primary-darken;              // Gradient blue dark
$gradient-blue-darken:             $blue-500;                    // Gradient blue darken
$gradient-violet-light:            $secondary;                   // Gradient violet light

$gradient-bg-violet:               linear-gradient(143deg, $gradient-violet-light 0%, $gradient-blue-darken 100%);                   // Gradient violet light

$icons-primary:                    $secondary;
$icons-secondary:                  #bdcad6;
$icons-active:                     $primary;
$icons-inactive:                   $gray-200;
$icons-hover:                      $font-text;
$icons-green:                      #39b76e;

$body-bg:                          #eef2f6;
$body-bg-lp:                       #f3f4f5;
$body-bg-lp-second:                #f8f8f8;
$body-color:                       $font-text;

$border-color:                     #bdcad6;
$box-shadow-color:                 #000d16;

// Config global
$enable-shadows:                   true;
$animation-speed:                  100ms;


$grid-breakpoints: (
  xs: 0,
  md: 768px,
  xl: 992px,
  lg: 1366px
) !default;
$grid-columns:                     12;
$grid-gutter-width:                20px;
$spacer:                           $grid-gutter-width;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ( $spacer / 4 ),
  2: ( $spacer / 2 ),
  3: $spacer,
  4: ( $spacer * 1.5 ),
  5: ( $spacer * 2 ),
  6: ( $spacer * 3 ),
  7: ( $spacer * 4 )
), $spacers);
$sizes: () !default;
$sizes: map-merge((
  10: 10%,
  15: 15%,
  20: 20%,
  25: 25%,
  28: 28%,
  30: 30%,
  34: 34%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
  auto: auto
), $sizes);

$body-min-width:                   320px;
$body-max-width:                   1366px;


// Typography
$font-family-sans-serif:           'roboto', arial;
$font-size-base-public:            1rem;
$line-height-base-public:          ( 28 / 16 );

$font-family-sans-serif-secured:   'roboto_mono', arial;
$font-size-base:                   .875rem;
$line-height-base:                 ( 24 / 14 );

$small-font-size:                  .75rem;
$line-height-sm:                   ( 16 / 12 );
$large-font-size:                  1rem;
$line-height-lg:                   ( 16 / 16 );
$perex-font-size:                  1.125rem;

$h1-font-size:                     1.875rem;
$h1-font-size-snd:                 1rem;
$h1-font-size-public-xs:           2.25rem;
$h1-font-size-public-md:           2.25rem;
$h1-font-size-public:              3.75rem;
$h2-font-size:                     1.125rem;
$h2-font-size-snd:                 .8125rem;
$h2-font-size-public-xs:           1.875rem;
$h2-font-size-public-md:           1.875rem;
$h2-font-size-public:              2.25rem;
$h3-font-size:                     .875rem;
$h3-font-size-public-xs:           1.125rem;
$h3-font-size-public-md:           1.25rem;
$h3-font-size-public:              1.5rem;
$h4-font-size:                     .8125rem;
$h5-font-size:                     .8125rem;
$h6-font-size:                     .8125rem;
$h4-font-size-public:              1rem;
$headings-color:                   $font-header;
$headings-line-height:             ( 40 / 30 );
$headings-font-weight:             400;
$headings-margin-bottom:           ( $spacer * 1.5 );

$blockquote-small-color:           $gray-300 !default;
$blockquote-font-size:             $font-size-base !default;

$paragraph-margin-bottom:          ( $spacer * 2 );

$list-bullet-size:                 3px;
$lists-margin-bottom:              $spacer;
$list-decimal-padding-left:        ( $spacer * 2.25 );

$circular-number-list-size:        48px;

$checklist-lp-before-size:         50px;

$border-radius:                    5px;
$box-shadow:                       0 2px 5px 0 rgba($body-color, .16);
$box-shadow-circle:                -10px 20px 56px 0 rgba($box-shadow-color, .15);

$box-shadow-carousel:              -15px 20px 30px 0 rgba(0, 9, 16, .1);

// Links
$link-color:                       $primary;
$link-decoration:                  none;
$link-hover-color:                 $link-color;
$link-hover-decoration:            underline;


// Icons
$icon-path:                        '../fonts/icons';
$icon-size:                        1.25rem;
$icon-size-small:                  .625rem;
$icon-size-large:                  1.625rem;
$icon-size-px:                     20px;
$icon-size-small-px:               10px;
$icon-size-large-px:               26px;


$images-path:                      '../../../assets/images/';


// Header
$header-bg:                        $body-bg;
$header-height:                    100px;


// Logo
$logo-width-mobile:                80px;
$logo-height-mobile:               32px;
$logo-height-tablet:               41px;


// Menu
$menu-width:                       40px;
$menu-height:                      50px;
$menu-toggle-line-width:           24px;
$menu-toggle-line-width-rotate:    20px;
$menu-toggle-line-height:          4px;
$menu-toggle-line-offset:          5px;
$menu-toggle-line-center:          ( ( $menu-width - $menu-toggle-line-width ) / 2 );


// Footer
$footer-bg:                        $body-bg;
$footer-height-tablet:             220px;


// Badges
$badge-font-size:                  .75rem;
$badge-font-weight:                400;
$badge-padding-y:                  ( $spacer / 7.5 );
$badge-padding-x:                  ( $spacer / 4 );


// Close
$close-font-size:                   14px;
$close-font-weight:                 400;
$close-color:                       $white;
$close-text-shadow:                 none;


// Modals
$modal-backdrop-bg:                  $body-bg;
$modal-backdrop-opacity:             .8;


// Z-indexes
$zindex-alert:                       1000;
$zindex-body-overlayer:              2000;
$zindex-body-overlayer-full:         3000;
$zindex-body-overlayer-visible:      3010;
$zindex-header:                      2010;
$zindex-footer:                      2;
$zindex-lp:                          1020;
$zindex-modal-backdrop:              3000;
$zindex-modal:                       3010;
$zindex-datepicker-content:          3020;
$zindex-dropdown-menu:               3001;
$zindex-dropdown-menu-input:         9;
$zindex-dropdown-menu-input-beak:    -2;
$zindex-input-group-btn:             9;
$zindex-input-group-form-control:    2;
$zindex-custom-control:              9;
$zindex-placeloader-holder:          10;
$zindex-form-file-input:             -1;
$zindex-field-wrapper-control-label: 5;
$zindex-graph-tabs-active-after:     99;
$zindex-graphs-svg:                  1995;
$zindex-tooltip-content:             3000;
$zindex-tooltip-beak:                3001;
$zindex-drop-zone-bg-image:          -1;
$zindex-tr-detail:                   1;
$zindex-lp-video-text:               10;
$zindex-lp-video-control:            1;
$zindex-lp-bg-two-half:              1;
$zindex-lp-bg-two-half-after:        -1;
$zindex-lp-picure-section:           1;
$zindex-lp-picture-bg:               -1;
$zindex-drop-zone:                   1;
$zindex-card-blog-img:               -1;


// Pagination
$pagination-padding-y:              ( $spacer / 4 );
$pagination-padding-x:              ( $spacer / 4 );
$pagination-color:                  $link-color;
$pagination-bg:                     transparent;
$pagination-border-width:           0;
$pagination-line-height:            1;

$pagination-hover-bg:               transparent;
$pagination-focus-box-shadow:       none;

$pagination-active-color:           $font-text;
$pagination-active-bg:              transparent;
$pagination-disabled-bg:            transparent;


// Placeloader
$placeloader-circle-color:          $primary;
$placeloader-circle-size:           6px;
$placeloader-circle-radius:         0;


// Tips
$tip-height-small:                  80px;
$tip-min-height-big:                180px;


// Landing page
$landing-page-video-content-height-mobil:            180px;
$landing-page-video-content-height-tablet:           340px;
$landing-page-video-content-height-desktop:          680px;

$landing-page-picture-bg-height-mobile:              125%;
$landing-page-picture-bg-height-tablet:              750px;
$landing-page-picture-bg-height-laptop:              720px;
$landing-page-picture-bg-height-desktop:             1000px;

$numerical-list-lp-numb-size:                        26px;
$landing-page-link-next-section-size:                48px;


// Drop zone
$drop-zone-border-color:       $light-dark;
$drop-zone-border-size:        3px;
$drop-zone-border-dash-width:  15px;
$drop-zone-border-gap-width:   15px;


// Carousel compare
$carousel-compare-price:       $secondary;
$carousel-compare-border-left: 1px solid rgba(151, 151, 151, .3);

// Accordion
$accordion-active-shadow:      0 10px 30px 0 rgba($body-color, .2);
$accordion-toggle-icon-size:   20px;

$accordion-padding:            ( $spacer * 2 );
$accordion-padding-right-xs:   ( $spacer + $accordion-toggle-icon-size + $spacer );
$accordion-padding-right:      ( $accordion-padding + $accordion-toggle-icon-size + $accordion-padding );
