<pxe-layout-container pageTitle="Nové odběrné místo">
    <div class="row mb-6">
        <div class="col-12 col-xl-10 offset-xl-1">
            <pxe-progress-bar [config]="stepperProgressConfig"></pxe-progress-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-1 text-center mb-4">
            <img
                src="/assets/images/illustrations/sign.svg"
                class="mb-2"
                alt="sign">
            <h2 *ngIf="showWelcome"
                class="mb-0">
                Vítejte v aplikaci PARC4U.
            </h2>
        </div>
        <div class="col-12 col-xl-8 offset-xl-2 text-center">
            <p>V následujících krocích budeme potřebovat několik informací od vás, abychom vám mohli nabídnout ty nejlepší nabídky. Pro vyplnění všech potřebných informací vám doporučujeme připravit si následující dokumenty.</p>
            <ul class="check-list ml-xl-5 text-left">
                <li>Fakturu se současným dodavatelem (jedno jakého data).</li>
                <li>Ověřte způsob výpovědi vaší smlouvy, v případě, že si nebude jistí zanechte přednastavenou hodnotu.</li>
                <li>Pro uzavření smlouvy budete potřebovat váš mobilní telefon.</li>
            </ul>
            <p>
                Je-li vše jasné pokračujte tlačítkem "Vyplnit"
            </p>
            <lnd-button
                type="primary"
                (action)="routerToNextStep($event);"
                label="Vyplnit">
            </lnd-button>
        </div>
    </div>
</pxe-layout-container>

