<div class="container-fluid container-fluid--max-width">
    <div class="container-content container-content--public">
        <pxe-layout-container pageTitle="COOKIES POLICY" [breadcrumbItemsSimple]="breadcrumbItemsSimple">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    <div class="page-box">
                        <div class="row">
                            <div class="col-12">
                                <ol class="decimal-list upper-roman">
                                    <li>
                                        <h2 class="decimal-list__item-title">Co jsou cookies a proč je používáme?</h2>
                                        <ol>
                                            <li>
                                                Cookie je informace, která se do přístroje koncového uživatele ukládá jako malý textový
                                                soubor kdykoliv uživatel navštíví www stránku. Je to informace, která je nutná k tomu,
                                                aby www stránky správně fungovaly, a tuto techniku využívá většina internetových stránek.
                                                Cookies se mimo jiné používají ke správnému určení délky návštěvy na stránce. Cookies
                                                napomáhají pamatovat si vaše aktivity a preference po určitou dobu, abyste je nemuseli
                                                znovu vkládat, když se na stránky vracíte nebo přecházíte ze stránky na stránku.
                                                Informace jsou využívány pro účely optimalizace poskytovaných služeb prostřednictvím těchto webových stránek.
                                            </li>
                                            <li>
                                                Uživatelé se mohou rozhodnout, zda cookies přijmou či odmítnou. Toto rozhodnutí lze
                                                kdykoli změnit v nastavení prohlížeče. Další informace jsou uvedeny níže.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h2 class="decimal-list__item-title">Souhlas s používáním cookies</h2>
                                        <ol>
                                            <li>
                                                Používáním těchto webových stránek souhlasíte s užitím cookies. Můžete je vymazat nebo
                                                předem odmítnout jejich používání volbou v příslušném nastavení ve vašem prohlížeči.
                                                Pokud tak však učiníte, můžete být nuceni nastavovat některé volby manuálně pokaždé,
                                                když navštívíte stránky, a některé služby a funkce nemusí fungovat.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h2 class="decimal-list__item-title">Jaké typy cookies se na stránce používají?</h2>
                                        <ol>
                                            <li>
                                                <strong>Funkční Cookies</strong><br>
                                                    Dočasné (relační) cookies se používají během návštěvy stránky.
                                                    Tyto cookies jsou zapotřebí k využívání personalizovaných sekcí služeb našich stránek.
                                                    Díky nim můžeme zpracovat registraci a po přihlášení uživatele ji přiřadit k jeho profilu.
                                                    Když uživatel internetovou stránku opustí, relační cookies se automaticky smažou.

                                            </li>
                                            <li>
                                                <strong>Trvalé cookies</strong><br>
                                                Trvalé cookies slouží kupříkladu k záznamu počtu návštěv stránky a
                                                uživatelů. Používají se k analýze dat a POWER EXCHANGE CENTRAL EUROPE, a.s. je
                                                může využít pro statistické účely a ve zprávách. Toto hodnocení se používá k optimalizaci
                                                obsahu a ke zlepšení funkčnosti internetové stránky (oprava chyb).
                                                Hodnocení se provádí pomocí analytických služeb poskytovaných třetími stranami. IP adresy uživatelů jsou anonymizované.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h2 class="decimal-list__item-title">Správa nastavení cookies</h2>
                                        <ol>
                                            <li>
                                                Cookies můžete z vašeho počítače kdykoliv vymazat nebo je blokovat.
                                            </li>
                                            <li>
                                                <strong>Vymazání cookies</strong><br>
                                                Cookies můžete vymazat ve vašem prohlížeči, zpravidla v rámci nastavení v „historii“ navštívených stránek.
                                            </li>
                                            <li>
                                                <strong>Blokování cookies</strong><br>
                                                Umísťování cookies na váš počítač můžete zablokovat. V takovém případě bude funkcionalita těchto stránek omezena. 
                                                Níže je uvedeno několik příkladů pro nejpopulárnější prohlížeče:
                                            </li>
                                            <li>
                                                <strong>Internet Explorer</strong><br>
                                                <a
                                                    target="_blank"
                                                    href="https://support.microsoft.com/cs-cz/help/17442/windows-internet-explorer-delete-manage-cookies"
                                                    class="text-break">
                                                    https://support.microsoft.com/cs-cz/help/17442/windows-internet-explorer-delete-manage-cookies
                                                </a>
                                            </li>
                                            <li>
                                                <strong>Firefox</strong><br>
                                                Klikněte na tlačítko Menu nahoře a zvolte Možnosti. Po volbě nabídky Soukromí otevře menu Historie rozbalovací seznam, 
                                                z něhož zvolte možnost Použít vlastní nastavení pro historii. Tam volte své preference kliknutím na Přijmout cookies.
                                            </li>
                                            <li>
                                                <strong>Safari</strong><br>
                                                <a
                                                    target="_blank"
                                                    href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"
                                                    class="text-break">
                                                    https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences
                                                </a>
                                            </li>
                                            <li>
                                                <strong>Chrome</strong><br>
                                                <a
                                                    target="_blank"
                                                    href="https://support.google.com/accounts/answer/61416"
                                                    class="text-break">
                                                    https://support.google.com/accounts/answer/61416
                                                </a>
                                            </li>
                                            <li>
                                                Rozšíření prohlížeče <strong>Google Analytics Opt-out</strong>. Chcete-li Google Analytics zamezit ukládání cookies,
                                                nainstalujte si toto rozšíření prohlížeče.
                                            </li>
                                            <li>
                                                Pokud na svém koncovém zařízení používáte jiné prohlížeče, najděte si podrobnosti v nápovědě.
                                                V případě, že výše uvedené odkazy nejsou funkční, najděte si podrobnosti v nápovědě vašeho prohlížeče
                                                nebo vyhledejte způsob nastavení přes vyhledávač. Provozovatel těchto www stránek upozorňuje,
                                                že tyto zásady používání cookies může kdykoli měnit a vyhrazuje si příslušné právo.
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
