$progress-item-max-width:          250px;
$progress-bullet-margin-y:         2px;
$progress-bullet-border-width:     3px;
$progress-bullet-border-style:     solid;
$progress-bullet-border-color:     $green-200;
$progress-label-offset:            6px;
