/*
 -  Request card
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import '../supply-point/supply-point.component.scss';

.request-card {
	margin-bottom: $spacer;
	background-color: $white;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	&__inner {
		height: 100%;
		padding: ( $spacer * 1.5 ) $spacer;

		// Media queries
		@include media-breakpoint-up(md) {
			padding: ( $spacer * 2.5 ) ( $spacer * 3 ) ( $spacer * 2.5 ) ( $spacer * 1.5 );
		}
	}

	&__title,
	&__price {
		font-size: $supply-point-label-font-size;
		line-height: $supply-point-label-line-height;
	}

	&__icon {
		display: block;
		padding-top: ( ( $supply-point-title-line-height-px - $supply-point-icon-font-size ) / 2 );
		color: $icons-primary;
		font-size: $supply-point-icon-font-size;
	}

	&__title {
		display: block;
		text-transform: uppercase;

		// Media queries
		@include media-breakpoint-up(md) {
			display: inline-block;
			max-width: 100%;
			margin-right: ( $spacer * 1.25 );
			font-size: $supply-point-title-font-size;
			line-height: $supply-point-title-line-height;
		}
	}

	&__title-subtext {
		display: inline-block;
	}

	&__addon {
		display: flex;
		flex-direction: column;
		align-items: center;

		// Media queries
		@include media-breakpoint-up(xl) {
			padding-top: ( ( $supply-point-title-line-height-px - $btn-height ) / 2 );
		}
	}
}
