<ng-template #supplierTemplate>
    <pxe-supplier [configSupplier]="configSupplier"></pxe-supplier>
</ng-template>

<ng-template #agreementTemplate>
    Souhlasím se <a target="_blank" [href]="">Obchodními podmínkami účasti na Trhu PARC4U</a> a beru na vědomí
    <a target="_blank" [href]="">Informaci o zpracování osobních údajů</a>.
</ng-template>

<div class="landing-page">
    <div class="container-fluid container-fluid--max-height container-fluid--light">
        <div class="section section--picture-bg">
            <div class="section-picture-text">
                <div class="row px-3 px-md-0">
                    <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-1">
                        <h1 class="h1--public mb-4">
                            Přechod k novému dodavateli energií je konečně jednoduchý
                        </h1>
                        <p>
                            S PARC4U získáte dlouhodobě výhodné smlouvy energií na pár kliknutí. Služba&nbsp;zajišťuje i navazující smlouvy bez starostí.
                        </p>
                        <lnd-button
                            label="Založit účet"
                            type="primary">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fluid--max-height container-fluid--light">
        <div class="section how-it-work section--picture-bg-overlap">
            <div class="row px-3 px-md-0">
                <div class="col-12 col-md-8 offset-md-2 col-xl-10 offset-xl-1">
                    <h2 class="h2--public mb-5">
                        Jak to funguje
                    </h2>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-xl-10 offset-xl-1">
                    <ol class="numerical-list-lp">
                        <li>
                            <h3 class="h3--public mb-3">Zaregistrujete si své odběrné místo</h3>
                            <p>Stačí zadat základní informace o vašem odběrném místě a současném dodavateli.</p>
                        </li>
                        <li>
                            <h3 class="h3--public mb-3">Vyberete si nejvýhodnější nabídku</h3>
                            <p>PARC4U vám ukáže přehledný seznam nejvýhodnějších nabídek od námi prověřených společností.</p>
                        </li>
                        <li>
                            <h3 class="h3--public mb-3">Vše vyřídíte on-line na pár kliknutí</h3>
                            <p>Novou  smlouvu uzavřete SMS podpisem a zasláním ověřovací platby ve výši 1 Kč.</p>
                        </li>
                        <li>
                            <h3 class="h3--public mb-3">Služba PARC4U vám bude sloužit i nadále</h3>
                            <p>Ceny za energie se stále mění. PARC4U vám kdykoliv pomůže dodavatele znovu změnit.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--picture-half">
        <div class="container-fluid container-fluid--max-height">
            <div class="row no-gutters">
                <div class="col-12 col-xl-6">
                    <div class="section-picture-holder">
                        <img
                            class="section-picture"
                            src="/assets/images/landing-page/picture-dog.jpg"
                            srcset="
                                /assets/images/landing-page/picture-dog.jpg,
                                /assets/images/landing-page/picture-dog.jpg 2x"
                            title="Cesta k nejlepšímu dodavateli může být dlouhá. Zkraťte si ji přes PARC4U"
                            alt="Cesta k nejlepšímu dodavateli může být dlouhá. Zkraťte si ji přes PARC4U">
                    </div>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-1">
                    <div class="section-picture-text px-3 px-md-0">
                        <h2 class="h2--public">
                            Účty za energii si prostě ochočíte
                        </h2>
                        <p class="mb-4">S PARC4U si spolehlivého dodavatele vybere každý. Je to účinný nástroj, pomocí kterého je velmi jednoduché najít tu nejlepší nabídku.
                            S PARC4U mají uživatelé také jistotu, že se vyhnou tzv. energošmejdům, nepoctivým obchodníkům s energiemi, kteří výhody sice slibují,
                            ale nakonec nabídnou jen nevýhodné smlouvy se skrytými poplatky.</p>
                        <lnd-button
                            label="Založit účet"
                            type="primary">
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fluid--max-height">
        <div class="section section--video">
            <div class="section-video-holder"
                 [class.cursor-pointer]="isVideoPlaying">
                <video
                    #video
                    (click)="isVideoPlaying && toggleVideo($event)"
                    poster="/assets/images/landing-page/picture-fallback.jpg"
                    class="section-video"
                    loop
                    muted
                    preload="auto">
                    <source src="/assets/images/landing-page/lp-video.webm" type="video/webm">
                    <source src="/assets/images/landing-page/lp-video.mp4" type="video/mp4">
                    <img src="/assets/images/landing-page/picture-fallback.jpg" alt="parc4u - obrázek laptopu s aplikací">
                    Váš prohlížeč nepodporuje zobrazení videa
                </video>
                <div class="section-video-control d-md-none">
                    <lnd-button
                        *ngIf="!isVideoPlaying"
                        type="icon"
                        icon="icon--triangle-right"
                        variant="icon"
                        customClass="btn-video-play"
                        (action)="toggleVideo($event)"
                    >
                    </lnd-button>
                </div>
            </div> 
            <div class="section-video-text">
                <div class="row w-100 ml-0 text-center">
                    <div *ngIf="!isVideoPlaying"
                         class="col-12 col-md-6 offset-md-3">
                        <h2 class="h2--public mb-4">
                            PARC4U – snadná cesta<br class="d-none d-xl-block">
                            k&nbsp;novému dodavateli energií
                        </h2>
                        <div class="section-video-control d-none d-md-block">
                            <lnd-button
                                type="icon"
                                icon="icon--triangle-right"
                                variant="icon"
                                customClass="btn-video-play"
                                (action)="toggleVideo($event)"
                            >
                            </lnd-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--picture-half shortcut">
        <div class="container-fluid container-fluid--max-height">
            <div class="row no-gutters">
                <div class="col-12 col-xl-6 offset-xl-1 order-xl-2">
                    <div class="section-picture-holder">
                        <img
                            class="section-picture"
                            src="/assets/images/landing-page/picture-man.jpg"
                            srcset="
                                /assets/images/landing-page/picture-man.jpg,
                                /assets/images/landing-page/picture-man.jpg 2x"
                            title="Cesta k nejlepšímu dodavateli může být dlouhá. Zkraťte si ji přes PARC4U"
                            alt="Cesta k nejlepšímu dodavateli může být dlouhá. Zkraťte si ji přes PARC4U">
                            <span class="section-picture-overflow-text-holder">
                                <blockquote class="section-picture-overflow-text h3--public">
                                    &bdquo;Ochráníme vás&nbsp;<br>
                                    &nbsp;před energošmejdy&ldquo;
                                </blockquote>
                            </span>
                    </div>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-1 order-xl-1">
                    <div class="section-picture-text px-3 px-md-0">
                        <h2 class="h2--public">
                            Přečtěte si o naší filosofii
                        </h2>
                        <p>Na českém trhu poskytovatelů energií se opravdu vyznáme. PXE je komoditní burza a naše platforma PARC,
                            na které vybírají nejvýhodnější nabídky tzv. velcí hráči - firmy, města a obce, funguje již několik let.
                            Chtěli jsme stejné výhody poskytnout všem, proto jsme pro vás připravili službu PARC4U.</p>
                        <blockquote class="mb-1">&bdquo;PXE reaguje na četné žádosti lidí, kteří chtěli nakupovat elektřinu a plyn přímo na burze. To nám sice stávající legislativa neumožňuje,
                            ale vyhověli jsme zákazníkům pomocí neburzovní služby, která zaručuje transparentnost nákupu i praktické výhody pro fyzické odběratele a živnostníky.&ldquo;</blockquote>
                            <p>David Kučera, generální sekretář PXE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pxe-map-coverage
        [supplierTemplate]="supplierTemplate"
    >
    </pxe-map-coverage>
    <div class="container-fluid container-fluid--max-height container-fluid--light">
        <div class="section section-help">
            <div class="row px-3">
                <div class="col-12 col-xl-8 offset-xl-2 mb-3">
                    <h2 class="h2--public">Často kladené dotazy</h2>
                </div>
                <div class="col-12 col-xl-8 offset-xl-2 mb-3">
                    <lnd-accordion [accordionItems]="accordionItems" title="Často kladené dotazy"></lnd-accordion>
                </div>
                <div class="col-12 text-center">
                    <lnd-button
                        label="Další dotazy"
                        type="secondary">
                    </lnd-button>
                </div>
            </div>
        </div>
    </div>
    <div class="section stay-in-touch pb-4">
        <div class="container-fluid container-fluid--max-height">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <div class="px-3 px-md-0">
                        <h2 class="h2--public">
                            Chci mít také přístup k&nbsp;jiným cenám, možnost&nbsp;měnit dodavatele jen na&nbsp;jedno kliknutí a&nbsp;zbavit se starostí s&nbsp;převodem.
                        </h2>
                        <pxe-registration-form
                            [agreementTemplate]="agreementTemplate"
                            [formFields]="formFields"
                            [formLoading]="formLoading"
                            [formSent]="formSent"
                            [globalError]="globalError"
                            [fieldError]="fieldError"
                            (submitAction)="submitForm($event)"
                            [lightTheme]="true"
                        ></pxe-registration-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showStickyButton"
        class="fixed-bottom fixed-bottom--footer-indentation">
        <lnd-button
            label="Zpět do aplikace"
            type="primary"
            size="lg"
            icon="icon--triangle-right"
            iconPosition="right"
            customClass="btn-back-to-app"
            (action)="click($event)">
        </lnd-button>
    </div>
</div>
