<div class="landing-page">
    <div class="section">
        <div class="container-fluid container-fluid--max-width">
            <div class="row align-items-md-center">
                <div class="col-12 col-md-5 col-xl-6 order-md-2 mb-3 mb-md-0">
                    <div class="section-video-holder text-center">
                        <img class="img-fluid" src="/assets/images/landing-page/lp-picture-home.png" alt="prezencni video" title="Prezenční video" />
                    </div>
                    <div class="section-video-text order-md-1">
                        <div class="row w-100 ml-0 text-center">
                            <div class="col-12">
                                <lnd-button
                                    type="icon"
                                    icon="icon--triangle-right"
                                    variant="icon"
                                    customClass="btn-video-play mb-2"
                                >
                                </lnd-button>
                                <h2 class="h3--public mb-0">
                                    Co je parc4u
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 offset-md-1 offset-xl-0">
                    <h1 class="h1--public mb-4">Neplýtvejte energií na převody energií!</h1>
                    <p>
                        Vyřešíme to za vás. Nabídneme vám jen solidní dodavatele, výhodnou cenu a postaráme se o smlouvu i převod. A příští rok zase. <br><span class="text-secondary">parc4u = elektřina a plyn bez starostí.</span>
                    </p>
                    <div class="text-center text-md-left">
                        <lnd-button
                            label="Chci vidět nabídky"
                            type="gradient-primary"
                            customClass="btn-public btn--icon-right"
                            icon="icon--arrow-right"
                            iconPosition="right"
                        >
                        </lnd-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section pt-3 pt-md-0 pb-xl-6">
        <div class="container-fluid container-fluid--max-width">
            <div class="row text-center mb-xl-6 text-md-left">
                <div class="col-md-4 mb-6 mb-md-0">
                    <div class="row">
                        <div class="col-xl-3 mb-3">
                            <img class="img-fluid" src="/assets/images/illustrations/papers.svg" alt="PARC4U - O smlouvy se už nikdy nemusíte starat" title="PARC4U - O smlouvy se už nikdy nemusíte starat">
                        </div>
                        <div class="col-xl-9">
                            <h3 class="h3--public">O smlouvy se už nikdy nemusíte starat</h3>
                            <a href="#">S čím vám parc4u pomůže?</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-6 mb-md-0">
                    <div class="row">
                        <div class="col-xl-3 mb-3">
                            <img class="img-fluid" src="/assets/images/illustrations/computer.svg" alt="PARC4U - Vše zdarma, z domu a bez papírování" title="PARC4U - Vše zdarma, z domu a bez papírování">
                        </div>
                        <div class="col-xl-9">
                            <h3 class="h3--public">Vše zdarma, z domu a bez papírování</h3>
                            <a href="#">Jak to funguje?</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-6 mb-md-0">
                    <div class="row">
                        <div class="col-xl-3 mb-3">
                            <img class="img-fluid" src="/assets/images/illustrations/calendar.svg" alt="PARC4U - Každý rok vám zajistíme výhodnou cenu" title="PARC4U - Každý rok vám zajistíme výhodnou cenu">
                        </div>
                        <div class="col-xl-9">
                            <h3 class="h3--public">Každý rok vám zajistíme výhodnou cenu</h3>
                            <a href="#">Více o cenách</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none d-xl-flex">
                <div class="col-12 text-center">
                    <a class="link-next-section">
                        <span class="icon icon--arrow-right link-next-section__icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--light-gray">
        <div class="container-fluid container-fluid--max-width">
            <h2 class="h4--public text-secondary text-center text-xl-left">S čím vám pomůžeme</h2>
            <div class="card-tiles">
                <div class="row no-gutters card-tiles__inner">
                    <div *ngFor="let item of cardConfig" class="col-md-4 card-tile__item" [ngClass]="item.customClass">
                        <lnd-card
                            type="block"
                            [data]="item"
                        >
                        </lnd-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--white">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <pxe-carousel-references></pxe-carousel-references>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--bg-two-half section--dark-gray-left-half section--gradient-violet-right-half">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="col-xl-6">
                    <div class="section__half section__half--dark-gray">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 col-xl-10 offset-xl-0">
                                <h2 class="h4--public text-secondary">Jak to funguje</h2>
                                <h3 class="h2--public">3 snadné kroky</h3>
                                <ol class="circular-number-list">
                                    <li>
                                        <h4 class="h3--public">Registrace</h4>
                                        <p class="mb-0">K registraci stačí jen e-mailová adresa, nic víc. Pošleme vám heslo do mailu a tím se přihlásíte.</p>
                                    </li>
                                    <li>
                                        <h4 class="h3--public">Výběr nabídky</h4>
                                        <p class="mb-0">Služba parc4u vám ukáže přehledný seznam nejvýhodnějších nabídek od námi prověřených společností.</p>
                                    </li>
                                    <li>
                                        <h4 class="h3--public">Smlouva</h4>
                                        <p class="mb-0">Novou smlouvu uzavřete SMS podpisem a zasláním ověřovací platby ve výši 1 Kč. Smlouvu lze kdykoli vypovědět.</p>
                                    </li>
                                </ol>
                                <lnd-button
                                    label="Chci vidět nabídky"
                                    type="gradient-primary"
                                    customClass="btn-public btn--icon-right"
                                    icon="icon--arrow-right"
                                    iconPosition="right">
                                </lnd-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="section__half section__half--gradient-violet">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <h2 class="h2--public text-white">Nechcete nic vyplňovat? Nemusíte!</h2>
                                <ol class="numerical-list-stepper">
                                    <li class="active">Vložte vaši poslední fakturu za elektřinu nebo plyn.</li>
                                    <li>Zadejte váš e-mail a my vám pošleme nabídky na míru.
                                        Zdarma a nezávazně.</li>
                                </ol>
                            </div>
                            <div class="col-md-8 offset-md-2 col-xl-10">
                                <div class="row">
                                    <div class="col-12 text-center mb-3">
                                        <pxe-file-uploader
                                            secondaryTextCustomClass="small text-color--gray-200"
                                            [uploader]="fileUploader"
                                            [multiple]="true"
                                            wrapperCustomClass="drop-zone--zindex text-white"
                                            mainText="Soubory přetáhněte sem nebo "
                                            secondaryText="Formáty: PDF, JPG, PNG, TIFF do velikosti 10 MB."
                                            [labelFromMainText]="true">
                                        </pxe-file-uploader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--light-gray">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-0">
                    <h2 class="h4--public text-secondary">Férové ceny energií</h2>
                    <h3 class="h2--public mb-3">Porovnejte nabídky vybraných dodavatelů elektřiny</h3>
                    <p class="mb-4 mb-md-6">Níže najdete porovnání úspor vůči hlavní dodavatelům v kraji.</p>
                    <ul class="link-list link-list--lp">
                        <li class="link-list__item">
                            <a
                               class="link-list__link link-list__link--active">
                                Elektřina
                            </a>
                        </li>
                        <li class="link-list__item">
                            <a class="link-list__link">
                                Plyn
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 mb-5">
                    <pxe-carousel-compare></pxe-carousel-compare>
                </div>
                <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-0">
                    <p class="mb-6">Úspora je vypočítána na základě průměrné spotřeby elektřiny domácností a firem vůči cenám majoritního dodavatele v daném kraji.</p>
                    <lnd-button
                        label="Chci vidět nabídky"
                        type="gradient-primary"
                        customClass="btn-public btn--icon-right"
                        icon="icon--arrow-right"
                        iconPosition="right">
                    </lnd-button>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--dark-blue section--picture-bg">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="mb-6 col-md-4 offset-md-1 mb-md-0 col-xl-3 offset-xl-2">
                    <span class="info-flag">
                        <img class="info-flag__img d-block" src="/assets/images/layout/logo-pxe-white.svg" alt="logo pxe" title="pxe">
                        <span class="text-white">Komoditní burza energií</span>
                        <svg width="20px" height="17px" viewBox="0 0 20 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="info-flag__beak">
                            <g id="Landing-page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Video-LP-fallback" transform="translate(-1024.000000, -4326.000000)" fill="#7355A6"><path d="M1024,4326 L1041,4326 L1041,4338.17157 C1041,4339.27614 1040.10457,4340.17157 1039,4340.17157 C1038.46957,4340.17157 1037.96086,4339.96086 1037.58579,4339.58579 L1024,4326 L1024,4326 Z" id="Rectangle-Copy-12" transform="translate(1032.500000, 4334.500000) scale(-1, 1) translate(-1032.500000, -4334.500000) "></path></g>
                            </g>
                        </svg>
                    </span>
                </div>
                <div class="mb-6 col-md-4 offset-md-1 mb-md-5 col-xl-6 mb-xl-6">
                    <div class="row">
                        <div class="col-12 mb-6">
                            <h2 class="h4--public text-white">O nás</h2>
                            <h3 class="h2--public text-white mb-3 mb-xl-6">PXE — jsme burza. Elektřinu a plyn prodáváme již více jak 10 let.</h3>
                            <p class="text-white">Na českém trhu poskytovatelů energií se opravdu vyznáme. Již několik let velkoodběratelé (firmy, města, obce) využívají naší velkoobchodní aplikaci PARC.
                                Její mladší sestra - aplikace parc4u teď nabízí stejné výhody i domácnostem a maloodběratelům. Přitom vás ochráníme před nevýhodnými
                                podmínkami a nepoctivými prodejci - energošmejdy.</p>
                            <lnd-button
                                label="Chci vidět nabídky"
                                type="gradient-primary"
                                customClass="btn-public btn--icon-right"
                                icon="icon--arrow-right"
                                iconPosition="right"
                            >
                            </lnd-button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-6">
                    <pxe-carousel-suppliers></pxe-carousel-suppliers>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-blog">
        <div class="container-fluid container-fluid--max-width">
            <h2 class="h2--public text-md-center">Blog</h2>
            <div class="row">
                <div class="col-12 card-blogs mb-4">
                    <div class="row card-blogs__inner">
                        <div
                            *ngFor="let item of cardBlogConfig"
                            class="col-md-4 card-blog__item"
                        >
                            <lnd-card
                                type="link"
                                [data]="item"
                            >
                            </lnd-card>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a class="text-with-icon text-with-icon--link text-with-icon--icon-right mb-4 mb-md-0">
                        <span class="text-with-icon__text text-body">Zobrazit všechny články</span>
                        <span class="icon icon--add-new text-with-icon__icon text-with-icon__icon--public"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-help">
        <div class="container-fluid container-fluid--max-width">
            <div class="row px-3">
                <div class="col-xl-8 offset-xl-2 mb-3 text-md-center">
                    <h2 class="h2--public">Často kladené dotazy</h2>
                </div>
                <div class="col-xl-8 offset-xl-2 mb-3">
                    <lnd-accordion [accordionItems]="accordionItems" title="Často kladené dotazy"></lnd-accordion>
                </div>
                <div class="col-xl-8 offset-xl-2">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="text-with-icon text-with-icon--link text-with-icon--icon-right mb-4 mb-md-0">
                                <span class="text-with-icon__text text-body">Další dotazy</span>
                                <span class="icon icon--add-new text-with-icon__icon text-with-icon__icon--public"></span>
                            </a>
                        </div>
                        <div class="col-md-6 text-md-right">
                            Nenašli jste odpověď? Napište nám na <a href="mailto:info@parc4u.cz">info@parc4u.cz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--gradient-blue">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="col-12 col-md-8 offset-md-2 text-center">
                    <h2 class="h2--public text-white">Chci každý rok tu nejlepší nabídku s dobrou cenou, ale&nbsp;nechci se starat o převody smluv.</h2>
                    <lnd-button
                        label="Chci vidět nabídky"
                        type="gradient-primary"
                        customClass="btn-public btn--icon-right"
                        icon="icon--arrow-right"
                        iconPosition="right">
                    </lnd-button>
                </div>
            </div>
        </div>
    </div>
    <div class="section section--gradient-violet">
        <div class="container-fluid container-fluid--max-width">
            <div class="row no-gutters">
                <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-1">
                    <h2 class="h2--public text-white">Nechcete nic vyplňovat? Nemusíte!</h2>
                    <ol class="numerical-list-stepper">
                        <li class="active">Vložte vaši poslední fakturu za elektřinu nebo plyn.</li>
                        <li>Zadejte váš e-mail a my vám pošleme nabídky na míru.
                            Zdarma a nezávazně.</li>
                    </ol>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-xl-5 offset-xl-1">
                    <div class="row">
                        <div class="col-12 text-center mb-3">
                            <pxe-file-uploader
                                secondaryTextCustomClass="small text-color--gray-200"
                                [uploader]="fileUploader"
                                [multiple]="true"
                                wrapperCustomClass="drop-zone--zindex text-white"
                                mainText="Soubory přetáhněte sem nebo "
                                secondaryText="Formáty: PDF, JPG, PNG, TIFF do velikosti 10 MB."
                                [labelFromMainText]="true">
                            </pxe-file-uploader>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showStickyButton"
        class="fixed-bottom fixed-bottom--footer-indentation">
        <lnd-button
            label="Zpět do aplikace"
            type="primary"
            size="lg"
            icon="icon--triangle-right"
            iconPosition="right"
            customClass="btn-back-to-app"
            (action)="click($event)">
        </lnd-button>
    </div>
</div>
