/*
 -  Tabs variables
 -
 -
 */

$nav-tabs-border-width:                  0;
$nav-tabs-border-color:                  0;
$nav-tabs-border-radius:                 0;
$nav-link-disabled-color:                $font-text;
$nav-tabs-link-active-color:             $font-text;
$nav-tabs-link-active-bg:                transparent;
$nav-tabs-item-min-width:                120px;
$nav-tabs-item-height:                   40px;
$nav-tabs-item-more-width:               40px;
$nav-tabs-graph-item-width-md:           230px;
$nav-tabs-graph-item-width-lg:           280px;
$nav-tabs-graph-item-width-xl:           300px;
