/*
 -  Tabs
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Bootstrap button import
@import '~bootstrap/scss/nav';

.tabs {
	margin-bottom: $spacer;

	ul {
		@include reset-list(none, 0, 0);
	}
}

.tabs__dropdown {
	// Media queries
	@include media-breakpoint-up(sm) {
		display: none;
	}

	& + .nav-tabs-filled {
		display: none;

		// Media queries
		@include media-breakpoint-up(sm) {
			display: block;
		}
	}
}

.nav-tabs {
	margin-bottom: 0;

	.nav-item {
		display: inline-block;
		width: 50%;
		height: $nav-tabs-item-height;
		padding: 0;
		background-color: $gray-050;

		// Media queries
		@include media-breakpoint-up(sm) {
			width: auto;
			min-width: $nav-tabs-item-min-width;
			margin-right: ( $spacer / 7.5 );
		}

		&:last-child {
			// Media queries
			@include media-breakpoint-up(sm) {
				margin-right: 0;
			}
		}

		&::before {
			display: none;
		}
	}

	.nav-link {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: ( $spacer / 3 ) ( $spacer / 2 );
		vertical-align: bottom;
		color: $gray-300;
		cursor: pointer;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;

		// Media queries
		@include media-breakpoint-up(md) {
			padding: ( $spacer * .3 ) ( $spacer / 2 );
		}

		@include link-without-href-interactive {
			color: $blue-400;
		}

		&.active {
			background-color: $white;
			font-weight: 700;
		}

		&.disabled {
			@include link-without-href-interactive-self {
				color: $nav-link-disabled-color;
				background-color: $gray-050;
				cursor: default;
				pointer-events: none;
			}
		}
	}

	.tabs-item-more {
		min-width: auto;
		width: $nav-tabs-item-more-width;
		vertical-align: bottom;
	}
}

.tab-content {
	width: 100%;
	padding: ( $spacer / 2 ) ( $spacer / 2 ) $spacer;
	background-color: $white;

	// Media queries
	@include media-breakpoint-up(md) {
		padding: $spacer;
	}
}
