/*
 -  Tabs
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

// Component variables
@import 'tabs.component.variables.scss';

// Bootstrap button import
@import '~bootstrap/scss/nav';

.tabs {
	margin-bottom: $spacer;
}

.tabs__dropdown {
	// Media queries
	@include media-breakpoint-up(sm) {
		display: none;
	}

	& + .nav-tabs-filled {
		display: none;

		// Media queries
		@include media-breakpoint-up(sm) {
			display: block;
		}
	}
}

.nav-tabs {
	display: flex;
	justify-content: center;
	margin-bottom: ( $spacer * 1.25 );
	list-style: none;
	border: none;

	// Media queries
	@include media-breakpoint-up(lg) {
		margin-bottom: ( $spacer * 1.75 );
	}

	.nav-item {
		display: inline-block;
		height: $nav-tabs-item-height;
		padding: 0;
		margin-right: $spacer;

		// Media queries
		@include media-breakpoint-up(xl) {
			margin-right: ( $spacer * 2.5 );
		}

		&:last-child {
			// Media queries
			@include media-breakpoint-up(sm) {
				margin-right: 0;
			}
		}

		&::before {
			display: none;
		}
	}

	.nav-link {
		@include link-without-href-interactive-self {
			border: none;
			border-bottom: 2px solid transparent;
			color: $font-text;
			cursor: pointer;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			padding: ( $spacer * 0.25 ) 0;

			// Media queries
			@include media-breakpoint-up(xl) {
				padding: ( $spacer * 0.5 ) 0;
			}
			// display: inline-block;
			// width: 100%;
			// height: 100%;
			// padding: ( $spacer / 3 ) ( $spacer / 2 );
			// vertical-align: bottom;

			// // Media queries
			// @include media-breakpoint-up(md) {
			// 	padding: ( $spacer * .3 ) ( $spacer / 2 );
			// }

			&.active {
				border-bottom-color: $primary;
			}

			// &.disabled {
			// 	@include link-without-href-interactive-self {
			// 		opacity: .3;
			// 		cursor: default;
			// 		pointer-events: none;
			// 	}
			// }
		}
	}

	.tabs-item-more {
		min-width: auto;
		width: $nav-tabs-item-more-width;
		vertical-align: bottom;
	}
}

.tab-content {
	width: 100%;
	// padding: ( $spacer / 2 ) ( $spacer / 2 ) $spacer;
	// background-color: $white;

	// Media queries
	@include media-breakpoint-up(md) {
		// padding: $spacer;
	}
}
