<div class="tabs" (window:resize)="onResize()">
    <div *ngIf="shouldShowDropdown()" class="tabs__dropdown">
        <ng-template #dropdownTabTop let-toggle="toggle">
            <lnd-button
                (click)="toggle()"
                label="{{ selectedTab.tabTitle }}"
                type="light"
            ></lnd-button>
        </ng-template>
        <lnd-dropdown
            [actionTemplate]="dropdownTabTop"
            [hasBeak]="true"
            *ngIf="!!selectedTab"
            [overlayEnabled]="true"
            (toggleOverlayerAction)="toggleOverlayerAction.emit()"
        >
            <a
                *ngFor="let item of dropdownItems"
                (click)="item.action()"
                class="dropdown-item"
            >
                {{ item.label }}
            </a>
        </lnd-dropdown>
    </div>
    <ul
        #tabList
        class="nav nav-tabs"
        [class.nav-tabs-filled]="shownTabsCount"
        role="tablist"
    >
        <ng-container *ngFor="let tab of tabs; let i = index">
            <li
                #tabItem
                [hidden]="shownTabsCount && i >= shownTabsCount"
                class="nav-item"
            >
                <a
                    (click)="selectTab(tab)"
                    class="nav-link"
                    [class.active]="tab.active"
                >
                    {{ tab.tabTitle }}
                </a>
            </li>
            <li
                #moreItem
                [hidden]="hideMoreItem(i)"
                class="nav-item tabs-item-more"
            >
                <ng-template #dropdownTabExtended let-toggle="toggle">
                    <lnd-button
                        (click)="toggle()"
                        dotsDirection="horizontal"
                        variant="dots"
                    ></lnd-button>
                </ng-template>
                <lnd-dropdown
                    [actionTemplate]="dropdownTabExtended"
                    customDropdownClass="nav-link nav-link--dotted"
                    [hasBeak]="true"
                    menuDirection="right"
                    *ngIf="!!tab"
                    [overlayEnabled]="true"
                    (toggleOverlayerAction)="toggleOverlayerAction.emit()"
                >
                    <a
                        *ngFor="let dropdownTab of filterTabs(i)"
                        class="dropdown-item"
                        (click)="selectTab(dropdownTab)"
                    >
                        {{ dropdownTab.tabTitle }}
                    </a>
                </lnd-dropdown>
            </li>
        </ng-container>
    </ul>
    <div class="tab-content">
        <ng-content></ng-content>
    </div>
</div>
