<div class="banner">
    <div class="banner__content">
        <span
            [ngClass]="icon"
            class="banner__icon icon"></span>
        <span class="banner__text">
            {{ data.text }}
        </span>
    </div>
    <div class="banner__controls"
        *ngIf="showButtonLabel">
        <lnd-button
            [label]="buttonLabel"
            (action)="data.linkValue ? bannerAction(data.linkValue, data.linkType, data.linkData) : customBannerAction.emit($event)"
            type="white">
        </lnd-button>
    </div>
</div>
