/*
 -  Banner
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';


.banner {
	position: relative;
	padding: $spacer ( $spacer * 1.5 );
	margin-bottom: $spacer;
	background-color: $secondary;
	color: $white;
	border-radius: 4px;

	// Media queries
	@include media-breakpoint-up(md) {
		padding: ( $spacer * 2 ) ( $spacer * 3 );
	}

	&__content {
		display: flex;
		align-items: center;
		margin-bottom: ( $spacer * .75 );

		// Media queries
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
			margin-right: ( $spacer * 2.5 );
		}
	}

	&__text {
		margin-left: ( $spacer * .75 );
	}

	&__controls {
		text-align: right;

		// Media queries
		@include media-breakpoint-up(lg) {
			min-width: 250px;
		}
	}
}

