<a class="supply-point"
   [class.supply-point--list-item]="isListItem"
   (click)="action.emit(data)">
    <div class="row no-gutters">
        <div class="col-12"
            [class.col-xl-7]="!isListItem">
            <div class="supply-point__inner supply-point__inner--info">
                <div class="row mb-4">
                    <div class="col-3 col-md-2 text-center">
                        <span
                            [class.icon--flame]="data.commodityType === commodityType.GAS"
                            [class.icon--flash]="data.commodityType === commodityType.POWER"
                            class="icon supply-point__icon"></span>
                    </div>
                    <div class="col-9 col-md-10">
                        <span class="supply-point__title">{{data.name}}</span>
                        <span *ngIf="data.commodityType === commodityType.POWER"
                              class="supply-point__title-subtext">
                            {{data.distributionRate.description}} ({{data.distributionRate.code}})
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-2">
                        <div class="row justify-content-between">
                            <div *ngIf="data.commodityType === commodityType.POWER"
                                 class="col-6 col-md-auto">
                                <div class="supply-point__value-box">
                                    <span class="supply-point__value-name">Jistič</span>
                                    <span class="supply-point__value">{{data.circuitBreaker.description}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-auto order-md-2">
                                <div class="supply-point__value-box">
                                    <span class="supply-point__value-name">Spotřeba</span>
                                    <lnd-indicator [value]="data | consumptionIndicator: UNIT_INDICATOR"></lnd-indicator>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto order-md-1">
                                <div class="supply-point__value-box">
                                    <span *ngIf="data.commodityType === commodityType.POWER"
                                          class="supply-point__value-name">
                                        EAN
                                    </span>
                                    <span *ngIf="data.commodityType === commodityType.GAS"
                                          class="supply-point__value-name">
                                        EIC
                                    </span>
                                    <span class="supply-point__value">{{data.ean}}</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-auto order-md-2"
                                        *ngIf="data.contract && !isListItem">
                                <div class="supply-point__value-box">
                                    <span class="supply-point__value-name">Dodávkové období</span>
                                    <span class="supply-point__value">
                                        {{data.contract.deliveryFrom | date: 'dd. MM. y'}} - {{data.contract.deliveryTo | date: 'dd. MM. y'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pxe-badge *ngIf="data.contract && !isListItem &&
                                                  (data.contract.deliveryTo | isDatePast) &&
                                                  //bug
                                                  data.contract.deliveryFrom | dateDiff: data.contract.deliveryTo:'days' >= 15 &&
                                                  data | isAllowedOperation: allowedOperations.SHOW_DELIVERY_TO"
                                           type="info"
                                           [isLink]="true"
                                           (action)="restoreContractAction($event)">
                                    Platnost končí za {{data.contract.deliveryFrom | dateDiff: data.contract.deliveryTo}} dní - Obnovit smlouvu
                                </pxe-badge>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isListItem"
             class="col-12 col-xl-5">
            <div class="supply-point__inner supply-point__inner--price">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-2 col-xl-12 offset-xl-0">
                        <div class="row">
                            <div class="col-12">
                                <span class="supply-point__price-label">Cena</span>
                            </div>
                            <div class="col-12 col-md-8 col-xl-12 mb-4 mb-md-0">
                                <span class="supply-point__price">0 Kč</span>
                                / měsíc ({{data.supplier.name}})
                            </div>
                            <div class="col-12 col-md-4 supply-point__addon">
                                <lnd-button
                                    label="Vybrat"
                                    type="primary"
                                    (action)="$event.stopPropagation();action.emit(data)">
                                </lnd-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
