/*
 -  Supply point variables
 -
 -
 */

$box-shadow-color:                   $font-text;
$supply-point-label-font-size:       24px;
$supply-point-label-line-height:     ( 32 / 24 );
$supply-point-title-font-size:       36px;
$supply-point-title-line-height:     ( 48 / 36 );
$supply-point-title-line-height-px:  48px;
$supply-point-icon-font-size:        40px;