/*
 -  Container body
 -
 -
 */


@use "sass:math";

.container-fluid {
	&--max-width {
		padding-left: ( $spacer * 2 );
		padding-right: ( $spacer * 2 );

		// Media queries
		@include media-breakpoint-up(md) {
			padding-left: $spacer;
			padding-right: $spacer;
		}
		@media (min-width: ( $body-max-width + $spacer ) ) {
			max-width: $body-max-width;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


.body-inner {
	// Media queries
	@media ( max-width: ( $body-min-width - 1 ) ) {
		display: none;
	}

	&--overlay {
		@include overlayer;
	}

	&--overlay-header .header {
		@include overlayer(auto, absolute, after);
	}

	&--overlay-aside .aside {
		// Media queries
		@include media-breakpoint-up(lg) {
			@include overlayer(auto, absolute, after);
		}
	}

	&--overlay-full {
		height: auto;

		&::before {
			z-index: $zindex-body-overlayer-full;
		}
	}
}

.overlay--visible {
	z-index: $zindex-body-overlayer-visible;

	&.dropdown {
		.dropdown-toggle.dropdown-link {
			&:hover {
				.dropdown-link__text {
					border-bottom-color: $white;
				}
			}
		}
	}
}

.detail-controls {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: calc(100% - 30px);
	margin: 0 ( -$spacer * 0.5 );
	padding: 0 ( $spacer * 0.5 );
	background-color: $white;

	// Media queries
	@include media-breakpoint-up(md) {
		height: auto;
		margin: 0;
		padding: 0;
		background-color: transparent;
	}
}

.detail-controls--dropdown {
	// Media queries
	@include media-breakpoint-up(md) {
		background-color: transparent;
	}

	lnd-dropdown {
		// Media queries
		@include media-breakpoint-up(md) {
			position: absolute;
			top: -( math.div($spacer, 3) );
		}
	}
}
