/*
 -  Container content
 -
 -
 */


.container-content {
	// max-width: $body-max-width;
	padding-top: $header-height;

	// Media queries
	@include media-breakpoint-up(md) {
		min-height: calc(100vh - #{$footer-height-tablet});
		padding-top: ( ( $header-height - $logo-height-tablet ) * .5 );
	}

	&--public {
		padding-top: ( $header-height + ( $spacer * 1.5 ) );
		font-size: $large-font-size;

		// Media queries
		@include media-breakpoint-up(lg) {
			padding-top: $header-height;
		}
	}
}
