/*
 -  Main
 -
 -
 */


.main {
	position: relative;

	ol,
	ul {
		@include reset-list;
		margin-bottom: $lists-margin-bottom;

		> li {
			position: relative;
			padding-left: $spacer;
			padding-bottom: ( $lists-margin-bottom / 2 );
		}

		ol,
		ul {
			margin-bottom: 0;
			margin-top: ( $lists-margin-bottom / 2 );
		}
	}

	ul {
		> li {
			&::before {
				content: '';
				position: absolute;
				top: ( $list-bullet-size / 2 );
				left: ( $list-bullet-size / 2 );
				width: $list-bullet-size;
				height: $list-bullet-size;
				border-radius: $list-bullet-size;
				background-color: $font-text;
			}
		}
	}

	ol {
		counter-reset: ol-list-1;

		> li {
			counter-increment: ol-list-1;
		}

		> li::before {
			content: counter(ol-list-1, decimal) '.';
			position: absolute;
			top: 0;
			left: ( $list-bullet-size / 2 );
			color: $font-text;
			font-weight: 700;
		}

		ol {
			counter-reset: ol-list-2;

			> li {
				counter-increment: ol-list-2;
			}

			> li::before {
				content: counter(ol-list-2, lower-latin) ')';
			}

			ol {
				counter-reset: ol-list-3;

				> li {
					counter-increment: ol-list-3;
				}

				> li::before {
					content: counter(ol-list-3, lower-roman) '.';
				}
			}
		}
	}

	.check-list {
		li {
			padding-left: ( $icon-size-small-px + ( $spacer / 2 ) );
			padding-bottom: ( $spacer * 1.5 );
			line-height: ( 18 / 14 );

			&::before {
				content: '\e906';
				@include icon;
				top: 4px;
				left: 0;
				width: auto;
				height: auto;
				background-color: transparent;
				color: $primary;
				font-size: $icon-size-small-px;
			}
		}

		&--less-offset {
			li {
				padding-bottom: ( $spacer * .25 );
			}
		}
	}
}