/*
 -  Main
 -
 -
 */


.main {
	position: relative;

	ol,
	ul {
		@include reset-list;
		margin-bottom: $lists-margin-bottom;

		> li {
			position: relative;
			padding-left: $spacer;
			padding-bottom: ( $lists-margin-bottom / 2 );

			&:last-child {
				padding-bottom: 0;
			}
		}

		ol,
		ul {
			margin-bottom: 0;
			margin-top: ( $lists-margin-bottom / 2 );
		}
	}

	ul {
		> li {
			&::before {
				content: '';
				position: absolute;
				top: ( $list-bullet-size / 2 );
				left: ( $list-bullet-size / 2 );
				width: $list-bullet-size;
				height: $list-bullet-size;
				border-radius: $list-bullet-size;
				background-color: $secondary;
			}
		}
	}

	ol {
		counter-reset: ol-list-1;

		> li {
			counter-increment: ol-list-1;
		}

		> li::before {
			content: counter(ol-list-1, decimal) '.';
			position: absolute;
			top: 0;
			left: ( $list-bullet-size / 2 );
			color: $font-text;
			font-weight: 700;
		}

		ol {
			counter-reset: ol-list-2;

			> li {
				counter-increment: ol-list-2;
			}

			> li::before {
				content: counter(ol-list-2, lower-latin) ')';
			}

			ol {
				counter-reset: ol-list-3;

				> li {
					counter-increment: ol-list-3;
				}

				> li::before {
					content: counter(ol-list-3, lower-roman) '.';
				}
			}
		}
	}
}
