/*
 -  Static pages
 -
 -
 */

@use 'sass:math';

.static-pages-holder {
	.breadcrumb {
		/* stylelint-disable declaration-no-important */
		justify-content: flex-start !important;
		/* stylelint-enable declaration-no-important */
	}
}

.static-pages {
	background-color: $white;
	padding: ( $spacer * 2  ) $spacer;
	margin-bottom: $spacer;

	&:last-child {
		margin-bottom: 0;
	}

	&--bg-transparent {
		background-color: transparent;
		border: 1px solid $white;
	}

	.icon-boxes {
		margin: ( -$spacer * .5 ) ( -$spacer * .5 ) $spacer ( -$spacer * .5  );
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.icon-box {
		width: 96px;
		height: 96px;
		border: 1px solid $gray-100;
		border-radius: $btn-border-radius;
		padding:  math.div( $spacer, 1.2)   math.div( $spacer, 6)  ( $spacer * .5 )  math.div( $spacer, 6 ) ;
		margin: ( $spacer * .5  );
		text-align: center;

		&--double {
			width: ( 96px * 1.5 + $spacer  );
			height: ( 96px * 1.5 + $spacer  );
		}

		&__symbol,
		&__illustration-holder {
			display: block;
			margin-bottom:  math.div( $spacer, 3 ) ;
		}
		&__illustration {
			width: 50%;
			height: auto;
			max-height: 80px;
		}

		&__symbol {
			color: $blue-400;
		}

		&__name {
			display: block;
			@include smart-short-text;
			font-size: .75rem;
		}

		&:hover {
			border-color: $primary;

			.icon-box__symbol {
				opacity: .9;
			}
		}
	}

	.colors-overview {
		margin: ( -$spacer * .25 ) ( -$spacer * .5 ) $spacer ( -$spacer * .5  );
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.color {
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		width: 110px;
		height: 90px;
		border-radius: $btn-border-radius;
		margin:( $spacer * .25 ) ( $spacer * .5  );

		&--wide {
			width: (2 * 110px ) + ( ( $spacer * .5) * 3  );    // Double color size + Triple gutter width
		}

		&__name {
			align-self: flex-start;
			flex-grow: 1;
			width: 100%;
			background-color: $white;
			padding: 0  math.div( $spacer, 3)  ( $spacer * .1  ) 0;
			font-size: .75rem;
		}

		&__value {
			align-self: flex-end;
			flex-grow: 1;
			padding: 0  math.div( $spacer, 3)   math.div( $spacer, 6 )  0;
			text-align: right;
			color: $white;
			font-size: .75rem;

			&--dark {
				color: $font-text;
			}
		}
	}

	.btn-holder {
		lnd-button {
			margin-bottom: $spacer;

			// Media queries
			@include media-breakpoint-up(sm) {
				margin-right: $spacer;
			}

			&:last-of-type {
				// Media queries
				@include media-breakpoint-up(sm) {
					margin-right: 0;
				}
			}
		}
	}
}

.static-page-holder {
	background-color: $body-bg;
	margin: -( $spacer * .5  );
	padding: $spacer 0;

	// Media queries
	@include media-breakpoint-up(md) {
		margin: -$spacer;
	}
}

.static-page-settings {
	.tabs .tabs {
		margin-bottom: 0;
	}

	.tab-content .tab-content {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}
