<div class="row">
    <div class="col-12">
        <div class="px-3 px-md-0">
            <h3>
                V jednání
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="suppliers-holder">
            <ul class="suppliers-overview">
                <li class="suppliers-overview__item" *ngFor="let supplier of config">
                    <a
                        href="{{supplier.supplierUrl}}"
                        target="_blank"
                        class="suppliers-overview__link">
                        <img
                            class="suppliers-overview__picture"
                            src="{{supplier.logoUrl}}"
                            title="{{supplier.title}}"
                            alt="{{supplier.alt}}">
                        <img
                            class="suppliers-overview__picture-hover"
                            src="{{supplier.logoUrlHover}}"
                            title="{{supplier.title}}"
                            alt="{{supplier.alt}}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
