@import 'src/assets/scss/01_base/base.scss';

.suppliers-overview {
	@include reset-list;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;

	&__item {
		display: inline-flex;
		align-items: flex-end;
		@include reset-list;
		margin: 0 $spacer ( $spacer * 2 );

		// Media queries
		@include media-breakpoint-up(md) {
			margin: 0 ( $spacer * 1.25) ( $spacer * 2 );
		}

		&::before {
			display: none;
		}
	}

	&__content {
		display: block;
		position: relative;

		// &:hover,
		// &:focus {
		// 	.suppliers-overview__picture {
		// 		visibility: hidden;
		// 	}

		// 	.suppliers-overview__picture-hover {
		// 		display: block;
		// 	}
		// }
	}

	&__picture,
	&__picture-hover {
		max-width: 100%;
	}

	&__picture-hover {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
	}
}
