<ng-template #images let-data="data">
    <a [routerLink]="data?.faqUrl">
        <img
            class="suppliers-overview__picture"
            [ngClass]="[
                data.size ? 'suppliers-overview__picture--' + data.size : ''
            ]"
            [src]="data.logoUrlHover"
            [title]="data.title"
            [alt]="data.alt"
            [width]="data.width"
        />
    </a>
</ng-template>

<div class="suppliers-holder">
    <ul class="suppliers-overview">
        <li
            class="suppliers-overview__item"
            *ngFor="let supplierLogoData of configSupplier"
        >
            <a
                *ngIf="supplierLogoData.supplierUrl"
                [href]="supplierLogoData.supplierUrl"
                target="_blank"
                class="suppliers-overview__content"
            >
                <ng-container
                    *ngTemplateOutlet="
                        images;
                        context: { data: supplierLogoData }
                    "
                ></ng-container>
            </a>
            <span
                *ngIf="!supplierLogoData.supplierUrl"
                class="suppliers-overview__content"
            >
                <ng-container
                    *ngTemplateOutlet="
                        images;
                        context: { data: supplierLogoData }
                    "
                ></ng-container>
            </span>
        </li>
    </ul>
</div>
