<div class="suppliers-holder">
    <ul class="suppliers-overview">
        <li class="suppliers-overview__item"
            *ngFor="let supplier of configSupplier | filterCommodity: typeCommodity ">
            <a
                *ngIf="supplier.supplierUrl"
                href="{{supplier.supplierUrl}}"
                target="_blank"
                class="suppliers-overview__content">
                <img
                    class="suppliers-overview__picture"
                    [ngClass]="[
                                supplier.size ? 'suppliers-overview__picture--' + supplier.size : ''
                            ]"
                    src="{{supplier.logoUrl}}"
                    title="{{supplier.title}}"
                    alt="{{supplier.alt}}"
                    width="{{supplier.width}}">
                <img
                    class="suppliers-overview__picture-hover"
                    [ngClass]="[
                                supplier.size ? 'suppliers-overview__picture-hover--' + supplier.size : ''
                            ]"
                    src="{{supplier.logoUrlHover}}"
                    title="{{supplier.title}}"
                    alt="{{supplier.alt}}">
            </a>
            <span
                *ngIf="!supplier.supplierUrl"
                class="suppliers-overview__content">
                <img
                    class="suppliers-overview__picture"
                    [ngClass]="[
                        supplier.size ? 'suppliers-overview__picture--' + supplier.size : ''
                    ]"
                    src="{{supplier.logoUrl}}"
                    title="{{supplier.title}}"
                    alt="{{supplier.alt}}"
                    width="{{supplier.width}}">
                <img
                    class="suppliers-overview__picture-hover"
                    [ngClass]="[
                        supplier.size ? 'suppliers-overview__picture-hover--' + supplier.size : ''
                    ]"
                    src="{{supplier.logoUrlHover}}"
                    title="{{supplier.title}}"
                    alt="{{supplier.alt}}">
            </span>
        </li>
    </ul>
</div>
