<div class="container-fluid">
    <div class="container-content">
        <!--<pxe-layout-container pageTitle="Často kladené otázky" [breadcrumbItemsSimple]="breadcrumbItemsSimple">-->
            <!--<div class="row">-->
                <!--<div class="col-12">-->
                    <!--<lnd-accordion [accordionItems]="questions | questionsToAccordions" title=""></lnd-accordion>-->
                <!--</div>-->
            <!--</div>-->
        <!--</pxe-layout-container>-->
    </div>
</div>
