<ng-template #accordionTemplate let-data>
    <p [class.mb-0]="!data.fullContent"
       [innerHTML]="data.shortContent">
    </p>
    <p [class.d-none]="!data.fullContent"
       class="mb-0">
        <a class="link"
           [routerLink]="['/', CONSTS.PATHS.FAQ, data.tag | getUrlFromTag:faqConfig, data.url]">
            Více info
        </a>
    </p>
</ng-template>

<ng-container
    *ngIf="activeQuestion && questions">
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2 mb-3">
            <h2>{{activeQuestion.header}}</h2>
            <p>{{activeQuestion.fullContent || activeQuestion.shortContent}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-8 offset-xl-2 mb-3">
            <h2>Související otázky</h2>
            <lnd-accordion
                [accordionContentTemplate]="accordionTemplate"
                [accordionItems]="questions | questionsToAccordions"
                title="">
            </lnd-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <lnd-button
                (action)="routerToOverview($event)"
                label="Dalsí otázky"
                type="primary">
            </lnd-button>
        </div>
    </div>
</ng-container>
