<ng-template #otherAddress>
    <lnd-form-field
        [id]="'checkbox-in-subtext'"
        label="Mám jinou korespondenční adresu"
        [type]="'CHECKBOX'"
        [formControl]="form.controls.onlyPermanentAddress">
    </lnd-form-field>
</ng-template>
<!-- Example custom lael template -->
<ng-template
    #templateLabel
    let-item="item"
    let-index="index">
    {{ item.label }}
</ng-template>
<!-- Example searched items template -->
<ng-template
    #templateItem
    let-item="item"
    let-index="index">
    {{ item.value.street }}&nbsp;{{ item.value.orientationNumber }}<ng-container *ngIf="item && item.value && item.value.orientationNumber && item.value.descriptiveNumber">/</ng-container>{{ item.value.descriptiveNumber }}<br>
    {{ item.value.city }}&nbsp;{{ item.value.postCode }}
</ng-template>

<lnd-alert
    *ngIf="globalError.length"
    type="danger">
    <ng-container *ngFor="let error of globalError">
        {{ error }}<br>
    </ng-container>
</lnd-alert>

<!-- Example checkbox in subtext -->
<ng-template #checkboxInSubtext>
    <lnd-form-field
        [id]="'checkbox-in-subtext'"
        label="Mám jinou korespondenční adresu"
        [type]="'CHECKBOX'">
    </lnd-form-field>
</ng-template>

<div class="row mb-5">
    <div class="col-12 text-center">
        {{headerText}}
    </div>
</div>
<form
    [formGroup]="form"
    (keydown)="resetCustomFieldError()"
    (change)="resetCustomFieldError()"
    autocomplete="off"
    class="form-container">
    <lnd-form-field
        [error]="formError.name || form.controls.name.errors"
        [formControl]="form.controls.name"
        [id]="'name'"
        label="Jméno a příjmení"
        [success]="form.controls.name.valid && (form.controls.name.touched || formError.name)"
        [touched]="form.controls.name.touched || formError.name"
        [validationMessages]="formFields.validationMessages.name"
    ></lnd-form-field>
    <pxe-address-whisperer
        [appendTemplate]="otherAddress"
        [error]="formError.permanentAddress || form.controls.permanentAddress.errors"
        [label]="'Trvalá adresa'"
        [parentForm]="form"
        [success]="form.controls.permanentAddress.valid && (form.controls.permanentAddress.touched || formError.permanentAddress)"
        [templateItem]="templateItem"
        [templateLabel]="templateLabel"
        [touched]="form.controls.permanentAddress.touched || formError.permanentAddress"
        [validationMessages]="formFields.validationMessages.permanentAddress"
        [whispererName]="'permanentAddress'">
    </pxe-address-whisperer>
    <pxe-address-whisperer
        [disabled]="!form.getRawValue().onlyPermanentAddress"
        [error]="formError.correspondentAddress || form.controls.correspondenceAddress.errors"
        [label]="'Korespondeční adresa'"
        [parentForm]="form"
        [success]="form.controls.correspondenceAddress.valid && (form.controls.correspondenceAddress.touched || formError.correspondenceAddress)"
        [templateItem]="templateItem"
        [templateLabel]="templateLabel"
        [touched]="form.controls.correspondenceAddress.touched || formError.correspondenceAddress"
        [validationMessages]="formFields.validationMessages.correspondenceAddress"
        [whispererName]="'correspondenceAddress'">
    </pxe-address-whisperer>
    <div class="row">
        <div class="col-8">
            <lnd-form-field
                [error]="formError.acountNumber || form.controls.acountNumber.errors"
                [formControl]="form.controls.acountNumber"
                [id]="'telephonePrefix'"
                label="Bankovní účet"
                subtext="Číslo bankovního účtu obsahujcí prefix uveďte prosím ve tvaru XXXXX-XXXXXXXXXX"
                [success]="form.controls.acountNumber.valid && (form.controls.acountNumber.touched || formError.acountNumber)"
                [touched]="form.controls.acountNumber.touched || formError.acountNumber"
                [validationMessages]="formFields.validationMessages.acountNumber"
            ></lnd-form-field>
        </div>
        <div class="col-4">
            <lnd-form-field
                [error]="formError.acountBankNumber || form.controls.acountBankNumber.errors"
                [formControl]="form.controls.acountBankNumber"
                [id]="'acountBankNumber'"
                label=""
                [success]="form.controls.acountBankNumber.valid && (form.controls.acountBankNumber.touched || formError.acountBankNumber)"
                [touched]="form.controls.acountBankNumber.touched || formError.acountBankNumber"
                [validationMessages]="formFields.validationMessages.acountBankNumber"
            ></lnd-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <lnd-form-field
                [error]="formError.telephonePrefix || form.controls.telephonePrefix.errors"
                [formControl]="form.controls.telephonePrefix"
                [id]="'telephonePrefix'"
                label="Telefonní číslo"
                [success]="form.controls.telephonePrefix.valid && (form.controls.telephonePrefix.touched || formError.telephonePrefix)"
                [touched]="form.controls.telephonePrefix.touched || formError.telephonePrefix"
                [validationMessages]="formFields.validationMessages.telephonePrefix"
            ></lnd-form-field>
        </div>
        <div class="col-8">
            <lnd-form-field
                [error]="formError.telephone || form.controls.telephone.errors"
                [formControl]="form.controls.telephone"
                [id]="'telephone'"
                label=""
                [success]="form.controls.telephone.valid && (form.controls.telephone.touched || formError.telephone)"
                [touched]="form.controls.telephone.touched || formError.telephone"
                [validationMessages]="formFields.validationMessages.telephone"
            ></lnd-form-field>
        </div>
    </div>
    <lnd-form-field
        [error]="formError.email || form.controls.email.errors"
        [formControl]="form.controls.email"
        [id]="'email'"
        label="E-mail"
        [success]="form.controls.email.valid && (form.controls.email.touched || formError.email)"
        [touched]="form.controls.email.touched || formError.email"
        [validationMessages]="formFields.validationMessages.email"
    ></lnd-form-field>
    <div class="text-center">
        <lnd-button
            type="primary"
            (action)="submitForm()"
            [isDisabled]="formLoading"
            label="Pokračovat">
        </lnd-button>
    </div>
</form>
