<div class="supply-point-overview">
    <div class="supply-point-overview__inner">
        <div class="row"
             [class.mb-4]="supplyPointsEndingCount !== 0"
             [class.mb-md-0]="supplyPointsEndingCount === 0"
             [class.mb-3]="supplyPointsEndingCount === 0">
            <div class="col-3 text-center">
                <span class="icon icon--house supply-point-overview__icon"></span>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12 col-md-auto mr-md-auto">
                        <div class="supply-point-overview__product-holder">
                            <span class="supply-point-overview__type"><span class="text-uppercase">Elekřina</span> (MWh)</span>
                            <span class="supply-point-overview__value text-break">{{powerPlacesConsumptionSum | number: '1.0-3'}}</span>
                            <span class="supply-point-overview__quantity">
                                <ng-container *ngIf="powerPlacesCount">
                                    {{powerPlacesCount}}
                                </ng-container>
                                {{powerPlacesCount | plural:'supplyPoint'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="supply-point-overview__product-holder">
                            <span class="supply-point-overview__type"><span class="text-uppercase">Plyn</span> (MWh)</span>
                            <span class="supply-point-overview__value text-break">{{gasPlacesConsumptionSum | number: '1.0-3'}}</span>
                            <span class="supply-point-overview__quantity">
                                <ng-container *ngIf="gasPlacesCount">
                                    {{gasPlacesCount}}
                                </ng-container>
                                {{gasPlacesCount | plural:'supplyPoint'}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="concludedPlacesCount"
                 class="col-12 col-xl-9 offset-xl-3">
                <a (click)="supplyPointsListAction.emit($event)">Seznam uzavřených smluv</a>
            </div>
            <div *ngIf="notConcludedPlacesCount"
                 class="col-12 col-xl-9 offset-xl-3">
                <a (click)="requestListAction.emit($event)">Zobrazit rozpracované smlouvy</a>
            </div>
        </div>
        <div *ngIf="supplyPointsEndingCount !== 0"
             class="row mb-md-0 mb-3">
            <div class="col-12 col-xl-9 offset-xl-3">
                <div class="supply-point-overview__info">
                    <span class="icon icon--info supply-point-overview__info-icon"></span>
                    <span class="supply-point-overview__info-description">
                        <ng-container
                            *ngIf="supplyPointsEndingCount === 1; else moreSupplyPointEndingTextTemplate">
                            Končí vám smlouva na {{supplyPointsEndingData[0].commodityType === commodityType.POWER ? 'elekřinu' : 'plyn'}} pro
                            odběrné místo s názvem: {{supplyPointsEndingData[0].name}}
                        </ng-container>
                        <ng-template #moreSupplyPointEndingTextTemplate>
                            Končí vám smlouva u vícero odběrných míst
                        </ng-template>
                    </span>
                </div>
                <a (click)="newSupplierAction.emit(supplyPointsEndingData)">
                    <ng-container *ngIf="supplyPointsEndingCount === 1; else moreSupplyPointEndingLinkTemplate">
                        Vybrat nového dodavatele
                    </ng-container>
                    <ng-template #moreSupplyPointEndingLinkTemplate>
                        <ng-container *ngIf="!concludedPlacesCount">Seznam uzavřených smluv</ng-container>
                    </ng-template>
                </a>
            </div>
        </div>
    </div>
</div>
