/*
 -  Pagination
 -
 -
 */

// Core component import
@import 'src/assets/scss/01_base/base.scss';

.pagination {
	align-items: center;

	.page-item {
		&::before {
			display: none;
		}
		padding-bottom: 0;
		padding-left: 0;
	}

	.page-link {
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

	.pagination-first,
	.pagination-prev,
	.pagination-next,
	.pagination-last {
		.page-link {
			height: ( ( $spacer * 0.5 ) + $icon-size-small-px );
			color: $font-text;
			font-size: $icon-size-small-px;

			&::before {
				content: '';
				@include icon;
				font-size: $icon-size-small-px;
			}

			&:focus,
			&:hover {
				color: $pagination-color;
				text-decoration: none;
			}
		}
	}

	.pagination-first {
		.page-link {
			&::before {
				content: '\e927';
			}
		}
	}

	.pagination-last {
		.page-link {
			&::before {
				content: '\e928';
			}
		}
	}

	.pagination-prev {
		.page-link {
			&::before {
				content: '\e925';
			}
		}
	}

	.pagination-next {
		.page-link {
			&::before {
				content: '\e926';
			}
		}
	}

	.arrow-text {
		display: inline-block;
		text-indent: -999999999px;
	}

	.active {
		.page-link {
			pointer-events: none;
		}
	}

	.disabled {
		.page-link {
			opacity: .3;
		}
	}
}
