<ng-template #hrefToSecuringTemplate>
    Souhlasím se
    <a href="javascript: void(0);">
        <span (click)="openConsent($event)">
           zásadami bezpečnosti
        </span>
    </a>
</ng-template>

<lnd-alert *ngIf="signInGlobalError.length"
           type="danger">
    <ng-container *ngFor="let globalError of signInGlobalError">
        {{globalError}}<br>
    </ng-container>
</lnd-alert>
<form [formGroup]="signInForm"
      (keydown)="resetCustomFieldError()"
      (change)="resetCustomFieldError()"
      autocomplete="off">
    <lnd-form-field
        [error]="signInFormError.email || signInForm.controls.email.errors"
        [formControl]="signInForm.controls.email"
        [id]="'email'"
        label="E-mail"
        [success]="signInForm.controls.email.valid && (signInForm.controls.email.touched || signInFormError.email)"
        [touched]="signInForm.controls.email.touched || signInFormError.email"
        [validationMessages]="signInFormFields.validationMessages.email"
        [lightField]="true"
    ></lnd-form-field>
    <lnd-form-field
        [error]="signInFormError.consent || signInForm.controls.consent.errors"
        [formControl]="signInForm.controls.consent"
        [id]="'consent'"
        label=""
        [labelTemplate]="hrefToSecuringTemplate"
        [success]="signInForm.controls.consent.valid && (signInForm.controls.consent.touched || signInFormError.consent)"
        [touched]="signInForm.controls.consent.touched || signInFormError.consent"
        [type]="'CHECKBOX'"
        [validationMessages]="signInFormFields.validationMessages.consent"
    ></lnd-form-field>
    <lnd-button
        type="primary"
        (action)="submitForm()"
        [isDisabled]="submitSignInFormLoading"
        label="Registrovat se">
    </lnd-button>
</form>
