<pxe-layout-container pageTitle="Seznam odběrných míst">
    <div class="row mb-6">
        <div class="col-12 col-xl-10 offset-xl-1">
            <pxe-progress-bar [config]="stepperProgressConfig"></pxe-progress-bar>
        </div>
    </div>
    <lnd-placeloader [loading]="loadingSupplyPoints && !globalError.length"></lnd-placeloader>
    <div class="row">
        <div class="col-12">
            <lnd-alert
                *ngIf="globalError.length"
                type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br>
                </ng-container>
            </lnd-alert>
        </div>
    </div>
    <ng-container *ngIf="supplyPoints">
        <div class="row">
            <div *ngIf="supplyPoints.length"
                 class="col-12 col-xl-10 offset-xl-1 text-center">
                <h2>Vyberte odběrné místo, pro které chcete dostat nabídku</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="supply-points">
                    <div class="row">
                        <ng-container *ngFor="let supplyPoint of supplyPoints">
                            <div class="col-md-6">
                                <pxe-supply-point
                                    [data]="supplyPoint"
                                    [isListItem]="true"
                                    (action)="navigateToSupplyPoint(supplyPoint)">
                                </pxe-supply-point>
                            </div>
                        </ng-container>
                        <div [class.col-md-6]="supplyPoints.length"
                             [class.col-12]="!supplyPoints.length"
                             [class.text-center]="!supplyPoints.length">
                            <div class="list-supply-point-addon">
                                <lnd-button
                                    (click)="createSupplyPoint()"
                                    label="Nové odběrné místo"
                                    type="secondary">
                                </lnd-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</pxe-layout-container>
