<div class="container-fluid">
    <div class="container-content container-content--public">
        <pxe-layout-container pageTitle="">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                    <lnd-info-banner
                        bannerTitle="Váš uživatelský účet v parc4u máte nyní zrušený a veškerá vaše data jsou smazána."
                        [bannerDescription]="
                            'Pokud se vám po nás zasteskne, stačí se nově zaregistrovat. Rádi vás tu zase uvidíme!'
                        "
                        [showButton]="false"
                    >
                    </lnd-info-banner>
                </div>
            </div>
        </pxe-layout-container>
    </div>
</div>
