<ng-template #leaveContactInfoTemplate let-contract="contract">
    <div class="col-12 mb-4 small">
        Kliknutím na tlačítko „Odstoupit“ odstoupíte od smlouvy o sdružených
        službách dodávky pro výše uvedené odběrné místo podle §11a odst. 2 zák.
        č. 458/2000 Sb. Text odstoupení naleznete
        <a
            [class.link--disabled]="documentLoading$ | async"
            (click)="saveDocument(contract.contractId, documentType.WITHDRAWAL)"
            >zde</a
        >.
    </div>
</ng-template>
<ng-template #terminateContactInfoTemplate let-contract="contract">
    <div class="col-12 mb-4 small">
        Kliknutím na tlačítko „Vypovědět“ vypovíte smlouvu o sdružených službách
        dodávky pro výše uvedené odběrné místo podle §11a odst. 3 zák. č.
        458/2000 Sb. Text výpovědi naleznete
        <a
            [class.link--disabled]="documentLoading$ | async"
            (click)="
            saveDocument(contract.contractId, documentType.DENUNCIATION)
        "
            >zde</a
        >.
    </div>
</ng-template>
<ng-template #interruptAutomaticProlongationTemplate let-contract="contract">
    <div class="col-12 mb-4 small">
        Kliknutím na tlačítko „Zrušit“ přerušíte automatickou prolongaci. Text
        přerušení automaticke prolongace naleznete
        <a
            [class.link--disabled]="documentLoading$ | async"
            (click)="
            saveDocument(
                contract.contractId,
                documentType.UNSET_PROLONGATION
            )
        "
            >zde</a
        >.
    </div>
</ng-template>

<ng-template #contractActionsTemplate let-supplyPoint="supplyPoint">
    <div
        *ngIf="activeContractAction$ | async as activeContractAction"
        #contractActionsWrapper
    >
        <div
            *ngIf="
                supplyPoint?.allowedOperations
                    | isAllowedOperation
                        : allowedOperations.UNSET_AUTOMATIC_PROLONGATION
            "
            class="row no-gutters mb-3"
        >
            <div class="col-12">
                <pxe-verification-form
                    customSubmitButtonClass="mb-5 w-100"
                    [fieldError]="fieldError$ | async"
                    [formLoading]="formLoading$ | async"
                    [contract]="supplyPoint.contract"
                    [phone]="supplyPoint.contract.personalData.phone"
                    [infoTemplate]="interruptAutomaticProlongationTemplate"
                    [smsSent]="smsSent$ | async"
                    [showForm]="
                        activeContractAction === contractActions.UNSET_PROLONGATION
                    "
                    (enableVerificationAction)="
                        changeActiveContractAction(contractActions.UNSET_PROLONGATION)
                    "
                    [toggleEnabledBySelf]="true"
                    textInfoAboutVerificationPassword="Zrušení automatické prolongace je nutné potvrdit ověřovacím SMS kódem"
                    enableVerificationLabel="Zrušit automatickou prolongaci"
                    enableButtonType="secondary"
                    submitLabelText="Zrušit"
                    (submitAction)="submitVerification($event, supplyPoint)"
                    (customAction)="sendContractConfirmationSms(supplyPoint.contract.contractId)"
                >
                </pxe-verification-form>
            </div>
            <div
                [class.mb-5]="!supplyPoint.lastVersionOfSupplyPoint"
                class="col-12"
            >
                <div class="mb-1">Výpovědní lhůta</div>
                <span class="perex"
                    >{{ timeToContractEnd }} {{ timeToContractEnd | plural :
                    timeToContractEndPeriodMap[ timeToContractEndPeriod ]
                    }}</span
                >
            </div>
        </div>
        <div
            *ngIf="
                supplyPoint?.allowedOperations
                    | isAllowedOperation: allowedOperations.LEAVE_CONTRACT
            "
            class="row no-gutters mb-3"
        >
            <div class="col-12">
                <pxe-verification-form
                    customSubmitButtonClass="mb-5 w-100"
                    [fieldError]="fieldError$ | async"
                    [formLoading]="formLoading$ | async"
                    [contract]="supplyPoint.contract"
                    [infoTemplate]="leaveContactInfoTemplate"
                    [phone]="supplyPoint.contract.personalData.phone"
                    [smsSent]="smsSent$ | async"
                    textInfoAboutVerificationPassword="Odstoupení od smlouvy je nutné potvrdit ověřovacím SMS kódem"
                    enableVerificationSubText="Podle občanského zákoníku (§ 1829) můžete odstoupit od smlouvy do 14 dní od data
                        podpisu smlouvy. Účinky nastávají okamžikem, kdy je toto právní jednání doručeno dodavateli.
                        Smlouva se zruší od počátku a vy nemusíte udávat žádný důvod odstoupení."
                    enableVerificationLabel="Odstoupit od smlouvy"
                    enableButtonType="secondary"
                    submitLabelText="Odstoupit"
                    [showForm]="
                        activeContractAction === contractActions.LEAVE_CONTRACT
                    "
                    [toggleEnabledBySelf]="true"
                    (enableVerificationAction)="changeActiveContractAction(contractActions.LEAVE_CONTRACT)"
                    (submitAction)="submitVerification($event, supplyPoint)"
                    (customAction)="sendContractConfirmationSms(supplyPoint.contract.contractId)"
                >
                </pxe-verification-form>
            </div>
        </div>
        <div
            *ngIf="
                supplyPoint?.allowedOperations
                    | isAllowedOperation: allowedOperations.TERMINATE_CONTRACT
            "
            class="row no-gutters mb-3"
        >
            <div class="col-12">
                <pxe-verification-form
                    customSubmitButtonClass="mb-5 w-100"
                    [fieldError]="fieldError$ | async"
                    [formLoading]="formLoading$ | async"
                    [contract]="supplyPoint.contract"
                    [phone]="supplyPoint.contract.personalData.phone"
                    [infoTemplate]="terminateContactInfoTemplate"
                    [smsSent]="smsSent$ | async"
                    textInfoAboutVerificationPassword="Výpověď smlouvy je nutné potvrdit ověřovacím SMS kódem"
                    enableVerificationSubText="Energetický zákon (§ 11 a odst. 3) vám nabízí možnost smlouvu vypovědět bez jakýchkoliv sankcí
                        do 15. dne po záhajení dodávek energií. Výpovědní doba činí 15 dnů a začíná běžet prvním dnem měsíce
                        následujícího. Jediná částka, kterou zaplatíte, je za energii, kterou jste už stihli odebrat."
                    enableVerificationLabel="Vypovědět smlouvu"
                    [showForm]="
                        activeContractAction === contractActions.TERMINATE_CONTRACT
                    "
                    [toggleEnabledBySelf]="true"
                    enableButtonType="secondary"
                    submitLabelText="Vypovědět"
                    (enableVerificationAction)="changeActiveContractAction(contractActions.TERMINATE_CONTRACT)"
                    (submitAction)="submitVerification($event, supplyPoint)"
                    (customAction)="sendContractConfirmationSms(supplyPoint.contract.contractId)"
                >
                </pxe-verification-form>
            </div>
        </div>
    </div>
</ng-template>

<ng-container *ngIf="globalError$ | async as globalError">
    <div class="row">
        <div
            *ngIf="globalError?.length !== 0"
            class="col-12 col-xl-10 offset-xl-1"
        >
            <lnd-alert type="danger">
                <ng-container *ngFor="let error of globalError">
                    {{ error }}<br />
                </ng-container>
            </lnd-alert>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isLoading$ | async; else dataTemplate">
    <lnd-placeloader [loading]="true"></lnd-placeloader>
</ng-container>
<ng-template #dataTemplate>
    <div *ngIf="supplyPoint$ | async as supplyPoint" class="row">
        <div class="col-12">
            <pxe-supply-point-detail-form
                #supplyPointDetailForm
                [supplyPoint]="supplyPoint"
                [restoreContractAction]="restoreContractAction"
                [isForm]="supplyPoint?.allowedOperations
                    | isAllowedOperation
                        : allowedOperations.PARTIAL_EDIT"
                [formFields]="formFields"
                [formLoading]="formLoading$ | async"
                [formSent]="formSent$ | async"
                [contractActionsTemplate]="contractActionsTemplate"
                (submitAction)="updateSupplyPoint($event)"
                (customAction)="cancelUpdate()"
                (downloadPfdAction)="downloadPdf($event)"
                (finallyNextContractAction)="routerToNextContract(false)"
            ></pxe-supply-point-detail-form>
        </div>
        <div
            *ngIf="supplyPoint?.contract?.nextContractId && nextSupplyPoint$ | async as nextSupplyPoint"
            class="row text-center"
        >
            <div class="col-12 col-lg-10 offset-lg-1">
                <h2
                    *ngIf="
                        supplyPoint?.allowedOperations | isAllowedOperation: allowedOperations.OPEN_NEXT_CONTRACT
                    "
                >
                    Tato smlouva bude nahrazena budoucí smlouvou.
                </h2>
                <h2
                    *ngIf="
                        supplyPoint?.allowedOperations | isAllowedOperation: allowedOperations.FINALIZE_NEXT_CONTRACT
                    "
                >
                    Máte jednu rozpracovanou navazující smlouvu, nechcete ji
                    dokončit?
                </h2>
            </div>
            <div class="col-12 col-xl-10 offset-xl-1">
                <div class="page-box">
                    <h1 class="mb-1">{{ nextSupplyPoint.name }}</h1>
                    <p class="mb-3">
                        Navazující smlouva pro dodávku {{
                        nextSupplyPoint.commodityType === CommodityType.GAS ?
                        "plynu" : "elektřiny" }} v období {{
                        nextSupplyPoint.contract.deliveryFrom | date:
                        "d.&nbsp;M.&nbsp;y" }} - {{
                        nextSupplyPoint.contract.deliveryTo | date:
                        "d.&nbsp;M.&nbsp;y" }}
                    </p>
                    <lnd-button
                        [label]="
                                        supplyPoint.contract.isNextContractConcluded
                                            ? 'Uzavřená navazujcí smlouva'
                                            : 'Dokončit žádost'
                                    "
                        type="primary"
                        (click)="
                                        routerToNextContract(
                                            !!supplyPoint.contract.isNextContractConcluded
                                        )
                                    "
                    >
                    </lnd-button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
