<ng-template #hrefToSecuringTemplate>
    Souhlasím se
    <a href="{{hrefToSecuringData}}" target="_blank">
        zásadami bezpečnosti
    </a>
</ng-template>

<pxe-news-subscription
    [labelSecuringDataTemplate]="hrefToSecuringTemplate"
    [subscriptionFormFields]="subscriptionFormFields"
    [submitSubscriptionLoading]="submitSubscriptionLoading"
    [subscriptionFormSent]="subscriptionFormSent"
    [subscriptionGlobalError]="subscriptionGlobalError"
    [subscriptionFieldError]="subscriptionFieldError"
    (submitSubscriptionForm)="submitSubscriptionForm($event)"
></pxe-news-subscription>
