/**
 *	Page box
 */

.page-box {
	padding: ( $spacer * 1.5 );
	margin-bottom: ( $spacer * 2 );
	background-color: $white;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	// Media queries
	@include media-breakpoint-up(lg) {
		padding: ( $spacer * 2 );
	}

	&--with-inner {
		padding: 0;

		// Media queries
		@include media-breakpoint-up(lg) {
			padding: 0;
		}
	}

	&__inner {
		padding: ( $spacer * 1.5 );
		background-color: $white;

		// Media queries
		@include media-breakpoint-up(lg) {
			padding: ( $spacer * 2 );
		}

		&--light {
			background-color: #f6f8fa;
		}
	}
}