/**
 *	Page box
 */

.page-box {
	padding: ( $spacer * 1.5 ) 0;
	margin-bottom: ( $spacer * 2 );
	background-color: $white;
	border-radius: 4px;
	box-shadow: $box-shadow;

	// Media queries
	@include media-breakpoint-up(lg) {
		padding: ( $spacer * 2 ) 0;
	}
}